<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0HJTwfnNFV3azvKDKIeNLCZ4J7zAcBN9glDIRoSY/eP94DJeo8JfwTNCMp0GG2Iv7jki
	wNPTCW6pbRJhkIGLpBymm575qeeExeP4wqzVvYKnyirvo4Qp3VVBd8rXlita8gjA2+Lo
	hGr3U+R8yySGxPU69Gp2dMh2Za49j8km8sei1dWrzDDz/1IIdB70fz9dvdIaiUDmmRW8
	0WDQ7ZYzHzy9OSRPNgkV+M4jzaNrNue2xHLnuYjIIf7rdlqr+qsGu7/aJPF8jrqyf95X
	D4eW7TFU/+XmFnK21lKgi5patJe/6S4KYJTvV4EiHbPh+8toCgXi/MJr1rwcvUxSKri6
	3w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDoUtcmMibV7LfPTeIWh6C6/rCRX59xwfIZUuYZt6kOxfIVlRdDTmIHGJjNBU7J
	ZuICMQDyTitxnMNwhR37txn0WWymNbe+HWebXE0VD1w4ANNLwOmq091EGQGlpEOVnehq
	dy4=
	</data>
</dict>
</plist>
