<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3n2ahyHUT2ew3NSCzaUZzCZP8kMFUhkXVxbHTPQKdz0gZK1j/REMtXg4/ilHJmCpfm94
	uDUPYA8Ba+nMTt4URwrvIZ0BTsdRrC0eshZH2FQD6r6V/+2sX3Cb/nqC6E5wdPK8+tPA
	JP9XCYU0sdgsPzzDjOI8RFTBAEWSTTTQMdqLlUOEaTPOGvp+5OmjNfyVpdKnbh7F41OR
	FsS4fd/5oJGMKKw0qZEsp+JGIzIH3aVAeo7VAGgGwjRcbm2H33WRnjfh32KjC7g2W4cA
	hHoYOdqnxCt0pQC7xkEv66d8x0w+QcoH/ln5iPuj8bo46PS+xE6mkrKlfq4I2Sw43Sgg
	cg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDeoCztFs0GigkDI4XP6Xf5dy5sJlh+Mtd5HCpnRiiRT9IsqckcKfZFqqOZw8Ks
	GFQCMGzG9LeXK5oIItvjHkO7RBMv0Eem7JhSio7OHjUHWUhQWdEGmZRkk5kqZG5g1DOs
	dg==
	</data>
</dict>
</plist>
