<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	d2FK5VuSDhYB6apHFPfIwFh2VaWjWNo1mUOCyiqRcSkchd+ih9W2ZxWHg/fzcZ7xdnCk
	2Ce9yhs6RI0hqSU+g/9wyybHCfGbufwqFvawMTUV3BHd83YqOpEebYhJ6SDRz4e/ri4d
	tzNj/Ukw+vfXNzk/oQ03UqOp5qQFAx6y0Qq0eh+sKzcM7wK9uNymjHP3yhvxQCphyy7y
	AWa7NXTbAP+gTpz5wA8gFZWZBNaEWMnZco2hXVW27dg/F7HckVh2ySGmaqSWyUZqYOUq
	zKYhz+l57BekAK3fwpocpLzwWbCfmZJ8aVeR54jGjBYwE4Uuyhkp7p83EFaDKss4zhnJ
	DA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMB3m8dEjijLM3SJCLargE5A+uk6wpxhE+KFsUGWMsSwUUjlFTl/x2qXvSo4aFbqV
	7wIwezs6rytQirN5PA4UbtOfyS83afzvqFEA8uQFBPLKRz0wbFnxHOD0iUJVkToofzCW
	</data>
</dict>
</plist>
