<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ApRySuXcLm9yHjLo4tItHE4/brWSP/pFsFSDT39rQc0l01DFvUcP+fWq8h84m9pBb9Ce
	qiUykzfYDqJSGTIjbd5ej2wZjBTjxTNflw1Zr0tN9dociF1xag4qZyv1AE8ndUM2oTTa
	w7cSsAr36axeIjW/OtwMzlrrapqm6zz9qOisQ5cBLhw6Yh3T2FengwmEdqI6A7xGS4V6
	NBaKHHKfv2FFIJONx+LDZ+wmTRamSx8QuiCpHgSy4VXYFFnOtNUYfj/j+196ugYFyWgA
	Havwjm8pg2ElVAEKSgH/819jaaTTZI88+8qUz+92UzU9wK9PoJNsPlE0eiGzAu7mms56
	8A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCSn5145Z4LIu1TWd8yXAuQyawQxDtZnxthXvDakHPFoyy7BbvjeQhe4eqNwB6o
	X1ACMQDnVcQpDticGuMdASyWQtr0ZD4c2EqXwwAZ/gwLsvb0zo4r1AXLYCFjDewxEx1L
	dlc=
	</data>
</dict>
</plist>
