<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	y/srrA7JKOnigkwa57Kk6wiKPVMOzgH9DoDe3QrzJfl0R7LVJ/PFOYcOyC0R6JucTzLt
	OkrpHN/Zb7M2HwXq1zXt7oPS2I/KWEw264ZZDT+jsz+nsK2FVs2TMeIZ9Tl6M2iB7C8r
	RkUdb1A8MSdIKrKv+1/GQCYDsfunjlXJbvqriZvvINGPiAe0faWkfaFwlBOMlNkAAkWz
	Ag/ij7sWky6P0AK6+Hjc0B+4eWx2fpzMTVAwQnTUKIPNAj2Cpl3xv/J3HE9jumW+KQQB
	bG7/muTZEITlY2WPvOPYs6aXd10ovyYAaaarh7xakJfv9BTiaU03y3ukmRdl0Nfd1ZCI
	nA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDwff3Moz+MwKMJaGbHqYxEPMrHo2ocsHPK6UFPZwOXteuHOVVdaG1dNYDhvlQh
	nzQCMCRxeWuUF3g0NfYlnIFjqSVfgx6zqjhEs+uEkWokx56I8+6PLqJRnG6BZ1yYscGT
	BQ==
	</data>
</dict>
</plist>
