<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DK5lq2CRuN8pGPojpc9rdoFs9xW8zwsdG0oSIvsrXma3rqSg1UReKqNhOItrW+rg4ZWm
	XKZCgxsENnBS+887wSEs/C52CGWHyXFSe1+j+ooI2JMb+KdjwdxAuM/B9iVndyFjK3NT
	66MrbGoAYXKt5oDIbzgdXEZhbuhZuoTSpUC+VytoKL0p0vVHIc0fXuolck8u7AFSsQLX
	7EPCQfaZQ21gi0COkp1THV0AB8tpQBxqdcvEXW7sPjSb9r7wrgDKQPNrw/1X6YjC4hwi
	HAziF2tDTvgVJTZEo8fPK+widEzgaWL1B9W1Ktlv0Efd2FA6v8d3bLW8LsO8rxqxtQD6
	lg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMArIE2VmdpvdTc34HMz84E+mY+FydSNNzqobdWk8y8vGx9yeG8Lsb6Eze+Zzs6n5
	+wIxAOul606ijbFjhkQ0nqafFD1dB+aa1HqhUvwBMsCWs99zc77GDoav/bC8b4OVhU48
	Fw==
	</data>
</dict>
</plist>
