<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xi5tAWhTupLtJmbDFCCndPDqs67+Wi/uT61o4JTQAJl+pKa6Tse3VlH/F7SNb48haaXN
	1KkvvVmwphTv1jbCfmjt3mIBelbHJf4iyWyJ58iIe2D+M7MNehklFdsWwBnHE0X7ayfy
	6pltTXSp+5F4kv+lkkVpbUWUlNs4XBucfpB9dScoSXLCrWESIRgzGXjF2G4aPe72rz/x
	CbW+XlOGEGTqGbC0J+v/6/1Vxv4Vzgg1PtDyoWwIBcoiH7+3HHfnwaW+tZl6H2LmiS2N
	m3SHe1D60SW4FI3yaWvZsUCb8/Qorj+457gx6HqkE3bgJJpouprnQQYFlrv9+iclaNiN
	7g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCemp6xpqdIsUAdZDqWQd4rVsEPULlgwFmXuuIkaQUBGA+V3mnA46n7wp+DzXZs
	YWECMQC3/BbmEXiF9w9+Lqeei0vJDEKCcXnwjZFVvj9SLW4Vvi7n4tSyyh1V+3ODRTdA
	5XA=
	</data>
</dict>
</plist>
