<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	mJSyx34X5afXQaXurjOtYrnxY4atX508OlpsxRgFNRVSI/isdBfLAkfggNgybze8kHlw
	P5zavu6XdZ17Us/JMqlWV/BCL+X+PX6t+0rgKdDw9EE1SXT/VgqN8Bn1rXZkmJOMNlag
	YC1jBMyuTPSPZxif89pdphmCsJRalWqlAieK35aL4UdTd/E3+Zctu1MTWSXmI2N4dBQK
	RSNQg16dXo22etE/pS6d0wMMMYK9FR0xt7BbiTis/VKKf6Yl0Oq69s9ZBj1kBw/mBgHI
	9kdUqhHS4HFdv68KodaeMyOEhXJVEgGFaLFccIvmasgt1U8Ih4tvOehVUYuw8wVqkaI/
	lA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDoZv54n9lMdKyzbe5iKpNgcjI98NELnumhvjFCNxGD44kcEMpBu1dLk8GScBsz
	ox4CMQD7ElBDaIRb1EJEYjVHq4oFOmKDxvtOcXWCzyE/KdycevuSPuM2TCfB3oALuP9K
	Pfo=
	</data>
</dict>
</plist>
