<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	FT1rSRN0Hvzc3E4MTaXKq6d/keLZCGOm39AiXjovRMhfZKVMQWvvCsIrGf4FP2q/WWJR
	7YV7ouo5PyOSRchOil7kIBZC0ae4PTLjo2d8MJHaCi3qJtYgbxYF+OOTgZK8PgcRyi3F
	EDMV3np3growN0hNMnSHyUG8IXDTEovrlzMZP/wwciPbcJKb8xj7yr/xePZ7aq9G1Ebc
	h1hlPEC+XJdsujgPuUX0NzRew+lTGPL59MTNbDEC3fQvy/4ca6Bus3BMW6CSIN+40Ll+
	Km1TO3Us5lIk4uEKxNH5W+uCWEZl2tTQvBqu2wsPaS3TD+JZy+4jkrbSJC6usmrz2Xtc
	nQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBm/sBceqHJQJDnk7aefrBRCvH0eiJz7IGNPqIdkjHxx9zQC+wyB1PJBYayDnJgA
	3AIwZsHm1aR9yg0I9ZdAQccFYn4B3V4xgj8ZX1wj0vgTcuQwPbOQ77TIMJjxhrY2uys3
	</data>
</dict>
</plist>
