<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	BkUj1mQxAWfvCsU6ABa4utZCvLgZZTrLNhU/4p4GpOBY3ceKlXcxOPkuiRP6XS5rbFe/
	NOIJKMOee1melWWmzZ8L/OOO4EvLQM699QLNODbZHSiA20L0Kwns4WheVRczEBWdeR5L
	CB5yr1/IX+8MGQP9hIwL2+6iJJOx8SWTJFYqufq3dbhqVWcPCKms8x/Y/wmYL3Zxq30I
	VOUC5lBTdpe/rUKvs/Uf/nsjjRVuvwMWw3Yr058h5DPgGjpmPyoiPy5vJpv2ohvIG6QW
	PKam75n0p/jYWfbibQPT2D6njQ/f7HyZrqW8TOvOXNQgWiv9ANi5PfvC2TPCI1svCuY9
	kQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDTxGvsS3d+7rR2eBvxT2Gz1AjT524l/cyVfqyFkT15StY8LW4z+SWoHB+rsasv
	lnICMQDdZBFSIZETsBXU/7dwyskvaNJoqiSyqyeYXWfUqAIEfWOEJgevobnnHbFqLVBQ
	UEw=
	</data>
</dict>
</plist>
