<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xUDi90IfUp7vWiM74PKLTzdc5ysv69t3RPVP6rd/98PPJl57zncHPMUmGeZbgzS3gEGf
	IYA6vJ5fBHVxbvMLba40/hEGZRr2/2G+I9Lw4v04dfU7XhQ+jVH/m80uC+f6rj64Rkz2
	nLChbaRQ+G8lzITnhp0uQt0u9hIydiSgimoKjeDBx4U32EP//5RGmolX0n84RIgTWrQv
	9fKG7lX+PSJT66x33OvGMQssuANolrwkAy4c8HhMSZYqpFZX86bs916hYG0RJsKaJyYQ
	i6b4lngJ69yzHylQDR0NINIy4f576opmwCok37UyHT97chz5IGwZiJaLmo7Pf/6Xc5rE
	kA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEcd9HK3BhC2CNaporlDLKhv2w7t678P1UiGC1JLf0T60jQ27p2e6bbb6WuZEM4K
	GwIwJkvGIfXBkCoenkKPsvYK31jcfqOCorP1y7Jup3SB5uh9IHu8jYzbxk7Heeg7F42Y
	</data>
</dict>
</plist>
