<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	cVJe7PDiU1PN8xB8bykfpt1Bk4VeNtccM6GFXHrxOjvUY7iDI7bdD/Y+QtnffqZa7qBF
	a1vDzRhyoYMrSXR8d05AdR+a6IkuCEox1Bg30TeX237ZvodUXARtuhMhjCuju+Vw1dqU
	Vg9MgMr60FohHZH2EyDbkZ3mvR8ZqPktFXHd61pmlkf54y4TAhLHcuzGaDWD7wD20d4S
	xVnCZFupDgdwxR3Ka+EAv1KkjgUN5Qena3l7ungQZTCIZ+o5YaRMu5DoiWSvWIOWVGvg
	r5QXud5teajUXoaxNu9c80VO+RRfZX6tSreiHSEvjLmtGZuCO0SWrfdx+5MGw+QaneKv
	nA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD+cCkLD69CWHszbQ3+hrjGMEXfWLqZhPvvQCfcUUd1BoJhDkEjV6mLgcWeXFVW
	QzwCMAVa9hEa3jg47ly4li+Y0pFypg23BZvD5NIR36o7R+k/H7vqrmE8hD8mqYK70ULE
	Mw==
	</data>
</dict>
</plist>
