<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	a2QeKi7EQRiJIeMdSspoYIlKURN8RORIofJIfmzAN6C8hTlItddE6b49qQU9k7fRu5nS
	g0wWRDGdDz7vI7rpRfp9cxZnuFOJRGnTIdIYC8PUgx1QQB/GUvP96B4HfT771Ho52kaR
	Lu/6VgKFQHXtM7LnYDDbBQP5uVFD+DRo9X2bjh8kIJjR2Y6Z149B8liW2tDhBi1ELQDG
	Sss4LAcn95mktNVkES/MLMBkRQu7xk2zQszrxw8U57E6K9hCTa+xfzUAPXweB+IkZbph
	VyrYW/s1M0lzGDZXMXAbTIQ6bUMuNsums5pDdaxhjuoqxU5RLZ2SJSSi5e/YsZBFrits
	Vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCT66aPiuIlGZ0Rpj6H/Eu4uUTZEBFaYsoAQd8s3y9cbt/l5LtH0IIblKi6KGS0
	Dy0CMHnqh24rZ6zkGvGc4w8vG2nxgODbKbpDEZFBZ5HEQmZfy1pHOvQsxQ/NIVeXcATr
	4Q==
	</data>
</dict>
</plist>
