<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>4195513</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ProvisioningRecheckPeriod</key>
		<integer>24</integer>
		<key>EnableVolteWhileEntitlementStatusIsUnknown</key>
		<true/>
		<key>SupportedAuthorizationTokens</key>
		<integer>2</integer>
		<key>ServerAddress</key>
		<string>https://aes.ekn.com</string>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>UserAgent</key>
		<string>Entitlement/$version ($device) iOS/$iOSVersion</string>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP2</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>4g.myawi.com</string>
			<key>InactivityTimeout</key>
			<integer>0</integer>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>4g.myawi.com</string>
			<key>AllowedProtocolMaskInRoamingLTE</key>
			<integer>1</integer>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CellBroadcast</key>
	<dict>
		<key>MessageIDParameters3GPP2</key>
		<array>
			<dict>
				<key>AlertType</key>
				<string>Presidential</string>
				<key>Category</key>
				<integer>4096</integer>
				<key>Language</key>
				<integer>1</integer>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
			</dict>
			<dict>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>Category</key>
				<integer>4097</integer>
				<key>Language</key>
				<integer>1</integer>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
			</dict>
			<dict>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>Category</key>
				<integer>4098</integer>
				<key>Language</key>
				<integer>1</integer>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
			</dict>
			<dict>
				<key>AlertType</key>
				<string>AMBER</string>
				<key>Category</key>
				<integer>4099</integer>
				<key>Language</key>
				<integer>1</integer>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
			</dict>
			<dict>
				<key>AlertType</key>
				<string>Test</string>
				<key>Category</key>
				<integer>4100</integer>
				<key>Language</key>
				<integer>1</integer>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
			</dict>
		</array>
		<key>MessageValidityPeriod</key>
		<dict>
			<key>TimeLimit</key>
			<integer>10080</integer>
		</dict>
	</dict>
	<key>ShowVoiceRoamingSwitch</key>
	<true/>
	<key>SupportsNITZ</key>
	<true/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>891130</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>TrialEndPeriod</key>
			<string>2020-01-31T23:59:59Z</string>
			<key>TrialPlanType</key>
			<string>Promotion</string>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2019-09-01T00:00:00Z</string>
		</dict>
		<key>RequiresExtendedGetSIMStatus</key>
		<true/>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>120</integer>
			<integer>240</integer>
			<integer>300</integer>
			<integer>600</integer>
			<integer>900</integer>
			<integer>1200</integer>
			<integer>1800</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>6.1</string>
		<key>ServerURL</key>
		<string>apw.prod.ondemandconnectivity.com</string>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_NA</string>
		</array>
		<key>SupportsFauxCard</key>
		<false/>
		<key>UsesAutoAssignment</key>
		<false/>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>DisallowedDialingPrefixes</key>
	<array>
		<string>*228</string>
	</array>
	<key>SupportsSupplementaryServices</key>
	<false/>
	<key>ShowWiFiCallingRoamingSwitch</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>2775</string>
	<key>Show4GSwitch</key>
	<true/>
	<key>ShowDialAssist</key>
	<true/>
	<key>OverrideOperatorName</key>
	<string>Appalachian</string>
	<key>WatchCustomerServicePhoneNumber</key>
	<string>1-800-438-2355</string>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>MaxGreetingDuration</key>
		<integer>120</integer>
		<key>BeaconAddress</key>
		<string>8623</string>
		<key>UsesSSL</key>
		<true/>
		<key>GreetingNotification</key>
		<true/>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>AuthenticationScheme</key>
		<string>PLAIN</string>
		<key>BypassSMSCAvailabilityCheck</key>
		<true/>
		<key>ClientManagesTrash</key>
		<true/>
		<key>MaxPINLength</key>
		<integer>8</integer>
		<key>AllowedIMAPServers</key>
		<dict>
			<key>FQDN</key>
			<array>
				<string>*.myawi.com</string>
			</array>
		</dict>
	</dict>
	<key>DisallowCarrierMenuAtHome</key>
	<true/>
	<key>NotRegisteredResetWaitPeriod</key>
	<integer>20</integer>
	<key>OverrideOperatorWiFiName</key>
	<string>AW WiFi</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.UnitedStates</string>
	<key>CarrierBookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Appalachian Wireless</string>
			<key>URL</key>
			<string>https://m.appalachianwireless.com</string>
		</dict>
	</array>
	<key>MMS</key>
	<dict>
		<key>UAProf</key>
		<string>http://iphonemms.apple.com/iphone/uaprof-2MB.rdf</string>
		<key>UAString</key>
		<string>iPhoneOS*</string>
		<key>MMSC</key>
		<string>http://mms.ekn.com:80</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>AllowReturnReports</key>
		<false/>
		<key>CanUseTransactionIdWithContentLocation</key>
		<true/>
		<key>GroupModeAllowUserOverride</key>
		<true/>
		<key>CarrierRequiredPhoneNumberHeaderName</key>
		<string>X-MDN</string>
		<key>MaxRecipients</key>
		<integer>20</integer>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
		<key>AllowFetchFromMultipleMMSCs</key>
		<false/>
	</dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>TechSettings</key>
	<dict>
		<key>WifiCallingAllowedInRoaming</key>
		<true/>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>DHGroup</key>
						<integer>14</integer>
						<key>Lifetime</key>
						<integer>86400</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>wifi</string>
			<key>PreferredTechnologyRoaming</key>
			<string>wifi</string>
		</dict>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>IKE</key>
		<dict>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.myawi.com</string>
			<key>LocalIdentifierType</key>
			<string>IDUserFQDN</string>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>RemoteIdentifierType</key>
			<string>IDFQDN</string>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>NonceSize</key>
			<integer>16</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>ValidateRemoteCertificate</key>
			<false/>
		</dict>
		<key>SupportSwitchOver</key>
		<true/>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131078</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>262144</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>1048576</integer>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>IPSecMTU</key>
		<integer>1150</integer>
		<key>SetHandOverIPv6Prefix</key>
		<true/>
	</dict>
	<key>Location</key>
	<dict>
		<key>EnableCPIDuringEmergencyMode</key>
		<true/>
		<key>EmergencyLocation</key>
		<dict>
			<key>ControlPlane</key>
			<dict>
				<key>EnableAdditionalAssistedConstellations</key>
				<dict>
					<key>Glonass</key>
					<string>disabled</string>
				</dict>
			</dict>
			<key>UserPlane</key>
			<dict>
				<key>EnableAdditionalAssistedConstellations</key>
				<dict>
					<key>Glonass</key>
					<string>disabled</string>
				</dict>
			</dict>
			<key>AugmentedEmergencyAction</key>
			<dict>
				<key>Supplemented911</key>
				<dict>
					<key>HTTPS</key>
					<dict>
						<key>URL</key>
						<string>gateway.icloud.com/meridian/meridian/location</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>EnableEarlyReturnDuringEmergencyMode</key>
		<true/>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>password</key>
					<string></string>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>4g.myawi.com</string>
					<key>type-mask</key>
					<integer>567</integer>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>ShowCallForwardingSwitch</key>
	<false/>
	<key>TetheringURL</key>
	<string>www.appalachianwireless.com/tethering</string>
	<key>IgnoresDeactivateOnNetworkScanServiceMask</key>
	<integer>131072</integer>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>UseCIDUrlInPIDF</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>TcpIdleTimeoutSeconds</key>
			<integer>0</integer>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>LocationForShortCodeCalls</key>
			<string>BOTH</string>
			<key>ContactUser</key>
			<string>MDN</string>
			<key>OutgoingDomain</key>
			<string>1</string>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE[wifi,911]</key>
				<array>
					<string>P-Emergency-Info: IEEE-802.11b;i-wlan-node-id=${DEVICE_REF_ID}</string>
					<string>Supported: geolocation</string>
				</array>
			</dict>
			<key>NetworkTerminationRetryIntervalSeconds</key>
			<integer>1</integer>
			<key>SendLocalTimeZoneInformation</key>
			<true/>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,400,401,402,405,406,407,408,412,413,414,415,416,417,420,421,423,424,428,429,481,482,483,485,487,488,489,491,493,5XX,6XX</string>
			<key>OutgoingCallPrefix</key>
			<dict>
				<key>Local</key>
				<string>+1</string>
				<key>International</key>
				<string>011</string>
			</dict>
			<key>MaxUdpMessageSize</key>
			<integer>1200</integer>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>SipTimers</key>
			<dict>
				<key>InviteResponseTimeout</key>
				<integer>6000</integer>
			</dict>
			<key>EmergencyURNs</key>
			<dict>
				<key>default</key>
				<string>urn:service:sos</string>
			</dict>
			<key>RingbackTimerSeconds</key>
			<integer>90</integer>
			<key>UseTupleInPIDF</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>PANI</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>WaitForRingingTimerMOSeconds</key>
			<integer>15</integer>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>15</integer>
			<key>strictCallFlows</key>
			<true/>
			<key>UseIPSec</key>
			<true/>
			<key>AllowRemoteHoldForUnconfirmedCalls</key>
			<true/>
			<key>AlwaysPrack18x</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>TreatAllNotificationsAsPartial</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc130.mcc312.3gppnetwork.org</string>
		</dict>
		<key>AllowHandoverWithoutIMSVoiceService</key>
		<true/>
		<key>SMS</key>
		<dict>
			<key>DCN</key>
			<dict>
				<key>destinationNumber</key>
				<string>6066262100</string>
				<key>hysteresisTimeout</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>Media</key>
		<dict>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
			<key>InactivityTimerRTCPSeconds</key>
			<integer>20</integer>
			<key>EnableRTCPExtendedReports</key>
			<true/>
			<key>InactivityTimerRTPSeconds</key>
			<integer>20</integer>
			<key>EnableIncomingDTMF</key>
			<true/>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
		</dict>
		<key>SIM</key>
		<dict>
			<key>CarrierDomain</key>
			<string>ims.mnc130.mcc312.3gppnetwork.org</string>
			<key>impiFormat</key>
			<string>imsi@carrierDomain</string>
			<key>impuFormat</key>
			<array>
				<string>imsi@carrierDomain</string>
			</array>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>SupportsCW</key>
			<false/>
			<key>NafPort</key>
			<integer>80</integer>
			<key>DisableOnNetworkError</key>
			<false/>
			<key>ForbiddenHttpErrorCodes</key>
			<string></string>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>supported</key>
			<true/>
			<key>NafHost</key>
			<string>xcap.ims.myawi.com</string>
		</dict>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<false/>
			<key>tLte911Timer</key>
			<integer>22</integer>
			<key>EnableVolteByDefault</key>
			<true/>
			<key>TestEmergencyPSAPSupported</key>
			<true/>
		</dict>
	</dict>
	<key>SMSSizeInBytesSentAsMMSInstead</key>
	<integer>640</integer>
	<key>SMSSettings</key>
	<dict>
		<key>OutgoingSMSPrefix</key>
		<dict>
			<key>Local</key>
			<string>+1</string>
			<key>International</key>
			<string>+011</string>
		</dict>
		<key>SupportsEMS</key>
		<false/>
		<key>UnsupportedEncodings</key>
		<array>
			<string>7bitGSM</string>
		</array>
	</dict>
	<key>SuspendFastDormancyAllowed</key>
	<true/>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32774</integer>
	<key>RCS</key>
	<dict>
		<key>ShowBusinessMessagingSwitch</key>
		<true/>
		<key>EnableRCSByDefault</key>
		<true/>
		<key>ProvisioningData</key>
		<dict>
			<key>ServerURL</key>
			<string>config.rcs.mnc$mnc.mcc$mcc.jibecloud.net</string>
		</dict>
	</dict>
	<key>MTU</key>
	<array>
		<dict>
			<key>technology-mask</key>
			<integer>8</integer>
			<key>size</key>
			<integer>1340</integer>
		</dict>
		<dict>
			<key>technology-mask</key>
			<integer>2</integer>
			<key>size</key>
			<integer>1472</integer>
		</dict>
	</array>
	<key>PushSettings</key>
	<dict>
		<key>Topic</key>
		<string>com.ekn.entitlement</string>
		<key>MultiSIMTopic</key>
		<string>com.ekn.multisim</string>
		<key>VoWiFiTopic</key>
		<string>com.ekn.entitlement</string>
	</dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>411</string>
			<key>ServiceName</key>
			<string>Directory Assistance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*646</string>
			<key>ServiceName</key>
			<string>Check Bill Balance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*225</string>
			<key>ServiceName</key>
			<string>Pay My Bill</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>611</string>
			<key>ServiceName</key>
			<string>View My Minutes</string>
		</dict>
	</array>
	<key>TetheringPhoneNumber</key>
	<string>611</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>CarrierName</key>
	<string>Appalachian</string>
	<key>SupportsImsCapability</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://m.appalachianwireless.com/?page=login</string>
	<key>MyAccountURLTitle</key>
	<string>My Account</string>
	<key>CDMAInternationalRoaming</key>
	<dict>
		<key>EnabledByDefault</key>
		<true/>
	</dict>
	<key>SMSUseLocalTZ</key>
	<true/>
	<key>ShowCallWaitingSwitch</key>
	<false/>
	<key>ShowCallerIDSwitch</key>
	<false/>
	<key>ExitEmergencyModeWhenPlacingFirstRegularCall</key>
	<true/>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>312130</string>
	</array>
</dict>
</plist>
