<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	lWJ29OfbIPYACiYAQYTL6CCA4DpqFwr+RvyvF04JBaWq+al8PzPliE3O/5mnJXG+tyME
	2nx23OSzqTrKbuvs8q1wZvdkxgHdEOu6E2/JchPDTwSIwnLtviGkttecyRP1J7dMuU8v
	kcBAby6Qb3e62DpDyMBT3KJ9tCdqirfYZiQ3oqfAlVbBTDBXhj751kbrYUZyTaAh5E5v
	NzvsdcFqoICJ+1hmWXdVToiErL9jNIZI6wVs0y84PL4RWlTAnunjcwPADK6CPWDzpCRK
	ALnkORBJ2Aeh64fsxh6uJIku3nMcACucc0sx2O4qPrM4SSeyvK+VTNb/LfIEAbwb64O+
	CA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMANIgxPLiM8EN3LR2mS23KudwDFpFOEYk6fxDm44Q4mdCBKWkqHvJilcTdDpjJuV
	wQIxAK0XwastBXdvs9TUS5C+uJ++Pg9uaNPfHR8/0dhxRVVFI+vXTnOdOa4Tfs8crdtl
	WQ==
	</data>
</dict>
</plist>
