<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	kqgz8Ym3ozU4sw0noS0mngiy7ElFD+EwWGWiZC4FfQZXI1B4fe0avwAX0YJfn0qyNToN
	0CGN3mKF0IdovferNXqcfeIWs+VqSkcOxRt+j5NceUJZ+ko5a3tyNZ2Bw8vvCM+WTWoZ
	ql3kVhQgMg4go1zwvuebdo61zHyFEYMTLa1zN7CIbYQmAsWWNH0lpZDVSOibCIwbIZj3
	gTPXrN+Hm+KcIGEebTrjdME2M2d8D1k6FsLJSux+6Qn+iGm8kUFruTKu+3o0HJEUgDiN
	MUQ0SKL/ZQuIMdP7FCpv8F1F1Wu+rAnzweD+t4iapvi7r0IUdYTzsMg40PDsS+e8vUZ1
	OA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDbhzmW3pqFLn2lQSmqgt9ZBM+2N8/90VPj9d6G46jjtwdBlLoUl1rIwuML+ETC
	qDACMHI+79bO46bJ7Lyobg9w0K4KC8HIsSVxu7o5IehAXicmRZaJwoEZ+yc+aZRFx/pu
	qA==
	</data>
</dict>
</plist>
