<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	GHWnyT+adv8C1Dm8l4nVT4J+CNECb/T3/35x4cmgWHWu4Th551OmShnGbPdMIVnusWzd
	ONzcyKXl3P3xoo5E1v32CsldPx1fzGuF3kMYlCWkmgJiDVRRHf0d2ZIzIev2tJM3ugyx
	UAmUUsF1xafAU8EaPgLrBq/qFefRj3IY0q/dCBXLD3YWO5edDm9t6oebWMo/0ho317hW
	ZWJMjQjCKMi9g6La678gqI9vW81lrazz//gFOy6jNK30Xpzs4tCHMGsYtHitRFsg6FMV
	kXowwOea3St6kQfShMwNcx9wPDs9M0GKVtA5Np+JJA83LRnNHeWUXgQQ4wmlwAIsAu61
	HA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD5usEz0w623x6hivmuL76LgBRol844BW9ulMeEyMefL2fAYB6j23PD0Qp9bjNf
	JzgCMQDgKqy3o+6yGcAd/l6wkXcH86YoAoTlbBPpMtzU3Sw0vchMUclqCC005tAfJtgk
	7qY=
	</data>
</dict>
</plist>
