<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	juXei+SZRdxruJjh8FUT9dN7mL8PcJiwL5DPzb4gtGIR3Ar+K3zWBFhucGnhhCVowyTE
	lKrBtujlSObExOAZe+0Zh+Wp99BXdhi76/hWBoy7KXyOiXSLCrgWlC2IpzjyNzpkNZiF
	wY/Pjo0P+Qt376iDo/AvNeg/beJ1UjCRJvq5B00J08p9jQuI9s08GaLfm5n6FF227/1e
	9hySPkAB0OdCb2eqvL02Y6/KObGvkqbdNTPIa2VaJmEDyDobBHUsL2hk1Yd/6YioTjb6
	NFVgsqDJXU2giGndZu0o7YcaxUkZjUuDyld0PKBdTy+6bCCHr/gWmuH/1wq0d0nzCzfn
	gg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCM/8o6dkxOlQ+f0Ro7V28JleVi07grT+0dU4twIsvKtglVUJ0plXTuz23fRBBy
	6FoCMCLmM6WswlH+QuYAMce7LD38UEMmk8Aiio6EUQSJwzV7xR+HK/zID9BSGjmdNXHC
	mw==
	</data>
</dict>
</plist>
