<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qGWb4PZSvG2HDogdOhiaWU8ElZKPoq2jR10DQuoqV4X1r8XqVCsUFMFoBokuNzkgfHKC
	KVE1+p24m/etJhqfvDj6XtjPf7Dk6+6q5Zfxez9U8whpee3b1KkDWfcYqXS91L86x0vl
	H7cYIZxoF0n06vXs3O86zsMYltvn/dmneHuHFiQz8pvxxvzdpTRTl65xOGh/V2+yD+kT
	JNBhDEp5bxMC5QkJVE7r0Dzp1rR6CLjIqvrHJyUduUv+XHeJyzbsSN2Z3MsKXVWPU92m
	0z6Dfyf9M35YaDW/Xye+dCxsaAD1TmsA1DjFSGqVq8KE6VqsbiXtrzxo9g+Cq7EVYyDa
	wA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDdcAYL6xZqBxr+mPZL5tdH/mCzqecRvHkv0qH9GOz/Me7iFBDkgVDcfRtpUMBql
	fAIxALKGHxMQE5Mr67O3dthbU8qsHSq6Jj0ULyb9Pj5n3mWPKE7WHh2g+S/2peV3vku6
	Aw==
	</data>
</dict>
</plist>
