<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LDT3s8gVB/P1djkboeCtNM/6Jgi3X+QQSe/ZPPpVeDGwFkrYK0+mjIRvUycUVGOFhDNj
	gsor0l5Hn/QESFsYQJc7UOTXPTNfwmtxm/2rEmm3F1LlPhjx1UnTMjmtDikQRjv/X0wx
	1BatuvBWzC6wwbHdRdlZ/NFZS7YZw+hjhXh7oPVpt6Lm8rszCvEnmSCaB2bq4MMrZqkN
	W1g+325sqE0LtJlKG9dG4ZaEbeqOytZbnqpSEbU1UQ1GOWXva7pUDE4pkvT8GVNp3F7e
	boCUuBqd5XFf28ykNGNXwsEL47NsomgAvks38sS4BON0MLsQ9toXTV/C+TtpvTOMMJG5
	1A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBcqcsXWtaKXHeuqFZoke0FSpotivAMBqPs9ZZjz14M8z0mO/6moydEnvThgpnQt
	EAIwLHUExplPdbOnfzKwvBXylilyEF38YGkGHSt+AX1thtGjyHz2eyimwsQMQFrYtfN2
	</data>
</dict>
</plist>
