<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>1717</string>
			<key>ServiceName</key>
			<string>Mobitel Hotline</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>555</string>
			<key>ServiceName</key>
			<string>Mobitel VAS Services</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>1456</string>
			<key>ServiceName</key>
			<string>Usage Information</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#888#</string>
			<key>ServiceName</key>
			<string>Mobile Selfcare</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#170#</string>
			<key>ServiceName</key>
			<string>Data Package Activation</string>
		</dict>
	</array>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>5</integer>
	<key>SMSSettings</key>
	<dict>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Mobitel LK</string>
			<key>StatusBarCarrierName</key>
			<string>Mobitel</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>41301</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string></string>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>90</integer>
			<key>RingingTimerSeconds</key>
			<integer>90</integer>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>Preconditions</key>
			<string>Required</string>
			<key>AdditionalContactParams</key>
			<dict>
				<key>INVITE,INVITE:*</key>
				<string>+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting;+g.3gpp.mid-call</string>
			</dict>
			<key>ConvertSessionProgressToRinging</key>
			<false/>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>UseIPSec</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>conferenceServer</key>
			<string>mmtel@conf-factory.ims.mnc001.mcc413.3gppnetwork.org</string>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>TreatAllNotificationsAsPartial</key>
			<true/>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>allowCSFBInVolteMode</key>
			<false/>
		</dict>
		<key>Media</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>127</key>
				<dict>
					<key>ch-aw-recv</key>
					<string>-1</string>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-wb</string>
					<key>max-red</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>SupportsCW</key>
			<false/>
			<key>BsfHost</key>
			<string>bsf.mnc001.mcc413.pub.3gppnetwork.org</string>
			<key>DisableOnNetworkError</key>
			<true/>
			<key>ForbiddenHttpErrorCodes</key>
			<string>403</string>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>supported</key>
			<true/>
			<key>NafHost</key>
			<string>xcap.ims.mnc01.mcc413.pub.3gppnetwork.org</string>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<true/>
			<key>PreAlertingDTMFSupported</key>
			<true/>
		</dict>
	</dict>
	<key>OverrideOperatorWiFiName</key>
	<string>Mobitel Wi-Fi</string>
	<key>Show3GSwitchWith4G</key>
	<false/>
	<key>ShowDialAssist</key>
	<false/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>27753</string>
	</array>
	<key>CarrierName</key>
	<string>Mobitel</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>mobitel</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>SupportsImsCapability</key>
	<true/>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.SriLanka</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mmsc.mobitel.lk:8080</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>OnWhileRoaming</key>
		<true/>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>TechSettings</key>
	<dict>
		<key>WifiCallingAllowedInRoaming</key>
		<true/>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>DHGroup</key>
						<integer>2</integer>
						<key>Lifetime</key>
						<integer>86400</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>ims</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>1048576</integer>
			</dict>
		</array>
		<key>IKE</key>
		<dict>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>2</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>86400</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>ValidateRemoteCertificate</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc001.mcc413.pub.3gppnetwork.org</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
		</dict>
		<key>SetHandOverIPv6Prefix</key>
		<false/>
		<key>5wiServiceMask</key>
		<integer>3</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>password</key>
					<string></string>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>mobitel</string>
					<key>type-mask</key>
					<integer>53</integer>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>131072</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>131072</integer>
					<key>SupportSwitchOver</key>
					<true/>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>ims</string>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>1048576</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>xcap</string>
					<key>type-mask</key>
					<integer>1048576</integer>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
