<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	mpNsQQZLHLdgA9KpBLd/T1X2pkWVIqbF+tvRSQd/nTOFfllcHmT8lx2R9qB8OzlGrFRQ
	r7mKs5oTmfdexw/XFNnxqvycwxpT1XsTpwCmNPtfiqSNAR9bkPo1IpIOJTILG73Lle+A
	o6jinv2EFuUSve/oQR503kLukS3NqXyiDmRhDBLA2RU0OT6rD5FIhNXudcBdNBQSGXe5
	m0TALHc9iCVw/nF0jjv021uZk6VFgZ75nH9Cey3/ocDIDQGvUirHKiDqnhohLPP5ZNks
	X9Fwb+HiqU3ESIfZGONcrkstwib5oBHaMw7g7yLPirVnqCVLHg2nuTp12HqAMsmC3B7L
	Sw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCRCh6B/VId+4oj1JXKUtqy60Ltyuv7c+rgEjVFs9OXj9iK6IO5IImnA2bEkhJz
	wSICMDGsdmL2cQlFvn3Es7cp0IYYqgB0XVyDsr9GGtA8UOMNg/6pu1iwLo7xMVS58+Qy
	/A==
	</data>
</dict>
</plist>
