<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TGQoCv6cBkn6SBQKNux4/ZtNx9B4Ggg1vFIrgs9LEc5dwnJjQB4VfYaqS1VUAPFt+O5S
	Qi1mLSI38dvFfD3jYhCtahpv3u1yKpwN1XRi0o2f3ec/xDK39AaVOXC08Xp3chvwqlqI
	f+ZJ7bZofN0fn5TdahPyWnJ9okd2NqPiwUsnUlfyW1/s/WKNOEaoQXFoocEfrKvQyNdM
	Qkf5CRmZ/1qf2yoVHowy3bfO4K2F4nATGF7GtxYiK6N+mBizC5hScZxowJqGrJzhpb2y
	qKE52tn9DyyKESgSPHxNzPJFj3pS+jClF/XFxRelvcDcdm3zbYCMqmLWnnSvRZAGvZmI
	ow==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHAqUu5PCKPAkGydDSKhmAeVGbIJGjVVMv7UeEqvF/iUnpB5cbVe+ZNU77T61WAd
	tQIwMwz8wCG9Dr2ls1DpvUUmXYG156yxDp6W+AvKHT/tO/HPdQdlPRgYVJj8/eR7GhTs
	</data>
</dict>
</plist>
