<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	306POdctOkM2rHqbsO4RKCX8NkOsXkOweaY6AYurvgS18LsJ86MkANN02vXqvI1un9H7
	HFuVrBxzGdKbV9NkcWsfP8sSlVy+GxN53Hgho4LCzdSakZ1N9UOrZGoJLbIGEheHf65n
	TCaInWpyKq1Mipqzw+40y9mAetuadLJkzREpbMqWrFKYC8LBxDF6v1fdiWMZTNnNJx2w
	wN7TxqEemdAn9izqSq1CPlRMpc1xSy4TaGNFdEPor9fbxdN91SulJe9ZZxim5B0Yb6u4
	Ie3GLxG7I5pIL2shhacAVPoqJyosaQZtZfEli/DHeRVG6jE0H6NTsh00AO563hE9T7pc
	Eg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCXLjEuJs47yktcWqxmFUmbwI+3Wos8eaFjZ07BXXSPPF1MZ06oKjODToAgEYJ9
	pVgCMQDd38blHm8YaH8SHmY1uNADQPm0dmxtUzDM+Ud80NshDLGcYcQi3oWNY2xT92Xo
	HK4=
	</data>
</dict>
</plist>
