<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>53</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+21622111777</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>TUNISIANA</string>
			<key>StatusBarCarrierName</key>
			<string>Ooredoo TN</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>60503</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>Ooredoo TN</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoamingUMTS</key>
			<integer>1</integer>
			<key>apn</key>
			<string>internet.ooredoo.tn</string>
			<key>AllowedProtocolMaskInRoamingLTE</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>Show3GSwitchWithVolte</key>
	<true/>
	<key>AllowsVoIP</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>1777</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Tunisia</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mmsc.ooredoo.tn</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>10.3.2.100:80</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string>internet.ooredoo.tn</string>
			<key>type-mask</key>
			<integer>49</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>password</key>
			<string>mms</string>
			<key>username</key>
			<string>mms</string>
			<key>apn</key>
			<string>mms.ooredoo.tn</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string>internet.ooredoo.tn</string>
			<key>type-mask</key>
			<integer>48</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>SMSEncoding</key>
	<integer>521</integer>
</dict>
</plist>
