<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellBroadcast</key>
	<dict>
		<key>AlertConfigurations</key>
		<dict>
			<key>Configuration_us</key>
			<dict>
				<key>Sound</key>
				<string>cbs_alert_us.caf</string>
				<key>Vibration</key>
				<string>cbs_vibe_us.plist</string>
			</dict>
			<key>Configuration_WHAM</key>
			<dict>
				<key>Sound</key>
				<string>Text</string>
				<key>Vibration</key>
				<string>Default</string>
			</dict>
		</dict>
		<key>GeofencingConfiguration</key>
		<dict>
			<key>FeatureEnabled</key>
			<true/>
		</dict>
		<key>DuplicateDetectionParameters</key>
		<dict>
			<key>DuplicationWindowInMinutes</key>
			<integer>30</integer>
			<key>PerformInterSimDuplicateDetection</key>
			<true/>
			<key>PerformIntraSimDuplicateDetection</key>
			<true/>
		</dict>
		<key>MessageIDParameters3GPP</key>
		<array>
			<dict>
				<key>FromServiceID</key>
				<integer>4370</integer>
				<key>AlertType</key>
				<string>Presidential</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4370</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4371</integer>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4378</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4379</integer>
				<key>AlertType</key>
				<string>AMBER</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4379</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4383</integer>
				<key>AlertType</key>
				<string>Presidential</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4383</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4384</integer>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4391</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4392</integer>
				<key>AlertType</key>
				<string>AMBER</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4392</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4396</integer>
				<key>AlertType</key>
				<string>PublicSafety</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4397</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4398</integer>
				<key>AlertType</key>
				<string>Test</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4399</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4400</integer>
				<key>AlertType</key>
				<string>WHAM</string>
				<key>AlertConfiguration</key>
				<string>Configuration_WHAM</string>
				<key>ToServiceID</key>
				<integer>4400</integer>
			</dict>
		</array>
		<key>AppleSafetyAlert</key>
		<dict>
			<key>MessageIDParameters3GPP</key>
			<array>
				<dict>
					<key>FromServiceID</key>
					<integer>4370</integer>
					<key>ToServiceID</key>
					<integer>4378</integer>
				</dict>
				<dict>
					<key>FromServiceID</key>
					<integer>4383</integer>
					<key>ToServiceID</key>
					<integer>4391</integer>
				</dict>
				<dict>
					<key>FromServiceID</key>
					<integer>4396</integer>
					<key>ToServiceID</key>
					<integer>4397</integer>
				</dict>
			</array>
		</dict>
		<key>SwitchGroupTitle</key>
		<string>Government Alerts</string>
		<key>PrimaryBroadcastLanguages</key>
		<array>
			<string>en</string>
		</array>
		<key>AlertTypes</key>
		<dict>
			<key>Emergency</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SwitchName</key>
				<string>Emergency Alerts</string>
				<key>CustomPreferences</key>
				<array>
					<dict>
						<key>MessageIDParameters3GPP</key>
						<array>
							<dict>
								<key>FromServiceID</key>
								<integer>4371</integer>
								<key>ToServiceID</key>
								<integer>4372</integer>
							</dict>
							<dict>
								<key>FromServiceID</key>
								<integer>4384</integer>
								<key>ToServiceID</key>
								<integer>4385</integer>
							</dict>
						</array>
						<key>EnableAlwaysDeliverByDefault</key>
						<true/>
						<key>ShowAlwaysDeliverSwitch</key>
						<true/>
					</dict>
				</array>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Emergency Alert</string>
			</dict>
			<key>WHAM</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SwitchName</key>
				<string></string>
				<key>UserConfigurable</key>
				<false/>
				<key>NotificationTitle</key>
				<string></string>
			</dict>
			<key>PublicSafety</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SoundIsMutableInDND</key>
				<true/>
				<key>SwitchName</key>
				<string>Public Safety Alerts</string>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Public Safety Alert</string>
			</dict>
			<key>Presidential</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SwitchName</key>
				<string>National Alert</string>
				<key>UserConfigurable</key>
				<false/>
				<key>NotificationTitle</key>
				<string>National Alert</string>
				<key>SoundAlertDeviceInMute</key>
				<true/>
			</dict>
			<key>AMBER</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SoundIsMutableInDND</key>
				<true/>
				<key>SwitchName</key>
				<string>AMBER Alerts</string>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>AMBER Alert</string>
			</dict>
			<key>Test</key>
			<dict>
				<key>EnabledByDefault</key>
				<false/>
				<key>SoundIsMutableInDND</key>
				<true/>
				<key>SwitchName</key>
				<string>Test Alerts</string>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Test Alert</string>
			</dict>
		</dict>
		<key>MinimumDeviceCategorySupported</key>
		<integer>10</integer>
		<key>SupportsWEAMaps</key>
		<true/>
		<key>WeaEnrichment</key>
		<dict>
			<key>MessageIDParameters3GPP</key>
			<array>
				<dict>
					<key>FromServiceID</key>
					<integer>4370</integer>
					<key>ToServiceID</key>
					<integer>4378</integer>
				</dict>
				<dict>
					<key>FromServiceID</key>
					<integer>4383</integer>
					<key>ToServiceID</key>
					<integer>4391</integer>
				</dict>
				<dict>
					<key>FromServiceID</key>
					<integer>4396</integer>
					<key>ToServiceID</key>
					<integer>4397</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>SuppressSOSOnlyWithLimitedService</key>
	<false/>
	<key>ISOAlpha2CountryCode</key>
	<array>
		<string>us</string>
	</array>
	<key>CountryName</key>
	<string>United States of America</string>
	<key>SupportedCountryIds</key>
	<array>
		<string>310</string>
		<string>311</string>
		<string>312</string>
		<string>313</string>
		<string>314</string>
		<string>315</string>
		<string>316</string>
		<string>com.apple.UnitedStates</string>
	</array>
	<key>VoiceTextMedia</key>
	<dict>
		<key>SupportsRTT</key>
		<true/>
		<key>SupportsEmergencyRTT</key>
		<true/>
		<key>SupportsTTY</key>
		<true/>
	</dict>
	<key>IMSConfig</key>
	<dict>
		<key>Emergency</key>
		<dict>
			<key>PreferSameDomainAsNormalCall</key>
			<false/>
		</dict>
		<key>Media</key>
		<dict>
			<key>RingbackTone</key>
			<string>ANSI</string>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>EnforceIPSecSetupCompletionCheck</key>
			<true/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>SuppressDisclosingSuspiciousUndetectedEmergency</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>PreferredEmergencyNumber</key>
				<true/>
				<key>Category</key>
				<integer>0</integer>
				<key>SupportsText</key>
				<true/>
				<key>Number</key>
				<string>911</string>
			</dict>
		</array>
		<key>EnableSOSVoiceLoopControl</key>
		<true/>
		<key>NonPreferredEmergencyNetworks</key>
		<array>
			<string>315010</string>
		</array>
	</dict>
</dict>
</plist>
