<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	t9FPWwEOEnXasiUH6Rb8DsEkpOuhvp7PNnhkOLzMXYbWjtdXjkIp4/YYo5Ge1emtWpJq
	A14dANll6u4/nF3nlKwpSpl1efNXH90SXEuMBC0HqfX+11IAeBQdK7KpVS+k8PjbzTdH
	0YyOwK/3ru+v3q+CkhaVJ+dSQw5YSGMjeLuc29UBONGPnN6bXi4bLDOeqaSve2eRQGj9
	uPVVKz2TQItMH2WG8AmEP5K8Il8crrZX7WNbkkq1t4qdFqo0dFiyNRdOyrQqr5wTST27
	ERLqvv2RKqi+ZJXvOXH7yzq1Q+w6o4KH2aux8VovGNa1MXvhCP/cZRpYiJdKvr776zPO
	kA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMF3V2Xy2l00XWlfksPAmnSTxcuHFHF/TrUDND6cRK0JN3BOk+snHpZHJvWnkp1G/
	AAIwA8AB0DJVYvE5PZ2dA2LZ9mh1WicyUfR8zKLT07E+/bRr+SAJgyXrgA6/9rPkwMe4
	</data>
</dict>
</plist>
