<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TlyggMeTCjK6OdI0ajj0oAYgdLkBTLLBSnfYH8HdYdlO5eTSE9vDis1pDu02/DJ7TOuY
	paRgUO/691o54Zh4LXWYyS9GvZxZJulbTkX0h8gM+A4ZPnMpyZdZregc61VHJp1TK8Q0
	ALcr6flxXHMeahVvSBPuhz98mnyRm2/0jbWL/Sa0qaCi1Z7nfA1yI/tiv9cb7A9CQBIn
	OdFCICLGMukjgWoDxmBVNBwkiPmgXVhdu1pqK4Vuu8tq8ZhpbU8xZDvFfN0gRgpyZun3
	cvIEdpCNtwKxaexLBasF+3jyQ25rnPNEDAGc8zqKnn5OXBHq8My+UpUWe3zkDGgNkZHG
	Aw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMB9qn3VKu9lnuG40lBAwO8g8oUVOuBG1c4JfUarR6SdE4RmaYejkIRjPQ9+gsqw1
	fgIwDaITB/jPI56gIAUeHmOlxikkioXtt6LMuYCeCViEK23i6SBl9iLvmSZX0vUODNkW
	</data>
</dict>
</plist>
