<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QXhMoxV7qRpGvHIvzxMJSj3QUmDYqwNLVETcj+N1a29n5IMKceylmrobz3vDQy5lDv38
	f2GBSwQUEch94k9epXAcIrfdETDO65s7n+Pj2rzmewaZBUiEO2R6AzAWtnB9Dby9uJ1n
	1mgAEEb8hpfThfh8TqxAf4a3vCrABR7++5CVbnieGU7wPDKj++j7DbOcuvz88b6kD9JW
	3UkHCjNmAgMS3MMWOZshb5KpIZy49GA4t8V61ZbfWSxA8iLfP3ldB+QVYp/hSmqAx1LW
	2lvbs17za8l8m26prh0jsWj6DlKcngJNrPrLdJFdAwzpi/fS3JT92foYh5Tlkn1/z4ii
	uQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCUeiV0zr9XtV8UtoNUOhg2m2Y43aCBZTX3jZ1y8rx+AP/+y+WfaWfwsRAW8zLW
	MvUCMFCdAgPGyqeE5Jl/DAJlB0z4vx+1BT7pp/Ur4yf09FPV3HojKvj0eSZ/RbeGrV7L
	eg==
	</data>
</dict>
</plist>
