<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WEN20zoxx17DcHN8Ko8sfPPVcbNlBeWgom0viQrkYPT/uryPJBM7YvtcqYK+JizpDXV7
	LOLrtouq2dqzhgSqv5/SYQmKyk5meYL916GVhixcVgFOve4hbztJNfemMH8PyIN4Rpjm
	s34bR1MIuIfvahwyfrh7guKt3hwxsTk0lWHOzKdS7n3PDT7Uc33o0HZVA//cbiX9pi7c
	+Q7wHM6G7aNuM+R23+e/7deGu+sMjWgbBvWKTcsJNq87DUNcbxekk+nNoKW24CzvyJJm
	MetPECDip8MtR9YwfI4+QBNywKCEJEE+y7uiXCDop55O/50acwz6X60KcTQJFwcmAayt
	EA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDr1b8Z3+sFC2P2ta2RaDu24ib8fTsbczdVWBKRlkKPv/EEId/Y5vtrLw0JHzii
	skwCMQD7Mub/cOSFOMbBqha0QC1wRE/s+MuX7UbYRiFl9xkn0cbdobWhunQB/PWZ0Kpz
	GSM=
	</data>
</dict>
</plist>
