<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	XNCp0ZSaQ0CmXeBJJ+/CpxXnfiKTfS6lZUkD7H76XIaOpDNxU0iitoyHsLw2N1xFtagH
	5yPgpDAHvz160XtTpuzZD48TXvAYHxwxdMheFwGUlwKU7NZihmli/CdUJrE2jzdjaY0d
	kJhwWZK4SjPJssXn5qSJuEjzTKer5UHsi/Vtksiq28Q6NM9AoeJolQt7WZPqCXeH8LJt
	0wVOgV0iKEGYLVe5vwWqzJ1V8w7RriqZGqlE/RK1/so1Kgxj1MrIil0b9XzEUQ4g6PLf
	KoI35Sql+g46SCqc6aPvQ2HQNDuoEVKg/uw/kJyBYoNU30xEEpPAvpfCYvYDov0a+Obm
	yQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMD90TuU36QCjskkVrIypu0vkPUAQCSA7jiom38sl2Og5ebtQTcV9GbRKQq/BcQF9
	UwIwe3wKc6G9vGoLBLu8fpkU5bMqxS3Oq6ptfM6CNx2f0tE3W1R3yHYlWpmwnmb7LMtU
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMHGdD6d9wpkH8ntAbh8Y+hEq4ip4LQfYTzPA2Bi0wSpiHAqPB995AJiuUWc1gI+Z
	VQIwfjuFTimOa++4GoVDKb9u5M5bWXXoJU8cO81HXNMkP7CWKxeeYui4YurgndBKIq8a
	</data>
	<key>CBSignature2</key>
	<data>
	Iq96oDy5yiqtNnvVDEyruY4jyvXLY5kR+vYZrYZubprueV6Y+u96Galb9P8aHPd17tkW
	TZp28icZfElzjt2KYKjvq6o2MEBnQUWiz1FC6YLSz66JAhqBjUJN6Y70e2hXcde23fst
	7uOs2cClnVbgNT9tCbaX3PGjGQ00iIiFyC/wD0iktwXZzVYjezS+ujYU1HragnZQPNrH
	mNlIj871Q/h77v/VIrikMMNAxsN1vvVJH4WlJKagKAy9QUjRwT6znyxUp+YSDXaLfQfX
	AJTycUqh7oy+4+7BJncVA4Cb/++1JTekzqiEckPAtZA7cEwtrrIptP41PVVatr/I2p3o
	Ag==
	</data>
</dict>
</plist>
