<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ennNVJtXiA4Ectm80GIFbdmm0SuxO/YFoRmcje3oKVHgxNg4o89Ff6pqpVbjiMvBim7S
	H4Bk0zwMC9/jBPirIrYl5+2iC5UJhEKykwkVduWkmQtO16gftX8NAUHdPeHzsJh0IZrj
	PPqd5jIJucxE05GxssFFzC848GxJQFAv/3l5qVb6GqSo/ElKA9pmJmwd0iofe/QUTfuy
	pqGzYVHvGM3Y8JBLkvsl7j8+9vdYWXUQ7+a2iuVECvGUQoH0eperQ2ePEfIZnEYCyszO
	L8wPOZm524qsh5ewtAhloEMt9JGkoGCPQR1C9gsdgA5yrsFDyWkbMr0cO3ZPqOaKxow+
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCNxI+D2ucVechuIBzIuO+5MieD+Z14ApLkzjdgzJHC4MfBrWY+64uOlE94TNNGw
	lAIwAk6Do9fmRewP77QgYPaP6yzx8KXnMqIBlpFUhWyRNZNc4/bV/cjWeQfueeRYAS1K
	</data>
</dict>
</plist>
