<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hLw2GrWezxwoBkNuSaspONxVE9G/IHF+T2XF4u6up1G0ykR0NCsgdJYfObcix/j6s1Ov
	deOjB3zrQqOH7AMqCz4lNmnTTPNQ0bfIXz21SpBW23gYS+Bj+0DJdQ2e1bgvt+hM1lT2
	AhX17tNzPNtLOs14hU04Md7yomGlfnPDBstqfOFLlD0rDIFWba5jzuYll++3eGpZD4bt
	TRRlzQFM1tfS7QBSa0osTEKd5jCY1IA4cGGaEfyCzHwg6hvmyAZsXIgNJXRn8wmNgcBf
	XoaObZPu2Asf/ickZtnKS9uBoy8bH+jntWYhTHyl/d1vdY5jgGKogKiA7s34vd6LaKrO
	Yw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGjE2E+p60mWtJO/ie9tFTFPe9V5ifWnbx6RqN+mabXZ/tWOOdFORTEwcK84xJAE
	HQIwHnn9S50U0+ov2c5qc41JJX+qz1ZRGQnETYFcsbhPKA5p1SP8hFEHjMTKy9h3p9Go
	</data>
</dict>
</plist>
