<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Aa+SZREZnJrjnwhdI+SXb8ldxdaRIxN/RocMjOPw+40WJWUokNMVZ1f/U2iIY//gJg/P
	w71g1+yCu4BevjaOPTCu6tQGwKA80ag5tVuSZ053p7jCAm4ZyHBK/7/wptmomK3eG9EA
	uE0HHvraaQP+xfPwN18WI0feqPGB7z23m4bXSIc90DC3kez3b2A+T5VQhohuvkVp+1r3
	wGL5kbvCJOy0vNFWBPuZ4aTUvnPMoBV9Y3J6DUALwPdAu/gV6UC/7qNvRpdTtKhzIFTM
	9uL0Hn+tfi8ysuONR7ZCp6qHK43Ck66kMclVUaaJ2mQ2dPRltYgQZG9XsNu0Utm4BhbC
	cQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDisIJij4itC31zFMklWoD0BgGCyxwx9I1Y32F2jqI79qIMK9PDvLZab1Uqdcs8
	mLwCMQDqyS5nGSuIUSx4rlJQ+7o2TGqEEaZmLE9WIogolWq+xaPakRHHu5me0k3TM/nU
	qVQ=
	</data>
</dict>
</plist>
