<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportSecureIntent</key>
		<true/>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>SupportedEntitlements</key>
		<integer>4207617</integer>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>SupportCrossPlatformSIMTransfer</key>
		<true/>
		<key>SupportedAuthorizationTokens</key>
		<integer>2</integer>
		<key>ServerAddress</key>
		<string>https://entitlement-apl.free-mobile.fr</string>
		<key>SupportedActions</key>
		<array>
			<string>TransferSIMService</string>
			<string>AuthenticateTrustFlag</string>
		</array>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
	</dict>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoamingUMTS</key>
			<integer>1</integer>
			<key>apn</key>
			<string></string>
			<key>AllowedProtocolMaskInRoamingLTE</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string>https://frm.prod.ondemandconnectivity.com</string>
		<key>RequiresDeleteBeforeTransfer</key>
		<true/>
	</dict>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>+33653600011</string>
	<key>SupportsNITZ</key>
	<false/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>893315</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>TrialEndPeriod</key>
			<string>2026-05-03T00:00:00Z</string>
			<key>TrialPlanType</key>
			<string>FreeTrial</string>
			<key>SupportsTrialPlan</key>
			<false/>
			<key>TrialStartPeriod</key>
			<string>2024-02-06T00:00:00Z</string>
		</dict>
		<key>ServerURL</key>
		<string>https://frm.prod.ondemandconnectivity.com</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>60</integer>
			<string>240</string>
			<string>600</string>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>26.2</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>2046</string>
	<key>ShowDialAssist</key>
	<true/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>MaxGreetingDuration</key>
		<integer>45</integer>
		<key>UsesSSL</key>
		<true/>
		<key>GreetingNotification</key>
		<true/>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>UsesMWI</key>
		<true/>
		<key>ClientManagesTrash</key>
		<false/>
		<key>AllowedIMAPServers</key>
		<dict>
			<key>FQDN</key>
			<array>
				<string>vvm.proxad.net</string>
			</array>
		</dict>
		<key>MaxPINLength</key>
		<integer>10</integer>
		<key>BeaconAddress</key>
		<string>2050</string>
	</dict>
	<key>OverrideOperatorWiFiName</key>
	<string>Free Appels Wi-Fi</string>
	<key>MMS</key>
	<dict>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MaxMessageSize</key>
		<integer>614400</integer>
		<key>MMSC</key>
		<string>http://mms.free.fr</string>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>WifiCallingAllowedInRoaming</key>
		<true/>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>DHGroup</key>
						<integer>2</integer>
						<key>Lifetime</key>
						<integer>86400</integer>
					</dict>
				</array>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>cellular</string>
			<key>PreferredTechnologyRoaming</key>
			<string>wifi</string>
		</dict>
		<key>IKE</key>
		<dict>
			<key>NATTKeepAliveEnabled</key>
			<true/>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>Proposals</key>
			<array>
				<dict>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>2</integer>
					<key>Lifetime</key>
					<integer>86400</integer>
				</dict>
			</array>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc$mnc.mcc$mcc.pub.3gppnetwork.org</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>TRUE</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>TRUE</string>
				<key>serviceMask</key>
				<integer>262144</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>TRUE</string>
				<key>serviceMask</key>
				<integer>1048576</integer>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>WiFiCallingControlsAlliWLanServices</key>
		<false/>
		<key>5wiServiceMask</key>
		<integer>3</integer>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.France</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string>free</string>
			<key>type-mask</key>
			<integer>32819</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string>free</string>
			<key>type-mask</key>
			<integer>4</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>131072</integer>
			<key>SupportSwitchOver</key>
			<true/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims</string>
			<key>AllowedProtocolMask</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>262144</integer>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>sos</string>
			<key>type-mask</key>
			<integer>262144</integer>
			<key>AllowedProtocolMask</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>1048576</integer>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>hos</string>
			<key>type-mask</key>
			<integer>1048576</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>APNEditabilityTypemaskNew</key>
	<integer>5</integer>
	<key>IgnoresDeactivateOnNetworkScanServiceMask</key>
	<integer>131072</integer>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>UseIPSec</key>
			<true/>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,4XX,5XX,6XX,-380</string>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>60</integer>
			<key>RingingTimerSeconds</key>
			<integer>60</integer>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>25</integer>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>TriggerCSFBOnSDPError</key>
			<true/>
			<key>UseCIDUrlInPIDF</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc015.mcc208.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<true/>
			</dict>
		</dict>
		<key>Media</key>
		<dict>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
				</dict>
			</dict>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>SupportsCW</key>
			<true/>
			<key>SupportsCLIR</key>
			<false/>
			<key>DisableOnNetworkError</key>
			<false/>
			<key>AllowedOnlyWhenIMSRegistered</key>
			<true/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>ContentType</key>
			<string>application/vnd.etsi.simservs+xml</string>
			<key>supported</key>
			<true/>
			<key>SupportsCFErasure</key>
			<true/>
			<key>imsFeatureDependency</key>
			<true/>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
		<key>Voice</key>
		<dict>
			<key>DialAsEmergencyOverIMSForUndetectedEmergency</key>
			<true/>
			<key>E911OverITechSupported</key>
			<false/>
			<key>EnableVolteByDefault</key>
			<true/>
			<key>endNonEmergencyCalls</key>
			<true/>
		</dict>
	</dict>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>4</integer>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32770</integer>
	<key>RCS</key>
	<dict>
		<key>EnableBusinessMessagingByDefault</key>
		<true/>
		<key>ProvisioningData</key>
		<dict>
			<key>ServerURL</key>
			<string>config.rcs.mnc$mnc.mcc$mcc.jibecloud.net</string>
		</dict>
		<key>ShowBusinessMessagingSwitch</key>
		<true/>
		<key>EnableRCSByDefault</key>
		<true/>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Free</string>
			<key>StatusBarCarrierName</key>
			<string>Free</string>
		</dict>
	</array>
	<key>CarrierSpace</key>
	<dict>
		<key>SupportsPlans</key>
		<false/>
		<key>TeamIDList</key>
		<array>
			<string>NU2FRWJZ6F</string>
		</array>
		<key>SupportsUsage</key>
		<false/>
		<key>SupportsApps</key>
		<true/>
	</dict>
	<key>CarrierName</key>
	<string>Free</string>
	<key>MyAccountURL</key>
	<string>https://mobile.free.fr</string>
	<key>SupportedPLMNs</key>
	<array>
		<string>20800</string>
		<string>20801</string>
		<string>20802</string>
	</array>
	<key>MyAccountURLTitle</key>
	<string>Free</string>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>20815</string>
	</array>
	<key>CarrierAppDiscoverability</key>
	<dict>
		<key>AllowCarrierSpaceApp</key>
		<true/>
	</dict>
</dict>
</plist>
