<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Odh+wDAJzg9fT2RrbxWSCNfCO/qn/mfWKI9eAeuJtfukC1oVDn9VLczyr6UeAyN3Xqoc
	wkABepYvrtWj7dMHWF+Js/6p3EojmDn/wi+l0KI71fk3ceL3ygqVybaH5dvfdwM8RzPR
	1J/DnMKOZ67h+XAMScpjCGySB/472axJMObKuA+RjxCS850WH0QfVEAOETuFcuIAcp6u
	ddEow5ACAFo1f9OrmsnWPK0ITqEouiM0rrgNgiDBYap4jqHrbbdcsNmWHDiIpEe+mEa+
	OV8IgoOHfc/J9KsRpooN9Pn5+D2wTOcDod//4PmqzTu5uzvGe5qh+vG3yucMvhw97P1y
	9A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEMM5jIcCKWXTMgzbFqGch2f9P8JVlijobwZpgMAFaov58ZBeijNkc5f/bIpD+4m
	GgIwJAAa8RxP65wERaVEsf493SoxKMYyj4mskqKIOaNS69pJo56Yr0jP2uZqqjHHq7+U
	</data>
</dict>
</plist>
