<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	E5jA18yiyJhKtbZ0cCaocug2XDQGCKFCRz+vyE9PMWM7pJVgT12GB3J6g6cV5l9/jc4E
	B9nSConAfp2WGlnZcFOCx3xYfqGCHuhNp9pl9922vFXPN2yeovjnjB1N/FspVwv8fiV8
	BIeZvpfvVMJzQ2tHZxWaY6/EUR/WFmxaN5VWTFO5u6rRK/N4uiSwJYFOp6pFsBwB0kF6
	ZvYxu5ZDgW+U32Bs8hc98tpRnSeoYnF3Bbgjx3LpUG0K4Flvh1viP7E5jH7CNdJpf8en
	JcmZ9U3pVItXavvmfdqixaeKdIEd9RMggwi+woQDd6VFe39CmGEcwW88qm/evBHd2O7x
	7w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCKBEyL++YD/tsk8xnPKx2PfPCBaCpzqH4gnWXrEMFVRQ+Cf+E5FflunCDQs9W9
	rngCMA+Xa7go6k/RuH3xwrP04E0W4cx6lhjyWs6980en+P4A3DJVN/a/0eBHgLK3tx3N
	zg==
	</data>
</dict>
</plist>
