<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	y3qFuui4R+PZONnumjODLW9624WM6OF+Uy8Q4QjK9hqIuuDbEsGYlhb1vOTklYfwm9MF
	kSJhkfE8hk2vvW1n3pnCZtxFO8W1P4fAM4mosocbWsvfJnAY/hlBSlLaDge8J4Ro5N6d
	sT8VfRzdH5gPxhwzaTnwiZHB3W4oxL6yMqj8wGxyq+vbPlNLXs1TT2VQgy9ddKRHDxmM
	d+sbFm0X3GQ/PdqfeG1TFeTYk66CVBQmeuVxTxp+Ar7OLTI4oVObEOTLzmMnutkBWjVC
	bfdUW4k+6LUSimyWWzEC96x76kSkeJYff6/AykEheRCsFvDs/m0rAqhfeV/ky/BvWE5s
	qw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCb9KTosBXal6y3vSHTyPwUW9CH1XJUR2OMVUNNgzLr/is3lrBCI93RYId/8DLb
	oBoCMHRD5Px0q6SxUJ2p0AzO7F2cMN07LN9XVpGaR9IP6IghDGp+GCXAFH33RwB6mYRl
	Hw==
	</data>
</dict>
</plist>
