<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I5fJbKQyGIznuJZ1se3ePH/Z0/hNxjXu5N7mdZYLSnfALa6Io4UVzOmE0PcQf9HT0o7u
	y80snwcxH1ZzpiMcXS4380PVR/phvff6d4y5/EP6f1ZOhBasY5PRZGOie/mDdYU6kd15
	KkY2CGbO8s1wKrc1kw8WrZ88YlagpgSjvSVivJYfwdDdJehG38u24D4ODnW8Hj2ebpjv
	INGJbVFkm1iQZvqEzfZVC26P1/lrMTPr0GsjoGT3tWG4HziLOi5Ps70tGC4XK5rsEQHU
	o3d+a8wOPIylS/2QiePvSUE9Zcjn2bv2S/XVmoMy+f1W7STDAWeXerhRijt2nLrRhWMP
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDrK23gPcce9+QXEzcZ6+1x2OF8T1r4yq6R96J0wk/wuxuj1gscub4hWj8gtpoH
	Y7ACMAKWmAYy4Z4oeWULq7m34H3QEBkUU7/sTdUK8kPrgAFak6cdH1+cMnC9+de1tOW9
	jA==
	</data>
</dict>
</plist>
