<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MVNOOverrides</key>
	<dict>
		<key>Configuration_1</key>
		<dict>
			<key>OverrideConfiguration</key>
			<dict>
				<key>MTU</key>
				<array>
					<dict>
						<key>technology-mask</key>
						<integer>25</integer>
						<key>size</key>
						<integer>1450</integer>
					</dict>
				</array>
				<key>Enable5GStandaloneByDefault</key>
				<false/>
				<key>AttachAPN</key>
				<dict>
					<key>3GPP</key>
					<array>
						<dict>
							<key>apn</key>
							<string>plus.acs.jp.V6</string>
							<key>password</key>
							<string>lm</string>
							<key>AllowedProtocolMask</key>
							<integer>3</integer>
							<key>PcscfAddressRequired</key>
							<false/>
							<key>username</key>
							<string>lm</string>
							<key>AllowedProtocolMaskInRoamingUMTS</key>
							<integer>3</integer>
							<key>auth_type</key>
							<string>CHAP</string>
							<key>AllowedProtocolMaskInRoamingLTE</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>password</key>
							<string></string>
							<key>PcscfAddressRequired</key>
							<true/>
							<key>username</key>
							<string></string>
							<key>apn</key>
							<string>ims</string>
							<key>AllowedProtocolMaskInRoamingLTE</key>
							<integer>2</integer>
							<key>AllowedProtocolMask</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<key>SupportsVoNR</key>
				<false/>
				<key>ShowVoNRSwitch</key>
				<false/>
				<key>Show5GStandaloneSwitch</key>
				<false/>
				<key>IMSConfig</key>
				<dict>
					<key>Voice</key>
					<dict>
						<key>EnableVoNRByDefault</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DerPriFileVersion</key>
	<string>6.0.164</string>
	<key>Show5GWarningUnsupportedCarrier</key>
	<false/>
	<key>Show5GStandaloneSwitch</key>
	<true/>
	<key>SatelliteNoDataSuspendDelayTimeout</key>
	<integer>1</integer>
	<key>MTU</key>
	<array>
		<dict>
			<key>technology-mask</key>
			<integer>25</integer>
			<key>size</key>
			<integer>1358</integer>
		</dict>
	</array>
	<key>Enable5GStandaloneByDefault</key>
	<true/>
	<key>Show5GSwitch</key>
	<true/>
	<key>ShowHighDataModeSwitch</key>
	<true/>
	<key>SMSSettings</key>
	<dict>
		<key>MessageFormat</key>
		<dict>
			<key>SignalingFormat</key>
			<integer>1</integer>
			<key>PacketFormat</key>
			<integer>1</integer>
		</dict>
		<key>TransportFallbackForSTKSMS</key>
		<true/>
		<key>TransportFallback</key>
		<true/>
	</dict>
	<key>SatelliteSystemTransitionTimeToAllowed</key>
	<integer>30</integer>
	<key>ShowSatelliteSwitch</key>
	<true/>
	<key>IMSConfig</key>
	<dict>
		<key>Emergency</key>
		<dict>
			<key>RestrictedDomainMode</key>
			<true/>
		</dict>
		<key>Satellite</key>
		<dict>
			<key>IMSServiceMask</key>
			<integer>2</integer>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>FatalSmsErrors</key>
			<string>400,404,408,488,500,501,502,503</string>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVoNRByDefault</key>
			<true/>
		</dict>
		<key>SMS</key>
		<dict>
			<key>SupportedDomains</key>
			<dict>
				<key>NR</key>
				<true/>
			</dict>
			<key>UseRpOriginatingAddressAsSender</key>
			<true/>
		</dict>
	</dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>4762649</integer>
	</dict>
	<key>DerPriFileName</key>
	<string>overrides_V53_V54_V57.der.pri</string>
	<key>SupportsSatellite</key>
	<true/>
	<key>EnableSatelliteByDefault</key>
	<true/>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<array>
			<dict>
				<key>apn</key>
				<string>jpspirdi</string>
				<key>password</key>
				<string>titbopt</string>
				<key>AllowedProtocolMask</key>
				<integer>3</integer>
				<key>PcscfAddressRequired</key>
				<false/>
				<key>username</key>
				<string>sdittbsb</string>
				<key>AllowedProtocolMaskInRoamingUMTS</key>
				<integer>3</integer>
				<key>auth_type</key>
				<string>PAP</string>
				<key>AllowedProtocolMaskInRoamingLTE</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>password</key>
				<string></string>
				<key>PcscfAddressRequired</key>
				<true/>
				<key>username</key>
				<string></string>
				<key>apn</key>
				<string>ims</string>
				<key>AllowedProtocolMaskInRoamingLTE</key>
				<integer>2</integer>
				<key>AllowedProtocolMask</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>ShowVoNRWarningUnsupportedCarrier</key>
	<false/>
	<key>DataIndicatorOverrideForNRMmwave</key>
	<string>NRPlus</string>
	<key>Enable5GAutoByDefault</key>
	<true/>
	<key>ShowVoNRSwitch</key>
	<true/>
	<key>SupportsNRNSAInboundRoaming</key>
	<true/>
	<key>SatelliteApps</key>
	<array>
		<string>jp.co.softbank.OfficialApp</string>
	</array>
	<key>SupportsVoNR</key>
	<true/>
</dict>
</plist>
