<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	q64YHkPqEJW5WvQlE15z6ILZxbpxgVhxVfnUk8jfZNiB/JIZ3k1rmqj3ivkKVB6/5NyC
	uEN7971PxtnEgkLTTVNYHrMoTXtUsC2P/5tHDKYc9QXqiye8x5kf0OomALrDZG5PhLM9
	mSiiUnMcOti6IKElwvEsGq6eoqn/Qye66hDIbsXo4a1RfHxbonsP+3n6ILd68erajwGQ
	Uekttynu7yOlJirzRF8V4y9bXQpN8us4FUHyPzcMUP6Xmo5e1nT7pSWJCXltOB6sC5tC
	Lk1ev9nPrmBKOXYiBJKbBmZCULxUjNAfKwbRnvenlNMZvU0XP9LJ9tohAGgrxUVlbnfQ
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCxIR6lCTxplAX4nQoNMbbACA0tXaO3c1yZ8wPF9izUIUym42TPLm7iICDKVdyH
	4RgCMQD0Or+D7ImJ8VIccLC42Z7KLyvwpT3BkQZIz5p4zvEdK64Ynl+k7I1KWZ9BCZlE
	9xw=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQDAAV7P3iHV/OYXTEDE/FzBjyU2hWK4eAMK/qfVoa8gfU9SM7L/8sRENoRcwH6I
	A9wCMQD+KvV5Ur07XINV4Peo1gyOh+MIa/ryHGBQxoYz3LagI6y0oKz8uef31GjexMq8
	D6k=
	</data>
	<key>CBSignature2</key>
	<data>
	SPVff2/Ubj8TK0BSK2U1nGL9JMd7gRPv0zPXMhHQePOzutjH4APTj+iD+Dk42uNpTZgO
	3FXWP8lVfrzZ0klbk3NTZvkES/JdOVu3hmlPQxwanXVhjDMxP15Dkn5ld6v3wN7L/B28
	9RQEkq1sb4eUXs+/zNNj7H6f9PdS/Yf9BpDmPdy3Cxgoaxu83l80SYz8Vp1E63LGal8M
	vEuhecCsR0xdgMIIwdh08HdlkYQLSEl4/LdPBV2NcLUyFogCGWcx6jTtiPRmSBTT0MsQ
	qNGuDemBThqOClioeyaz61heTt6KTSQFPAq2qmsBo2UXm3vts9DJhh93R/0NrgM3HLEl
	Kg==
	</data>
</dict>
</plist>
