<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ihM7iB2Ic+/gVl148/F4gux2Eow/2kBrSkldveRWXMTL+Imqrx2l1LqIW/d8Y78Grpt2
	mOZ6czsPlvoGcnGCMkD1L6/wUGK79MfoN+kzQejXKFY/9a7F+VBAF3B+54mDS/Nq4GMI
	HBCZRvx0CGrZ6nVgZm/CS1oQO9DvYMUVLGClcXJ0LIBlPjVMcWMWPcXu45gEfWiTnfMP
	pZNYgbIh2S+sMAjqQV+91jtBxogVMUXAiHRwuQX9twr8PrXXqzumOPEaYpTMrVW96AbC
	xM9DVhz8iw+0g3tnD5aqZ8yBz5H0cNGq/MT8mqL1G/IwgHFZXcJtV1Jrhx1w0n2rJ5pV
	zQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMG6xObDddqTR1ONw5r09nCSMpRTiPsBpcbmEKnBYnU981/Dru4nV7oQ3q3EYiz4C
	/AIxANdesxa449AEDK5UheUhaUyMVNg7zahL4h9hmKfPDqB0oZkprWnoqdc9bT8tC8QD
	Og==
	</data>
</dict>
</plist>
