<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	cYs8jC8KhjVQZaHkhJSfjgvBMkR10H159/M/t2inVTNNRxOD93COsih+9xLuLqXPkPQj
	l/SOZaGbdU8swmZvMTyI3NvhVohM0tJ7+wnEMzuTrXartMgCVYnejwTHMSfUQ+DtxOta
	k9qVTFjcX/St/4xwpHcmMDYd7++mXYzn7umAHRmqRklJ56UtG+vBakeMeTwGqYfHvKck
	3iTI3ZdEFDRUHaaVkSdyx3+MyBz+PlQEtIX+EJwZcM3fUihn1R/zTjrMEH8bPHxgGiyy
	bD1ujjjVtPY2ch3c0duvnugoO6sa+9rzH9CJoYqNYuUJ+kbCZYPPS5Ifs+qIeIEtxSb6
	WA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAul0vWXqrSkmw0yGnZSwoV+aB2EFxP+wMXV2EbpajXWQKeo7U5rAq7HVsZP9kA7
	0QIwZ7OFOiYjuIViOaBejELZVV/Tw4XZayjB1ePmb4POpqFHqw/diQ8nBZNtLV/FU0nU
	</data>
</dict>
</plist>
