<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XxrgsiHFX4nF3jZPABwGkQ67SBY+b+fOhTi9/ZBJbjiOHEWS9tbiFVe82puQM5jorZRj
	e5/xKJZqa0VFzM5iAiKtdtLhBTseHrvw7igNZuq5FqBfJd6VtL/GptL5WENuysGop8Y7
	cdamdeoDob792JjBUR6EoPesbJaiyfDlMBkj3kHuHHETByfEciAWCi3SYHDtBUjruFrR
	m0+sFa6lePqctHrqwzhiGaCIMwEgwly+kqCEFxSsdAm1NA8qVFe/eAHtMta//+UXNiYV
	+VwbwGD3GhyRyhiESfDHeix4F77giyN+izE2FzmQ3tdqDmJ/JyIfq99tVj2pLJyvxDNY
	DA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMA8YuGhrZ2LoBQq9pmKUfGBl1NPWEIH1+eVo/EvYuT4wFt5ExoOj/d4EWz8CJ6SF
	YwIxAPon8/6tJaLuFGBktCkrDaQeeq4upY+WE6IznpR1DWOOezUCZ+uiPqzqO4LONpcM
	Sg==
	</data>
</dict>
</plist>
