<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RGIpECz1Y1+Ul364IRNbz3g3y98To0XP8q2cGQAvK22bipAJMnfVCbEMpQbT3tCgrzxU
	I/vphhMGeJgX5HL67pu3e9So/aEOxeaChRNpCLxiaY4udOTB62WHF7Qrr0U+Ctmy8Xf8
	vS8jM0TFT3ijwMINrEkMzN3QT2ba24CsO9YAKUgEz7QAw9SXKFXHooIgbFGiTI2nfW4T
	/tQ0nVbWAvc3pFvH+aOkI/WJRpYy0c8sAkmd9veXLZ5yH3uWRDMRmPuphqBPLt+PXGg0
	cECF4rmOQQiYQHtTtgKqNEEF39nVlOFmdZ1875/prdwaKAd16iU/lbpPSHla6lQOULd4
	/A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAGr+FQF2Ra1eeWhm4S765wv/NvpR5TxqAvx8U1HYqRVhM2wu1xknev0iWiL5U/5
	pAIxAIjd5y9f4oiix5waRfCRUkmTdGAsSBGMddqKDovMmb5JkyklX4GepMGiuA8Lhy1H
	GA==
	</data>
</dict>
</plist>
