<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QqAM5hYQd+XpP6TUYyQSzjkC6V58G42s1wtKqLxMfqufem7/4YhhRKMHddKIYgEmxC3E
	20gKrWlzAQP0s3RstTgkiysM6mMZqr4fK/Z0ipH8k6uDTQBsuDa/lKzvfX/OkBklpiU+
	D20xjSrZ7GKniuiBnmXddRhs1Fuv9WGZtEs3izsXNl3rgNO5fMQuFELe1JelbBVmvoSv
	oiO3pR1nQmAhU8Jqyz2cv1TX7eIGYEd4woiUlOjFwEsnZhpKDiHtKBdd23x6rR7ln5zp
	jR0zASXrH7RXXtkbbiJJgdWfINC9kWTt1MvqC1INj6nNIZvsJgcOXKBfmJhiJZManRXy
	9w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCXUxEcSDbW/TurDPdseXluZ3q6pQpOknwvDkNEo7OmHfmTKN72cqyunk5wCJE1
	ua8CMQCetwuZIbmmvy/vXNYLuPRCeMIXFERQ6NkGRrbFPedW/waM30yVQH7z5XQa5eq7
	nXY=
	</data>
</dict>
</plist>
