<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	uBnmclAkPeVh3rMw+NBlv0r2DijplaB3/hElGxBbVKYyZo21gLTUileHPnAMS93+xjJs
	kMsMAahL3pnjHf7dQTYaeHSLExFa6Q591/MEcEM7pd6KjSH0V/hcwg3FWDA5wS6Fwj9l
	M3/6o9+fqINd1vsLQU5cKchNCt3lOTJVSZJdasWnkI5h7/VYUn/caxLEYmryBpWd/F3u
	+R0031Wi3T1I3MU3Z1sfxxdax1MyuA77jy81euM/x18o0IooRR58e4+55cyix4erEXy6
	DcNuV/FgKEvB8e3ydNhgZJRbko8IWkIsL2UIQy+4jzy5e5Atnaf1Di+DaWfgIc2g+jkf
	Iw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCXwz2FSrGPrFdvVFX4KNxY/pFX33h4CiaxZEFsWoWvwovEGdjdCNzEn5ZEYl/H
	u9gCMFYOIEyciNo7lsyEhv6Rf5A8bQAWfenKBdWGKDjuM0dmUbLWibEPKSccJ5YKB1j8
	WQ==
	</data>
</dict>
</plist>
