<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	lsrV2yfY4eCJ7ogI1twlrMvOZfbQo+MbRrS9beZWv1Ah8XY7itmxmnQv0Ye5gIfGR5Is
	A9hwUoEvBvWdZ2Rm8uTKhdMGysr+EkwoQ7YUIwQYu+EyAbeq90hTZSZhg3kgkJmQXtTG
	DVUPwnpk6j+7rVpC33lUgAY3LdckjFKtrpKfvRvYoo+pD/630ShiLeiX4pgY4/H8uZ8C
	J2usE91vomr9J+KGh0NqtM9G77I5N8mftJKTRkqds4fkmO14m5UtOddvitrXkrrjdhqg
	z94kIe5NsVBnA6ZKN62n2tYpshGodPxYg0QaePEUpR+Iq8v83GLjN8iysNZ3ypauvdBK
	PQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCmvHu7IT2MDsOxhfHh7zG0oU17lYDtv8oT1/vIlegTvT7m0iAwtvL3AmIvDNBU
	fYQCMBHo9epRILyQJu/al+VykSasPIdZXfs7S0Ddn0Rtas3phX0mK6TRnWeIZKC3/dXt
	eQ==
	</data>
</dict>
</plist>
