<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	MBcV3rm46vROZSb4CjDVMaLfMRm3bRpP/3NAEWzj1Htcx3N4bs/HpMUCEA0FMhS360xb
	08RHNaxaLOMujyxRZ0lOPOCzXsFn5MxZfpdw6HVnWihgPD+lBRRieO6OIXcW/GtDz+CA
	Vov8tdV0Hff2tpcZfwkkRSpX9ob5KTmVV7WUHGvh7Rdz4o8Y4Fy38gNnhhkHHsqxvBnt
	QAWJ7ED28D0TxK6CRtlq9N21vOHQcSF2BMD5CoRxhucnXUXeYXD1bmgBEy5buU3E5aMS
	CDpzHdlhX0bVsStQ0ILyZPHiB4vp4+FrNRaqlZVjkCjELGoZNbxIp9JIYJgn2VHQ6Ccw
	Ug==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEKIycTljY9g4ihLz4rQ8V5PtJZW38qlI4/RnpsWRUL44R3n98/95HoeBq0IM2yN
	VwIxALHvTFCTrj5yW7QUC0dCyWQN0lsK1rqgw66y27DVaTLeAFN3ETJ/QkOdQ4A2ImH9
	BA==
	</data>
</dict>
</plist>
