<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	R1jux2+NEvhp32txIh+cTLAYPr70FBLDHF7Py/LxQyzGa/iBdiVwd7hSOoxecO2IvioF
	2GMnDqNldMjunz0zRxmh9X2If/TCn93BKN8cY/D5ZsRq9Z0ZAdwGvUN54RnnAkgCna4d
	7Y2R0Z0KHqpfQ1WdauMYqEu7+/P+o3WJKxBhTSEn6lZYhwjv4TGKRjGT2+8Z6HqH3dlQ
	nknOsuibOyd1p2Z22rpYnUWTIwuxAfbW8eDB6HGJED0tIa8U3v60CvTVlzUpimzE6p5C
	ukgeOq2y8FGSYr9oz+sk71cz0XELGCoWScxz7b6aCTGSS7GSHP7zYLldbfjdmRBksOfK
	7Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAbJReWqhVFptztyZ7txmFoj/2TZ9ygMub5cGEkj/SmxO6FRWHLX9oR/91w9VbcH
	DQIwAwNMmdEz3VTeSo8/ZzRzDFnnaD8bxcw+xG6/vTHTq1DiVYCoru87zMM6PrctjA3f
	</data>
</dict>
</plist>
