<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4LRzQ/MguKzw2ccHWjQ6//f8szPVYxxGPJB5861alpP5Cdopw9eEg3Lzb+dliH3ATCLa
	+iHmTbGwJ1FYi2Bfszb+KF/AXUK76NyzB2OgG0XaNQQVbrKXKvpZAeGcUlrjeOYn5Gg8
	o97Kr6NlgGKxVUjV3tJjBmekJJM0lHmeJdlTtwlcVV0He9Y8+xS9j+8ixCRzuYOkx6PJ
	OlCfSY0uwFEyxZ86EQM8XXw6u6CZrXLtFO7eJ18tsUpjEb13CpVOYnsOMtSJfWjFCABT
	SVcp/l2QVEJEvKhMYjbn/7j0umvguN7m1NJhCuc+0YnKrOhRoOU4fuskoWfs0mx9zJW9
	Xg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEZaeQW8ieEat1bXmajDkF0oDDjPn2a+GQ8mNboScYjGgYQlcurmtgCHBYxN5bxg
	7AIweim9Vhvf5cofM1ACw3hl5/MiVfgoDKMj1/o4DT5ZZU1THN/3xcyC5KK1hfNky/pV
	</data>
</dict>
</plist>
