<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	T6tzhjBlxdvpCylbku7Toqdo19ImwKhnhmAhIMTuvsfLrcEN4jwo6AhazGla7UNx3qBH
	8JnDlPYvA1GQZLKzmsHkVnGgFz/62NUiAEaZDoTFa7ivd7jTLaeX+d0qQLK6plN/1yXg
	fp9dL3CS01tlfE8oUGzb+ch6MSxNg4msIcgJwsCX5PGs1NSfg6VTDyhz1KCDo7ttSJPn
	+3VK1eQ4mP97ZJ0fb8ZnAC0U5qW5U8+S8krNmESb3GRRTS8STFTfUZOeylmzoAnTaESA
	zXWnqn381abPfccVKZpCP532yrnhzDMbZA8U+YnzOFSG44KnZ2QpB/QAxMd9YxbLhT4K
	HA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDsxa8+DC4X7zUOKkghgaegjbcMjG+WlOZXcosxL4biqpRCHGI7xzC5PiStEcGZ
	W+cCMQCeX89ony1BC6dTsTkjHZGoEXc87cTDTCRIRAUACLvUe3aHv2FhUXVlbP2v8KF9
	6Y0=
	</data>
</dict>
</plist>
