<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>4197377</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>ServerAddress</key>
		<string>https://ses.singtel.com</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>SupportedAuthorizationTokens</key>
		<integer>2</integer>
		<key>UpdatePeriod</key>
		<integer>48</integer>
	</dict>
	<key>ShowEsimWarningUnsupportedCarrier</key>
	<false/>
	<key>CellularPlanProvisioningSettings</key>
	<dict>
		<key>AttachMonitorModeBackoffTimes</key>
		<array>
			<integer>45</integer>
			<integer>255</integer>
			<integer>600</integer>
			<integer>900</integer>
			<integer>900</integer>
			<integer>900</integer>
		</array>
	</dict>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>Category</key>
				<integer>1</integer>
				<key>PreferredEmergencyNumber</key>
				<true/>
				<key>Number</key>
				<string>999</string>
			</dict>
			<dict>
				<key>PreferredEmergencyNumber</key>
				<false/>
				<key>SupportsEmergencySetup</key>
				<true/>
				<key>Category</key>
				<integer>2</integer>
				<key>Number</key>
				<string>995</string>
			</dict>
		</array>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string>65ideas</string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string>65ideas</string>
			<key>apn</key>
			<string>e-ideas</string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>CellBroadcast</key>
	<dict>
		<key>AlertConfigurations</key>
		<dict>
			<key>Configuration_SG</key>
			<dict>
				<key>Sound</key>
				<string>cbs_alert_us.caf</string>
				<key>Vibration</key>
				<string>cbs_vibe_us.plist</string>
			</dict>
		</dict>
		<key>GeofencingConfiguration</key>
		<dict>
			<key>FeatureEnabled</key>
			<true/>
		</dict>
		<key>SwitchGroupTitle</key>
		<string>Government Alerts</string>
		<key>DuplicateDetectionParameters</key>
		<dict>
			<key>DuplicationWindowInMinutes</key>
			<integer>30</integer>
			<key>PerformInterSimDuplicateDetection</key>
			<true/>
			<key>PerformIntraSimDuplicateDetection</key>
			<true/>
		</dict>
		<key>MessageIDParameters3GPP</key>
		<array>
			<dict>
				<key>FromServiceID</key>
				<integer>4370</integer>
				<key>AlertType</key>
				<string>SG Alert</string>
				<key>AlertConfiguration</key>
				<string>Configuration_SG</string>
				<key>ToServiceID</key>
				<integer>4370</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4383</integer>
				<key>AlertType</key>
				<string>SG Alert</string>
				<key>AlertConfiguration</key>
				<string>Configuration_SG</string>
				<key>ToServiceID</key>
				<integer>4383</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4380</integer>
				<key>AlertType</key>
				<string>Test Alert</string>
				<key>AlertConfiguration</key>
				<string>Configuration_SG</string>
				<key>ToServiceID</key>
				<integer>4380</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4393</integer>
				<key>AlertType</key>
				<string>Test Alert</string>
				<key>AlertConfiguration</key>
				<string>Configuration_SG</string>
				<key>ToServiceID</key>
				<integer>4393</integer>
			</dict>
		</array>
		<key>PrimaryBroadcastLanguages</key>
		<array>
			<string>en</string>
			<string>zh</string>
			<string>ms</string>
			<string>ta</string>
		</array>
		<key>AlertTypes</key>
		<dict>
			<key>SG Alert</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SoundIsMutableInDND</key>
				<false/>
				<key>SwitchName</key>
				<string>SG Alert</string>
				<key>UserConfigurable</key>
				<false/>
				<key>NotificationTitle</key>
				<string>SG Alert</string>
				<key>SoundAlertDeviceInMute</key>
				<true/>
			</dict>
			<key>Test Alert</key>
			<dict>
				<key>EnabledByDefault</key>
				<false/>
				<key>SoundIsMutableInDND</key>
				<true/>
				<key>SwitchName</key>
				<string>Test Alert</string>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Test Alert</string>
				<key>SoundAlertDeviceInMute</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>Z74.SI</string>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>SupportsUserBusyCauseCode</key>
	<true/>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>SupportsNITZ</key>
	<true/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>896501</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2017-12-06T00:00:00Z</string>
			<key>TrialEndPeriod</key>
			<string>2018-05-02T23:59:59Z</string>
		</dict>
		<key>ServerURL</key>
		<string>https://sin.prod.ondemandconnectivity.com</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>4.2.2</string>
		<key>MinCompatibleWatchOSForStandaloneMode</key>
		<string>8.3</string>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>SupportsFauxCard</key>
		<false/>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>VoicemailPilotNumber</key>
	<string>1389</string>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447937985220</string>
		<string>+447937985221</string>
		<string>+447937985222</string>
		<string>+447937985223</string>
		<string>+447937985224</string>
		<string>+447937985225</string>
		<string>+447937985226</string>
		<string>+447937985227</string>
		<string>+447937985228</string>
		<string>+447937985229</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>OverrideOperatorWiFiName</key>
	<string>Singtel WiFi Calling</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.singtel.com:10021/mmsc</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MaxRecipients</key>
		<integer>33</integer>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>WiFiCallingIdentityProtectionMethod</key>
		<string>PseudoIdentity</string>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-128</string>
						</array>
						<key>DHGroup</key>
						<integer>14</integer>
						<key>Lifetime</key>
						<integer>80000</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>ims</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportContextSwitchOver</key>
		<true/>
		<key>WifiCallingAllowedInRoaming</key>
		<false/>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>IKE</key>
		<dict>
			<key>LocalIdentifier</key>
			<string>anonymous@nai.epc.mnc001.mcc525.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc001.mcc525.pub.3gppnetwork.org</string>
			<key>Username</key>
			<string>0$imsi@nai.epc.mnc001.mcc525.3gppnetwork.org</string>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-128</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>Certificate</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>RemoteCertificateAuthorityName</key>
			<string>DigiCert Global Root G2</string>
			<key>RemoteCertificateHostname</key>
			<string>epdg.epc.mnc001.mcc525.pub.3gppnetwork.org</string>
			<key>ValidateRemoteCertificate</key>
			<true/>
		</dict>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>SetHandOverIPv6Prefix</key>
		<false/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>1048576</integer>
			</dict>
		</array>
		<key>EPDGResolutionFallbackEnabled</key>
		<true/>
		<key>SuppressSAInOverCellHandover</key>
		<true/>
		<key>SupportCallHandover</key>
		<true/>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Singapore</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>ShowVolteSwitch</key>
	<false/>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>password</key>
					<string>65ideas</string>
					<key>username</key>
					<string>65ideas</string>
					<key>apn</key>
					<string>e-ideas</string>
					<key>type-mask</key>
					<integer>53</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>IgnoresDeactivateOnNetworkScanServiceMask</key>
	<integer>131072</integer>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string></string>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>SecurityAgreementEalgs</key>
			<string>aes-cbc,null</string>
			<key>EmergencyURNs</key>
			<dict>
				<key>995</key>
				<string>urn:service:sos.ambulance</string>
				<key>999</key>
				<string>urn:service:sos.police</string>
			</dict>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE</key>
				<array>
					<string>Supported:histinfo</string>
				</array>
			</dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>NotFound</key>
				<dict>
					<key>StatusCode</key>
					<integer>404</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>Preconditions</key>
			<string>None</string>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>AdditionalContactParams</key>
			<dict>
				<key>INVITE,INVITE:*</key>
				<string>+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting;+g.3gpp.mid-call</string>
			</dict>
			<key>AlwaysUnsubscribeFromRegEvents</key>
			<false/>
			<key>CountryOfOriginationFormat</key>
			<string>PANI</string>
			<key>UseIPSec</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>conferenceServer</key>
			<string>conference@conference.ims.singtel.com</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
		</dict>
		<key>Media</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>112</key>
				<dict>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
					<key>max-red</key>
					<string>240</string>
				</dict>
			</dict>
			<key>RingbackTone</key>
			<string>AU</string>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>NafHost</key>
			<string>xcap.ims.mnc001.mcc525.pub.3gppnetwork.org</string>
			<key>BsfPort</key>
			<integer>8081</integer>
			<key>imsFeatureDependency</key>
			<true/>
			<key>NafPort</key>
			<integer>8080</integer>
			<key>SupportsCLIR</key>
			<true/>
			<key>supported</key>
			<true/>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>DisableOnNetworkError</key>
			<true/>
			<key>ForbiddenHttpErrorCodes</key>
			<string>400,403,500</string>
			<key>SupportsCFErasure</key>
			<false/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>BsfHost</key>
			<string>bsf.ims.mnc001.mcc525.pub.3gppnetwork.org</string>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<true/>
			<key>E911OverCSIfRoaming</key>
			<false/>
			<key>BlockCallsOverCS</key>
			<true/>
			<key>BlockSilentRedialOverCS</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>5</integer>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>RCS</key>
	<dict>
		<key>EnableBusinessMessagingByDefault</key>
		<true/>
		<key>RefetchRCSStateIfDisabled</key>
		<true/>
		<key>ShowBusinessMessagingSwitch</key>
		<true/>
		<key>ProvisioningData</key>
		<dict>
			<key>ServerURL</key>
			<string>config.rcs.mnc$mnc.mcc$mcc.jibecloud.net</string>
		</dict>
		<key>EnableRCSByDefault</key>
		<true/>
	</dict>
	<key>PushSettings</key>
	<dict>
		<key>MultiSIMTopic</key>
		<string>com.singtel.watch.release</string>
		<key>SAWatchTopic</key>
		<string>com.singtel.watch.standalone</string>
	</dict>
	<key>PhoneSettings</key>
	<dict>
		<key>AutoCallPickupTimer</key>
		<integer>25</integer>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>SingTel</string>
			<key>StatusBarCarrierName</key>
			<string>Singtel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Singapore Telecommunications</string>
			<key>StatusBarCarrierName</key>
			<string>Singtel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>4G SingTel</string>
			<key>StatusBarCarrierName</key>
			<string>Singtel</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>Singtel</string>
	<key>SupportsImsCapability</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>52501</string>
	</array>
</dict>
</plist>
