<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>BlueSky</string>
			<key>StatusBarCarrierName</key>
			<string>BlueSky</string>
		</dict>
	</array>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+6842588500</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>SupportedSIMs</key>
	<array>
		<string>54411</string>
		<string>544110</string>
	</array>
	<key>CarrierName</key>
	<string>BlueSky</string>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.AmericanSamoa</string>
	<key>ShowDialAssist</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>4g.bluesky</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>4g.bluesky</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447537410207</string>
		<string>+447537410217</string>
		<string>+447537410227</string>
		<string>+447537410237</string>
		<string>+447537410247</string>
		<string>+447537410257</string>
		<string>+447537410267</string>
		<string>+447537410277</string>
		<string>+447537410287</string>
		<string>+447537410297</string>
	</array>
</dict>
</plist>
