<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1M6PKbqk+7q3oSnYoJR/PQd0FwH2cTqkBQ01HxqQPP+8DxflRExqZuzGp6z2ssV7mw9L
	LTgxuoo26fgOH+QjPyLTzWEJQaElDmRETJiKj9RuAR677xtsjKf8fERJRf1K2detRujh
	dhZskpAvDqZH/WvZiyYfNC7zFKwNiC7Mj5sQgEcbc8wokQgFUC04LkgFcGbho562N1Lo
	icypqi8iriRjzhHYyibmnaL2HKqQgQ4zxqQkJVEemcfh8cd99U/2cKdEkfTExUpGSK1V
	VcjXtUCOdevjert8GGMp62OUxj7vu59EtChNKc/AL1jBGh72EH9Pw7iKOhW9zhHMc0XX
	PQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCdkPBBvAkE6xb/T1v4/2f9VuRDiUlAt0oBhlhUqFkzzn0FJ2SC1isI34kEobeN
	D+gCMQDihfgDLixfwnFUcVWbfBFm/klll5U32ChwcR28qrYfzdaroUtDya4THxkQyPd7
	B0E=
	</data>
</dict>
</plist>
