<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	NqYe/d8TgfKjatK6UC8mUWo/ineky0ITqP6gv1GpqAEdapW6w+nwVHVYTkCO2iVXrgJG
	THnIeDXhzBoGHFPpTE5gOhho0KGmTFSq7V+/3qUWdhR+j6+n8U/GfLBf6Jh8j5WRkiND
	wrRlDQrANlPGZUwOIwwdHIQmLqEglHWjIk5veuTwl1oS9t1lprm4IMm1VJlebOseHCTt
	cBPA61z+vayA07yMmCvkD7dbuoNOZxUgvkJNISh1jE5GYtw8F5Acp61G1PVtY20DXkum
	rZmU7ra4K0+kKMcmQtyoXOhSwxEzYt/kcFd3/EohmYvIQJubzbZHft1K+Sdom322wAWG
	xQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCAIhFb+mgMY2UOQ0r311GLPRi3tv2YQ4aoQIbznNh/OBasPdBr1rUmSAqeKVvH
	iTQCMFu2jmFsp0TnORdfLwew8TUgZ7y7vCjmJmokutYPu8eBmjVGq2gXMgPbCXQMJrd+
	TQ==
	</data>
</dict>
</plist>
