<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	cy51vRsiI0w+cdHbPNOwwUYLpm1gGnjBRCSGAInwhvuRY1xEHCWuc4h6Grlt7CzhN/qu
	U+LPS/avHOOj/6v2BcIAUP96Ctp37IfQp/Nl8r47Hl0m5SZJLIhUI0qMZSQxTBcoQrmr
	mxJyi9ZDCLSA7mCxsTbkwuYEP5fBYXqM9D6U4yNUVim3rdDU94iWNoqtNlO3cNzIAsRF
	u5vWrEeG/CPxl8cb+Y5//5vUHatkTpDWlL9Ju5wxP5ndkVdgW1tFBbTdSAwK3+dWCrZI
	6uhK+oDIE4jPoAmGLQQJ5T99iVLKyMOrORYaVDg8ZDyKw3ucKWj1sCtJNnAA5yNIVsHz
	AQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAcNfBcXeL2aOETzf9PumqRjg6d+/gVz/9JOFxHvVjEwEGqZNjNCR88jd5QU6Bur
	yAIxAIbhFFr6j0oBaIJrPDT9ibPt8uP+cM12yVBMzOLNWUNFWPZW9iPd+0Y0VJmPvUfn
	6g==
	</data>
</dict>
</plist>
