<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	mhvJC2UQCs1UhqxdbbuVI1UmykfpD36rQ1ROUaV6lEaHJz6xVXD5yKlmZn6rGqseUew4
	jm+ry28tY+bG8U2gWshCH097a/z4ZrjqMnqUjy8cxiulCOtgTdU89pEHw4zs0OkGlWLP
	Ma5rzWSQGDt6Iy1uTUh9X4mw1esI/a05R9v8wo3EMtz/e8WrpOtpRklvpCXd6zt+Rki2
	ul3D1x29YkZEQCLW8pFtb2/WzKTf9ozH7q8mZCpSTxMe+9lLAX9hbhRddQIWLZykb2dW
	gU8eZkIPZjWrGRcLXqyWHLCAmWIBlFd6+rTXBRX6n6twja+v+xbZPGx1mXjtlLCU7KVz
	8w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCkz6PZhNt6Y+Y9U35kwretpLgkSt0/T1PI92eb6W8Uf8cMl7VOpLQJ7oA3Ubaz
	ZVECMHLPkfSXWZtF8dmT5HUDJ0bXas6a9h6oqhIOd1IkOZsLpu0FeWa1pdpJPe6E+DGB
	Wg==
	</data>
</dict>
</plist>
