<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>CarrierBookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>HKBN</string>
			<key>URL</key>
			<string>https://www.hkbn.net/</string>
		</dict>
	</array>
	<key>SupportsNITZ</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>0</integer>
	<key>SMSSettings</key>
	<dict>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>*131*138#</string>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>HKBN Ltd.</string>
			<key>symbol</key>
			<string>1310.HK</string>
		</dict>
	</array>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>HKBN</string>
			<key>StatusBarCarrierName</key>
			<string>HKBN</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>45406_GID1-0009</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,4XX,5XX,6XX</string>
			<key>ReRegisterOnErrorCodes</key>
			<string>403,408,494</string>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>MaxUdpMessageSize</key>
			<integer>1200</integer>
			<key>IncompleteRegistrationThrottlingIntervalSeconds</key>
			<integer>65</integer>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>PANI</string>
			<key>RegistrationRetryIntervals</key>
			<string>65</string>
			<key>Preconditions</key>
			<string>None</string>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>UseIPSec</key>
			<true/>
			<key>AddAccessNetworkInfoToInsecureMessages</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>SendConferenceSubscribeAfterRefers</key>
			<false/>
			<key>conferenceServer</key>
			<string>sip:conference@ims.mnc006.mcc454.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<false/>
			</dict>
			<key>allowCSFBInVolteMode</key>
			<false/>
		</dict>
		<key>Media</key>
		<dict>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
					<key>max-red</key>
					<string>240</string>
				</dict>
			</dict>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<false/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>129</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>ServerAddress</key>
		<string>https://cmc.ses.smcn3a.net/entitlement/</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>UpdatePeriod</key>
		<integer>24</integer>
	</dict>
	<key>OverrideOperatorWiFiName</key>
	<string>HKBN VoWiFi</string>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447786205094</string>
	</array>
	<key>CarrierName</key>
	<string>HKBN</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>smartone</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>SupportsImsCapability</key>
	<true/>
	<key>CellBroadcast</key>
	<dict>
		<key>SoundIsMutableInRelayMode</key>
		<true/>
		<key>AlertTypes</key>
		<dict>
			<key>Emergency</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SoundIsMutableInDND</key>
				<true/>
				<key>SwitchName</key>
				<string>Emergency Alert</string>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Emergency Alert</string>
				<key>SoundAlertDeviceInMute</key>
				<false/>
			</dict>
			<key>ExtremeEmergency</key>
			<dict>
				<key>EnabledByDefault</key>
				<true/>
				<key>SoundIsMutableInDND</key>
				<false/>
				<key>SwitchName</key>
				<string>Extreme Emergency Alert</string>
				<key>UserConfigurable</key>
				<false/>
				<key>NotificationTitle</key>
				<string>Extreme Emergency Alert</string>
				<key>SoundAlertDeviceInMute</key>
				<true/>
			</dict>
			<key>TestMessage</key>
			<dict>
				<key>EnabledByDefault</key>
				<false/>
				<key>SoundIsMutableInDND</key>
				<true/>
				<key>SwitchName</key>
				<string>Test Message</string>
				<key>UserConfigurable</key>
				<true/>
				<key>NotificationTitle</key>
				<string>Test Message</string>
				<key>SoundAlertDeviceInMute</key>
				<false/>
			</dict>
		</dict>
		<key>SwitchGroupTitle</key>
		<string>Hong Kong Public Alert System</string>
		<key>AlertConfigurations</key>
		<dict>
			<key>Configuration_us</key>
			<dict>
				<key>OverrideDefaultDisplayOrder</key>
				<true/>
				<key>Sound</key>
				<string>cbs_alert_us.caf</string>
				<key>Vibration</key>
				<string>cbs_vibe_us.plist</string>
			</dict>
		</dict>
		<key>MessageValidityPeriod</key>
		<dict>
			<key>TimeLimit</key>
			<integer>1440</integer>
			<key>AirplaneMode</key>
			<false/>
		</dict>
		<key>MessageIDParameters3GPP</key>
		<array>
			<dict>
				<key>FromServiceID</key>
				<integer>4370</integer>
				<key>AlertType</key>
				<string>ExtremeEmergency</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4370</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4371</integer>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4378</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4380</integer>
				<key>AlertType</key>
				<string>TestMessage</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4380</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4383</integer>
				<key>AlertType</key>
				<string>ExtremeEmergency</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4383</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4384</integer>
				<key>AlertType</key>
				<string>Emergency</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4391</integer>
			</dict>
			<dict>
				<key>FromServiceID</key>
				<integer>4393</integer>
				<key>AlertType</key>
				<string>TestMessage</string>
				<key>AlertConfiguration</key>
				<string>Configuration_us</string>
				<key>ToServiceID</key>
				<integer>4393</integer>
			</dict>
		</array>
	</dict>
	<key>VoicemailPilotNumber</key>
	<string>138</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.HongKong</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.smartone.com/server</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>10.9.9.9:8080</string>
		<key>MaxRecipients</key>
		<integer>50</integer>
		<key>MaxMessageSize</key>
		<integer>1024000</integer>
	</dict>
	<key>APNEditabilityTypemaskNew</key>
	<integer>1</integer>
	<key>TechSettings</key>
	<dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>wifi</string>
		</dict>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>DHGroup</key>
						<integer>14</integer>
						<key>Lifetime</key>
						<integer>80000</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
		</array>
		<key>IKE</key>
		<dict>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>ValidateRemoteCertificate</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc006.mcc454.pub.3gppnetwork.org</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
		</dict>
		<key>SetHandOverIPv6Prefix</key>
		<false/>
		<key>5wiServiceMask</key>
		<integer>1</integer>
	</dict>
	<key>SupportedPLMNs</key>
	<array>
		<string>45406</string>
	</array>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>password</key>
					<string></string>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>smartone</string>
					<key>type-mask</key>
					<integer>32773</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>131072</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>ims</string>
					<key>SupportSwitchOver</key>
					<true/>
					<key>type-mask</key>
					<integer>131072</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>internet</string>
					<key>type-mask</key>
					<integer>48</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
