<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AY4v6i9nqfF+zX/T4MU4qMEvzWWGGPGXoOhvAZ8ur7qHXZESZpb8TPCcPTQ3083/iwcZ
	iA8R5KftfSoHhfy5gLVi/0uKk4Cv3KwaMfmor+Wi70CaiQvRoks+ju8VyVEfNBXvFZ//
	nKUyWfYVlMl5+sGYzOSCWPOzOhsOUOnqZXu+XimsSFj6ijN8IocfThDSqqDO5TtrgXv2
	T1t0wZnBqUuE9C+RPsr3gDYSexlHo4ke1aWEo6ncD7H2Tq0zMadVWuzjqYmNG05JbBBs
	jHdW82j0Rtc1HrWJnKsHoDoUJcrP8H4HsRFUsCZB89dgLpQhF99/gvROXBGRlemCiVgB
	Gg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC6ve25PLhj/UTmBGvsNDSiD1d9q5ohhUMS+zBavWamVZ3UFQ67g/42EOgFH5zn
	fF8CMQDXj6miY4IJOVgqblmc63F0wPqbrmYzpSKBwJ35QqIeqru8B7/5IYFTRjRNb9t+
	ndg=
	</data>
</dict>
</plist>
