<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1RHjXVOLX2xWjUZjiPjykvIiRNQ+HVPTiRTs7LO8bFqI/oCOqJi2zlGaxKZqFmUbMjbn
	oMtCD7jOSrqxWeM4nQ8v3vBCm4N3UwjNWQXbTn9ugjUSOPvXzROhO7ktT0oLkzk6oemT
	S+gMLpwa63OOiBDHMZZwtyylVyoFUOiFSHFhhpEcQMiR7+RVZhTs022e5kAbM6QfCgqs
	h3wXG3UfTxpDFM4rlnIBZo5cimqTW6tjvwZoSn3kJdVjrkp3QraoHRhi44znOThkS/4a
	bWZPPvROggGHmniwbRDK/8DymZNBwh5cFlRKi/xmBBJznSruPLNiAuIqbdjexp1e8/E5
	Hw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCk3J+n9jx8Qy39OVWpJ4RAhig6EOfSx6KvrDPtURMgDdd/5QccHakOxDChdMPeh
	TwIwYkMbCx1Uxnl7rKfFjWT6HEfZRkH3cQQomMsN/vNUpMGQaIbiwU6B/6ejA5TYyANt
	</data>
</dict>
</plist>
