<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	gH99W9VLbnh5RxnymHN4DUq73G6IqViMnu8shSIiLbp1v7qhK2At1ibN87B7dLfymYTd
	i07we6dx/ZK3CxqABGcmHP6XZlAE03f6LGdg0DMWgwau77dIfAdQhMTAlnuxruwX7uIj
	G96Km+QoE1RLIGS69s7Hbx5M4HOZVAb9TdQ9DT7ZcO4ee740Du5rD1B0TAdPGht9vkLU
	LywKBHp/avkQAVb+8fKHulJbe8m4TTwh1cRBftKrD0XX5DhX2r2sdBddoC8COc1a0SMX
	y/Ez3nymmF8YX3s8y+y8Oh7ZyqFQJoJyVqduFwUIWEedCs8VNTBIHi5avURtFdZTTuBs
	UA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQClOZeycOrLycnwU6UISG84neI2uIs/25kl/lJ+Pbgq9smpxE8AqggLFCOq75mX
	53MCMQDMHIpaUf+pvj3GvKi0IebjrENxesiSDa0S+ADpSECes2+0F5Lxba+5PZZiWEnP
	rf0=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCME/3B5ZoVbTGdBemzevxTRVEOZV9ugZjkeRIjrMt/2m2k23wwTP3rvZLtYQKVCFS
	+AIwB2EPlR2/cfQ2b8YshXoeJ4Tu+Df+E+Km9Rpnorb5Kz8GrF06WguGKUaXv0hT3tuu
	</data>
	<key>CBSignature2</key>
	<data>
	jxbT2Y0nRk1qtCD0ewTh2/y5sCzGapbL0m6VQFsb/NJYISj+UcJd0YsAf89aiZ3d1aa9
	Qsw68eH42dosXHhU70Bu0mSTup96No352b3IJXrDSvyGbhhZdxik47HAGTt+1X8Sx9h5
	TDPZI47gmsesz65Wft29jUdv5UnxyPlx5A1IR4lDX8q4+c3Y1PJgrrtQ6EDKkifCbNlW
	4/cFd4GlIv2HjDPhpPXQyob5DkFHCmNcuDItzwVgJdUemgqXibhGjOrymHKwrQZ6EFET
	vOQFRofL0pNzCWxBunPkq8wGRmozSRFh5CPiiTzsr7f98L1cMfxYZncfeBjodq/xJcBi
	Xw==
	</data>
</dict>
</plist>
