<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gIRRScG3fQ8UAammBsz85Ud/h28BfKbTVxs9D21Gh+KLJkgczyw/CO+ZTmBbCubRVBTX
	jU4rw/WoElVSk+XmHbI/zJ7gmW8VRwIFF3V7VBkUua1JrBKfYNMgIt0C+5ck9VkU1ltF
	yUX22D0TfOl4y/rCXZNJ/lqMoQsdAJuMpKq8cMejWPStFEpfIbZKU9/dBxHDV+gh4wms
	ZJ9Mna47VaUGuuN0v9Wp9bnnQZ0YJa4W4ZQ8O7/Iz6/xDB4zMN/n+0Van90plxDWPD6M
	c7nX3wIGRF17QhGMa5ox5GmWuvZA+xAJT3hY5C4TwPo3rHYvg5depDaNlEpWPPIh9MCT
	vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCxG+GYf5lZ1E44HFctyT8UeK0blWfzyhH8Y6HO4jSxRcQT/UjB09CIFQi6SEJZ
	ti8CMQC9R3JOPDSkWg5zg8SHJ63b3OQgubwPV4Z1hMqeJhx4Yk4RSX5zZjAGGsIjSQsg
	PC8=
	</data>
</dict>
</plist>
