<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	PwiohR+zv22qH7WOAWUanulvZ+S+7sGEtifHUuBDxVJ3bIAzjyk30o+6kQlmTnl7zxQQ
	BaxciFMjzYfZo44T8/oX2FKakAs35xGyh1U+LkF9Savh3Y//qHdBIVwg3CUD9QBVJnu2
	sGpEiXGIBR92HuPUauHdli8RnOjREmEgb8JQ/L72QcZVqkpNAj8xLfVdeumSp8N9NVdF
	G/fmNEKGBAWECuB8N6eOU/BleNDbumAMN68egZU68Byo7glfk7g7+lSHPF7HZ/SDBnM/
	2v4VYGpFDKo96F2EyWbgo7Ymvtv3r6iM1OQqWxdl9U6Pba1/XIg7ap4C1cchhShbnHMS
	Jw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCZPPHUXYlO63wXR7SFNHMjePiX9jdUTN3FtKynrPv2etw6yK8oBvXlazOn0M/EA
	hgIwPuGs3whR8chP4ypsg8Fa758ld53cihyWB+sZwRstiGOECHga7UamSy16U2DILKgw
	</data>
</dict>
</plist>
