<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DerPriFileVersion</key>
	<string>0.1.161</string>
	<key>DerPriFileName</key>
	<string>overrides_V53_V54_V57.der.pri</string>
	<key>ShowVolteSwitch</key>
	<false/>
</dict>
</plist>
