<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JsFKgKrG8uum2VLnmzNtjQvOMSqBDYaQxTtmUu852yWqyGoapgfc8kzAzPZmg5POj9ta
	7m7g6bJrusojW1px6ekvbMOx5h/tjKg71SloDAzT+o2fjJwh/yI1BET1z1WDkesWdGbV
	OX/SzjAa0u4bKR2jAPePEZkS87jixBafei6QKZo7Ia93D62AklUnbncEAc6+nSZSXQ+R
	xebo1RvEGf6TTVacAz/EOViNInnY4RJEI/CXDG/D6v9J17bn20wAbEYSA89nnn6Qvev3
	uMI+7i///mg2M2cQmYbUlGggGv1oueWKnTKXRMgm5cOYK43xBrFqokR5UhDuH6+f+KP8
	aw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCCoj9ZB17ha1rCJnd5IMwr+nZrN25UAnYyIQFphm4ErXs0ANHc0kyU9UzKn2k4
	D2oCMQD3zTIv1obmNbPTW0fTubYbs2BAQRk7/pzPGst1b0AiYN0vDcyltMbvtGTyVN8N
	0Vg=
	</data>
</dict>
</plist>
