<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	EJUgnaN/kqhXD5iZpaftLVcCe8AAvfU+XeYhMaRwAK3UWxdOQZeY71M7fY12miK3HKdP
	v+pBvjJW1xkiJm8dI5q5/ibVt122u5P+UluAzd+iULUJLM+m8Xa7yUN8/+gjK2E0t/EQ
	v5YPilLWdNzl1JQNSMJYjyFnuq+nMNMf6Lpe0TsVntZWrRb4x1yPpnByUyIFORG/DO2/
	fN7LdgOY/JRzhZ5w5EZa0zSxTiUtBIR7Bbh7d0XTsUHdEs3m64lJMGaXOzXvLkvqt7xM
	5amQjRXPiZJlu/NOUVEp/VPRKV53grW7wVevWxxOCk1BYnjcq1O9mpIRP1DQ/2VkFMrG
	cQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGJ+W+pEWLq1nVIZfCLYxDLE6jW9ZNyB9tz/LJyIz6YQukmEbD0jmFqimra3Myjv
	9AIxAP3MsofxRPDejCOaR+Ki7DGhmOoDkunetLkcXsADjK2wXgfi3RC5jeKJOF2JK1xD
	dQ==
	</data>
</dict>
</plist>
