<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4E2H9AQplQOIg1YBkrb3nSWMZEJeQeeysSzrN4Qn2Lx65d8D6cgfHjU1dd3NqVNwVcl/
	EQiEfsn6uNqzTfT4kqblOVUd+Y4TPnuhwdY0MI4lDHHV9cQPUxp8ATLOmZendkadTv2G
	xBPWeny4/yNlOHNYgjWcV1lrjPNt2w4FfKhu6O1I2868SMvq/7a+pxg0SsfQfnHY1G3H
	P9Jkis2jN002VF77fXoZwPQvWb9+GCa4RJlj+hcfLyece4t+dpbLKD1fI5rgTuuaXFB/
	WbmZ+WZzIAnB3PEUuuuIOdGt2k1FnX1x00XFVZDA6RRLMqgsYNdrVByGXETI9XfnfFj8
	Sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMG8Qj72efVf7BDVwiTtM6cbsrJcMy6yoC5z7RafqMFad+hQJ/DEzgb94iQg3i3V2
	vQIxAPWZPZsjKp+Xcwf47j9QU2Td530uyX7HOzTRvRKTNLbrJ2p7L2v2dqpC95HpX7Qw
	Ng==
	</data>
</dict>
</plist>
