<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QYe4pBzxkApC4XANuUDsqn9+mS/9c94FIAXaL1/iYNY97VHKRosjIgqRfhVfW+AiWjsY
	f0PAeP4wSYda3zUcQqLGg4EDfWSssuTVQ0+cpCa+vK8DJYFOkJEaZJiXKhkCtaBjTqt4
	2rZ0roVvrADfv/KMf6UmCbSovBwufbkkom/h73V19WY38/UygDwJLGLf6bsS/HpOiLpW
	nGW4bf1YKqe1okOk4EyhPZNU8usog2gzVaaI/8bi7D2ALwzQSEKI+WPjILbrkj9ZBo7v
	f2HNlPCP+iiIssZIz7hOzxVBUDDH2db9K09uEnjgQGn9DXhbkkeAnFJKFGhKQPzAESvP
	ag==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCqQhSPEFMWCuTOg989XKL+wbOEFTXqJ8ONL73eBLnxfPdZLtyruTAzzTEhMeFNB
	gQIxALnA3vlm388vxw3tLMDuF97aD5s+RkUy5pCBlI/PVYoppKzdwBtmVHATrnBkL6lG
	lw==
	</data>
</dict>
</plist>
