<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vQYTzaa/z7mC3cpKxAg0TxQoOf+zlanY6GJS1sNsgRhjg0KZmo5XluCaXRHaMWqNr75w
	5Pkq0G6stidMBb49uf7YihDE0tkY+ckXvxTHt1GOwv2TUy6Pm0sdK+F2Yva1oOtwsPPM
	weKvI3P713Gy95skR1KnShyWJ53XlaAlh39yoqTLUloxFD5TG1VHC1GaCxWCHhSOMSmz
	HgwjeyHlPh2f8bJbfhPDwD90rbndauUQLhqY+DhC/e66yQFGviiiLXhtB+kB9FbrcAyP
	W5PoGvCc0vjemH2nMppuPzN9gX2ZwFs/YY1ecdktSlBL6xpqEumu3S96wPvbRg/oBJV7
	4g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCZYu3z/d/0lkm8ZN/9w0E4fTUl6EERV96HhJDc4XApIgqKGf3xfM25Eglk8S4aV
	9QIxALkQWun/KORs9WEOuXXfxIU2Rmy+mMoiuR/yzFoBRQdxgwXNmL1ZVk/cGa6M1vCd
	vg==
	</data>
</dict>
</plist>
