<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	PC/BOenkU7ij5CChIXGt6C1Wc7VKd/b5ZnMwk7vzN5s+eJELqI+1+bbmyqGRqAj8cnTB
	wl0e7x3CDuqT19I11JAZ/Z7qC7aIWvSLBsnI8hk+WPCrfXjrLOT5Jkl0m83cpOYE8e1z
	XYlYEixAXBRuRb14Am2SqV1/oABtVOcYGSt2qrNQDfZIfypFVTpfgdrBCD2MUzebN49Y
	O8eHAwh+f5F4R0lsfvSJQGf70vy+fv07RpNchS4Hqjaz719jB3O+K5PrAXldNYZWzz/0
	UAnI8NubYHgG4lSDzc/F8c5Nd3bgfpjw6irgB+hxYFJOA+OiQZxk9I8+bWf8/3Etc2qy
	8w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMA0StJUs8O3SJ2Zuu524qG4HrKKp5+vzhQ6HqskQD080H73VyWrm609ypbvZSM8A
	OgIxAPrBUWDTHvFfSkoM/qL7Jy8EqI+oIeaiuCieoaS+bsY0qrYKDvui5kEGAjZC9PuI
	7g==
	</data>
</dict>
</plist>
