<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+441534555555</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>JT</string>
			<key>StatusBarCarrierName</key>
			<string>JT</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>23450</string>
			<key>StatusBarCarrierName</key>
			<string>JT</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>23450</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447537410207</string>
		<string>+447537410217</string>
		<string>+447537410227</string>
		<string>+447537410237</string>
		<string>+447537410247</string>
		<string>+447537410257</string>
		<string>+447537410267</string>
		<string>+447537410277</string>
		<string>+447537410287</string>
		<string>+447537410297</string>
	</array>
	<key>CarrierName</key>
	<string>Jersey Telecom</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string></string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>IntlDataRoamingExceptions</key>
	<array>
		<string>23430</string>
		<string>23433</string>
		<string>23420</string>
		<string>23458</string>
		<string>23410</string>
		<string>23415</string>
	</array>
	<key>VoicemailPilotNumber</key>
	<string>01534555555</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Jersey</string>
	<key>AllowAttachAPNEditing</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>pepper</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>pepper</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
