<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zjdaLFov2kcrwVgV/gYHfNXlAkIEif0k7LJSyKOf+wmKlYrNyeO3b50GVN3+JGTEJ1T5
	RwtPgbcQjRRRmsMyb9vhVyKLl2UP2vi2ILOuTO9jDaZx2vB4C5YQI3YXqkaoRFjVhOyC
	spbp4byyemQ2VZyW4yMGYsAX1GvGBXU78Fv6rxpU8PvrzJPJ2ePbdk8I8XhS7PQZtIGJ
	+v6e/w+CNvlaZxUSZ4lnNvrsjASmcUWWTLSx+FmFAeuCjFqHa2eQAS4PNR/FomF0ZbDA
	p0Czmbx4PZFPNNy+n9QtGwv5/3KHsGG+7NLPRds+hIQ4lDjThVY6yKsILCuUi0Hvh0nh
	xA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEj2nzDQxVxGQviOl7LJH7Yr8nEZu6VSi6d8gQQqP3ecZ/gEOEKHR35MMd0+nNAA
	vQIwDDDATDbrFaubU7tkfGRfnUqe5jWpH+6z2tRcHQi36h5AtCt86I3UnasXM40IUo0T
	</data>
</dict>
</plist>
