<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	aXK531vxDN0X1175SsvoPv/UXFgMsLzK0CYETvygQOcrnfzNlZ8p0iCZY3T7lnXYNmrb
	SJ9jxAeFzYWNuqa/OgVRlitGFDCScPg3UaG+8ymKC+vcUGzGXvQgFLWVQgLUDwqEp406
	w28/zhvogMBx2GLLgaHrVf7Kjk64Q4cGykXbccEVlnVwRXN96PvVbFF384O1arPExGVL
	mh/Yzb+C4o9If8YzopcxEKGOr1TrCbjgsTPUE95JDjnRFIe3PEW8yXTo9EH4XVggIv0S
	JLX/OLJyiTvN74811cRgeUxswr08qVD/iUniQH8U1p6pJbB6D9w4XFuVyhsZ895Gh7h4
	1w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDy7HvBUy2wchHqFRITqAc+RavdXynUiTcUGT8gVllfwWMQNTnxuIe8LEKJ3VyT
	9noCMAm4FKj7iLU4YzMsONejdA1fyEwT3AJs0AwF1+Ps96gfR7k580gbeRHAICahvN9e
	kw==
	</data>
</dict>
</plist>
