<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DDoUrNeS8h0O7CWFQ4jnwWrhUH/KjJQVpoXON5VCdX/yxpwyKhjjkyQFynyL4I0dXLSF
	lfHa8ZNGYw6+YAweVvqJhUQ2plyklEeYGwdmRYczt42qo8cu7Xq+GA9RutQn8k8k34DQ
	yB2k9AKGc6DY5S3TU36Tu6rXgrp9qLY4SjQ3HvOTctUVSR/tECYZTu020eMxFaTeUU+g
	ATzlCv8iQUaLCIX0cS0ys5H775Zu6DRX82viFm7OUWpFTEba2v+u+j4WYciN4VGzxMRb
	Fj+5xJL9WXfD7ib6SCkAagehQlPT8RkU3Gy11x5HvnJoDVy9H8qB9h3E5EX7hkY5o3fx
	bg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCa7VyrCX6wmYqhlgP8zwc6jwWiAGVc23nRNTzUmcS5Ax1jT13TCHj56yCwbNPx
	Sm4CMBLKK3cVh8AhHtqRgPUf1Mbm3AvIYeBHMewNWgpF4hRIHqqbvuMNpCc7LX+1d05+
	xw==
	</data>
</dict>
</plist>
