<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vWqOz1QfQe49Ck8Ciqbf9QsMAj2sIZDX+/YCpZsZbhSzgqiet/K2F+/JN2bdsIIYv1Gz
	MPramwNdH8uSixGZmEOcU3+pmA2ZWdQwlfm9kgkqxM36BqWz4d+le5vDoJAt4czAUwNH
	FZVjpteTq+J438SrnxPg2YjQtbIbMJlVCeGKo5j3gKwbvx/MXRGeA+1CBmTO+XfbeGah
	obg0semskHiRBX20cYwiWtPZAf8qePiPeyYWIWStQU358xztg8cPvb5JAXfXNaPaCDs2
	rFvNO2seFol7W472EOi0k8L2qvhe1V2JKw40EDdBjj4D1gak/hvAwjQ2wY2kkiUA6ZdV
	0Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDs48rtqxR+AVy9LK9nc7vAoxnKnTgW/saglXwTxHFW+8FAZfWu2Iv09R0ngrlV
	wv4CMCiI2A4C/M1amKE/nr0y6JdTKSd5wcJ9aEbrEMYw8rqQgcZ6+6DcPrQWs3b0fDab
	yg==
	</data>
</dict>
</plist>
