<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Ma1ho90iY+WVabzcolEyjrl+tGsj6a8tYZuhJ9hj/o8YR0E66vTCQ7bJkRPyPOlEuxff
	7fB9b+MvsDE1/OQarUC6RCp2wXm7ws6IUubIsDd63fdpCBmUAqwGxEK49Rgr9V5I0vAa
	EveMeSgy4LBBmNDoqdRaGkvxK7HkSHdDfaF9wvSc/CjFaoPOeCmNaOrkCSJzDuGSXaNY
	jGAeXdVeQHMsoTCVtkaCy5cHogQwh8wB/Qm56hYGYNgyrIlNa23aC7QJs8SL+cWp1+eZ
	5kvbnSFiYWYvdf+Uoze4sSoA6U12rL9p+8g21Caynpfz3iGJnsJHp0q8SfzalsvqZjni
	4A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCCK2XZRIh2z2nQlqpqvnlHysPdkMCy//BO4mq2eBxwGOJmnEzoi/XdWeoheoyqD
	oAIwQYDCv14uWYF68BvALkpAi8wI9aiZMskOvF9GzQWvUWXAiQMeziYd0n8rbTV0IU4o
	</data>
</dict>
</plist>
