<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3uuDTy3T6e69VKyG/nwRipE4UccZZ2d806BnPJ+6c+oD/P4CL99Ny+ak/fdAOWiT4aXs
	EJO4EOMwC3sov8pcsJghW21rNlXPlX/aAphLuAjcsojyJxLGvCF6f1Dgyyc+G96n5CHX
	neVD4cElMYuEKMOyKP2Y9a0ZPdtoBl1Z4CewFDZkxKrofJBd1X36gANlt/XxiTzuqKDJ
	p0qk/xKhnobAJ9uToanl7Vc3umFxPfBJWxAx4uMCkqBJKzyG28TYmWQ+WgsOAiU7UI8K
	fKUL4zZKMbs3HMLAW18sc+tJBXNAVoYhIlu2lVhPw7TwedRgBZRZbnNkhVNJP/5LPtDl
	9g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD08LnXh4RuNp8v7RqjgPnrcpUit5/5mCnJdPz9MWEbYqXqpTWDmNEXN5ByrXWF
	i0cCMQDQi9rByf2oZTRpJijBa6fSWmTVz/YvhWjaBAi6TZTq4tp8/wDWfZpNJPwC/uF4
	vLc=
	</data>
</dict>
</plist>
