<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	wK9QOmpt8JYTu/8eZecAXmauTEEJMjpgjRtNadKEMxc3D7susd4xI0YJrAMrZvI8+4Ni
	Fs6ldmpIHHAvC8t1SBf3eWT8P5kKzJoYI8C6TmqTDDK60LEA1DWQBUtVhy+mVCwFlqq6
	N6L2+S+PBHPY22T1leMGr077OVEVcNlXqZBrFyeFfTguZ+eaGcMwOVCoCHJgP53k9MGE
	NBssJkPuTZDX9AMOkV36Eyv1r0yZ4o7GmISa+UWiiC3M8VOAnBIm88kCJ8Ot0Gh3hzQN
	biUbmn+fqpoLEnHKcdZxHwFesvSgJ64tEtMl9T/mE+pfYqDMz8nCxKkSvKoXhcpXdbLk
	bQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMD/34N7j9SBj3+1DcyYqQ1lD8iCV+SzIif7gJ8WgpQW5ZeZrmCaoadM2FrToQt9A
	lAIxAIt5e8qrhmW/qe2dLcOzFNWzYlBZoLsAgYmYcTH6CAliRQMM7emFqmoYacm87g+O
	xQ==
	</data>
</dict>
</plist>
