<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	MuZ51Tb8YSjL+Z5sMAK5/Y5y6WtN+OssuF95fpVL+8Xa/zR+dbbpxR7x1EWZJiUeJtfi
	ZfhfCbKWZjWSHPADL25Pqeht9oTOgrF/mfpE9vHNeF0GAksTKQoevA2Qh4dFhyHrOMVn
	eDDiW2Pxyqa3Vu+9Z/x+kfsF2FptnxRXeIQPWB3mF18DuEDlWYZZuRMcsjMZcJh9n1vE
	FBBnOS62IRXfEUfPtndYy0N6zq4FNUmXuTbJ+GmiSh+P3CLEuIBiinyaItXn97XQOCkE
	ZnYJc92h2MCJZlLWPKMjOuzw7Lk7Is84lDyWlzK5bCwJNjPUY6PT9IFbKaq3oCw38RJt
	Zw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCL18Hgz5wfgFsnzEcwzUuu0Y3XsPFmWasZa3jXf1hHsvteuMZKjnDeRxcpF7YVv
	SwIwEsrPJMx0L2ko3vqm8auc6KcNVrOxYfqARbPQFPdojZobpZ9FBtrsmU4OaOaER3KA
	</data>
</dict>
</plist>
