<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I4qXzS1NTPTvYAa5fkGMXwCJZYE6xZWvAchrtgRbZ0VRjv4w9NjT2FKoWjnfekuTTQyx
	eH/bDByQ9SGCC/GywSwrbFwkRn6tJ2gPNXcJBwW0VVCAGLCwuEPbpg5PZXYLJDEgWFOH
	Do0T8Nqu4c55fm4nphTN/dAXhBdxxS+jxTNr+fwb79+hWa7J6RAs86vxjb7ge2r6pFUr
	Pqc2D9JPzHuMvPXv/8c0V0fjj6ns5vI9Xr1Qvi49pfmR8BWeEgETn45h53Ew8ZewzJjD
	jVjUFC4E7PSOsMzTnyhUEx6CudLtqwIXFNreKt52+Uz8E3q74c/S+K8AvBRcLLc0HxjI
	MA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMClukKDwWu9x7dwL4gEzPMn3HLG6yN0HzF2ittdA5kejhQ5mbDOjHhwGQbnpVnjK
	NAIxALHgpYLOobrkcmW5H0+EclFbpziND4vw4Pn9FztCVJsLU/OBLmvQ8kLEtRQ6yCjB
	nA==
	</data>
</dict>
</plist>
