<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dHxmWkpUGunBeGoQRSTDglMdFmL3noAs2HQV9QpSCbv24KbSeZ/Ya//nmjJ30CiwZzS+
	81H7XhfJV+HK5VzZK4de+1RIQ99ZyXezPwjVNhaFVa/Jnvw3IIse069olhyTv3zdlD9Y
	RJT4uuL2a6KHCgeTQlK1Ks7ZncDmgBENcXounRZpFQdSWMuqc7tBMa18EdPclR5ry3tb
	CKruI7804AkbUAz5CTJYPTAhH3lqFY4xGTsHzcR8ST9VRHOp58DruG+/ph2ojUvZQ27P
	ItQdnTqB6gwSCkv3KDBP2zIPyqsYVegZ2sYHHqszgOUvHzwuyPp3b8j5GP7lnz+cwkBP
	dw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC5gH6S+ALMMtm+js1RWL0fDvOZS5e4Mh5Gz5EkjAvufyxXeqf1aUJ4P7XCvYBS
	ldoCMBg3jZoh0MriNJoD9OBCinEiepasP/oUWZqbyKyhJ7RvPVYJbqKimRzQV4Sjcotv
	sw==
	</data>
</dict>
</plist>
