<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	S1nsH0FHb/jhIjOZ/3Dp80HQr1E0P+wgi3chsmoHyEbK/IOJnATdXwZjF68aPpioC4dC
	6sX52T2a96gr66CYv8Zn2PAFHJm9Ls4KhgnzofTjEpjiSzXFh5tn1wCIMnXgQmminhEZ
	0/e4LRABRmbLMNFO9dUTKa2vBQeiVT2FarfIDXYphdofGmsDcxkf7LaeDqGoWRGGtMLZ
	PBjalDa6ljeG1++WOWxgUjFVJXU7RTHX6y3cwzPpPoZTddzfyM4P+e8+aaf+fCyhtQHM
	iOejkb5aNtta3bPY/Ag/gCK5tyxbe3Rx7xWK31z36JV+7PtiiyPDzvt2V8XDw/79N204
	wQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD8a9y4Gzr/D9zr+diSnroRyL1GMZ/4nKpZHvHVa8bzwUw6NktbfiXQKxTjgkRQ
	kBQCMDyE2PK9nfOBoR95MumYjOjKtKYmjQTBVhOCuXUZJUrZ7ujBVL/99ZZ1peUhGDm8
	ww==
	</data>
</dict>
</plist>
