<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xZPpaoCnVEr2jmZUVEctCwBdrGrQo5zSq1QPs72tNyE9J16ijc0iVSe+wtD1KlmqOJTN
	QrHgwDx4ptwK/4ANiYGNOJXHyN6mgvwjOe6JoBbqvOqkfyWuG5Gt2Pjc9wZqSEZkVe9u
	rpsHyU+tXgZoeM43r57V1G6rDs+daNWUvvagLArf10fg7ssdbU2TOvC7BfmmXmStDkWc
	gyAFDsIhxFJUugEw/VcdJeo+nYUiWJmXbqa0YUFt4QpYkLD0ueQ+XqVXG4pM5MowlZE7
	IXcponGwzQSHTUsTpiYyQGt5TKpqIiE45KjOBNifowx85aRWut8RyvoctT1SWRflfaOR
	cA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAJKC22IFiK6gjnD55ZzwKs6mS0viBTnHbkphFFZKYUM+LLdd+NbbfdF8sFVHNWh
	3wIwfJK2HL/rgzPIGdm9kS5v5NyUwWLUgdK1XHmuVxdPX1GVkuT6mhW0yCuEBCiVJZbS
	</data>
</dict>
</plist>
