<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0nLolPELB6nErDHWf4LK0B0l+BClGXcaN/rsrAN6vLnmz4Xm79+vHiqFS2L4mbs7PCXg
	cA6KS1VergFTF/6QtINp2QhLtc71j3FmiMkzjdde/ATx4Hxt4f34IyX9t89m8XgAB38W
	2f0FczIkESBQ3GqOaK69LcTefl49puD2gq+bNzxNablFt08WdzFQxAr4ju0rVTqdo+yj
	GmVZIHBtuncUrEzmniGiz1Rd75uOg0IV3R8XfvLrMm3SBR72YwNoHE+Jz+Q+T5KinoWc
	gyXA9qz96ddxxeAoWO64PF3/14SKqp42glC6Vfyup3AJt6A2FyxhmuTq2URKdua0GHKy
	zQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGCgzxzXgS2fuugdLjxJ42UPCTpi+P2ZkORNrX7wlPg6WixPaBNLyzE4EgBJZhHX
	pwIxANLpVmgmOb+35TMZAaHQQbkGsDiHkDG6zOd7H4HuU/dF+K9XZRrvR+eGUN83Sn4A
	Rw==
	</data>
</dict>
</plist>
