<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	z2sm1TATiFhE2iB5TwDjnCU7Ixm6jWpmeKnI7nadJHytFFpfvdJpTNypPrYBbMfl2MJS
	4a5wz07rD4INsDltzmX6qTcuJgh7scIAyDyox15rCInKJG8QGsEibLBGtJQMp7snFpoP
	dG7TJEywOwCGg0vz05b2g9qUOMgb2L0h83tlqlNDG6PnMetQNBnoSmH8ykjpDLXqXHnk
	kikcyoUak5Hp1CKE+K/3sJrGg1JMQD+R78MM5AoL4wiJxDfpSLYf/e78nRrR072iOLkg
	MdTK50BsHZPK4eExfgmaROEbQdM8p5fb+o/PRzi0abrRSr7ke5DUucWWseLRRlUiPLIv
	zA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDUWJ7pdqTEEyXMODMiHWTi0iGfeTwMMteqNLsSqPRbnP2aFFSAEbWwecASKV5/
	fdgCMQD04d4i7MyrkJ0x3fyKJi/BM86dMaMG0kh0920MiGQixule4oZcABMWitxKPk1C
	0bE=
	</data>
</dict>
</plist>
