<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	MOzdV7UkfYp14VNhYN8siUxOOOSRCdxog/ni/q3KvOF74LoimKvNxhRupeTI/i9PxU9V
	Flk6dtBUmiuyQCV8Wgwe0mY4UyldqvfLJyA0lHqHPd/XSadRitarv0kB5FkTvGdznyux
	SjdQqsJqZ2kSDgJgma+GrD29xseO4L9RyUAMi8f0nfrO9Dh4CCZSPHrzYfZhKpAZ+t0j
	bwFZneEqXPiUP6s4Jf+4Z9+VhOqIccJL7SaQwi0Im4YhFb71uXE3BKdVKBZDmhKLCAiW
	jLvNyqaQov55aP13d42We3FxsnJST35MzZI/mKWice1Ooa4cnBpnaL5tgrtmWH481g/b
	YA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDJrb3OHJWFhJjWJ5bu2I3C/fukf3tZx9kWqI8U3wtL6KUGQ0LcjeeyZxUOFvaF
	wSACMQDAuUEX+ZXh51KXLRcEi4kf96X7FrtuU3QOWpiVPftkiAWZSPteQky153nWad1S
	tcc=
	</data>
</dict>
</plist>
