<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	mQGa0/yFhvmE/u9n7JuL9hO60buWIJPfe/6gb1blvtpRBgWBnPOsoZd+zGVk+JirRz7t
	gdsqJ+cpFdCNxL48CsEXtVWVupNcNx/JDEAhVNZwQEt3WIgStQ+HW+sgaF9C0oGQHMF1
	u/RP2kP1lEd0Vy+fz8AfJV0esJ0p79ZEfbVv9LPjM+NCjXINxgfba0nHrY7/T3i54q87
	5LjzH4i8tELiBz/C4Wru6hmm6CsA6NfzDjeq6JEXwlNJAMX9JV61G7BYBDKfuKJzUO7g
	5wigfnai5DrBvFOXZywz4Gy/uzl12wM7XLvpXo295gCoC2eN2EeYCaLs7qc7jNqm6YGr
	0Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC/5Eyu3f3egWDV0t//+5CVPpG4Ms1iKNvxe6OULDZKgkKlNVDSdUWmNHH1LDnp
	5UACMEr3lGr91+yfsvgmFpC3kfp3s0rCqq9VUEddxK80UKAsvoqT84xYkM+1MPksltn6
	Cw==
	</data>
</dict>
</plist>
