<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
		<key>SupportedEntitlements</key>
		<integer>9216</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ServerAddress</key>
		<string>https://api.stc.com.sa/a-iot/degEntlMgmt/gateway?apiKey=VGMLrNXbSwFfhy4Z8sZa16hsryu7x0bU76KsH8O</string>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>SupportedActions</key>
		<array>
			<string>TransferSIMService</string>
		</array>
	</dict>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoamingUMTS</key>
			<integer>1</integer>
			<key>apn</key>
			<string></string>
			<key>AllowedProtocolMaskInRoamingLTE</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>symbol</key>
			<string>EPIC</string>
		</dict>
	</array>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string>stc.prod.smdpplus.stc.com.sa</string>
		<key>MinCompatibleOS</key>
		<string>26.0</string>
		<key>TransferSupportedOverCloud</key>
		<false/>
	</dict>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>SupportsNITZ</key>
	<true/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>8996601</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>TrialEndPeriod</key>
			<string>2021-05-13T00:00:00Z</string>
			<key>TrialPlanType</key>
			<string>FreeTrial</string>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2020-12-14T00:00:00Z</string>
		</dict>
		<key>ServerURL</key>
		<string>stc.prod.smdpplus.stc.com.sa</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>1800</integer>
			<integer>3600</integer>
			<integer>5400</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>7.2</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>VoicemailPilotNumber</key>
	<string>955</string>
	<key>Show4GSwitch</key>
	<true/>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447860015060</string>
		<string>+447860015061</string>
		<string>+447860015062</string>
		<string>+447860015063</string>
		<string>+447860015064</string>
		<string>+447860015070</string>
		<string>+447860015071</string>
		<string>+447860015072</string>
		<string>+447860015073</string>
		<string>+447860015074</string>
	</array>
	<key>WatchCustomerServicePhoneNumber</key>
	<string>900</string>
	<key>OverrideOperatorWiFiName</key>
	<string>stc VoWiFi</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.net.sa:8002</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>10.1.1.1:8080</string>
		<key>Version</key>
		<string>1.2</string>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>MaxMessageSize</key>
		<integer>614400</integer>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>WifiCallingAllowedInRoaming</key>
		<false/>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-128</string>
						</array>
						<key>DHGroup</key>
						<integer>14</integer>
						<key>Lifetime</key>
						<integer>80000</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>ims</string>
		</dict>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>EPDGResolutionFallbackEnabled</key>
		<false/>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>WiFiCallingControlsAlliWLanServices</key>
		<false/>
		<key>IKE</key>
		<dict>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-128</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>ValidateRemoteCertificate</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc001.mcc420.pub.3gppnetwork.org</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.SaudiArabia</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string>JAWALNET.COM.SA</string>
			<key>type-mask</key>
			<integer>32817</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>131072</integer>
			<key>AllowNoDNS</key>
			<integer>1</integer>
			<key>SupportSwitchOver</key>
			<true/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>IMS</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>mms.net.sa</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>IgnoreRegNotificationContactExpires</key>
			<true/>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>TriggerCSFBOnSDPError</key>
			<true/>
			<key>UseOutgoingSipUri</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>ussdEnabled</key>
			<true/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>LocationForShortCodeCalls</key>
			<string>BOTH</string>
			<key>WaitForRingingTimerMOSeconds</key>
			<integer>30</integer>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE,INVITE:*</key>
				<string>Feature-Caps: *;+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>AlwaysUnsubscribeFromRegEvents</key>
			<false/>
			<key>SendLocalTimeZoneInformation</key>
			<true/>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,5XX,6XX</string>
			<key>IgnoreFromHeaderForSenderName</key>
			<false/>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>DropRegistrationOnSRVCC</key>
			<true/>
			<key>SubscriptionTerminatedMeansRegistrationTerminated</key>
			<true/>
			<key>strictCallFlows</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>130</integer>
			<key>AlwaysAddPrivacyHeader</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>NoAnswerFromUser</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>19</integer>
					<key>StatusCode</key>
					<integer>480</integer>
				</dict>
			</dict>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>DropRegistrationOnAirplaneModeToggle</key>
			<true/>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>30</integer>
			<key>RingingTimerSeconds</key>
			<integer>130</integer>
			<key>UseIPSec</key>
			<true/>
			<key>AllowPCNIInAirplaneMode</key>
			<false/>
		</dict>
		<key>AllowWiFiCallingInAirplaneMode</key>
		<false/>
		<key>ConferenceCalling</key>
		<dict>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>TreatAllNotificationsAsPartial</key>
			<true/>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:confuri@fmc.stc.com.sa</string>
		</dict>
		<key>LocalShortCodeNumbers</key>
		<array>
			<string>899</string>
			<string>906</string>
			<string>908</string>
			<string>981</string>
			<string>987</string>
			<string>990</string>
			<string>991</string>
			<string>992</string>
			<string>993</string>
			<string>994</string>
			<string>995</string>
			<string>996</string>
			<string>997</string>
			<string>998</string>
			<string>999</string>
			<string>1700</string>
			<string>1704</string>
			<string>3708</string>
			<string>9111</string>
		</array>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<true/>
			</dict>
		</dict>
		<key>Media</key>
		<dict>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>InactivityTimerRTPSeconds</key>
			<integer>25</integer>
			<key>RTCPIntervalSeconds</key>
			<string>5</string>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
			<key>EnableRemoteRTCPDeactivation</key>
			<true/>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+966504000000</string>
	<key>APNEditabilityTypemask</key>
	<integer>1</integer>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32769</integer>
	<key>PushSettings</key>
	<dict>
		<key>MultiSIMTopic</key>
		<string>com.stc.multiSIM-prod</string>
		<key>CellularPlanTransferTopic</key>
		<string>com.stc.eSIMTransfer</string>
	</dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>*62*966504000000#</string>
			<key>ServiceName</key>
			<string>Voicemail (when unreachable)          .</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*62*4000#</string>
			<key>ServiceName</key>
			<string>Mawjood (when unreachable)           .</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*62*5500#</string>
			<key>ServiceName</key>
			<string>Call completion (when unreachable)</string>
		</dict>
	</array>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>STC</string>
			<key>StatusBarCarrierName</key>
			<string>stc</string>
		</dict>
	</array>
	<key>AllowsVoIP</key>
	<true/>
	<key>CarrierName</key>
	<string>stc</string>
	<key>SupportsImsCapability</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://www.stc.com.sa/</string>
	<key>MyAccountURLTitle</key>
	<string>stc web-site</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>42001</string>
	</array>
</dict>
</plist>
