<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	kumLw7nDO4p9AZA9USl1pDVBKKh0Am1mitTfHE3q1oAFReDn3M6fcslbfuyxyJJDb0xQ
	5/XmbPc6DCPUkyCHftA5KyWx6mjTiq9jNBn6fDiowjvoPT+cDaAUtQQTAMdqAqSwqmIB
	+gXN5MI8MjZFXq/B5gK070AVkxkKzj/VzMZobzaTJBjXq27S3DvEP+6PUtgzR3JowfBs
	n32mhkk7G/ZhsJ0WFY1qF/ezPIDHnUoCqWte2DhK3mKricJ7jMw80kccuMT6s8IHVY8q
	9sacheCItPvvTRstim+46KUpu+wkqTxWgmXm9C0ybqhmM4XHQ4guBUg5Tkv5sb2p4Cvm
	Pg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDC1C7WFa9+/errEWf5vS+C7oNTbuxE92aMUfU+DvDCn36Fnyc/c4aJu83tab2P
	AH4CMHY+/HiXsCalZhTe3z/LlXEYLLV4mY/fusVcOhLEn+EGsthzrXjQwMQczQifcRAG
	Nw==
	</data>
</dict>
</plist>
