<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6ca5SRmLMFSnBLYMUS5dSaZY/mRsX+e+XXAz122Igpj/oAzbDjwRJ4j8MDw2JSePq7k5
	u3+dnq5mwDyoEMMAsgPdDRYb7MX2YMcUQOwGdHojkE0aKxBgeHZ65KPjPfVA3aXM8fEX
	Sonn2AseLrwnrlHserbHkxDucndGrlO3D30Y/462C1wPMR4EDUvi1kMGWde+wHZCWHFr
	SJ8hm+TA2XkagJAOev4lGdnR0jJ77+qSQpthzoR9K9rzO5Vmc8eLJ/AXwMc2969Kw7x+
	Lj0SLejj67b2aLYBUla63L8+mo/5z6qax1/nsKUpVWYh8dhKfCInuG1nisKZAbEa9GbD
	hQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDycRh3tXUv1TB636AodQAwOcXISh5O6ul9wj7VuHMaLnErN0hh0psU2b4lewHCq
	LgIxAJgrW/BjCFqEGCk01WeE2muY5YE5prXGyrhodcdOHjyCPq08s/G1tCk0DY1/BjGF
	Rw==
	</data>
</dict>
</plist>
