<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LdAlSIa2UzlIXi9PEe0LucXFBMPr95YHPCKtOioVx/nTD1cRs3Uf9Vdk6m66mc3JFOCU
	7QgZMKrtgk8j9KcIncck6uHyR3vYivxKFOWCYffvSav5TuMCtfgvL0jdKdg0uxtzr2ie
	/a4g7U1nn+EachMjy4ngRbkqS5elzGHA0OmDtxVJySo15MJAWygn9oc1NYp0QHrIB8Xa
	14fVBkmdilbIjhVPeLkCM8YVb/h9YDraLgpJzNHatZBkZM8tFeKiZc4Pm3OO5HIFubsC
	FPETURbBCIGX1bUyWb5yctmhMzOt22V3Yil4X8vBwbhLC42OerbmGP6z+iUXkXAo392k
	GA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDgECogcS8DcRPOU/FARNJ8bYQyTS+FGjLwNJGhzS5LywO/PSLBzDqgTEZfnZyY
	87MCMAhfDHnY6wW94E7IsuVcRGOencme95pTr/xbuWFMM5+Eb9OvfdWxjXgJcVfeBgPP
	qg==
	</data>
</dict>
</plist>
