<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	05og2NKZ00ltuDdgnJw/xGUexkIx4aNEVvZ80QuBt6KEtgfE1ozpFm7mbsllANTGdeM7
	pBTjrwRJRLY54TWQVi2S8B4wjXaW4eFLhz0rIeM5YYRiRvKrgzYc5kUZdIMpGIkUO8Q7
	OikfLte8sj+u5sRuXrI+kLJlDRm0mD/F8ZAGeN+OfUSX+OqbiHiSLGTHOqd0Ei4c3Kjk
	4u0MsdzyyJZMgmqm+IpEm9YdpJ1Obng49JgQFbJGtDkutrXVdxYUPTHgw5tnerznOxLp
	/bSbHNn3Zd7LbBB5vP/HcOB494F/oPhrolKOA27yMT8isdVAICwseUAml3Qd6pmpvW8b
	tg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCoN2YZMFWNqdeArHZ8YdDcMfmgQbb7uPOZuK829BrYqAeCBxXziargNoj+/yma
	VdsCMEt+lF0cg3H95euhaDxzSWMYsaOasXhyIgLFM0ZYHrNVBY37bvNNyb0f7ROBeLaC
	Eg==
	</data>
</dict>
</plist>
