<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>CarrierBookmarks</key>
	<array/>
	<key>SupportsNITZ</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://www.tigo.com.co</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>MyAccountURLTitle</key>
	<string>INTERNET TIGO HN</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>TIGO</string>
			<key>StatusBarCarrierName</key>
			<string>TIGO</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>CELTELHND</string>
			<key>StatusBarCarrierName</key>
			<string>TIGO</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>70802</string>
	</array>
	<key>ShowDialAssist</key>
	<false/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>27753</string>
	<key>CarrierName</key>
	<string>TIGO HND</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet.tigo.hn</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>Show3GSwitchWithVolte</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>*90</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Honduras</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MaxSMILDuration</key>
		<integer>100</integer>
		<key>Proxy</key>
		<string>10.16.17.12:8888</string>
		<key>Version</key>
		<string>2.0</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet.tigo.hn</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>mms.tigo.hn</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet.tigo.hn</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
