<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	MwL0yGomjZsCuG0FVlj1lLyMXknYsxcAi1Dx04SIxI4r7Y0/6KcyVPaSgF5rvG1fgvte
	ts+ESZ4bneJMUPqO+Rdc+B/TnJTsHw4R/WDZRc12bBzsvBh0ZtHUndqkhepAewxUbWLA
	Kk9hzv0nTGM5+D+nZz0KIudG8J32LeB8hpsJwrONJ0KlOWx9up3WOCnpZh4RszLYpFEA
	Y1toVwFesGBgIqKt00EAZDVKptv7MlUY7XCdc+oOxe33gGcra1w8ZJ22C6cL42wcc/8d
	SFFY8e7jzSBEuxS5qMAebYWbf9jUxaaZ83TWNL5n+u+7XyIfl2GLSe1aZ9bibBDW8QdD
	xQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGLZl6rTs+jZuov7s7GJs53Vtru0ZPSYrehoo96Fo03HJ35L/CXwy5ee+dy0ykts
	DAIxANT0Hci7dwBoymtjji9wMb76y8D7VyPnsqv8VzIevxJoY0wi/5HETF7YUoPd7dhk
	Cw==
	</data>
</dict>
</plist>
