<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3feo08RAe5Fn6cqUa1Os9xXBp8e3GYynHd/PcgyXo5j1NtGHqLKo5Ur4NkLTTBd2LqLg
	4RoyyIxVp8Ld7pFtEQSPZfSUIvOv5riMcWVj0gMubeOjTeYq7J9WgHP/FfAF8yZt48zs
	V8rXOxJntOJPdoaMWgkexQ/dgRhwcGTXDZk187yZbrTEegSftxlQ063QhVM0XiyiDOb+
	76cbuQsJzS4oyLFuYSE1SeRiNQK5Y5peCPLds7dFXOtMOEm+vwDdejruMM4XlwSeCKfl
	GYF2l+UdzwjPm+Eaj3XlheDHoh6gDsLlmHsJnc9MiRpCwkhT+0l3YtjLbJQAxMmIPvb8
	9A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCLEcVwXoG72SpcrdiPx+jvZ74ootP0B6aOpCAWrg1+H53iY+xB1BeMs9t/SzM+
	4NUCMQDX4J3gRJA+NolojcZ5MDjyfBdH4s04MvCHKGcNPE6yVVQQBCcFLVBIxXuV0FJ7
	tK4=
	</data>
</dict>
</plist>
