<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gIb8U4iGAZ/WAlbce/JyxEOFTQ+YDRE0dLuBaGQYcy4Q1HVUyjGzKE9Djy/qaEEhZZWH
	BLYNSS4kK584XC4+UGXbsKCAhUn6IQGNrh3tp6hBt3joDPPL4MyK0qB//tT4dSgdW/BU
	zU9iyiUYxWtk0bgUGkaI7+rjlB5XCQyWaIdvjgRHNLcufEAQ4pmCjTU/wH538n2+DIGz
	p1OVEaJnEfMwq0oZtORSxIiWkZOZTOVpgvxkptrJ0fEyUNtjixSycldcJmZOil5M+A9p
	OePreRqnci04pwtZ2vctoMxjhvjJaIv9uQq+C60LOiSILDZaoEMedrDCKkXrSAKXM4s9
	UA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBptneDdXhcChnb9jpRLwigxoOKTxHg9QbVhlXTQu9RCKVa6N5gIOHs1hoCNliKR
	MAIxANtMyzE3NH+ha2OcYqwqNHJw4hG5fcvraz1wXHFV4EUlCT71JVUZkwu3zxdTVnP4
	eg==
	</data>
</dict>
</plist>
