<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6MBtPzfCjokEIFIEePhPHig7J96sfTibTjnxGAocO9kOddTthaL/U8k0IR6SRN4j8gmR
	6AFMeKblt/lU22BG+NhVqKnNiieHgsaHGxrN/uyG6479Mj5NnN1bgafRuZxoBiHSfhda
	vqZdWEcn53ffRVxViWNQXY8wk6VaIYSuOxhQLJpxqKU4vKbPa12kljfECzojyWF/blk5
	f1wMDx5dzDEWOIHem+P5uCKDxTDDWl7xxXDJTIR2LWX0femk1/4VKSQkjccYRKQD1Wqp
	awAFJcn5zfSx1rxig0XGP2HQZ9mm1eU+g/WdG/5CrztuEFdqKFf6d3XfH+yFW5TSvDU5
	Zw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMF5ygV0eZJULB1dD2+AyG4NQFqTkpIEQbAvaWO72rPYhUAdhaXc5WiCDKVzzFqv8
	ZQIwU9+3un5311Y75g7V9dwq3trx3bBpYhg3XTgCsF39kwMgvoE9j1QRdnpmiyQ9I6Pb
	</data>
</dict>
</plist>
