<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	D0gUoELAh4mZRmppBM0g/KFj9C3GDRCJmo/fynQX8p+J1ZD/csG8pz4t7uDwUROBT2Q3
	nPCFDOyEJ8d+oIO8bLrBKluZ7hosnFbv/rZfeLdgMu4W55cX4GI56ZxUEbm9mgehcTL2
	+zRer0UVdber+MBlm6qYs8XWF3eMLn2ZNPlEhGKzl/DApmHu/pIrbhWSutsBjWHU6OQY
	NnwKg1XZ5jVcN6Co/AS1aESp84ZHk3sAcz5QrsHJTvtuohrnbvG9Da3fj7gV+bQtf3tP
	fOdGt18JIO4agSuTxG9j7dLxXZdAxe8xvDmmF/ZkUqPwpgPxHW1+PsqUwZ8D1fW6C+4N
	1w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC2M67QgaSQQ89fkD9CH83Oh16wkUF+2Psl1owKuL+riQUWpA3YWv6jOMLtJz1/
	IA4CMAYmXBCe+X3+qGwXMnyTzFHZi6MNFsyBreUg3RpPjVsdPtQ+l97tdkwnczXm4+eE
	zQ==
	</data>
</dict>
</plist>
