<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	hapH+pBU7uL+NgJ8nyQ4tFgu9Mxyh6NDJgvtRMP/fP9KizBGc9ivpWu/NI5lFfMVGzKw
	Lqg1ACyNjhE+9JV3W5vK7ypIrPed6F+avpDrnegGMdpclDSU6ktwHmofP3mvRVUSEVPk
	4CBQsTKR+tscq/8ZwEDmXRY/l/POe3yuFmQyzW1YnA88Fl2dluNXwh3oJLV1l/m2/ry9
	/xenK7MLb43NDz+0gCYtdY8VQNb6E3yidE6uo/0oPSBSXAycjlKs+W7s/cTsGTs3PaZO
	czbKnWby9TjV3rB7MzGEEkDo3bgPYc6lMHIB808wpdEGSHMF0w5cFdTXP9SBsPycPNh4
	vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCbLQfoAqa320bfFCSXrlPbOfQedP5ivInY4S2jB9XMYZhJby8sMqqtJMbN05VZ
	SaoCMAcyDpQiflg2/1P9IC2bZ+0CwHxhQVoJ5P/Im+VV3XubMbiQVSqDQAMb7dHA0ClY
	mQ==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMBFTL5+VM9+1XSns3g2APbUByNg0qphkuBzeq+3F/pPB+S0snmO0XSJiCzGsJhc0
	VQIxAMxRJo2o1D+rlb95pI3IpqCXVEk1EmGvyR8S37xXFjG9/afYo6Q+EvRf5I+36Cq1
	mA==
	</data>
	<key>CBSignature2</key>
	<data>
	zwVKL2SSSRLRaWwYRk+4qn4tjHUC2/M9z26ZQFAxXUAydupubfw0iJU62MhH8fl0A72t
	Bffugscvy1ZL8PjDI+JXqpx3S8Z2uOCT4UsBmH/CPlwI6RihQem4O6loCtt1jLvwQav3
	ZgOIMNYCZcWIk8NYz0aL5y5l9svJKR8K0IZ3hukgmMOPLpabK6y3GTcN9ig1jqjRqRE6
	EJY9HenozpY8Ql6R92QbOs6KFwmox1B+QTeCKzYlVP3SafhtzIYndv1Z+P1uXsS5zi6d
	+E5Qa3Js42pwCX3qFjhmrBB0fWf3i/zD3LWYFS0iAZpvjqS//SstmgbVdBBdC+uqUSGA
	tw==
	</data>
</dict>
</plist>
