<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowHighDataModeSwitch</key>
	<true/>
	<key>Enable5GAutoByDefault</key>
	<true/>
	<key>DerPriFileName</key>
	<string>overrides_V53_V54_V57.der.pri</string>
	<key>DerPriFileVersion</key>
	<string>6.0.161</string>
	<key>Show5GWarningUnsupportedCarrier</key>
	<false/>
	<key>ShowVolteSwitch</key>
	<false/>
	<key>SupportsNRNSAInboundRoaming</key>
	<true/>
	<key>Show5GSwitch</key>
	<true/>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>max-red</key>
					<string>220</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>ch-aw-recv</key>
					<string>-1</string>
					<key>maxptime</key>
					<string>240</string>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>bw</key>
					<string>nb-swb</string>
				</dict>
			</dict>
			<key>SelectForkWithActiveEarlyMedia</key>
			<true/>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
