<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	pXewCuJ4xwtO9Ed0+O6hPYMqWlCQwnN4JJBTecCD9I19BSumfyJv6sHr2mznq8PyFO6y
	jCSkwk75DR37YPBxdbv6PKXSQP/0XrfjeoOh2LjxpuSew0O5ZopZgdXLiEVqaHpL5m16
	AiyhHJnXgH+dWdNF7hBkVLmTfrXv0rhzpiaJzZ2LudFzH4veX5NYgBjqN1WoCCdtGHKW
	qF+kA56/mriX6FAhEaiy8vvt8zUBt13D2RPafiayJDGdzsC1LOaJayGBBXxx26Q9C+rD
	Cz3+1WpUOznrmXh1J4igDRcooAltvNJCg5Zai4NXJkGdOfHYVxbdo1o12r01w1nbsnTT
	4g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMA6TsOA0zOMBLnhIpAUuSCXqN1LDgzEX5kntWVUE7CAOJcLQZDY8KOlnDZ3qte6N
	1wIwRYmuX7Lx65+gUIUGx+wIrK+duVApIsqH9k48tMEyOTy8T+M5NuGfsDHRDpq6orMY
	</data>
</dict>
</plist>
