<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	wE5UZB174Ekonn40Md06PvC9sOGg/2Cp9ONp/ULnCOnVkKavUW3drBgYVzAltn1h/k6i
	fAtdU6YES0+mjJt9PHjoq7f8nRIm+n3rAz8MLsMTntVIC5h8haN5DpH1RPwNRaEKqAiZ
	NSPyNjITuK7bEMkpqA6BmCb5i9Ug/EYH0jPiY1BwaXENoMYHZWj45V3AKxs1HHqyuBws
	4j4lQcHS3pvyzAVSm51Rqtcn/FUv/NRbrvy0JUrBf/5hNHj1D8ejnFNdcEiuRds9c0GN
	Jg/bYFqgynTYsECWn0ZErj17qKqJ0fsKXMcptFYYxHgvn7NxUaiVQqXTQ8LM7zmyxmYC
	Uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMArKMQzugM8S/5PAf41nFKLmGoNNEJMPwxuahuLRhaysbLgzNSbjDg5ZNQ4Eq6bJ
	iAIwKn8/ndsXClYJzw/x6mMXye9T4kSuPbJJat701GitYAd85lLKPp+RW+cg9WRdobnp
	</data>
</dict>
</plist>
