<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fULkTCNHtJ9fKtQVnFK8WTks/z+i1RDfYazK3MseA8oxzTNcSOfGPdrA+5AX6KNeSyJQ
	/YlfoaMT9RspJmQDbKZKdH/OVKSWH/1oLDj1JX4pwFfTQDAL31y2TTf7sFWpgYCI7Qg9
	CjcXgfP/G6DWVQofnEAvsWflgrcKvaSjpnpekmWN0VSQJCwDjd2B3UhuPJkgIZ+Dm7S8
	IiwzRd0h8uqufa5ap4V34aWl7HnM1im8wIO0u/HbHtqJoIhIBdA0vJXsf8TzXLx7eSoB
	COZxSA0YdBCPjYxG7lcnbKEhlFwFZMFJeHDKlpcsoYraV8tknvQN29szed1FWd/meg3D
	DQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGailEKu/mvtEeaiQIg2+dzchWpSesLBa9aRNfMaU+vzCcYceiC+odG/n/tL6Til
	3QIxALP8kofatfjUMID20ULGyB071veAbqKfzRZmjqPo3otyFqWBRLz//8miu5J7J0HH
	sA==
	</data>
</dict>
</plist>
