<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	a4UE262xgdWNebQ/CwcuqRMIkiAbL+vqQ5YbiBfFCK00YvTavh7iPqtuoXZ0+HCd/lee
	8s/Bx71XJuqFgEgdiJ8Jf6zi+LpiUrY/VKVMgeWBt/540oLgzKqT6wTpf7f39b023/sX
	hTNJAo6DCoWuhhxcwSOxOQSghq8OcQ8B3FIpWMimO/JB/jGDW4l1TrnTxj2XJHIE6NOw
	6tmkpiq9OeUP6RQpAFC21uyXQr5E/ucqp1/8ePe2U0rGfRdRfy7IG+vpZmdk3m9Azv2a
	ixhws4sJazhsGbtDgRYwEzcFeRJGwjpQJdqdXwS2fIfhcuHg8sPz6IWCg/jOLuLPSdBd
	8A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCuzPHjBtQBF9/o1FsjTNtvmgVF9JuZDTSofPDnPtJUkPO/MuHiUzwVCBIBPT+J
	XZ0CMQCxeUA+5zNibzDDZ2OBoVJP5sC04HAEAhI+tgN/+eKzUrBv/dUp3DO3ZDYPNshF
	Syo=
	</data>
</dict>
</plist>
