<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	FGKiszN2vUHmjAsbszBOmWI+D81+PHYvlT7KIvhNwQTdfjQidVX2vDlk36C22UkeUnjA
	T6cx2mQAOz2JBT6/WrJ51wYFIQ3otAVX2Qw3QjMHM+Z9V+A9MvmnhmfT+cQdiYJv6V+/
	6JWL0/1nFCe5zS4AKK4zXj2P+q4jOSJtCjaYwreBoBgalwEAOcASDh/u5BWZ8GZubjK0
	z/hksX7kdh37FjhygvZMhg65EUj/Cx4FXofYP0i8TUM8eZ5XX77IvLeqP6RU9HtpQXH7
	lA/PMU9IxHP5jSNMmaMQC/DZfsorKgaHv/t1ERy8VI431//oSws6xSt2eIwGcTkRVNeB
	/A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGDh7OWLjSY9TzXMrSE4QDsUgvYkRI993lrVodVA1f5cyIxVAs5MJKmeLOr2IOKx
	hQIxAKAKMmKHFO12HWeQGULWeDMEK4BkrdG1NCkNvuJbudGA/hgsuhTB3D2nZ9UXiAv2
	KQ==
	</data>
</dict>
</plist>
