<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	NYyrGWpPb00K8x8WHnq34BxTptXiR3Gd5vTHe7pyN7rd/NiFpJSaLMjK7sJKltIH/8q6
	Ro40Vw9r6fR5b4O6oQr9Ge97iEQT+V4XR716aWHtkgmp2Q/Fa7UjJaFCYkxlVKax7+vf
	kq9ysYNNx0ohQZjllbyNxRqJBO3Em2QJoi8JjsPho/LYOt6/xTZq1v7gHcPCsJoaW7vr
	HjiBh04GP6Hfw8QaEZsZUrPdFTDk8uCZI8kU3f0pvW2BzODscWZTRcxLtH+SrSVtRk3Y
	9RLpB/Gb+N4tFyuI7pVk4SlMAyfOi7R+riRruLgRv9YLEn6LQLFUYdf5VyOQWpuynZ60
	8w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDqB5aSdH1UKtGw2UI7aklkyZyeX9361v97ZowvySHqb0N+nZhK7zdjSfVxqPs89
	SgIxALwgGCCVlkzPBSBn8iWLjeVf4LT+jCIJxtqJ+J6eO0rrfNgdArRXNmtLeJ3m1DJZ
	Gw==
	</data>
</dict>
</plist>
