<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ULcABUsFKYiZ/hxt/MnKRgT5MLH1lcTUG5Ti2q5WLrIKq6pDs1qis2Nw4Bkzs+IKGCJt
	+aZR0y9mTpYCSVNqoH+1KkynnEtdxqCKQ6UOssZAzeQCedW27dG97oqHCMQe+kbKBa4V
	SPMbZjQv2Y2dxC/uqBQpfh8Fd7TyNSbT6zAptr/EawFX0GwjNYpRmDuzxjtMXmTBsdCY
	KnXdb9tgag0pRcEh+8793OkhzQMqdGHFrab98103pZKzFaDIH5fvVzlU9YXvv9P/wXwc
	zNG/B5FjeIYf+5Us5TUpj7gdLv0ZegxbOuYuGxCJUKxMbujUqExG39D+63LF6iFS4Rqo
	bQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMF99+M6pSq/o1c9yP9QIby/rMvLfrKIOh4Mnw0xSBZIdBNHLUJtjnBtAQHYZTG9i
	ZQIxANu4MAQeVCBTzcgLDm4y5CdmLNKmTq7QI53DjgAmHyUK2yXQxfPI1++KwDvrfUNa
	ug==
	</data>
</dict>
</plist>
