<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fs/gJiualjRjDBYBCCXBWb67beFetW0b2UAO/bX2osN/B/5kOM/gcjX5Viv9drDelm33
	MR/ot0sNZcGM5eyIb8jaTPrxWBjn1r7EqgT7wS0oYhCvNKP125qUnESptij+9gntUDSI
	67vfVPbAkaN/1Sb48QqWEYo9pqoc1l/uniie68iq0LYLpVZpJIVhscIjP6mpQjFkrUC/
	LXLgXhicUWUv0UmBlpU2LzYWZ5TR/94kj/ivr3UnnP1hoeW2QtGhAAdhWJUm9p0gVFIB
	GJAy+gQKKdKOR7xjXu4p3NnKfTKEsGNDlYSou0Ui6yxiGRHLnmv11j1y4dDm47mPWu5f
	Pg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCy76Yca4LE0Kd5jWiTf3rRApjWGIDhZYbLBRnVkHNOuUdq4rKZW3snJbEBWmF0V
	9AIwE7XhH/Zt4uzmWDN4IhVfGx7E031h4HGZLIRFGXJN39KlW7A18zd7Hpx3zl/jJkqB
	</data>
</dict>
</plist>
