<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	g2LOhYsik+QA1FQ8wMRfoVK61gonRjhbE+sSNJNCiuhgvFJWVFuV0MLWIFMs4lquo184
	FKY+aO58Nfxk8DHNUSBD+w6/JdGNGIamdPo4eZY6cDwYyZmu+FjWv0/O1dS75GIbyAwv
	xaM7H7IaYOXMjAtevZ3F2B2Rqm3+aNR7HIUICR4ehgR37tDjRNjPhj2FdsztrlfAfoBs
	/ZopCaBbiDLZE+cYHA9tlYnnp4Oh9JYX8P5ry2OjZNPkQOfPxky3lpWHn0ckBHxAG6XG
	iuYsIXRtkesY5kkSq7PfRedXFBpSQMSNdt+o/mVNiV7akgaEeY0BfH0Um1sJ3UgwFN2B
	xA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHw5Aak8IP4B/3pbiSPmJOBJGd9jmpZdz5e5Yiri4rCG1dp+o4gg7hMWM3HOEe23
	zwIwOmY1IYX9nmkXktxb/JK0x327g03iI67z1wKmf1237J1E7t8tqx/qcT45rOE4AFQA
	</data>
</dict>
</plist>
