<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VwliaasEkB0GNQ+8LhlIq6rgzajvHKOAceU/BgSLiE78/JGFEQeM1Q/iSWGL25Uqyw7/
	fgFGW72yGgZeIJoe+NXNKsnRWBcQu4ZKCrDb3/OHJ4wD2gPROu+9Zbsyqz9a2O2aYILF
	jKXGAAoz3vKRUPrvWhi+nmSGdzhbGoI3r3j8WATqOApNNyAsYICuiKc/CypZwtflFvOV
	kA73kCoCC5VuwaRoMHluOQT6ykTjvGsWQwxBQl9aQvorfNaButNTdnMPk4c0zfQ3beNQ
	vWGXO70/bIsKpwYshTBEoAeNNkjUJKDzZME2iEEi3yXD3gHBnTfa7otE+hNXPpYVxpPZ
	KA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCADHYmgB0aiIrDsSLcqtAxV8gs9TPHFFuAYvwgeG7dy9FNSmZs8TCPU0eehoem
	3UUCMQCt5Z7SQIBRq+rHp3jpbVllCrpdTmu7jxLZ/ENQW1OnEmFi5gkPDa/HmdCNXx2f
	Kl8=
	</data>
</dict>
</plist>
