<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	mZuktfSWgeEpICH6zDuKysh1A8VlJrIVvTOWHReBzpRMA/DcwYEYoNxCOut/x+DuTSk9
	jTvs2/O/EdtztFF1VNko9Sr15BsHkjbVQ5mFURwxYjr71CI8vncbp9VWwSASxoYXQE8t
	KOEOEymTO2iEYZCNXQOZ4C9YBoAeV96c0+w5zIvwH5BhiJpY6PyqbVfqGkRCSJO5goT2
	TFCjVK4H+dW1NY88gK7M5TZiZv5hppUvZpHrBepAF+R3rV10Dqj1Kk43OQ84PG3cb8YJ
	d4rpqGwtfNOXs34NyouVC4xu6AtYAeEYYpXdfkbUVDc+8cXUZ4LufdomcVszlJVBvDwz
	KA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCME4aFv5ZbhbQXg/nlcmYfV7tBoIzTkTPF0IsMcDfOKFws+VJAl4UBz6GwU0Rz1vL
	OQIwLYm3V1X04xj0xL4DFeJJUz0trhEECn7UEAg4Oz2B+9z9iPm35UnE/eLGrn8VGhlG
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMFvGopgKtlSxi3wOCRDhkRUHGfABOtipjI7LtAUILIj1bPk60cH/UkdlV4gwv72H
	SQIxANvqqTClGxY8l+bP1c01U1s63c3itTlU/oFls0iMs5gBvaLbFAzpc99XsUZ1XI/X
	og==
	</data>
	<key>CBSignature2</key>
	<data>
	V9EAybFk9IRMmLGs34VmJyaT5Tfg0+IAzd9vDb4rA6zk/VKPTdgOVXpgynwS9vM68GR2
	pAmO2VyWiTUskxhwooOku9tu+Gc9zrx0Vm+bW/yMEIp68SEHUTD5NRhNpJzDdv7EbSrU
	ZBx+v7kqgB0uplx2SVxXjp+3fXg+5BfnE9Z3QWKLD+dyFYLkM7rVpEBnXeXIiDOB/8V3
	0NXM2XJ57lJeGg2prYNBCTFX3NwXwhFWq0/v07KkmRss6cnhVtoWPCeF7DDArlelnfu3
	4euUZ4C7si1V3t5uZL/rdGy2S70ZcujadHjKju5ia291MYMxv9hXVt8u9jQh/JJkIki3
	qA==
	</data>
</dict>
</plist>
