<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	aRE66DPZsGxGyDoYfmTsNdqF7p3g3s1PriRuIkb4GaE0aFQYaQkkwLgbS+bVo4FogLix
	6BAaew2AsO/LXS9h1iRgxOPRgTua93EWKjzNkHsPBqat7FZFpaoZxFSX8nBfeDb3QMFM
	1/VgeVD/IJMadm10XGXFNaZKnagrZTIOAt5GjecpvlPYFmGtxxNcv2XxK4IwaE15EAUf
	5khgcdVXbmUYC9n7YJKcd7XUZKFnG0OhKykj/b/hk0kNEvskTv5urFKUcFQh1UmmxeI/
	SbbqykGjOe1ahX5AwHb2hWVg0+mqZHn27TLQx8DcA1Y4vgxxooOwDLkhqt+wSr4U3yuG
	9g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD5WYr6gXXQc7Ag9761Ca0iJAviqj/UZdCz7eYwFAFrmuld1/R0B20h8GzFjytw
	bYcCMQCSHexXvuhhzvxgH3s0Rjs0+j2gGv+sr2x5HC8fe2pWvXwNisv7KHcatIfm1l+E
	oMY=
	</data>
</dict>
</plist>
