<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vLC6apxzxD59nqPA8YZ7jRzWIPICemDWSzDd2vNCk2PY9kISeAeqv1q6kv5Erk8C20WI
	Htd4e4KJiL/M5XMV+eCitbIWCaI5Y2ZJ0iiayCSki2wKxqiyDOphGqXYlryr6TncoJT3
	mgcx/rXJBsBKTc4XM80Hc97w40AAsAdwLIUS5U047XMnd43SwDZYctLlEggnUby/x3lA
	LT2hq+uvHOXjlfl1CKX6NR/ttL9eKPSdsuONKpeucwSZDxUDH8Rjs0EmD99y+PcaJ+Qd
	DikqLR0izXTmL40+TRGocCc2N61oD6VYZxpZIeb1aGxkMguRImHjRtrdhVMde6j7083A
	uA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCkGk1c64YocfJpE7TK6RLbdUCozDO1U0QiUJnmCn7yck8vtVCNqb+Cx3Ib4xqCE
	HgIwJBysME094t9Faw0yvSoWpUZFGU1crD18rOtoiRBGYIuLIP//9mTy/D/mvtgv0YWO
	</data>
</dict>
</plist>
