<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QQLFls8CRE+J4o34nyT3rGafK42C6QBs/QVpkzovkEpK2C6aJ8HjysRZGfgrvxTfgNn+
	/dFtMOHy0HTmVEcM92Kt/ujZtO+By3XChEQm0nv0QoCTaMmRcfHh6Y7Q2IakoSUoozwP
	cD4TPg1sazYelx/NieTSlmBtAzoFo7OnNV4gDz2nJdAAMMSOPAH1HnXhPzPjXuqz1/Jm
	SnhWjmKjYgCj12rixoruqbr+PEKL4A09S8vAr7HtXD49NYVQCrhdO1zpRb8frLM/STki
	Hkctmz9wdAQipEsJa75F9FxODE/g8jIeaK4ezkDULyKZoQPiF85aucPU8wwWCDmdY3th
	vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFi0E3HLAD7gWMbxH6iUEsam2U+p9jhUWkkGXz6KltAEGPjY+Zgf1/Lw/4p3rV/c
	4QIxAOd5jIuH9TUN6yVJc+W2wrQXpSyTwX72uf6Xwp4ud6kZcRrMmGCVmh2mYf8v2wMv
	Ww==
	</data>
</dict>
</plist>
