<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	Mm4lHOBCK5HHxC1pDxsUHFEM1oVMNaTxpTPIqLjBpRe+0gICCPz71aY4wc9rv7J4rlkx
	Q9pUwBBpK6C5iG64PTsZxkEz8SBTtBiD4K7Hz48lI86s0aHyfU7+qO3Jo1jHB2xhXnLP
	Uzp1pN55RfTZuQrWEYcTHsLp6vgux06NqEwx/hMvoRopbciIOdcaMjkAZ2x30f0daBh/
	yv0SUgn35pViDWKF53dKr5YziUbdY7skXJ9k2l5o1J0XnIETkHR0IHU8P/bt+pAC7ti2
	ey5ahb6Mfx9AV3vhTrRlPkvGzGEy5L09i61Xbib5eWuBZFC+yjci/QRt7sUZ+ixadK+D
	QQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCWZprnQSf3Z34yj5dMEAV6dq68jTVANuAJMuhqEwPt+pSY1Zb7KDsN5MlPKWGO
	jWYCME6hbeeyslQO2oGyTPyUPvPjmFc+a+29SN03RV4DttPM7Brch+JbLSqZWXh2Jdtp
	HQ==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMBy1VgEydinNS4+Pv33DLEw5xFxOB1plpT2kAhCH0Avr4qd+0btlchx2+tBPSeBi
	dQIxAPuKMsdqOcLG5OQ55HLVQ7t2QSx5PxBtoerpt+ofvcWHKTKUUj+b4k49nWtp1VEV
	Hg==
	</data>
	<key>CBSignature2</key>
	<data>
	LHRpuw72GVA+rNfoW2VjvR/FS2nasrytWBX8X9LGAinmNmJ3XW6+RevrA9+FlT8q0mwF
	5VGetf5uEoWlsIS9tBBU1PrEs9W1G1hl3nfPGe2e3dzt1da8nNzW9KqHUWxeN1B9u1zO
	ip+OZcuWlPE8WioN7f71rUBCPrFtUQzUrRpMRsTSKjaVYUw1r7YN8mRnvO8FHFtOwE0h
	MzjhSCkZxIOhQR7N5Zl9uMgbF+rq5Cf59X4of8Z/wtAI6MPaun1mLJYHioZvMsoV7wli
	z91owwdhy+OFlpzreM3EGGUKG6lxRtCUHlTRmwVYcn3Y/9lf53mw1DjuxxThUp7aQqXb
	Ug==
	</data>
</dict>
</plist>
