<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	q64YHkPqEJW5WvQlE15z6ILZxbpxgVhxVfnUk8jfZNiB/JIZ3k1rmqj3ivkKVB6/5NyC
	uEN7971PxtnEgkLTTVNYHrMoTXtUsC2P/5tHDKYc9QXqiye8x5kf0OomALrDZG5PhLM9
	mSiiUnMcOti6IKElwvEsGq6eoqn/Qye66hDIbsXo4a1RfHxbonsP+3n6ILd68erajwGQ
	Uekttynu7yOlJirzRF8V4y9bXQpN8us4FUHyPzcMUP6Xmo5e1nT7pSWJCXltOB6sC5tC
	Lk1ev9nPrmBKOXYiBJKbBmZCULxUjNAfKwbRnvenlNMZvU0XP9LJ9tohAGgrxUVlbnfQ
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHDZsBFgsTlVo+bkjurxxb0zwL8/9zyMp2VhbhWwcPmvcBJvf0WTd5y46LXkbnjs
	EQIxAK2WJPbYUVXZ0u9kVIaVp5zN7cZTSe7Sh7lToJ9RHAY5d17EtgM6JieKPDNSLjTo
	sg==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQDuYNWU6gtqyiWA2JDN9fWNCLhbTXYDZN/ZJ/r/eQ88yIUQqJ6HeGUo2tmYJ5xA
	WGkCMQDEGwTruuK+A9tR0INOaDnTKo2y1ExfVHkfuGnym5RbCvnGh31Ro0JtKEZXEUjm
	O2k=
	</data>
	<key>CBSignature2</key>
	<data>
	pbtC2uFCK10m7gLt6+jzW9w6iXPLB+4MvnNsmL/FnvPFssRQDy3t9t7U8s2Mi8+feZ3T
	0L17AfVQaphDzdvBq+6HzZTsSZVzH9XW3orPV1u2TBlD216eZRXmVRc/Q0l/RvMkG9WI
	67c19iOLmlemMjLTLjKXEB1qU8t6bfdR6rVn4N4ucjBzZgPuMLD+uyR/CYoL6U3k9IkV
	yP58x4xkcOjBsmvxgPhCJLCFaknK13qK9uifIsOgslFz0OK52EdJ9bIWuCcbvihxUtIk
	t+rO5jU/Q0F3S3jtLVV7ECXhVfGXLCXlil0pYhV4lGIJ+I6+fjOdmVHPTiluM4usGMv2
	zg==
	</data>
</dict>
</plist>
