<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	S7hAiWXVpYeizduDpUre2Q2SMfmxvhiohX4mt1aJVH9Qo0cOP638exYo0Fez+2HvbLFF
	ZKtDF+7t9KNin5UPqtZVZg8YCzcmuDrzBYqMwva6L7T5S1i7murRjvv9gK2+Z4vAGRKy
	nW/aXI3VHweVc3vrsM2h/50lQExtdcqn/SA7D3FPK4vCouUlO0YhTHAozGJDY/0IaRtw
	HQosZ9wiHbkHTed27et8OMmv/kY1kW6FEKrAIi3cMe3OxjAEzwbranWJVyKgLVVHiA07
	F5Q3rG4qMEjAS1sxm21pzPVHATk4jCeClcObvVOkA8bnXnxKTxGeLbCYhSdTEGn0DS4h
	2g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEeJg6Zbj+Y+piNcnx3BgtC9yjE3V4Am7z08Ud/JAqvxlY0NsHHHxZ9qB4iHHBQN
	9gIwYwW8TwGS9+BbMvdv7WFFyjEiX8FZVhP16HnEg1N8GzLkeLXJ3OSVzzpf2/I7uecJ
	</data>
</dict>
</plist>
