<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	abUYg73SdVJtHkuUjRCDOLgnubhbP+88A2/F3AoQ4SUzQ3vtt4UnsAPEsd2CP71VGBZd
	WNeqkoS/7c8E0K9QSJ+eki76ImzEYxD7M+nN3HiIGPsHLK8cMbEsMr3tDG4ObcQfJoT0
	1074TNpHqy1/GAmBadQNOtFMgmUrqjufuzalucD+caAlDlXwOFxW/UTBwC0myl6YFiUr
	gozBw1aLeJ29lNRM1eVpGCd6sjK5m1vFPBK8sGZe2L5Re77aOIv8aQTc3RrPQE8f6it0
	2FSOkCnC1Q6TAcNPrev9GSRSyo105CdqDIRHxd9KvZY2RKZjtlU7RlFoKZ3BHu5i52dR
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCp9z3CzzTTeFKnRELcNMaFf9haKfgkRuoTYTs+PjZ3s8Cup1Sh65Tv7C/9/UsD
	z58CMHSxEwxndAUcV5k/8UkCK6HsSdKTOFbEC9cI0mZk/h2Ji1V5YcsFCh7YcSHpiBXN
	7w==
	</data>
</dict>
</plist>
