<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	q/pCrARb1e6vL5p+LAGj4nhSzHwLdg1BOO9xjAPQtHVXFRaTinwMWkEA1jrGy0/raj66
	xbgf3s4PiDC1sW2zdH79R+fuF2cKC4g1r3WPDUoETpiSL8Yb8d8PFF8MkEzONdrLP16X
	oekX8/16PrM6D/064m1HowAVgengMyaXewGB1F6qSbCVxsf/sV2j5/6y/bfIxULhz/v+
	Jw1oyPro0owBZ5Tn4oeAMm14wavz9dp8Sstn8DT0xu7dXqo0BWizoCmiYu5z8d5ivAia
	ylvTEuYkqlcjx0SKywFW5AB+Bz7iS2nlgBb2ywun6h4yhfqNRhpLyB5JmqMHI1kiJcn0
	8Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDJLZCTlCvtzjLP/KtrQ1bo1ixZe1LdBTs4AXZCxbsJi9L926A/7ooAVVCha7kh
	XToCMQCl4v93mn1BKddSP6OfdnIHvEpB0BTq4N3E83HhQBh35cWSa+c9AbIrdVeqi5C1
	rd8=
	</data>
</dict>
</plist>
