<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KQRXMB7vCCNh3x8AsUIcKB9uGtIg338GC09FdRrqgrp8tItEywXuFx33lHLxZrRnFV89
	dGXnb2+o2g34nYpP8LI4vGrz9F2vbKse+Jf7n5iz747eUli4tQgr5WY2YJnGqNwbyI+7
	4bhTFUt6UoqSHuqf/eE+0AKw0RyPQfM5+6LwkM0ycQMKVMWWtJjMgaFr4yCbg5UC4Yyp
	++KP6hUqTwu7NozjTm/vR1cBITg/mAkQRfNq8EQbYXcLZ2873dDf0Shpmm1LHvdmTsfS
	cvJcM3phmF9tB9SA35synWT60UjGkJgohrMpfJjfcWeUbJjT7Y/8f41vlzDXjJiVcAjP
	Yg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCBRrk8VDtYl/nGv7FVpgrYas1a5FhVF2d3WX68+qqZzVu7ppZqHswkXkir5Ogw
	WzoCMQDSVJK71mgR3vA1iKv1t0iUGjlFoAodB20/wH+GLYQOTe4uiWZClBYD1U+yQgoH
	ueg=
	</data>
</dict>
</plist>
