<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WNQYQ2hq5u2/iXt2BiQssMLdFLDsaQBc+idwsmQqbGh5LNGt7IOOL1K3Ym40LjAD88n+
	ubISF3eEEhakhGPLxo9hGMhPsp0g2kNef7Y6U/ZHW1WTrVL9++MoDs1BTwmN8lCpaQgg
	TP6yWCp5AUmOu4OyrBqJyCXPRabT4QYLTtMhTzQYS/+ZdbRBTz47MTKgJCd8LCdHkyCb
	zapqMbTG1gBDSl14T4mPOeHmdsQPoucRXUDi23C2mT7Z+/nHEPX0RRCKwCVPun4czsBv
	VV3rb0IX3vqZkVrd9vI3cILGdq9xxHdp0piIv/GukXXXPUaCSXjtSNOO9umb4Ch7uaCr
	bA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDXbplR5Qan+4FIrDUY8VJ8ByHOBLqMsUtqNNKpt5tfjATiI4qB57nk5HOinTmU3
	UAIwMfUSQ9ZsSn1V+zP3zV0Myqtkpr8+/2Ay2nldxexgAMGr6kUmywJYr5kZi2GSGZbp
	</data>
</dict>
</plist>
