<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0Rr0/AiJhrgDTHledPPEs+2DpdNm2bxJs4Sopt/RF/8vxEHWAHK3aIT3ubiqP9HCJL/0
	wsp8O1o41A4ZH7YncRQsdbcCHDaUsfbqqyMNI+tZ6lfQEYNyeBQ9I+zrMle+hYUIL7Li
	4UxiBLEjD5DADIyeahDhRT97HF9AqW+6WXT5qApiKEy4m+OZ5pmUrsqNPZhWeR9SlnpP
	ctaqBTXcTpCM1zeLqdAX6EBERyOMvjJc7zCU3Aj1o0SUqcRe3/CycTuSe3V3LAiq1G9E
	R35UcIK1LSpoTLUUVhMvvzpvzOU78uFBdChvz8WHMA6YctT7nMKEXyu/er/E0mmyPIRb
	PQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMASG31ELlTk2WIgapL5f4erdSBGJN5SFy2tk19rzhL8ssIzqm9ta6N/oXe3fslny
	hQIxAKUoDSVhmRlpyZwe8gKK5EgCYUvcxBuW0TQdv26hrf44qdZxZuMBwWwjo4Jurjn3
	Qg==
	</data>
</dict>
</plist>
