<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>PreferredEmergencyNumber</key>
				<true/>
				<key>Category</key>
				<integer>0</integer>
				<key>SupportsText</key>
				<true/>
				<key>Number</key>
				<string>911</string>
			</dict>
		</array>
	</dict>
	<key>SupportsIMSSignalingIndication</key>
	<true/>
	<key>SupportsNITZ</key>
	<true/>
	<key>ShowDialAssist</key>
	<true/>
	<key>TechSettings</key>
	<dict>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>Lifetime</key>
						<integer>80000</integer>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>wifi</string>
			<key>PreferredTechnologyRoaming</key>
			<string>wifi</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportContextSwitchOver</key>
		<true/>
		<key>WiFiCallingControlsAlliWLanServices</key>
		<true/>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>IKE</key>
		<dict>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>ValidateRemoteCertificate</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc340.mcc313.pub.3gppnetwork.org</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
		</dict>
		<key>AllowRoamingHandover</key>
		<false/>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>SetHandOverIPv6Prefix</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>262144</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>cellData=false</string>
				<key>serviceMask</key>
				<integer>1048582</integer>
			</dict>
		</array>
		<key>SuppressSAInOverCellHandover</key>
		<false/>
		<key>SupportCallHandover</key>
		<true/>
	</dict>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Boost</string>
			<key>StatusBarCarrierName</key>
			<string>Boost</string>
		</dict>
	</array>
	<key>pdpTimeout</key>
	<array>
		<integer>2</integer>
	</array>
	<key>MMS</key>
	<dict>
		<key>GroupModeEnabled</key>
		<true/>
		<key>AllowReturnReports</key>
		<true/>
		<key>GroupModeAllowUserOverride</key>
		<true/>
		<key>MMSC</key>
		<string>http://mms.mnc340.mcc313.pub.3gppnetwork.org/mmsc</string>
		<key>CarrierRequiredPhoneNumberHeaderName</key>
		<string>x-mdn</string>
		<key>MMSCarrierReportJunkAddress</key>
		<string>7726</string>
		<key>MaxRecipients</key>
		<integer>20</integer>
		<key>MaxVideoBitrate</key>
		<integer>131072</integer>
		<key>Proxy</key>
		<string></string>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
		<key>OnWhileRoaming</key>
		<true/>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>CarrierEntitlements</key>
	<dict>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>SupportSecureIntent</key>
		<true/>
		<key>ServerAddress</key>
		<string>https://aes.mnc340.mcc313.pub.3gppnetwork.org/entitlement</string>
		<key>AllowedIMSIPrefixes</key>
		<array>
			<string>313340</string>
		</array>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>SupportedEntitlements</key>
		<integer>4205705</integer>
		<key>SupportedAuthorizationTokens</key>
		<integer>2</integer>
		<key>UserAgent</key>
		<string>Entitlement/$version ($device) iOS/$iOSVersion</string>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>DisableSecondaryCredentials</key>
		<false/>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
		<key>AllowCellularPlanTransferTarget</key>
		<true/>
	</dict>
	<key>SupportsUserBusyCauseCode</key>
	<false/>
	<key>RCS</key>
	<dict>
		<key>EnableBusinessMessagingByDefault</key>
		<true/>
		<key>ProvisioningData</key>
		<dict>
			<key>ServerURL</key>
			<string>config.rcs.mnc$mnc.mcc$mcc.jibecloud.net</string>
		</dict>
		<key>ShowBusinessMessagingSwitch</key>
		<true/>
		<key>EnableRCSByDefault</key>
		<true/>
	</dict>
	<key>SMSSettings</key>
	<dict>
		<key>ShowEmptySMS</key>
		<false/>
		<key>SMSCarrierReportJunkAddress</key>
		<string>7726</string>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>PreferCarrierNameFromMetadata</key>
	<true/>
	<key>IgnoresDeactivateOnNetworkScanServiceMask</key>
	<integer>131072</integer>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>611</string>
			<key>ServiceName</key>
			<string>Pay My Bill and Usage Info</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>+1-833-299-2667</string>
			<key>ServiceName</key>
			<string>Boost Help</string>
		</dict>
	</array>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>313340_GID1-6332</string>
		<string>302220_GID1-6336</string>
		<string>313340_GID1-6336</string>
		<string>302220_GID1-6332</string>
		<string>313340_GID1-6530</string>
		<string>313340_GID2-6531</string>
	</array>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>MaxGreetingDuration</key>
		<integer>120</integer>
		<key>AllowedIMAPServers</key>
		<dict>
			<key>FQDN</key>
			<array>
				<string>dvms.dish-wireless.com</string>
			</array>
		</dict>
		<key>UsesSSL</key>
		<true/>
		<key>GreetingNotification</key>
		<true/>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>UsesMWI</key>
		<false/>
		<key>BeaconAddress</key>
		<string>47083</string>
		<key>ClientManagesTrash</key>
		<true/>
		<key>BypassSMSCAvailabilityCheck</key>
		<true/>
		<key>MaxPINLength</key>
		<integer>7</integer>
	</dict>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>VoicemailPasswordResetPhoneNumber</key>
	<string>611</string>
	<key>HangUpCallsWhenPlacingEmergencyCall</key>
	<true/>
	<key>SuspendFastDormancyAllowed</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>78517</string>
	<key>MyAccountURLTitle</key>
	<string>Boost Account</string>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string>https://sm-v4-083-a-gtm.pr.go-esim.com</string>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.UnitedStates</string>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>PrivacyHeaderValue</key>
			<string>header</string>
			<key>ForcedFeatureTags</key>
			<string>voice,sms</string>
			<key>MaxFatalRegistrationErrors</key>
			<integer>1</integer>
			<key>MaxReRegistrationAttempts</key>
			<integer>0</integer>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE[911,wifi]</key>
				<array>
					<string>Supported: geolocation</string>
				</array>
			</dict>
			<key>LocalQoSTimeoutMTSeconds</key>
			<integer>6</integer>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string></string>
			<key>strictCallFlows</key>
			<false/>
			<key>SendEmergencyLocationUpdates</key>
			<true/>
			<key>TriggerCSFBOnLocalQoSTimeoutMO</key>
			<false/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>UseBase64ForMultipartSMS</key>
			<false/>
			<key>VerstatFeatureCapability</key>
			<string>Enabled</string>
			<key>StartLocalQosTimerOnSessionProgress</key>
			<true/>
			<key>SipTimers</key>
			<dict>
				<key>D</key>
				<integer>32000</integer>
				<key>InviteResponseTimeout</key>
				<integer>0</integer>
				<key>AckRetransmitTimer</key>
				<integer>32000</integer>
				<key>AckReceiveTimeout</key>
				<integer>32000</integer>
				<key>J</key>
				<integer>32000</integer>
				<key>F</key>
				<integer>32000</integer>
				<key>B</key>
				<integer>32000</integer>
				<key>H</key>
				<integer>32000</integer>
			</dict>
			<key>AddLocationToEmergencySMS</key>
			<true/>
			<key>LocalQoSTimeoutMOSeconds</key>
			<integer>10</integer>
			<key>RegisterOnServiceUpdate</key>
			<false/>
			<key>RegistrationPolicy</key>
			<string>DISH</string>
			<key>RingingTimerSeconds</key>
			<integer>90</integer>
			<key>CSFBOnAccessBarred</key>
			<false/>
			<key>NetworkTerminationRetryIntervalSeconds</key>
			<integer>1</integer>
			<key>KillRegistrationOnHandoverTimeout</key>
			<false/>
			<key>TriggerCSFBOnLocalQoSTimeoutMT</key>
			<false/>
			<key>OutgoingDomain</key>
			<string>1</string>
			<key>EmergencyCallBackModeExpirationSeconds</key>
			<integer>300</integer>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>EmergencyLocationLookupTimeout</key>
			<integer>6</integer>
			<key>WaitForRingingTimerMOSeconds</key>
			<integer>0</integer>
			<key>PIDFConfidence</key>
			<integer>90</integer>
			<key>UseCIDUrlInPIDF</key>
			<true/>
			<key>AccessNetworkRefreshDelayMilliseconds</key>
			<integer>30000</integer>
			<key>AlwaysAddGeolocationForEmergencyCalls</key>
			<true/>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>PIDFGeoPrivShape</key>
			<string>ellipsoid</string>
			<key>AccessNetworkRefreshMethod</key>
			<string>INVITE</string>
			<key>IgnoreOverridesForWPSCalls</key>
			<true/>
			<key>UseTupleInPIDF</key>
			<true/>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>25</integer>
			<key>Allow3DPIDFInMessages</key>
			<false/>
			<key>IgnoreFromHeaderForSenderName</key>
			<false/>
			<key>ClearRegistrationCallIdOnDeinitialization</key>
			<true/>
			<key>UseT3402ForPdpBackoff</key>
			<true/>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>PerCallQoSIndications</key>
			<false/>
			<key>AddLocationInInviteResponses</key>
			<string>180,183</string>
			<key>IPSecSegmentOffset</key>
			<integer>210</integer>
			<key>ReRegisterOnInternalRequestTimeout</key>
			<true/>
			<key>WifiAccessInfo</key>
			<string>000000000000</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>UseIPSec</key>
			<true/>
			<key>RegistrationRetryIntervals</key>
			<string>0</string>
			<key>AccessBarringType</key>
			<string>ACB</string>
			<key>UseFakeSAsForDeregistration</key>
			<true/>
			<key>ussdEnabled</key>
			<true/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>NotFound</key>
				<dict>
					<key>StatusCode</key>
					<integer>404</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>ReRegisterOnErrorCodes</key>
			<string>REGISTER:480,500,503,504;INVITE:60,403,504</string>
			<key>LocationForShortCodeCalls</key>
			<string>CIVIC</string>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>EmergencyPreferredIdentity</key>
			<string>IMEI</string>
			<key>RingbackTimerSeconds</key>
			<integer>90</integer>
			<key>AllowResponsesOverDifferentTransport</key>
			<false/>
			<key>WaitForRingingTimerWPSSeconds</key>
			<integer>8</integer>
			<key>SendPreferredServiceInInvite</key>
			<true/>
		</dict>
		<key>LocalShortCodeNumbers</key>
		<array>
			<string>211</string>
			<string>311</string>
			<string>411</string>
			<string>511</string>
			<string>611</string>
			<string>711</string>
			<string>811</string>
			<string>988</string>
		</array>
		<key>AllowHandoverWithoutIMSVoiceService</key>
		<true/>
		<key>ConferenceCalling</key>
		<dict>
			<key>TreatAllNotificationsAsPartial</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:n-way_voice@ims.mnc340.mcc313.3gppnetwork.org</string>
		</dict>
		<key>Media</key>
		<dict>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>InactivityTimerRTPSeconds</key>
			<integer>20</integer>
			<key>HoldHeartbeatIntervalSeconds</key>
			<integer>5</integer>
			<key>RTTBandwidthSpecifierRTCPPercentage</key>
			<integer>10</integer>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>ch-aw-recv</key>
					<string>3</string>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
				</dict>
			</dict>
			<key>EnableRemoteRTCPDeactivation</key>
			<true/>
			<key>InactivityTimerRTCPSeconds</key>
			<integer>20</integer>
			<key>TTYRelayNumber</key>
			<string>711</string>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>StopLocalRingbackToneOn181</key>
			<false/>
			<key>UseRestrictiveDirectionWhenCreatingAnswer</key>
			<false/>
			<key>RTTBandwidthSpecifierASValue</key>
			<integer>4</integer>
			<key>DTMFInterDigitIntervalMilliseconds</key>
			<integer>540</integer>
			<key>EnableIncomingDTMF</key>
			<true/>
			<key>IncludeSDPMaxRed</key>
			<true/>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SMSBundleToVoice</key>
			<true/>
			<key>allowCSFBInVolteMode</key>
			<false/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>NafHost</key>
			<string>xcap.ims.mnc340.mcc313.pub.3gppnetwork.org</string>
			<key>BsfPort</key>
			<integer>80</integer>
			<key>imsFeatureDependency</key>
			<true/>
			<key>NafPort</key>
			<integer>80</integer>
			<key>SupportsCLIR</key>
			<true/>
			<key>ImpuRank</key>
			<string>first</string>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>DisableOnNetworkError</key>
			<false/>
			<key>ForbiddenHttpErrorCodes</key>
			<string></string>
			<key>supported</key>
			<true/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>UnsolicitedRequestDelay</key>
			<integer>0</integer>
			<key>BsfHost</key>
			<string>bsf.ims.mnc340.mcc313.pub.3gppnetwork.org</string>
			<key>SupportsCW</key>
			<false/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<false/>
			<key>E911OverCSIfNoIMSReg</key>
			<true/>
			<key>CellularE911SearchTimeout</key>
			<integer>5</integer>
			<key>EnableVolteByDefault</key>
			<true/>
			<key>endNonEmergencyCalls</key>
			<true/>
			<key>tLte911Timer</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Show4GSwitch</key>
	<false/>
	<key>Show3GSwitch</key>
	<false/>
	<key>CarrierName</key>
	<string>Boost</string>
	<key>CarrierBookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Boost</string>
			<key>URL</key>
			<string>https://my.boostmobile.com/wireless</string>
		</dict>
	</array>
	<key>SendTextMMSToShortCodeAsSMS</key>
	<true/>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet</string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>DISH</string>
		</dict>
	</array>
	<key>MyAccountURL</key>
	<string>https://my.boostmobile.com/myaccbrand</string>
	<key>StaticNATType</key>
	<integer>8400</integer>
	<key>ShowVolteSwitch</key>
	<false/>
	<key>MTU</key>
	<array>
		<dict>
			<key>technology-mask</key>
			<integer>24</integer>
			<key>size</key>
			<integer>1430</integer>
		</dict>
	</array>
	<key>Location</key>
	<dict>
		<key>EnableCPIDuringEmergencyMode</key>
		<true/>
		<key>EmergencyLocation</key>
		<dict>
			<key>AugmentedEmergencyAction</key>
			<dict>
				<key>Supplemented911</key>
				<dict>
					<key>HTTPS</key>
					<dict>
						<key>URL</key>
						<string>gateway.icloud.com/meridian/meridian/location</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>SuppressSimToolkitSendShortMessageNotifications</key>
	<true/>
	<key>SupportsImsCapability</key>
	<true/>
	<key>PhoneNumberIsVoiceMailNumber</key>
	<true/>
	<key>SupportedPLMNs</key>
	<array>
		<string>313340</string>
	</array>
	<key>CellBroadcast</key>
	<dict>
		<key>DataThrottleTimeout</key>
		<integer>40</integer>
		<key>DataThrottleOnMessageReceive</key>
		<true/>
		<key>MessageValidityPeriod</key>
		<dict>
			<key>TimeLimit</key>
			<integer>720</integer>
			<key>AirplaneMode</key>
			<false/>
		</dict>
	</dict>
	<key>ForceWPSCallsOverCS</key>
	<false/>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>2</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>internet</string>
					<key>type-mask</key>
					<integer>32771</integer>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>1048580</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>xcap</string>
					<key>type-mask</key>
					<integer>1048580</integer>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>131072</integer>
					<key>Support5GSaHandOver</key>
					<true/>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>131072</integer>
					<key>SupportSwitchOver</key>
					<true/>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>ims</string>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>262144</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>262144</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>3</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>sos</string>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>512</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>ota</string>
					<key>type-mask</key>
					<integer>512</integer>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>hotspot</string>
					<key>type-mask</key>
					<integer>48</integer>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>24</integer>
		</dict>
	</array>
	<key>VoiceTextMedia</key>
	<dict>
		<key>EnableHoldForRTT</key>
		<true/>
	</dict>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>891051</string>
		</array>
		<key>ServerURL</key>
		<string>https://sm-v4-083-a-gtm.pr.go-esim.com</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<string>120</string>
			<integer>300</integer>
			<integer>600</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>11.4</string>
		<key>ShowE911DisclaimerInStandaloneMode</key>
		<true/>
		<key>MinCompatibleWatchOSForStandaloneMode</key>
		<string>11.4</string>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_NA</string>
		</array>
		<key>SupportsFauxCard</key>
		<false/>
	</dict>
	<key>WiFiOperatorNameSuffix</key>
	<string>Wi-Fi</string>
</dict>
</plist>
