<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4CONn/ooGC6Q7SFqF2bi4alZNG8Gzj1Tt8P3zQp8SO+NvuqMmmjUvsHZvv1oiNJmxaa4
	YGDepjeIX3ImRZXkzqRDXUnTsQ7yMbGhNgK2B9oytu5csmW20214L8ILbGGzLGCTEtCf
	gU5IeCiTh6u14bNRD9EHtkR6+oY4E/bl/ZPHBTfsZ8ASUsaRnM6MuY1G2nUVgT6uFvmP
	bRoN5taZ1sRdcjyYfKMguqtubBqaiNdelH3ypSM5aN9N8Hmz4FDr5LJBSc0+gHnyeHEY
	gxxH8HcuYrzMHDOFHnIqHzdyxJblBnziZO1AUJyGB9sTRhljruSBQPl09ER5Bpj+ARI9
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDdA1ZwCN0wXi3/ZucBn91va22Ky1v4Mmm6T3Us3B3hUiL1n+bm8NlAO6wm2nuJ
	rb8CMQCOPgE5My+pvEMbMwcNAcXtFwsxt8Dx6DQBW5q2hXxyOVZ+TQ+qZa8lyKcot56b
	0Vw=
	</data>
</dict>
</plist>
