<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	j0dST399+VfApPBsSuZjy6SZHJzx2C5c7IZpIKwtswndNs6aUgQ1DGNeIrj3+DXyDFgW
	kKypfCTEhAMps2GaEZZGdjuxIS7f7b761mp9OYnlQB+hTDSsBj6sRG9+pjsSYZE6TJq6
	82DMsUwLeUtYBdByo4jmYV30tral6/BxfmfqW6985Ys02qPTEFc06zvpLhpnbXDPnuMe
	n+NaFYO/d+lKykotnJn5I5RHza58HY9UHXSN2AxOyij2y9vNnoBVtzDF1wfjr36kdp1W
	G4mDsFCy8tCEsGEKg+EUqEy9Yeo48h7Wq5+vrOQtXfc7ZkTkoIBO302yrIH6CL2sjhgB
	6w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDcaLTKEKbaABYTJ/ysMG/pvgF9IRFxqCdc1Tfmu1iCh4tYBUmLMzYoFjsnD9n7
	bBsCMCLRjl/7z6+ZTuzuGLCrTXJoKkNfkpIS+iNDmVNKvTZAw9b7ymzmdM8SmWh82YEB
	Ww==
	</data>
</dict>
</plist>
