<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QLfGFq2xud5RRH+TfJw86PZ8jpBhDHycdRP5kvx+0Hqf8toOQXd6rhppss9rA78Y7hez
	NkmjcafAneNb8XRVq/YpOH6+cZYAl+SqPGpZORWk/tk9DNjen3neUjk146oIXXuE8BZD
	rId3gdzBVVlVOatBUDQgu+MR7jGcuYrPHtkr2kJ1XGykDnktpILBV/jNNEs9Pv2f6BCV
	GugamEZRXDDp37sNL84ldJp2PjugKj6cmEDo6SuO6O9I6pilH6QVdRj2GvVz9CE64YOj
	wiNDrjP5w58BlQyNjanKdslSXn/zi1biBdlONDCgtS6SdLr1NZbHPlj4/mCDKqXyQaTs
	AA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMG/9QL0vGpSIFfWrfv0o69H5zgM7upHOMDfnK3q3lvhdZPplGHI9MIweZ9g4lN7k
	YQIwcMkU+Q8Pml2Beq76ArYaVVCFkv7es2tDGgI9DFoVCIlF4bA5i5LwCXkzk3PsW2Pp
	</data>
</dict>
</plist>
