<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	V4x+NOCvCn55VKNMfR8XOAyNAClzZ6o7ENcCUSSE9JOnKLgT+oWCsOGwDxYuNzHOURMf
	e8YydxK7h7QpyQ1S/df/NJpPG5cIA8FPGI8ehJKD9gFJ6plSXkhcCeOzy8MOheBihkv9
	16C7hC1RVvYCj4TOzPKStzYs2A+pN+Q7iEYDdJjJ9uKuy2bv6syxF1AOWFpV3vxL1KxR
	FRJxF+i5C5LsOxYz03YRUrjaxz8X6h+uLWdrOcX3lHY3Prv3l4+SsmgPYEXJMsBjTDsY
	D0SwVHUf8cN9eK6qxYGTsskCyDVU5pRKarcEbejQ755QXMMMsrGExEAhPhWr9rj15bW2
	Cg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDqRbp5jIlsOb6D+h06C6kNg7FE6EUZFug+VicCjoWNNBieAaH7FaosA4nXKR0A
	mhUCMEoQnWSb32dJVZtbXq+4uwjDcoJYt9aFijwbAdC6F6piXSdoQewQ/liR0lFTkP7k
	fQ==
	</data>
</dict>
</plist>
