<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ZjZ7C9A+0r6v1HYp/agrAnsUiS5iIuttitassCj4oEj5RfzL1wbKqseLxF2t7o5wAWKw
	6k/383TiqzPm9KOABP3QkSo+u6+MHwKe9YqbcpSg7tSrXnFW7XKj/g0jbBZTaWbOtjY2
	ur84MYVHE0Dkv0hDlCj34srMI5Alu9AvcyIov+tO0ukKVRJEs56VR3AlxSozURdtEr9j
	lJ0dKVsnOUunbzpNN7HLdb8NOh0UGRe6JizTDJ7DzKo+074cWl0voGZG21bCfUjiOshM
	MlXhEOcIEWEfEBi8R0ndm/DH+/D/hBhg4CL4dYnVFTt97c6yrtcMhBDT+U5FYa/sI8MW
	ig==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCNddu5fLnAa61UoaDplLlPhg8Fmm1sAIDMQMM/I7eVHQ/JrF0T6hB7wSPiCOvL
	gQUCMQDggQnGHRRkArejKHMrP9RQG5XcQUWn+dj/dlEzi57xh9RHAdZurduthE7pV/p+
	Ld0=
	</data>
</dict>
</plist>
