<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	emJbh0HggvnCVCII8bxmaL7g6diOZ3rQsNPVyLRxy0fIf7FnerMfPXZoTDdGQvYD7rrV
	NNIRX4k+GKIIUaRGMp5EFQR6S6bq6o8H+JRD1sZKDxCmH2mPgT0eT1i2knztxtu4MWx+
	y1gyy+DzejTZNjkfGSGxiQ8UE1M6xIoNZhbDNhwQ8t6ivECKu2HEYcyR8b72bHoScmD1
	sKcMQaj6kl7bVmBTFd4vc2fjzzgTRtkHc3J5P8A86Lut5YXE8v+bLSmxPqMDwpfZH79W
	IENY9yiMxERlwvJSINp37YlW+yeuaUW/PzpkwkmNaWVTNWEsCpRwJIUKQ8ohYb7x6Hve
	yQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGlFfuZsqVUTkEjX/oXuuvKppYrPiPa9QX1hK+Z6czyORm566vKX1E5B4hYR2Vr2
	lQIwSsFh3KafqKIdsbNylobSYGeQpy3YFDCm38guIXjynj3BFiHv3v3OOina25LceW35
	</data>
</dict>
</plist>
