<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+213770850555</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>Djezzy</string>
			<key>StatusBarCarrierName</key>
			<string>Djezzy</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>60302</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447537410207</string>
		<string>+447537410217</string>
		<string>+447537410227</string>
		<string>+447537410237</string>
		<string>+447537410247</string>
		<string>+447537410257</string>
		<string>+447537410267</string>
		<string>+447537410277</string>
		<string>+447537410287</string>
		<string>+447537410297</string>
	</array>
	<key>CarrierName</key>
	<string>Djezzy</string>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>AllowsVoIP</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>555</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Algeria</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://172.24.97.152:10021/mmsc</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>172.24.97.158:8799</string>
		<key>MaxMessageSize</key>
		<integer>204800</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>djezzy.internet</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>djezzy.mms</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>djezzy.internet</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
