<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	SdzInCUlkNgNvgyt2w07KnBC4O4sDgktgLpQUjUtDRRs9kA6Fcm3TWAAjnasKtY158xg
	UBUZXXQ5dCNoJ7gqfUeL6BNrsl2jlGhaSnhLnxBi+R/Guqus6hv6p9JyFFeb5yIyAT2A
	iQh4jwrIhLCb1U/fLWzlkla0v7bN5LtZhJj7yTP1JsiPMI13EHJq+s3Uw3g03diYPnSC
	2takfbVewaA0u3ZZfhT+0EQefkjIfdsXjL7142UW2ojrUgnE/9QM1MKG0d9uXcLcHDFG
	mQ8m+9D01IjORw9UobSguF1KZlRkryTm2oFj9UssZ7BJLF/elhykGWIx/oXRGOgvBzlr
	JA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCydCqEiS+EKf0+kRoKX6zd8O19lmFVOWv+kDiLTC4LrEZlxhrFwpNg+6Y/FcDx
	atcCMQC6VdGKdG+0+EI4Pbzc8fxUM6NuwlOs51G8in6WRbSTxhWQl4ezBsCgk1ag2irG
	OqI=
	</data>
</dict>
</plist>
