<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	pguoMK68JRttJ/+j7h6bq0MwwuUM2NbqsobG9YspoDFb3gMvMRNJE8Ko/GvENZn7m1/O
	nxK0FBVA9lhD0WMKNcylhVrExA70Pff5t6pSCbG4TZJrwmAECVZQmlcZi3U7ztLd+8Sq
	98gNzzCfxKvVZBFB6rwXJoYLl2oANNBg+S17pN3V4+kwHciZ4jYu5C4XSF/09zLJ+utp
	NewKKPvHE1Su9wO2FhIa5o/x1JS2HzrcaqLjT6BeoLl4zp5gYYp7vnEEAtJDMTUJWX4H
	3xNJAvy3cbkzZNh+3bIMLxvS4aXM+05E2Yg6MBZUygO7CtK1cQBkTivdOVG+hVvRTI51
	Tw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDfHKT9+EZPwCF1r9IaRZqsqVciTxZdNrB/yAg3X7VQohQ2qqacH0WVC++HS26K
	bBACMGxnzlyJQE9q8sXfAo11EwejFNvzr2Zo/pVWDzy4RiJYpx2v+dyvnv0641MUntW6
	hA==
	</data>
</dict>
</plist>
