<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<true/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+389771222</string>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>A1 MK</string>
			<key>StatusBarCarrierName</key>
			<string>A1 MK</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>29403</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
		<key>SupportSecureIntent</key>
		<true/>
		<key>SupportedEntitlements</key>
		<integer>8193</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ServerAddress</key>
		<string>https://esim-es-open-prod-aonemk.esimcloud.net/aonemk/prod/executeAppleActions</string>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>SupportedActions</key>
		<array>
			<string>TransferSIMService</string>
		</array>
	</dict>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447537410207</string>
		<string>+447537410217</string>
		<string>+447537410227</string>
		<string>+447537410237</string>
		<string>+447537410247</string>
		<string>+447537410257</string>
		<string>+447537410267</string>
		<string>+447537410277</string>
		<string>+447537410287</string>
		<string>+447537410297</string>
	</array>
	<key>CarrierName</key>
	<string>A1 MK</string>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string>https://mka.prod.ondemandconnectivity.com</string>
		<key>TransferErrorCodes</key>
		<dict>
			<key>MaintenanceErrors</key>
			<array>
				<string>300</string>
			</array>
		</dict>
		<key>MinCompatibleOS</key>
		<string>26.5</string>
		<key>SupportsFallbackToLegacyFlow</key>
		<false/>
	</dict>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>Number</key>
				<string>112</string>
				<key>PreferredEmergencyNumber</key>
				<true/>
			</dict>
			<dict>
				<key>Number</key>
				<string>192</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
			<dict>
				<key>Number</key>
				<string>193</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
			<dict>
				<key>Number</key>
				<string>194</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
			<dict>
				<key>Number</key>
				<string>195</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>VoicemailPilotNumber</key>
	<string>+389771222</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Macedonia</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mmsc.vipoperator.com.mk</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>78.40.0.1:8080</string>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>PushSettings</key>
	<dict>
		<key>CellularPlanTransferTopic</key>
		<string>mk.esrv.ios.st</string>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>vipoperator</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>vipoperator.mms</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
