<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>PreferCarrierNameFromMetadata</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>2373</string>
			<key>ServiceName</key>
			<string>Atención al cliente</string>
		</dict>
	</array>
	<key>MyAccountURL</key>
	<string>https://yosoymas.masmovil.es/login</string>
	<key>SupportsNITZ</key>
	<true/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>0</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>MyAccountURLTitle</key>
	<string>MASMOVIL</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+34656242242</string>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>movistar</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Movistar</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>YOIGO</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>yoigo</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Orange</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Orange SP</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Yoigo</string>
			<key>StatusBarCarrierName</key>
			<string>MASMOVIL</string>
		</dict>
	</array>
	<key>NetworkEncryptionCiphers</key>
	<dict>
		<key>GEA3</key>
		<true/>
		<key>A5/3</key>
		<true/>
	</dict>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>InactivityTimerRTCPSeconds</key>
			<integer>30</integer>
			<key>AllowIPv6UnicastAddress</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>EarlyMediaNeedsHeader</key>
			<false/>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER</key>
				<string>+g.3gpp.accesstype="cellular2"</string>
			</dict>
			<key>DropRegistrationOnSRVCC</key>
			<true/>
			<key>UseIPSec</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<false/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>SupportsCW</key>
			<false/>
			<key>NafPort</key>
			<integer>80</integer>
			<key>SupportsCLIR</key>
			<false/>
			<key>DisableOnNetworkError</key>
			<false/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>SupportCBMediaTag</key>
			<true/>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>supported</key>
			<true/>
			<key>SupportCFMediaTag</key>
			<true/>
			<key>SupportsCFErasure</key>
			<false/>
			<key>imsFeatureDependency</key>
			<true/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<true/>
				<key>GSM</key>
				<false/>
				<key>UMTS</key>
				<false/>
				<key>NR</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>OverrideOperatorWiFiName</key>
	<string>Llamadas Wi-Fi</string>
	<key>RCS</key>
	<dict>
		<key>EnableBusinessMessagingByDefault</key>
		<true/>
		<key>ProvisioningData</key>
		<dict>
			<key>ServerURL</key>
			<string>config.rcs.mnc004.mcc214.jibecloud.net</string>
		</dict>
		<key>ShowBusinessMessagingSwitch</key>
		<true/>
		<key>SupportsE2EE</key>
		<false/>
		<key>ShowRCSSwitch</key>
		<true/>
		<key>EnableRCSByDefault</key>
		<true/>
	</dict>
	<key>SupportedSIMs</key>
	<array>
		<string>21404_ID-89340414</string>
		<string>21404_ID-89340424</string>
		<string>21404_ID-89340434</string>
		<string>21404_ID-89340452</string>
		<string>21404_ID-89340462</string>
		<string>21404_ID-89340432</string>
		<string>21404_ID-89340471</string>
		<string>21404_ID-89340475</string>
	</array>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>MASMOVIL</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>242</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Spain</string>
	<key>APNEditabilityTypemaskNew</key>
	<integer>49</integer>
	<key>SupportedPLMNs</key>
	<array>
		<string>21407</string>
		<string>21403</string>
	</array>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
