<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	snMQExxMP5dOLt8lCXyFlR76nWW7kxLTaAyoDeFEHpMOx0hPb2lnSCbT4Gs9Yt6oRdbe
	LsP7567GwCPq09RCB2p1mh7cKa2wHHqaVn47+2t+cyTZczFiVi4OPBo7XWnGvp+zFfV/
	DIagAJSlYjZUh4Te0yth0xyivdEtoo3sYCDHDzvAowoYpfMrKz8TilRgX7w5VV7N7YkT
	L+bSAvpdWrAywLEs1TN6OmkWQwLw2+2Tx0g7opmq2yu+FsIhRBV9klJpaMcRsgsq7iZM
	YR60Mew9R7NLTRRO3QSGInrvKc6aq0We4QmENUgMkQJIWMl1DGDDJJcG34iDewlzJydR
	+g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDT/OCBZcxmPigSLl8/uEm4heE2VBIEnFELf0WEfV1osebX+WIjQYIkA2YGjRK8
	iyYCMGBKrWKR0Fv2yaRnv0U49BpH5PvFrRkGv55OAWQUXlEyiGZ42UpMsi353/I2WICi
	/g==
	</data>
</dict>
</plist>
