<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rFCyCCiSn+EPpXUIwVb9CdWLXDdYerxMgX1tACgR5n58mGpe2e3IevUjJp++JBWAAAy6
	jtzzSzTh3+90BABffkIn4gAVlyzEM08KgfWKN83GDRgbMSMPVE0acgYJsSpVV8eTqUFj
	gnjP6QOGZdosOmhjiD+oFJzPJ5Ff50MD6YG+cirS7TbXE82MGjdlynZP5FkmXFNTAXFG
	R16iNRjpqMjA8zNhWpxYtRRNE9TJMpjKWqnPJLxKA5TNk5B5sorwqcIcJRdky32SKZsf
	FDJNeAXJkqJRT2z+Ct8MAF9sdYLBsXrMKOss7Te1NgG2DLgg0dPajcsxCuarSia19vyz
	2w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDJ+EiTBAscOUFjn/1XI5ygIDuVa+zoywsKU5aHxANVkDfGvA21l0mLCbmFomYp
	QNcCMDm73iL5vHDGWbuJat8eh3KkWNJ8ooDz/h1kZrWZAyUA0mcQAsIlm5ZNODPgn+Oo
	zw==
	</data>
</dict>
</plist>
