<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Nr9SMDeqpwf9HHxSRa48Y+FrWsrF24EeeW/myk9VR3YMGAvRRIR4F72VBrQSslm0egwQ
	dZW+XLcMETFzaExbW9/jK8mCbZ5vJlwLLARTmZI9O++nlMOohO4kMpiAtDqp8qFT3k0D
	jAVBsQWAp1R291zHIZnJ95jJl+J6+rIVH0biy9+vOH9UW2t87Eo5NtMaTJ48zaZQBFSC
	oYReVqSyHXFe6hMNmITZ7ncQ+pQiOiZDqJs9D6gS/46CIz5nCUm+Of9ZgX4A1CYq1Zsq
	6PTk0Y7Jzx7fn8fK3Ou07np8zx0TGhOOAmT0NIyeMzoHdGll5cU7DhXRIB1h6Gp5aBng
	Jg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCInbVfI0bsDKTXpGLRsKm2QW6RqDJ0uWdesR+0dPY9rt4KxdfEo4UK7tYlY4Be
	F7oCMQCoSuHMhnrB5lItg+/boGS26k9C5cvb9GdQU8WlFGWhKleK3xSXS6D/BNQpmocb
	Mmg=
	</data>
</dict>
</plist>
