<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	P6NulSQkut+yRt/wS63Ga9Tu1Gk7f4WsCNM3tod1u7HvXR6rfrILZIa4U06Ym8+bQSjY
	gexnX+QvKRA/Lysdff7Aux3lOv8sPEITpjfLwEQDBRCMTrOYL9so+oqrzFmgMte+AJoT
	e6bvpqoI/2BhWvZ4TE19kL5TJQJsAKA2lSWcvxmy56RhO/fpii5YwkI4ERhT/VZ2o9AU
	UKVmKHvyy1WMA9Vpv3Ebv91bTXFMqLnyDRr6O5bKUJ9xNZ69bOnaVyRY1O0qIFXo8x+a
	MKg/8aNKTes1WHfwVJ2b98lxN/3W06norMFp6cS50IQGSTInP9euLoxQxQ20c1oXlA3A
	fg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCmOlw5yGAkPc1fsOrNPBk1gG1/yn+KfiacIGeeGu70kWXYQn3c/XvaUjr210rf
	dIICMQD8NZXTJr7oj9wcJQpEhS8uLtSJ3m8CgJmCidi1e855wm5CKWe031vjLWdZ20r7
	5Qo=
	</data>
</dict>
</plist>
