<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>0</integer>
	<key>SMSSettings</key>
	<dict>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+8808121</string>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Airtel</string>
			<key>StatusBarCarrierName</key>
			<string>Airtel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>robi axiata</string>
			<key>StatusBarCarrierName</key>
			<string>Airtel</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>47007</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>strictCallFlows</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>30</integer>
			<key>RingingTimerSeconds</key>
			<integer>30</integer>
			<key>SendPreferredServiceInInvite</key>
			<true/>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>Preconditions</key>
			<string>None</string>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>AlwaysUnsubscribeFromRegEvents</key>
			<false/>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>10</integer>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>AllowHandoverWithoutIMSVoiceService</key>
		<true/>
		<key>ConferenceCalling</key>
		<dict>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc002.mcc470.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>UseRpOriginatingAddressAsSender</key>
			<true/>
		</dict>
	</dict>
	<key>ShowDialAssist</key>
	<true/>
	<key>Show3GSwitchWith4G</key>
	<false/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>Airtel</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoamingLTE</key>
			<integer>3</integer>
			<key>apn</key>
			<string>INTERNET</string>
			<key>AllowedProtocolMaskInRoamingUMTS</key>
			<integer>3</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>SupportsImsCapability</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>8121</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Bangladesh</string>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>SupportedPLMNs</key>
	<array>
		<string>47002</string>
	</array>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>3</integer>
			<key>apn</key>
			<string>INTERNET</string>
			<key>type-mask</key>
			<integer>49</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims</string>
			<key>type-mask</key>
			<integer>131072</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
