<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gaOPwW1+ubzEZV3X7St4Iv1+fjtkXEiq//MAZHkvSiDE5ZBrABPS2XTbubjZUWHFAweW
	Xk3hboGVZgJlEiamGoag7h9ydYXykjgt76XUHpmcp9HIORafgEv5NxlS7xi9IcZocS46
	NPlh0pT9sAqQXEZp5vR9L3GQtG/SI9XMgOhVktSae5h30KJTz9nGWaPqowD8mgWXJaf0
	ohEi3YQNY2cgf1mmHkb9cX36y1/wRNHRREg3J6T4DYMTHavoHzlAVyMRutceT3J/2kwl
	YMyAdYck0QYL+pIYXUnvjyRx4Wp50jxokkcg4GzVD6mGrTR8Kz01bWh3Cm9vEjFDFi0/
	eQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMF/BXUIdrbXc969qhbeahvyF0fHEsvVMAXfKYPLrw6vX8XAOimTlTlwWLjd9K6xY
	XgIwVK4Dg3WemjG/3FxHMePOaTSo0OD6hrimqlGy2Takk/26qwy1UQimYVJtRXYopYZk
	</data>
</dict>
</plist>
