<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	UPhL8jJzuLJ/4Jh+az4ZMuXQzNkRZknd3YK9lzKL0hCRtvxEVrypIS6fGyLpt4QcV79v
	b8q1IrBjNRTHQoM1RbA5a1rzS+CHWco580/KtdleJ9i846AiuA6TKevu9Pl4Xw9vY9Z7
	NxUMvDfkSau+KxqWs6LyhGLd0ZoSpNLNaAyKdvvfz2mhN6UaV+8WT/q3p+kE3H+GA4fp
	h1b4+HLGSX7VF/iLfEbtqKo379KXqb/KBZvT/n7/K1X00tK+wjZJgSx3sEh5FL9BvAwn
	BKTXPFQBkOOSmLy3W7FkNt5Ryyz9yA4RlpfHl9Dysj0aEVNmfGJ3ZLOeaf7Je9kPs5L6
	Qw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDyGk30LogsZ3aUEu0AifJxmWii2xBJCNcZMBN7p1It5vV85jufOZnJzBmBt6V6
	eRsCMBOktNI/4qhRKvM8dBylKBVG+ShTD5Ag8ubVqCMj98cGMOZfh8eeGUvpWbYfmLHJ
	Hw==
	</data>
</dict>
</plist>
