<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	n+l8vbevZCiEQ/l2/hFoYUd9Yep2gibsnkQ4yup/U1ENEfIG53ER96BfxvJmUb64laa8
	MeRDC+9HBIdYAdFX4yt7xPOUFCnl38Q3XTFWXJa/qOHcJZpJ2gpts1bsiI7bhjwls7Wt
	a6JtdZrblw8yZgHBpe/ttnkeONAXmFciXos20Y9feW+ELkVxslEoYQDM/iNnjl2dYgc1
	oyuvShT5ucKZt5ayxHLp9/gD3hDSkta2pHJYg6UQ3i1/h/Z0HmSsFIJgZ5133scB65aR
	tIkS6LliQl2ptw3cz88K3HgFHPQQBiN0qKh1p8s5maiA7EuUfK5PJdLR5LaDZiKC2Gor
	2A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDjlv5eaMASrkKJjWoh0Q/995itGjrQJ3KtIrWbKztZH6SS77JcUXVw/u43YyqB7
	SgIwMeQFgo5jG5MNboNwjPhpwJai/qwm/jwx0TdJDm2eSzNhYIj/lgir93yFLkMtEPXR
	</data>
</dict>
</plist>
