<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dM9RhObDonAripZOW0Kgp/bt0wEpN8fQoD1lsOsfH7a6uvU4e5HhXD7rUoZS3lSGklMl
	IWpY7U9aaX4WnleH94llfrs0oBfiT7M1PlN/ZhsV6PweGSH2aqlV0qNX50G8Orf9DpT/
	R27+j2kvfmVpVNjDRwk+CxVaZfUrb4hsb1d8rtT4gm2R5MNRqmHnjcshoN3FmvM/TL7x
	TKytyus3hEMiESkhvN7YodDWpQj69J7nRDCWIdycG+/aAT3ID1kJDenj1UF3UvY4xzyK
	grEY6ffLwbDbsv8Ai2tyPbAOhNFIJyyYMquHdFrv1WkaChr08H9nafeinpzaJyfcNcoV
	Dg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEku26vwjQKuQdbtJbwjL5mK2BVwShQpRydRU4eynGuTv/NiCY5PDtlurN41PHuA
	kQIwL4irnKJ/LlFr6dJe48MO1LO+TX5V2v2/Jkb3L2n1gaby+V+aAE14l8FeZeUOZqQh
	</data>
</dict>
</plist>
