<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6rg7xKcfvale+9ZmRQcbgXnsFD6Hs10znTC6zVHAlmyTN2tyZRQ0DpXTf10V4ZgawzcO
	/8wej4mcsEHZhQ3ShcDquAfLu73Rfhk7cBP+bh/C+KXFn/pMT0J4KECp4tjLiVmnU7Uw
	JcOIay6mFy6AX9aHZ+ysOqn3UfkwE3/Cb6vzlUn782+sCSuiL0L2RQbXTlL7B32PYnDO
	ckf8sWBlsEjbmRdLddVjHWAVr2kYJWaLBuACGEwECT2Msi4+czi3q8i+lJEbOohalRB2
	R8EkRQjWICiL5JEIl5IxZTqRf5DsK0D7pOIQt/itRjQng+ytH4ng3c5WbXPB9AwO+FGA
	vA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBKF4gtXbkoG8CGprCqO3QMrZu57oG10StvqHsswM/zg0mcRnS4OqXUpYxe4HWm+
	GwIwD51DMGwI54kOlyiFx1EXA2rKbsL7JJpIhC4hwYaQGMMuN7Sdg34Ja3NAcMhDhkk5
	</data>
</dict>
</plist>
