<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CCwwd0yI5k0mQNJ1ZOUgnrHVegJn6Ql8FYpr3QeuRG8f9OSeYOZza3A2/Qbtqil6zWkd
	aA2xZgCyfUy2CE67EkVKFCgKVx+nuQuOL9FfOT4S5SkZNtOe0k56KiJOIMqMrGjcK8pu
	FURkcOqYoH2KQZhj6vhFzV8ghvzxYvN3vTJhbGtvR7JwSNFyKsXxdBZJCuVplqL4NJCA
	U+mmHWiDN0swu5brBe+ahIeLsN2hvWsvjb5ChaDpO/8jBzsz0rttsFFUj3rrJZ5yONUh
	mRqPLr3Upx7QVWAuOOfIQCvYnjZsMw1qzEIvCqiJFmWGiW4CfoTdfTdkLxhNXkSvMJLl
	YQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCbFd535ZfzayTNBFBY9h2fxQrLkA4wa/seRYm5IjYxyrmiP8vW7eqRDjGpPE9R
	Xn0CMQCNSA0bVyDpsQol6AwokoooniZaHEnxMe8BOX64PHbr4nAHd7R1hLBdDNEO4zKf
	s+U=
	</data>
</dict>
</plist>
