<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XTAAwwD4RbY2NT8hX4tQnoh6ZCY5TUDN8RBg3Fr1IJeN/TLd6XvTjz0y77L8GAgX35Hh
	P/czRZbpOvg8fvmmw+7I367dSHdERRZe5ETB/2uRlqQT9R8rd2QFq6nkpUT8O0/FdDJu
	//Y+Vr9YuiT4ISDt7K2fSYZRGqSoU2JtfEqrNSkfx+SjjqAAppmYKSgA4NBWYOQ1YI/S
	5VudBvRg0sr5KWEYQ7SWX6JMlOIm0fkEhsHTI39F8lPfyA6+jwhxv8mKfa6S6kHSSL1d
	YgywqUFvCZkgFXSflmJXTMsZXNnx7OFIOiv+mGfDmOzVuMVp3/3tweilervCgjMN46fa
	WQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFA7mkA0BY7sExqDyMMvkVUcCCMrpW8eNTkvk1RHMYb9DeujsrU0Iw7Y5mmApLIj
	vwIxAOm366akqvPx2R2HGfLvlLavqAwbnujK4eez9U89d1fXDC08M9esWdaS2DtJsbH/
	8A==
	</data>
</dict>
</plist>
