<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	V9gJoRHehKpyOhkKIfcJrHsgSyELTjdu5pJSIalkOgzeDrpbFFVkSu2EHinLAoJBFwwg
	k8edaL/5Dd8RuppV7ybbsoLRE4FU45iALuQdeRSldai44s2RTa99eHqM4uO4qT/ER/gd
	yK0q9eRnOW1Xi9v4AsunNohq9Mfjb8BYYJbA5ByAAIImYdpcVJFy6sqgD0oPyBNe3EWz
	9pjmd4KrdT2W6RhInevnluEd/elwO+cchVmOQ7WEam8QcF4MCfM4kwRVheG2fjY2OFBD
	7RdOaMS5WBU2L1TDlqUuIrtpluXp8IWp3PaM4H30DYyPIhbntYcqb53lfv0trZ9yHCsW
	mA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFccI0kccLMScdlaJBsIzT3rfeREoQJ6tXPLeBRFw3LiU6E4LCOGs486pTSpkAkX
	ngIxALHJs26iRDO/b+ooZ31y6IEzkWe0y2D81d9l96Fp1MG0D2xbfF2TB/kAvCP6RQsj
	PQ==
	</data>
</dict>
</plist>
