<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	S2IDJ3DqCY+7MWweJvXnsEoVnU+DCdj4HNkM9mpcAAlNcPYxdbdxH0iUofy8KBN5rASd
	qU5saY3LuoAGmsga5X+9sdNEEOIo+reixLneHTSaPL1cQu0OjyHqz204WlHcCogR0chC
	A+Bx4cMedtJK/wAZTB+q8I9ZU3BYPL9g6IzQiTMpO/+whs61Q2kYoefC4OLLVoJdyL35
	+rxJfynCPfHChPinBpSBCQHwJJ3gAyP+3IMQnKm8gj4h7bCJH/bCt0x7fIuu2PEiNC89
	awsjWUbBmPv1FGAqDFWSHaf2OyVkBEuy3eSP0/RDR/dE3JDeSx3JIv9Zxo0LwroxxjRy
	JA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCM3MLlhYXryVqWnPNgLCcE5eJkOar46QaOHH5ySURHX2mvkJJnm7mmRd++Q7u/v
	wAIxAIr9tM6fSAJN/ZvWNoLKJXOrcI2xLaIgVwmX1nHDflaMPCDM4MY17mgWh3uv+TbR
	vA==
	</data>
</dict>
</plist>
