<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ISOAlpha2CountryCode</key>
	<array>
		<string>pt</string>
	</array>
	<key>Location</key>
	<dict>
		<key>EmergencyLocation</key>
		<dict>
			<key>AugmentedEmergencyAction</key>
			<dict>
				<key>AML</key>
				<dict>
					<key>SMS</key>
					<dict>
						<key>Destination</key>
						<string>+351927917008</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>CountryName</key>
	<string>Portugal</string>
	<key>SupportedCountryIds</key>
	<array>
		<string>268</string>
		<string>com.apple.Portugal</string>
	</array>
	<key>VoiceTextMedia</key>
	<dict>
		<key>SupportsRTT</key>
		<true/>
	</dict>
	<key>ShowTARandomizationSwitch</key>
	<true/>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>Number</key>
				<string>112</string>
				<key>PreferredEmergencyNumber</key>
				<true/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
