<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KE3BMgF45u27RCrlbZEkwVeaOXJ+79xO3gt7QKNP7vZMAAFT/85F18WO+4gi93qIA/HH
	UgcIzNJ2hVruLW6prwsIIXvdYON5Nh7JtBGsg4nMDTECIYOHaVj5Er8I+hpCqmv7ya41
	Z/0/JtTTb0q1Kn+QxFLxhbEBbVu9919sWEjVdQZJaJqOu8hY581E0L/2jqAe/tFPGqXT
	OL63vr4AnwXfcRj8B/Vb/0m7CjNhcQuyMyhZmAwALu3tL+mEdnmtfbRxBnvFuI8tLmdL
	SyZc/eN3YSzpQOgNlWh8eJjiieES//Qv6/Zg5PffHP9VQylh8H/t3UuETKZwj4QWK5L4
	cg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDWbC/eKSSTsY9mU5jmfiQgz5nMZSQNqxji9QPMklmFsoT9tVZLB19J+qLbBDIH
	MigCMErUDW5k/Y2FDvkGPh898haZy1HJOyI953lxAf2urKpZ2pv8+W68pUAH3mv/BRw6
	OA==
	</data>
</dict>
</plist>
