<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>CarrierBookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>CTM iPhone Portal</string>
			<key>URL</key>
			<string>https://apple.cyberctm.com/</string>
		</dict>
	</array>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>53</integer>
	<key>AllowsHighQualityVideoOver3G</key>
	<true/>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32769</integer>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+85366001234</string>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>symbol</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>symbol</key>
			<string></string>
		</dict>
	</array>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>CTM</string>
			<key>StatusBarCarrierName</key>
			<string>CTM</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>45501</string>
		<string>45504</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>ch-aw-recv</key>
					<string>0</string>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
				</dict>
			</dict>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string></string>
			<key>AllowEarlyMediaToOverrideLocalRingback</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>120</integer>
			<key>RingingTimerSeconds</key>
			<integer>120</integer>
			<key>ussdEnabled</key>
			<true/>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>Preconditions</key>
			<string>None</string>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>UseIPSec</key>
			<true/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>NafHost</key>
			<string>xcap.ims.mnc001.mcc455.pub.3gppnetwork.org</string>
			<key>BsfPort</key>
			<integer>80</integer>
			<key>imsFeatureDependency</key>
			<true/>
			<key>NafPort</key>
			<integer>80</integer>
			<key>SupportsCLIR</key>
			<true/>
			<key>SupportCFMediaTag</key>
			<string>true</string>
			<key>supported</key>
			<true/>
			<key>ContentType</key>
			<string>application/vnd.etsi.simservs+xml</string>
			<key>DisableOnNetworkError</key>
			<true/>
			<key>ForbiddenHttpErrorCodes</key>
			<string>404,501,502,503,504</string>
			<key>SupportsCFErasure</key>
			<false/>
			<key>ServeMultipleCDIVRulesPerRequest</key>
			<false/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>BsfHost</key>
			<string>bsf.mnc001.mcc455.pub.3gppnetwork.org</string>
			<key>SupportsCW</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc001.mcc455.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
		<key>SupportSecureIntent</key>
		<true/>
		<key>SupportedEntitlements</key>
		<integer>31745</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>SupportsFallbackToLegacyFlow</key>
		<false/>
		<key>ServerAddress</key>
		<string>https://entitlement.ctm.net</string>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>SupportedActions</key>
		<array>
			<string>TransferSIMService</string>
		</array>
	</dict>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447860015019</string>
	<key>CarrierName</key>
	<string>CTM</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string></string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string>ctm.eastcompeace.com</string>
		<key>TransferErrorCodes</key>
		<dict>
			<key>BillingErrors</key>
			<array>
				<string>5009</string>
			</array>
			<key>IneligibleAccountErrors</key>
			<array>
				<string>5011</string>
			</array>
			<key>CarrierDefaultErrors</key>
			<array>
				<string>5003</string>
			</array>
			<key>MaintenanceErrors</key>
			<array>
				<string>5021</string>
			</array>
		</dict>
	</dict>
	<key>SupportsImsCapability</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>6000</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Macau</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.wap.ctm.net:8002</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>192.168.99.3:8080</string>
		<key>MaxRecipients</key>
		<integer>20</integer>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>8985301</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2022-06-01T00:00:00Z</string>
			<key>TrialEndPeriod</key>
			<string>2022-12-31T00:00:00Z</string>
		</dict>
		<key>ServerURL</key>
		<string>ctm.eastcompeace.com</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>180</integer>
			<integer>600</integer>
			<integer>3600</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>8.6</string>
		<key>MinCompatibleWatchOSForStandaloneMode</key>
		<string>9.2</string>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
		<key>SupportsFauxCard</key>
		<false/>
		<key>UsesAutoAssignment</key>
		<false/>
	</dict>
	<key>PushSettings</key>
	<dict>
		<key>MultiSIMTopic</key>
		<string>com.io3.entitlements.apns.multisim.CTM</string>
		<key>SAWatchTopic</key>
		<string>com.io3.entitlements.apns.sawatch.CTM</string>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ctm-mobile</string>
			<key>type-mask</key>
			<integer>32817</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ctmmms</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
