<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>950</string>
			<key>ServiceName</key>
			<string>Info Conso</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>900</string>
			<key>ServiceName</key>
			<string>Service Client</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>123</string>
			<key>ServiceName</key>
			<string>Messagerie Vocale</string>
		</dict>
	</array>
	<key>SupportsNITZ</key>
	<false/>
	<key>MyAccountURL</key>
	<string>https://m.sfr.fr</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>TetheringURL</key>
	<string>http://m.sfr.fr/modem</string>
	<key>APNEditabilityTypemask</key>
	<integer>5</integer>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>MaxGreetingDuration</key>
		<integer>300</integer>
		<key>UsesSSL</key>
		<false/>
		<key>GreetingNotification</key>
		<true/>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>UsesMWI</key>
		<true/>
		<key>AuthenticationScheme</key>
		<string>PLAIN</string>
		<key>ClientManagesTrash</key>
		<false/>
		<key>AllowedIMAPServers</key>
		<dict>
			<key>FQDN</key>
			<array>
				<string>vvg.sva.srr.fr</string>
			</array>
		</dict>
		<key>MaxPINLength</key>
		<integer>6</integer>
		<key>BeaconAddress</key>
		<string>8860</string>
	</dict>
	<key>MyAccountURLTitle</key>
	<string>SFR</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+33612000123</string>
	<key>TetheringPhoneNumber</key>
	<string>900</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>F SFR</string>
			<key>StatusBarCarrierName</key>
			<string>SFR</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>64710</string>
		<string>20809_ID-89331085</string>
		<string>20809_ID-89331065</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>2775</string>
	<key>UseSTKCCReject</key>
	<true/>
	<key>CarrierName</key>
	<string>SFR</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>sl2sfr</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CaptiveSettingsBySSID</key>
	<dict>
		<key>SFR WiFi Public</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
		<key>WiFi Partenaires</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
		<key>SFR WiFi Gares</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
		<key>Neuf WiFi FON</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
		<key>Neuf WiFi</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
		<key>SFR WiFi</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
		<key>SFR WiFi FON</key>
		<dict>
			<key>Bypass</key>
			<true/>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>VoicemailPilotNumber</key>
	<string>123</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Reunion</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms1</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>10.151.0.1:8080</string>
		<key>MaxRecipients</key>
		<integer>50</integer>
		<key>MaxMessageSize</key>
		<integer>614400</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>AllowNoDNS</key>
			<integer>1</integer>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>sl2sfr</string>
			<key>type-mask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>AllowNoDNS</key>
			<integer>1</integer>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>mmssfr</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>websfr</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
