<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1l9H+bE4Z30Sl468R+pVcb0+b811c9lPJ4seT1UNKO6Sb6VHWHNEC3va2Ud4gIUCEwKD
	QswUIFy3PCeNxTxE/b4hJlnW4SHGWaxOgLBcZhD623YE4KuJKUB0f0S+hkvtileE46R4
	FdFJ+p6jZM0dcHhU8+d9EgM3EnBZn7p1K0kC/jGKG6w3UrFRdfw6DCvGdqXKPguVHyCZ
	Eq/3jWHSqADX1hLKge0lU6w9jvcxQOE3BUz5eAim9QZkH+ybNfcPvOKCZU4TIZQ9y35q
	kPbqxlIDBEoJSejePe5/zPb6+1hNX5YqcCNlPD61W/cHIEd2ig3UJqmcdUOe7knZ18Vz
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCyJqYY/cEPmnWbr2tRLryLQdJZ5nmMgfj+mMfAVEeIvFN8aUuMhfI98kblCq5T
	tAECMQDXXP6HXp4LAVxofiWf1fC1xxH36/VgwV8r0wVIVRZgd4A5TjlHvMnsHVPAT64o
	pl4=
	</data>
</dict>
</plist>
