<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>53</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Zong</string>
			<key>StatusBarCarrierName</key>
			<string>Zong</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>41004</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>Zong</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string></string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>Show3GSwitchWithVolte</key>
	<true/>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>PreferredEmergencyNumber</key>
				<true/>
				<key>Number</key>
				<string>15</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
			<dict>
				<key>Number</key>
				<string>16</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
			<dict>
				<key>Number</key>
				<string>115</string>
				<key>SupportsEmergencySetup</key>
				<false/>
			</dict>
			<dict>
				<key>Number</key>
				<string>112</string>
				<key>Category</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Pakistan</string>
	<key>MMS</key>
	<dict>
		<key>Proxy</key>
		<string>10.81.6.33:8000</string>
		<key>MMSC</key>
		<string>http://10.86.6.11:8080</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>zonginternet</string>
			<key>type-mask</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>zongmms</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>zongwap</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
