<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Ooredoo Iraq</string>
			<key>StatusBarCarrierName</key>
			<string>Asiacell</string>
		</dict>
	</array>
	<key>AllowsVoIP</key>
	<true/>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>SupportedSIMs</key>
	<array>
		<string>41805</string>
	</array>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://192.168.107.10:19090/was</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>192.168.107.50:8080</string>
		<key>Version</key>
		<string>1.2</string>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>MaxMessageSize</key>
		<integer>1536000</integer>
	</dict>
	<key>CarrierName</key>
	<string>Asiacell</string>
	<key>IMSConfig</key>
	<dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE,INVITE:*</key>
				<string>Feature-Caps: *;+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>UseIPSec</key>
			<true/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>NormalUnspecified1</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>31</integer>
					<key>StatusCode</key>
					<integer>487</integer>
				</dict>
				<key>NormalUnspecified</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>31</integer>
					<key>StatusCode</key>
					<integer>480</integer>
				</dict>
				<key>NormalCallClearing</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>16</integer>
					<key>StatusCode</key>
					<integer>480</integer>
				</dict>
				<key>NoAnswerFromUser</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>19</integer>
					<key>StatusCode</key>
					<integer>480</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Iraq</string>
	<key>ShowDialAssist</key>
	<true/>
	<key>SupportsNITZ</key>
	<true/>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>net.asiacell.com</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>wap.asiacell.com</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>net.asiacell.com</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447860015060</string>
		<string>+447860015061</string>
		<string>+447860015062</string>
		<string>+447860015063</string>
		<string>+447860015064</string>
		<string>+447860015070</string>
		<string>+447860015071</string>
		<string>+447860015072</string>
		<string>+447860015073</string>
		<string>+447860015074</string>
	</array>
</dict>
</plist>
