<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Y4AjcgQs0UJ5hnzZ1FSxDl882rC4AWZKl/7qNrgmZwVKHNlRbZhk3jPpAOGtRvjZnBLD
	P9PtY87mexOnDWkG60UPQwgDWaels7KSfBqdKp8tSQ7Im1FsYA0HwqwL33eG96NWvdJ6
	2XZViEEDM1bXMC4igUQ17CH7GjG6Asz09bFCknh7HKAKgCIcalxfzRxq36SXbLwPkOjX
	TzbHHqVlfAxw8KI6Gh8EwXTFXZOT+SAiBmukhQi3YZVTUoV+7iRcyz5PG3/6MY5HGsFK
	o663TyEPagmpYngOWX6kqXQmtU0M/f6WCymHKD4/xnlJ6AIrEMny9bjK53aOwDIK3feg
	zA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCnY/nweZjLkwi9PtnmxpjWDE4899HG9jqLTLZ8P8F2AUL/AYbgMZMlfb464P0i
	PGECMQCu/i5CTiM1R7HK02ElPEll9CJGx6zuHsfM/je4rgU8BG2kfpFMkmmonKlwTPfe
	ymA=
	</data>
</dict>
</plist>
