<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zXr/qtd39+v1XMEwYzznRy7GInaQN1DIxAnYT52C//15EplF1W4SjvTsgC9Zaf/bnS+A
	ckF2dLRkX/X12Grd1YYBaeQNVg+nWhxAxf21SiWNgQDfuJVMYM9KBlAtpElht+T8eK43
	3qP59tnHENqbTZllCL/P8DkzoKVmhC42wSVvEqY0azLPvknlrgnFhQYd/5Dh6KZcFZSj
	S3Gx0EMtXzPLaKGdxOe9PUUB/tdc0BnFFRh1SnsZ6eCSxyAyBgSl3p4NEKcy0nvqzQyv
	5XJoXrWKKg/XR1qvg+qn1JvwBHz5fgc9h3WXLZw+rwom0rxFlUPfRBskaSoRz9h4sZ9a
	0A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDD69bBAJ2IJxRY+a7HTkn+NkyKCL3m/Tfrqq6zc5wwT6uiQ/QnKgSG4GyLdw/R
	p38CMGh4i/WCKhC+gHqGBcEEwOYZisuyapduvgzbcPjAhqSAjBiX9ATcoV0jUgNLQNaI
	Eg==
	</data>
</dict>
</plist>
