<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XbR7jzEueq9N0q4VmIL7FER6aaGZx2L1bIey9cs+fOYW7JFnBsRPRz6p1p37lgzBE6sk
	87GzKNUOkvaRncVW3aitwf4ndJe6iS8vtK8uSSDui8nLUCDEjdAt3hpqeqAGSKQkhDyV
	g1nP+Tf5qL0dAY8IWCRK85vwhn3gf2KrOLbNoCCjbhvcqYvEnjaMmrEhaQM9eANKKVrJ
	hmEKBhFFoDGjyPur+/Hbqi5kq+RTKfphPOLchC7sRRQL1Vx/6J1gDTJUY014nJRu9KC+
	ZFRL01ZDHa03SKhBZVEGSvv9Fq/A01aZ6oVdD8JbGeIA0PGmbGRIdIj5iYbHI2WGhnqc
	qg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHV+CzTcLQFVlrF/i3GkfFolhq2LBfWzQMvOnGY2RU15btdhVobgddy6bC08dYuJ
	NQIwWBIaEsL9Wn87N+G4qWCY2KFXX+cIbGg8BaONVTdkaxnerrM1HZG6UHajCAzd+IZR
	</data>
</dict>
</plist>
