<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	MmcJNKtNPZgXMqzRbrJYIARityuGnIxXs/mNyQ41PIXKKO8ZryDzl+NklgwQorwAe0R6
	vxt8Zj+KCoB7md0hGNZSjz/IHYRAJ7udCK7gkgLzcAe+xxEEOT8UVMC15OvWitq27/ak
	pL0jvBTZ7hBfBCmY5daZqm2yZ9VsKGPEdhvEkhx31UPAggYqsFjFljy84wawKdwVKGu4
	GdVisfigWrWg8N0Gf+sQfZMaEDTytMd+Xpflej96ditDrPVkOD5n7p/muQk02GHkEEdS
	cX3PM0jKyPyaDHOmMMPdnDggxiDW9+OatF5ShPlr/TE65EIsky3xRS4pqRQ57sexkuXY
	MQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFeVWFpbP4KMB5TUF8L4WrfNS9+AwMJZgvY7BE0IvjGADfbfvf/E+2M0JRZAbys1
	agIwTrTXGJImSgHKT5all81NO8wfE9LcNhAwgmkDXk351m6LbVgs/NfZlIhWp3FGRVqx
	</data>
</dict>
</plist>
