<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TLxldlnjnMhDOHrxPrh0OpybKNBBMZz+7nuzRI85/RVeBNXyU2fi/LnpVE6f0eIgXIpT
	ulFMBapTO+1bWkJsBdwewDS4JbI4ihKWNZ8rarIGx+PKmvDvhuEun3w9y92yyisOT8pU
	jyjvxiLC21EWUfR7oreyaIGgK5rw0Dvd4uOXlh6CXN1TakdO5XqGVhgMgvYA2t2Nrznp
	shKMZ3b0bs0W1EiGLh60okUutmp0RRIoIOO/FJbCXeNKnnEZ4uBNlLkwEpLh3GOy6GL5
	RBNKOpprLQ9UxjPdHbMhyupQdljThEt9k8GSSALtiqyIXSbhfoGkzlBMnu7J5rxszP5x
	FQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDCZIskWxxonw+QBy8ajWwBU9oZuoUicSd8iXrErCJ9JaHO/OmJ5P+aQvG6OElU
	fZsCMQCs0SeA62JNLpBuL9PSQR0EqtGV83YPX03okiI8yeMXqt3SgWvkU+tTwF0/B5F0
	KqE=
	</data>
</dict>
</plist>
