<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VljBU7GbQeRXLmM6fa81b1pg1mLyEnO7nEKdyGgguJK16iYAVSJrbfwJyPYUwtUkHDMU
	g2Xku0C6dZTudq+8vjJL3CaO4NseD1yxwjVeC+98uVi1PGaEbXibuFM52SNoY/zo+YQh
	rR93yfZrMUdB6d6aDhvaxf5QAeql/W3vHJY1jwMvXe2kaEz/vMIYutpho+i9Pmhj1gOq
	ykRKlc3jFD3WUMDeeR4N4U6z8DbhI2AH/sMNiCHT74fymF6PtWgUC1dAmhBxeCVMERPJ
	5HnTjepRM4v6AlxAsOqP6YK1fxy6jK8sMN1ia/LEhWj6DaRKGORZv2J8a2K4qqBpiKP3
	wA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDIGe182JbfJaUMNU2A/R/SjeLHyrYyZ87LI3rd1bOYRzlFKeLInZLiro7OYwi1
	GnECMCtAXnybuyoLsi9kkek4AQLyDpfmUHqQfZyTcnjSyBBoJJrY6UlzL0pTl7+rXB51
	6w==
	</data>
</dict>
</plist>
