<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DerPriFileVersion</key>
	<string>6.0.162</string>
	<key>IgnoresDeactivateOnNetworkScanServiceMask</key>
	<integer>131072</integer>
	<key>ShowVoNRSwitch</key>
	<true/>
	<key>Show5GSwitch</key>
	<true/>
	<key>Enable5GStandaloneByDefault</key>
	<true/>
	<key>IMSConfig</key>
	<dict>
		<key>SMS</key>
		<dict>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<true/>
				<key>NR</key>
				<true/>
			</dict>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVoNRByDefault</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>ResetSocketWhenNetworkChange</key>
			<false/>
		</dict>
	</dict>
	<key>ShowHighDataModeSwitch</key>
	<true/>
	<key>SupportsVoNR</key>
	<true/>
	<key>DerPriFileName</key>
	<string>overrides_V53_V54_V57.der.pri</string>
	<key>DataIndicatorOverrideForNRMmwave</key>
	<string>NRPlus</string>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>4236289</integer>
	</dict>
	<key>ShowVolteSwitch</key>
	<false/>
	<key>Show5GStandaloneSwitch</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>type-mask</key>
			<integer>1081399</integer>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>1081351</integer>
			<key>AllowNoDNS</key>
			<integer>1</integer>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>sl2sfr</string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>Support5GSaHandOver</key>
			<true/>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>131072</integer>
			<key>SupportSwitchOver</key>
			<true/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims</string>
			<key>AllowedProtocolMask</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>Show5GWarningUnsupportedCarrier</key>
	<false/>
	<key>Enable5GAutoByDefault</key>
	<true/>
	<key>SupportsNRNSAInboundRoaming</key>
	<true/>
	<key>Show5GStandaloneSwitchOnlyWhenEntitled</key>
	<true/>
</dict>
</plist>
