<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hODkRssjqciFZiL9CzVCLpTwd3Xwus/0/CTQvm3Xoy49++8Mpm8p57/oD6LIcwV1oxEL
	lx6nL/UPGp1y0lcmtZUi5oIc43mNWhA7db9kFs4JmW8veYV4mZQHWU3sbXQqLNy6nxOq
	0Qlhe4dOHIjBr32yXQ81PBtuiyQv6bmGdy6BdxMQr+BHsIG+OZvAM+n9F/AflIV+gRTa
	7VqhCIK1aESJ5s0bW6eK8NUWZgI9K7PK2G1myTbUuppcXTF5cpAiAYzfySO/jM8qKyvO
	ovH2vKNRyCCf8PfDyZqreWrfDuGaE5GqQFlu9C01jPjaTqcXGaL9tE6yxC+Ziabdxk5y
	6g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDTTlYnVBAegAFEQNn6ieZ6TarzJCdYzLIhs0+S+DksfrA34+5qmBSJy2ZOzDeUG
	uAIxAKXkuHRR4Ny6GtuYR1h7GtRkfaC1nDEGwaNGntrKU278q5lR3qsVX1fTwUjyPnqD
	Gg==
	</data>
</dict>
</plist>
