<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	32MpjOWxPPX4370pAD9/hUhCMncdALzN3ug+P6hI9TTaQjg9FF/fzICkeobRwEAvn0kI
	XZHjDaBcfEmjkUTc502udquFH3IGlOlBhWFQ/bNzSMGiZNZ24HFFbfqURwM2wJXgAou9
	b7ROwE/jjpx4YhWv97P9qWtS9Yp0cAYyuU8+SXMQus3C2kVaMv5+mo8aKepetgE8n+xY
	bRzdwit+XHlBq5V8FWUXXhURiW8gjIvSZGzAezDcKdrpHbmorPuQd7Z2MfPa5jBjwpeS
	zWv1vA1tUXTMsijHLqxjgQFil+2M1s+Vyz35xhG0C80oRY+AgqFRYvVJVnxkaHjQJeHm
	Tg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCTyHm1wg7KlAk9/VUHzxMbNNa6VAln1oSMjdSYqu98vYi8pookEueZKBW1mKC8a
	kAIwKAQODGcmLmnMTTpFWWeF2om3y0sP4U7HILu5t+ToVm+VmaLRO2rNykGqkQcrI1jg
	</data>
</dict>
</plist>
