<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	BPrtqjd56KwoHsjMbzI83n+tXB4MOq6pePb6MYBZvAQnUJZDcoqYhBMNQWRYUMDRKRe6
	PLiZwPSGgKjr00eBwkfENduYihs7ESlaW0ANgcHlkn5XfkAM4x5Rsf7WMF1xY7hzxjoC
	Xixh7zEwwfUuAIvTWqm+BF+Gns/80YxbWi9Y5XAv65UL/pROdfJQpUgOOyRUO/oTUQnl
	nhoHg7Hd+cy8qg+80fld50JMf71k0ZZMrzRr/UV/FnpYSEYdUDYVFnENq9FcAus4M/0Y
	gp4N733LZRkYGlzfpR3ITvCcTfnMSAblbOx+hVChgZ1vn1AUBDzFCFVC4QniQVKYQgQt
	TQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDaIqfzjsuxseT9cBARoEiIDZsQz9kMc/0QaL+btOYmYZHdBCzY39c6t5qjZ5UC
	RykCMQDAjybHU2UhvudmrxwjPNYjn89KFaROTvIPTBp58XmTYW2AhYwJGo8oVAgV54sk
	fMo=
	</data>
</dict>
</plist>
