<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jO6QEw7xoNlWlsoZTpt7u4/K8LPhhLnW5ebp8LbskB/BPb5mHgboizJSnFk1lbkgS+wi
	PkAIzkXZYzknexY7y1UWGlQ45BJqOlYV2D/CdvHg64DNEJRcsVGrdRMUIDz1/DhGh0s6
	RyZBHo+GYQgaL/Y55oGy4h5C6zq0u0c8tQU9JhoaZCZrDz3Iv4mWC/EV7pDjI2nxgK4L
	HxAX+uoE84fzTCiByPIteWK0lxEfEyMmYvBJQgosiXaJyYKHoka8miJxLqX6nUGdReMC
	8LyFLPNLachhmuoVmvtxEuzC42TwzVm8DLBZN5a/7oLLqVGL7HY7l7jdjZPId//dBgER
	ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGm9hie22yLelamTRnYFaH2SKV44WPCE+Y4yACLxJRwrOewR11QbGsFxK/fsNZZD
	/QIwVl4iupDE83JBCE+2jdZcLC0pNdzcV3LegSiqgEr735ys3kKfy69/APqyTpRv0wX/
	</data>
</dict>
</plist>
