<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vFhCfsKWneZCThCPNWAXIKmIVSBrhWZR4lJnau45pVrNbbnIokYep3B1EzZzUw1CetEl
	yd2jFhM0D8XLHG7Ts8PIq4SMk8NNUMkKprPQRcbge09rcTD/PLPAlcLe4JHmHnV1fSOz
	zJ4Yx2rHPQg40jeqtlgBzaZc9F5ix9hVXSwQhGnSDUWuTjrC9Jp1OKpQ/N/CEvr1XYUi
	VCrAIeGdy+8nJmNt6BIFDh4r67+Wn+7emoqrBzcTwPqIs3gLX3qSvYO6FNZGhpiwGOtc
	6wiL6UAWBEU6Mc1LskDD1F23YuaXSuHvr+7+ngNXMzdBQqxCveWYuB+ZcZXdAw3evJSN
	8w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHrIDhU0palAtuVt10Oh7RyiU1W0yun7Jrb8WZXOwHDPZD9CRIezDFyh93frha2b
	pgIwVDir/QdM5fTrvA5OSYAXYN++jHNOgUEeNLPrpKUayJg7QvQ+qSULmkRjAS4Anm8g
	</data>
</dict>
</plist>
