<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0KNUUF2ks+/Pbm0G+k28ToT8dZzFpdGQCh4cl2k+foJh1ZNexAmVg4ZqoiP3DGJslJeZ
	QBH0+r/2fMRrSG871SymSHvejtz7VBOf9kelYpiHaXi0gw3sAjuWuq7HgLvNNiIpDucC
	Lc03JiRsgu1p+k6Lw8EJRLV/F1S90p/3jYwvS/dbivkOXj5L5jpZhS3QTi1mp6AGLVQQ
	p6MpMfh9v0dYIbmkkm71sVRQkMJ3wMhMZCptsqer3bTsAWFB2riVYw6nRBpDYExt0o1O
	HSTnyoVGLufIsqmnKjEcEdcKStONNMAdGTPT4tmsEjZxHdYJhZim9WfsvLp80NB+Lr6E
	+A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCjLj0+1ZHbnvD70cTAtFPgHXNUg85HCHO0S2nb5XSitVlvqSuYrU4/hMJAyCnk
	lNwCMBOVAGbBQkDuZGrL1bTs/Ay2w9AdRYN9QXZLqExrO6YpYEsHQqTHgH9fTmECwqCT
	MQ==
	</data>
</dict>
</plist>
