<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0k4IWd5iX/twk12Puw5SRTfYQcSu56illwDdU5PasWlV3WXfEGoBT/RTnYYiP1hif/4x
	CiFVA6dOqWMMzqQEKzR2pzsQIADpRp8wHE970XfYu/DJk5qSeNTdiKLp6v3UXrISoTYY
	BbT9qw5o7RpJZ+K19Ta3G0c5aDL8x83zVizGrtWsHQ356/BrTGGA7ZZzGxJKT1v4CU9k
	joOZe1/s1qXhtkcwfA80r+zryqzQYV7hTE9swGiCJ9dBbrvuB0g57vskw5nu4Z35PviE
	fIxABNjalFuKj/ewPvoxZdTO+A+CumngLn+ucdwAapIMQ3ZOa9HHQrX2c9x6MN+pQ7q8
	sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGIyDa6k8X1zjTvv11psBgKWJP8zg8atTc79Tg3i6/J4a8O4nk8dOzpaVzXiVEBO
	8gIxANe22XzFVK0ciw2F5ZbTx8rzQvwu+nYMWGB0aFkyDDXAwJGHh9w7YbMa7Shq2Hhh
	jw==
	</data>
</dict>
</plist>
