<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	M/GWPJAEZYMK5x4bAZDJzqWKGBPn3wYb172ZHotAYJpP6KqaHNhmh0gXDsiTGDkFB9ak
	7OUHrnkJhv27SVNkKZoRTMYRAg8HX6vLEe/JtA2uxBC1Xpkdvvy0SE2udZiQKZIji4cF
	EP9rB128JaUSJ6AP77zs5zH5kcswuHBVZkOomDWaOvpxFx2yzSeDtrjT/uXWC1IG4kct
	aALsGPi7NNP/lmgBQNRdJMsahPTl5UVOsUJSfuDTYK+SCsc4UkskK3+9v9BaDH1T6Up6
	d3bab+WyN8tu9DnTyyGvjVm9LjOhZvGUlzwq4svltQisdpvXWayG1sARvA28m8rzzPKN
	/w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCzntLdr0xq0h0/keXYCpvtQSLVURIyMZM8FTtO/qMCZ9STYyk5CInQ/H5rG4Y85
	uAIwWIRGvTEiaMEr91Nc8/MA76adhbGPwH6AAQ50W8fuKkVym6U1q+lwL5Kg6e6OGMCJ
	</data>
</dict>
</plist>
