<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	uPsWScGza8hWATVc31Ou8r3TEQC/4zVWCpd53WkCOkSzmYXAu9+wAulXJMsBcUWJ7HN+
	/YqQWN+JrxvVwUxwWzpt9DCQmAgFPX+b5unilSGuZE9D/sl06sCpY63utmcWsmxtpMOS
	pjbMaUTLUOwJb0WXcpnmVML81+ZkUHviWePTm+ICr7070I7aZ0dIPerRW8ITAo+F0vyn
	fcFtxpqEaCP+GMD5bdq5l+X0m/PK3Tjjd2X0SEatRPvibvbY2+HQAbKPgPuWuMoMN+6X
	srtN9WYeMz6/aNDYKvgwZSk+H8Cf+oFJ+1LCTe/w7UT1iBTnovn1dedlHIElal49Jiph
	Ng==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDWWgFord7amXBJKHQYYXtTysGJH0CEcJP7XQwBoSLxE9JTAnKc4gcORlHM9gQX
	izoCMQDQxCWU882dKyT5plfTZ24J7X7DebanmW59+2DXsqbRPEvNnq3C5hAs5zSraUyg
	84A=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMFJrkjelj+nQey4/LpTeq5ADSVrfhONW0Qzvb7em3EPp3M6aGiCp8HWqXaRw2nmx
	hQIxAPBv+hm8/cELc4PwTiEosIirsfrV8VDhhlPRwDgwrP4O5kWnXhKqD8zPxvvH/rkw
	zg==
	</data>
	<key>CBSignature2</key>
	<data>
	28TacHvxWK+//45hs5Ra9tw8RZAN0DTW+UCfNc0zJjrk5Rks6DfXv/lLUa8GZBmkEpNF
	MphI8emNMDutt8Ui7zT3zxOOVtklB7N5QTSFPIV8XDOWvH44Rb6BgmdaEP16B36jKRO1
	Pnc1z1Udx7aO2d7EcfJKRgGvdh9jaZBPKxQz24LAWrH1sdWdTzSfNYoiUE7rYFGRbAkE
	TqLzT4FwkiKwJgJNFTClVH02A+RMFV34GEO+W1Q5trDlbcA9ylNo6iQGg7I8zhKZB2GL
	VsVjo6ssUES6nr6lUdN7xwVhvXhRe+I1veXwQCAf4nKJ4pQ/jc6hIspQ77JHLSkUs5WK
	qw==
	</data>
</dict>
</plist>
