<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WmFysuqTW3qUTn/61ZTSPjaAdVFqvN1R+agy5qv983KLu5s4MPylrOxABY9HIMBIjHQC
	iA0e/7KQHogPdnisAA0XpQdfOSWPmHKZ0kpg7TSZSQoSw/36eJK86zPtT47K7vbaj7hI
	fL50+fMjHbMQVn3OqQrijKKroIYftOo+qvXTH3wJlak687PfOCSqoIAQKb3yIY12A5kA
	VRyTHrjZJyZv20JpOo94eI9tPpIUqBKphnnmtWtMuBzJecMB7Yq43VvrEzhCMoKd2alz
	bi5wixh9+E2K4hdZgyrMyWxtbvBX9DaBqgZwp1vMKwKgLPSuS7gzJ2MWxmhYt24yKHSC
	mQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMG/lhIb4qqjA27I7KcJXvEmfPkCOeqPFz5vztI+cKULZSphFShBEF4KXPO/Q1aQR
	uAIwTBipP+ETxv1P8EEjVl0QUB/Vzk+fzq30igBjQB61nPZRr76CnZyyDuefb1GWdcUG
	</data>
</dict>
</plist>
