<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I5YCImFgRTUUy0+TeXnhFZjtD223YpeigVPhd/mYl1pc24U+dtbkyl1I+qJqaw59hZDf
	PrHUKl5XQVWx12kMDWRdfiGcrtE2AvqVk79Tn6gmREuaF7uhIJ7IE8xDM5yxJSKSrhZ1
	BKFuF2Db/6+Y3echzbMadGBSZkda7qdUOH5TuaHGjaFfSehJuYrNDNuHOzWqH5RTcACX
	j1xF3M/i2eD52bcMcwISWRzt6HVYGW7aqiUuDLrgFQQ4d6nKG4ISRSD4WSsOnX0HjJss
	U+GqDKgbLlWG5E2/7+GCsdWtnyR9E70hJny9AgZyVVa94P8Djre0JQzT8fXGrtuMtHiu
	zA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCO2nGcgP4vdxboTz3GCPytVztj7dvzvQQ3+DGsiAAwThgZXVmKq42Y0EqRDz9N
	L0QCMH6SdrCk4ln6ewVhniyRLxN+o5cbTi+c5JDzhFnPaljUyE0axHMsMFOxU7Yps+D+
	7Q==
	</data>
</dict>
</plist>
