<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	sG71gxfUzhhNUpXQdSSL7HT0/me2X4qngAfz5G9EXOHypdbpVYo2O2iTyUFvtorRNpzu
	DCS9SGmP52iGf5Pe9zTtYR+dB2si0yyNND4MYb25vWUwGmeD7e+Jlr9UUn2VDdNF+SeJ
	uwZvhZE2erNoqYAaD+B4ish65kgwACSkGwn9EyySO6hfwg2yLjhuMrCZCaHl8Po4s6k1
	Xg9xWvMHE9bwAEU/OsdsKtWPoK0iF7nQyCr+5N/mvVsrRiwijdAnTsKvYN6Vdh5DgC6O
	4TmaASsR5E4l2w6Js7SVaLwma0PlvVGGxlEgPefyJ8VS3TaHmZ63FOYo+0kdg141ig0f
	oQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMG6Dp+4p4K1AE81Ojomp2gmnoACca0YtmNsuB+6n5S6gzJxxfiXYVnqWbDPZP18G
	lgIwY+HAil8Y7iGRRe9PBVCMaiZUBB3InJp33b+ERUcCBahMbJ+2x+4vwHDjsTqN67co
	</data>
</dict>
</plist>
