<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	7Px0/wCPTfGAmMlpHchkOc2jBjK1iOtC7p49BUsYszhi14dUpPcc3T0NGgpL3xeEEckB
	Yals9m0jojW95uyzDFtFNBh8hDnSSXB3TmrJSFuDrHnrwZoMukNISJh8iDGe453LHU0q
	XZTTnxJ6qGptywNxoIwcGi38WkkCazwc98+FHBWqjba+R1IAVDm8iEIKWW8cjdFip92O
	D2qoYQ7vQHWU/ZH/n5hIJdmt4xFoBkq4DePPTwfSKI+STK82McZ4YH8NXcu21oy8DBfj
	BEWc1ImG7mL0bTicXS+//pOuG2Jivzz0JUj5cZO9mdEq2ziSkv275LO5IbsgJ2zrr6cl
	CA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDt+Shqbwl+7zyFfhNSQzfP8lKl86s5qR4Xp/gyOIPWYtfeUvwsInulI7yTGXmgG
	XwIwLojewLYBDH8hmw+D+t6kUSFEteqjPJvIMUmEZbPDsTqVapL4kXjHqcVMwAeCeCDE
	</data>
</dict>
</plist>
