<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VlirSgSKBBnP50BwrbJwJIjnPk188zPC8rvde+aHiEMI/PMMHCK4YGCvL++sACFUpLPC
	o2RTcVtz7iuTfHSS0qEWrIo4ZVL+eIAKjgzUT/OC06bdLzIP+zKJmqdjNVgTPZ7QO457
	HQLaUBq/jH1RDBtQIbjymXMre2pIHxwZbrZeA5eUxurlEsUzuF1xzfpFOxWlf4igrOZD
	ArNhdTWOnZq/WrUXT7NGv1BLIA161cTQcZyWJyFmcLdl/XcmdNYY5x71c4SSgf9R7isw
	EtancydQARB5jkEUUlMA9+BbMHYjgrgzSvqGIFAT7UVSbdwHfkMUPT3GtKuJXqRw598f
	ag==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCbiJ92wvzj6nuuRoBKifO1UWN+CY5n24tDi1dQsPgsq1rFgbRXv1nEQXUuqOL/
	xXUCMQCc5Jmc99hoZji6KMAfKRVMga/7XxflrG5LyoRptwkMrqo/9+Q8M1x2654xAhiq
	Zz8=
	</data>
</dict>
</plist>
