<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
		<key>SupportedEntitlements</key>
		<integer>13313</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ServerAddress</key>
		<string>https://apple-es.maxis.com.my:8088/ESMaxis</string>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>SupportedActions</key>
		<array>
			<string>transferSIMService</string>
		</array>
	</dict>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>apn</key>
			<string>unet</string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>Maxis</string>
			<key>symbol</key>
			<string>6012.KL</string>
		</dict>
	</array>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string>https://bin.prod.ondemandconnectivity.com</string>
	</dict>
	<key>ShowClass0SMSFromField</key>
	<true/>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>SupportsNITZ</key>
	<false/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>896001</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2019-10-01T00:00:00Z</string>
			<key>TrialEndPeriod</key>
			<string>2020-03-29T15:59:59Z</string>
		</dict>
		<key>ServerURL</key>
		<string>https://bin.prod.ondemandconnectivity.com</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>180</integer>
			<integer>420</integer>
			<integer>1800</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>6.1.1</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>SupportsFauxCard</key>
		<false/>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>VoicemailPilotNumber</key>
	<string>121</string>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>69400</string>
	<key>OverrideOperatorWiFiName</key>
	<string>MY MAXIS VoWiFi</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://172.16.74.100:10021/mmsc</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MaxVideoBitrate</key>
		<integer>131072</integer>
		<key>Proxy</key>
		<string>202.75.133.49:80</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>WiFiCallingIdentityProtectionMethod</key>
		<string>PseudoIdentity</string>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-512</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>DHGroup</key>
						<integer>18</integer>
						<key>Lifetime</key>
						<integer>80000</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>ims</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16386</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>WifiCallingAllowedInRoaming</key>
		<true/>
		<key>SupportContextSwitchOver</key>
		<true/>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>IKE</key>
		<dict>
			<key>LocalIdentifier</key>
			<string>maxis@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>RemoteCertificateAuthorityName</key>
			<string>GlobalSign</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc012.mcc502.pub.3gppnetwork.org</string>
			<key>Username</key>
			<string>0$imsi@nai.epc.mnc012.mcc502.3gppnetwork.org</string>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-512</string>
					<key>DHGroup</key>
					<integer>18</integer>
					<key>AuthenticationMethod</key>
					<string>Certificate</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-512</string>
				</dict>
			</array>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>ValidateRemoteCertificate</key>
			<true/>
			<key>NATTKeepAliveEnabled</key>
			<true/>
			<key>RemoteCertificateHostname</key>
			<string>epdg.epc.mnc012.mcc502.pub.3gppnetwork.org</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>SetHandOverIPv6Prefix</key>
		<false/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>262144</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>1048576</integer>
			</dict>
		</array>
		<key>EPDGResolutionFallbackEnabled</key>
		<true/>
		<key>SupportCallHandover</key>
		<true/>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Malaysia</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>apn</key>
					<string>unet</string>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
					<key>type-mask</key>
					<integer>32821</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>131072</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>131072</integer>
					<key>SupportSwitchOver</key>
					<true/>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>ims</string>
					<key>AllowedProtocolMask</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>1048576</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>hos</string>
					<key>type-mask</key>
					<integer>1048576</integer>
					<key>AllowedProtocolMask</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>262144</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>262144</integer>
					<key>AllowNoDNS</key>
					<integer>1</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>sos</string>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>TetheringURL</key>
	<string>http://www.maxis.com.my</string>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,4XX,5XX,6XX,-480,-486,-487,-603</string>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>90</integer>
			<key>RingingTimerSeconds</key>
			<integer>90</integer>
			<key>ussdEnabled</key>
			<true/>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>PANI</string>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>UseIPSec</key>
			<true/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>E911OverCSIfNoIMSReg</key>
			<true/>
			<key>E911OverITechSupported</key>
			<false/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc012.mcc502.3gppnetwork.org</string>
		</dict>
		<key>EnableWiFiCallingByDefault</key>
		<true/>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SMSBundleToVoice</key>
			<true/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<true/>
			</dict>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>NafHost</key>
			<string>xcap.ims.mnc012.mcc502.pub.3gppnetwork.org</string>
			<key>BsfPort</key>
			<integer>8091</integer>
			<key>imsFeatureDependency</key>
			<true/>
			<key>DisableCLIRModification</key>
			<true/>
			<key>NafPort</key>
			<integer>8090</integer>
			<key>SupportsCLIR</key>
			<false/>
			<key>supported</key>
			<true/>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>DisableOnNetworkError</key>
			<true/>
			<key>ForbiddenHttpErrorCodes</key>
			<string>403</string>
			<key>SupportsCFErasure</key>
			<false/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>BsfHost</key>
			<string>bsf.ims.mnc012.mcc502.pub.3gppnetwork.org</string>
			<key>SupportsCW</key>
			<true/>
		</dict>
		<key>Media</key>
		<dict>
			<key>RingbackTone</key>
			<string>UK</string>
			<key>AudioCodecs</key>
			<dict>
				<key>112</key>
				<dict>
					<key>ch-aw-recv</key>
					<string>2</string>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-wb</string>
				</dict>
			</dict>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>IncludeSDPMaxRed</key>
			<true/>
			<key>EnableRTCPExtendedReports</key>
			<true/>
			<key>InactivityTimerRTPSeconds</key>
			<integer>20</integer>
		</dict>
		<key>SIM</key>
		<dict>
			<key>CarrierDomain</key>
			<string>ims.mnc012.mcc502.3gppnetwork.org</string>
			<key>impiFormat</key>
			<string>imsi@carrierDomain</string>
			<key>impuFormat</key>
			<array>
				<string>imsi@carrierDomain</string>
			</array>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
	</dict>
	<key>SMSSettings</key>
	<dict>
		<key>ShowClass0SMSInLockScreen</key>
		<true/>
	</dict>
	<key>TetheringPhoneNumber</key>
	<string>+60374922123</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>*121#</string>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>PushSettings</key>
	<dict>
		<key>MultiSIMTopic</key>
		<string>my.com.maxis.onenumber</string>
		<key>CellularPlanTransferTopic</key>
		<string>my.com.maxis.esimtransfer</string>
	</dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>123</string>
			<key>ServiceName</key>
			<string>Customer Service (Malaysia)</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>+60374922123</string>
			<key>ServiceName</key>
			<string>Customer Service (Roaming)</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*100#</string>
			<key>ServiceName</key>
			<string>EasyMenu</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>121</string>
			<key>ServiceName</key>
			<string>Voicemail (Malaysia)</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*121#</string>
			<key>ServiceName</key>
			<string>Voicemail (Roaming)</string>
		</dict>
	</array>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>MY MAXIS</string>
			<key>StatusBarCarrierName</key>
			<string>MY MAXIS</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>Maxis</string>
	<key>SupportsImsCapability</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://iphone.maxis.com.my</string>
	<key>MyAccountURLTitle</key>
	<string>Maxis Portal</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>ShowCallerIDSwitch</key>
	<false/>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>50212</string>
	</array>
</dict>
</plist>
