<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>ServerAddress</key>
		<string>https://aes.orange.es/core/v2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>SupportedAuthorizationTokens</key>
		<integer>2</integer>
		<key>UpdatePeriod</key>
		<integer>23</integer>
	</dict>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string></string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>SupportsNITZ</key>
	<false/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>893401</string>
		</array>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>1800</integer>
			<integer>3600</integer>
			<integer>5400</integer>
		</array>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>MinCompatibleWatchOS</key>
		<string>5.0</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
		<key>ServerURL</key>
		<string>sm-v4-009-esa-gtm.pr.go-esim.com</string>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>VoicemailPilotNumber</key>
	<string>242</string>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447937985240</string>
		<string>+447937985241</string>
		<string>+447937985242</string>
		<string>+447937985243</string>
		<string>+447937985244</string>
		<string>+447937985245</string>
		<string>+447937985246</string>
		<string>+447937985247</string>
		<string>+447937985248</string>
		<string>+447937985249</string>
	</array>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.orange.es</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>172.22.188.25:8080</string>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>WifiCallingAllowedInRoaming</key>
		<false/>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-128</string>
						</array>
						<key>Lifetime</key>
						<integer>80000</integer>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>wifi</string>
			<key>PreferredTechnologyRoaming</key>
			<string>wifi</string>
		</dict>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>21</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>20</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>5wiServiceMask</key>
		<integer>1</integer>
		<key>IKE</key>
		<dict>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc003.mcc214.pub.3gppnetwork.org</string>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-128</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>5</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>RemoteIdentifierType</key>
			<string>KeyID</string>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>NATTKeepAliveEnabled</key>
			<true/>
			<key>ValidateRemoteCertificate</key>
			<false/>
			<key>NATTKeepAliveInterval</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Spain</string>
	<key>WiFiOperatorNameSuffix</key>
	<string>Wi-Fi</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string>orange</string>
			<key>username</key>
			<string>orange</string>
			<key>apn</key>
			<string>orangeworld</string>
			<key>type-mask</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>password</key>
			<string>orange</string>
			<key>username</key>
			<string>orange</string>
			<key>apn</key>
			<string>orangemms</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string>orange</string>
			<key>username</key>
			<string>orange</string>
			<key>apn</key>
			<string>internet</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>SuppressSimToolkitSendShortMessageNotifications</key>
	<true/>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>RegistrationPolicy</key>
			<string>RFC5626</string>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>TriggerCSFBOnSDPError</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>UseFakeSAsForDeregistration</key>
			<true/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>IPSecSegmentOffset</key>
			<integer>210</integer>
			<key>OutgoingDomain</key>
			<string>1</string>
			<key>SipTimers</key>
			<dict>
				<key>InviteResponseTimeout</key>
				<integer>3000</integer>
			</dict>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE</key>
				<string>Accept: application/sdp,application/3gpp-ims+xml</string>
				<key>INVITE,INVITE:*</key>
				<string>Feature-Caps: *;+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>AlwaysUnsubscribeFromRegEvents</key>
			<false/>
			<key>NetworkTerminationRetryIntervalSeconds</key>
			<integer>10</integer>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>403,408,5XX</string>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>WaitForRingingTimerMOSeconds</key>
			<integer>60</integer>
			<key>strictCallFlows</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>60</integer>
			<key>SendPreferredServiceInInvite</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>TemporarilyUnavailable1</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>31</integer>
					<key>StatusCode</key>
					<integer>480</integer>
				</dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>Protocol</key>
					<string>Q.850</string>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
					<key>ReasonHeaderCause</key>
					<integer>47</integer>
					<key>StatusCode</key>
					<integer>480</integer>
				</dict>
			</dict>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>IncompleteRegistrationThrottlingIntervalSeconds</key>
			<integer>1</integer>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>60</integer>
			<key>RingingTimerSeconds</key>
			<integer>60</integer>
			<key>SendPreconditionsInConfirmedSessions</key>
			<true/>
			<key>SendInitialInviteAsInactive</key>
			<false/>
			<key>UseIPSec</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc003.mcc214.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<false/>
			</dict>
			<key>allowCSFBInVolteMode</key>
			<false/>
		</dict>
		<key>Media</key>
		<dict>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
			<key>AudioCodecs</key>
			<dict>
				<key>97</key>
				<dict>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
					<key>max-red</key>
					<string>0</string>
				</dict>
				<key>96</key>
				<dict>
					<key>br</key>
					<string>9.6-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>swb</string>
					<key>max-red</key>
					<string>0</string>
				</dict>
			</dict>
			<key>IncludeSDPMaxRed</key>
			<true/>
			<key>InactivityTimerRTPSeconds</key>
			<integer>20</integer>
			<key>UseSDPTemplateForAllInvites</key>
			<true/>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>SupportsCLIR</key>
			<false/>
			<key>ContentType</key>
			<string>application/xcap-el+xml</string>
			<key>SupportsCFErasure</key>
			<false/>
			<key>SupportsCW</key>
			<false/>
			<key>supported</key>
			<false/>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<false/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>SMSSettings</key>
	<dict>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>48</integer>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>RCS</key>
	<dict>
		<key>EnableBusinessMessagingByDefault</key>
		<true/>
		<key>ProvisioningData</key>
		<dict>
			<key>ServerURL</key>
			<string>config.rcs.mnc003.mcc214.pub.3gppnetwork.org</string>
		</dict>
		<key>ShowBusinessMessagingSwitch</key>
		<true/>
		<key>ShowRCSSwitch</key>
		<true/>
		<key>EnableRCSByDefault</key>
		<true/>
	</dict>
	<key>PushSettings</key>
	<dict>
		<key>Topic</key>
		<string>com.orange.sp.aes.volte</string>
		<key>MultiSIMTopic</key>
		<string>com.orange.sp.aes.multisim</string>
		<key>VoWiFiTopic</key>
		<string>com.orange.sp.aes.vowifi</string>
	</dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>1470</string>
			<key>ServiceName</key>
			<string>Atención al Cliente Particular</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>1471</string>
			<key>ServiceName</key>
			<string>Atención al Cliente Empresas</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>242</string>
			<key>ServiceName</key>
			<string>Buzón de voz</string>
		</dict>
	</array>
	<key>PhoneSettings</key>
	<dict>
		<key>ShowExplicitCallTransferButton</key>
		<true/>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Orange</string>
			<key>StatusBarCarrierName</key>
			<string>Orange</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Orange SP</string>
			<key>StatusBarCarrierName</key>
			<string>Orange</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>ESPRT</string>
			<key>StatusBarCarrierName</key>
			<string>Orange</string>
		</dict>
	</array>
	<key>SMSEncoding</key>
	<integer>513</integer>
	<key>CarrierName</key>
	<string>Orange España</string>
	<key>SupportsImsCapability</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://www.orange.es</string>
	<key>MyAccountURLTitle</key>
	<string>Orange</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportedSIMs</key>
	<array>
		<string>21403</string>
	</array>
</dict>
</plist>
