<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RhWqHhBUGXukcNoilmkmT2RV4VPrdhglxl1MGoQjKPTbdH1fJqgC7eecjyAiVotyUEJ6
	CSsRmVxMn8Ecgg1pvDzcF3jTC9gK/9MMZhCRBN2acU7gorwZFsE8u6iUwJw0WeS6GZbb
	N/uA8RMcR+Hf9Gm+TK6FTIzQPfYzvMsl4VkGNua4sfOaP0/ECaEP1UvBGkTX/ipCgV6z
	TwX6DrL86T4WmWwwdxL7EM2lhAfRhNEGGq1dX1R7uX7uEgzft/pHz4ZrhzOeiuDDfebB
	UALFZJfwzgjOYQsp4+VUDJbuhpbdr8VYH3MDaMSndJgL6grxPVktPuer0AhYvWg/mGNE
	kg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBg0yy34VeCZIWrnWDlsP/P2NvG+gA/gcgBZNjG1jthPeSNTRoEJkmfcGpPRlBot
	LgIwfDsG12Q3iEQbAJW2pZCLGWcMzlcOegxnrnKsBVA1E4JNtJgNcUSbVsHGcw8Kgg8w
	</data>
</dict>
</plist>
