<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>333</string>
			<key>ServiceName</key>
			<string>Customer Care</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>1500</string>
			<key>ServiceName</key>
			<string>Ring Back Tone</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>140</string>
			<key>ServiceName</key>
			<string>Directory</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>444</string>
			<key>ServiceName</key>
			<string>Voicemail</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*555#</string>
			<key>ServiceName</key>
			<string>Balance / Bill Inquiry</string>
		</dict>
	</array>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://www.etisalat.eg</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>48</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>MyAccountURLTitle</key>
	<string>e&amp; Egypt</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+201111234444</string>
	<key>IPv6SupportedDataModeMask</key>
	<integer>8223</integer>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>Show4GSwitch</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>etisalat</string>
			<key>StatusBarCarrierName</key>
			<string>e&amp; Egypt</string>
		</dict>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>PreconditionUpdateDelayTimerMilliseconds</key>
			<string>10000</string>
			<key>TriggerCSFBOnSDPError</key>
			<true/>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>RegistrationRetryIntervals</key>
			<string>70</string>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>UseCIDUrlInPIDF</key>
			<true/>
			<key>UseFakeSAsForDeregistration</key>
			<true/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>ReRegisterOnErrorCodes</key>
			<string>403</string>
			<key>LocationForShortCodeCalls</key>
			<string>BOTH</string>
			<key>UseOutgoingSipUri</key>
			<true/>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE,INVITE:*</key>
				<string>Feature-Caps: *;+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,5XX,600,604,606</string>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>UseDummyImeiCheckDigit</key>
			<false/>
			<key>SendResumeInviteAsSendRecv</key>
			<false/>
			<key>RingbackTimerSeconds</key>
			<integer>90</integer>
			<key>DropRegistrationOnAirplaneModeToggle</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>NoAnswerFromUser</key>
				<dict>
					<key>StatusCode</key>
					<integer>408</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
				<key>TemporarilyUnavailable</key>
				<dict>
					<key>StatusCode</key>
					<integer>480</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>IncompleteRegistrationThrottlingIntervalSeconds</key>
			<integer>70</integer>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>RingingTimerSeconds</key>
			<integer>90</integer>
			<key>UseIPSec</key>
			<true/>
			<key>AllowPCNIInAirplaneMode</key>
			<false/>
		</dict>
		<key>AllowWiFiCallingInAirplaneMode</key>
		<false/>
		<key>ConferenceCalling</key>
		<dict>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>TreatAllNotificationsAsPartial</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc${MNC}.mcc${MCC}.3gppnetwork.org</string>
		</dict>
		<key>AllowHandoverWithoutIMSVoiceService</key>
		<true/>
		<key>LocalShortCodeNumbers</key>
		<array>
			<string>122</string>
			<string>123</string>
			<string>180</string>
		</array>
		<key>Media</key>
		<dict>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>SuppressOctetAlignAttributeForBECodecs</key>
			<false/>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
				</dict>
			</dict>
			<key>InactivityTimerRTCPSeconds</key>
			<integer>25</integer>
			<key>InactivityTimerRTPSeconds</key>
			<integer>30</integer>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>ShowDialAssist</key>
	<true/>
	<key>SupportedSIMs</key>
	<array>
		<string>60203</string>
	</array>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>e&amp; Egypt</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>SupportsImsCapability</key>
	<true/>
	<key>AllowsVoIP</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>444</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Egypt</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://10.71.131.7:38090</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>10.71.130.29:8080</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>AllowedProtocolMaskInRoaming</key>
			<integer>1</integer>
			<key>apn</key>
			<string>etisalat</string>
			<key>type-mask</key>
			<integer>53</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims</string>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
