<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TKUqXsbs8YPMNkwKqqYsDnIGfX3KM7clSv2MpeQagkG3FBa5SV8+DBFjlVMqnjRGDn11
	eYl4gYJxVgnkxobSI33siYveVToItSeM8YOeHcXCfR0aHjYbwhlxj0YK9R86V4qu+ND3
	IcMZHZB6n7X0lU8QkJ/GAoeLGAxdMtZl540KQra8YPF5uLZTBVPEDUwPiwUCEC1ljvRN
	KNOoXiJl4Ejx37Dt9TaGxoPOC6lwbrLtT9iou58tdsx+FjP7XFCxkVwDLHkpfIH0HL44
	7DML6OiHiuN8oLLw1RHc3A02EanCYS0BMaNWCCJWRD9xiUS3meVhREhPrfs70RXNyseB
	rw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCozDSenDkMSuhOaG0cyrLlw63uByYvkn0ylfXZqiPAL7zGF56Cjvgb6nQj7ZpRs
	wQIxAIweDvqNUW63CrqIxzUMM/tbLrivm5o8u99WtmC0m1a4KIpoNBXkJZWaCaot/FTp
	Iw==
	</data>
</dict>
</plist>
