<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	nox3c6oX1O7htkxWnyv3Cb2ae8C86iLFcKMkhmpll1QardVn3WzZHxUvwjNYKIZxUX3n
	xCsuvh7JxGWKgf9Put7HdU7RBScpOZV6gsAwUa6BcP7jZnx/gKjbeJVImbqv4L0qvS61
	nk+NBR3Jb6MqpfY2UepayGjEiR6rhwcTGggbnbLqyKqe5a8LkC6TY+u+ogHPwQRfRb4F
	Gl/BJVl/HsoQcUuwjfY1saA6dONwTET7a8BqkbQSKpYF4pNpkPLm6urpltL/fMeVxHB5
	OjPCmvxoEpCNuL3wk6fukGtHhqAif/oR1AO83fLBcfE2RAb8eciJkqw+T8L7yoo7nh03
	Ug==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAccdqgqSCxrpVUunewIHS/Bw6il5zH+xsmzwtHA1vLov6wawq3Ey3g2TOeyG20K
	KQIxAIl53ARjDY77OdUbNjomyPHz4O246VqZMWjREaW4O+zTXnSW+HrWjMSVJrGYITmy
	Ng==
	</data>
</dict>
</plist>
