<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	UAIOWvLxB4Rpxvv2U95l6snflfsG7C/4fO9mudoesPaSWm9biTzfYubopkWlX5RFpgIU
	OtGaL46dpWmtaJEw/fyyMbq/KzYtD4NoXmOG1pUALWd9NCbqqTmSA+nGAjber6zAmNMI
	74UbMzSgzuwkAYTpot3o0OSKGkUtvCobcynUr5inLiWYWeALc28lFU+JAC/llVKzOexD
	+PejJewsNz0qDoONYpcLHUYSSihym3LGcL1hj8Hv8nkZ7tf8NIVANRb8EBmcYNXLj8pR
	Rdn6pRe8UikzDSOrn61yfFUnKoxUVqGwBWYBDe4b6Am5PlaMet1Jk0bLTvcIzuegqBU5
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFCsinobu046iJVvKKR8kpDaYsjfCvm0RTiGfRO4UVIdsRp8KKHh/OWwF9+/8498
	wAIweY/w/pMxaSh8WrPuxA4epDVeF884fkWe2768TzLBg0qlqVC/lJrvAAOfsXQ6D1xC
	</data>
</dict>
</plist>
