<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0AOAC2IjHWAQTRwyQJ4JcMo9skFxtQJ8RzrMzVoWPStVFKtu7FPvev+/xvar9jMKdUx6
	/zhlUy2Ovdv6ifZbGu2SDTcWPm/Y+63kJDEgogFzDKlfD8AJMg/mZomAv1Vgr2bG6Z6U
	w6jaX40BvE3UFfXuPLNO22fDXlwc9/suRsPaefVT2lPJOZZtBb95AzgZQFfnRfo3JfS3
	BwJX+OpwUsd6t2UwWTms+vHn/JqdHnkg5YFWEWIywolyy4C8G5OB9XpGIdnvlddF0MeZ
	yfjjIdds9QLmyLLsEBUcpJ1yGwILBZqlDaQ1vcVCTbMgLJYtgMPwttesh4Ur0o/nxAzG
	iQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD84NEm7glvrxYEODTV74DEpOQYE7MYLl+dFjQFOFIORpyfFTcjHRIDS6+P+OyQ
	2U8CMEBFeCZ5Q3h++V2ELhM3zoCQ9AIJlsnyYA+ByDyQ4hJI8gr8p1zI45VxElaQtIPu
	Fg==
	</data>
</dict>
</plist>
