<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	u80lY3irIlQc7pVbI7n1KIkMerrNnn5HQcZWHfdau2LJoKVfho8lDdSdWY7aTtXqIgtU
	zQrNitg0+u9IZI0xUpmXWVFMicpn97JdIfp/Iu1koH4/nLZW5OqoPSRo1p8NcoZU0m5V
	GwRL6qXEt8MQ2EVf6VY72WCuyN8ptf1XJ9IhAtW1ovIfy9LvRXHCBFsTlmF3FvmnPGOU
	o03FtxOzkoH2/ffR59Ze8zWgiqvhn4+G8xp/Y5LUOFEvUMzcdrah2my1iI68SMnXkgWe
	6BQqHVKuHnmnKR5i938oQt7BnN6xZvYsc52GT6qua7213vRCwDjj0cf9wwOwFxqJYQq7
	Tg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGaN3VoEx4CyrkQ+Xw/xEYa3EN6Mv7k3tDJCs0XukLAcJXiyZkxIG+w/3+s9Gyie
	RAIwXKUdTcx5jGZQVDj8RawE3WI1QHGnsJnjC4zBxbyA4VKzRR2/noKXavqht9DbKihu
	</data>
</dict>
</plist>
