<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ubs4uNuaMflO1FgvyK3kOp3AYg61I2+EcuJbgQbpx3CvgiLeW8R2P981JQHDY0IVTqEl
	6vXgftDpEUWMS/FhM4X15iQxj2naqF7UivNcO42FnastNRc85pZmTZWM8tmUAOiZNfSa
	mrXDU9rMlKFCaSPURvuCryA5plMS8pUsxO7j2rdn8+WLkR5c4imYZBFwqlU6IaHiwbaR
	Za3mLnMA86UljxEaqXiavR80x3H4NK2qkbWWrw/ItGB5ZweMoFn/Q7ke3Mq0jet82eLp
	RwWHR8FV4+QVWDtwg6n8XNLCE67XBIAv64bz6FdwAqUW7iuG2huBB3uBmDdN81Lm3IMj
	Aw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCiKpky4aDxn3CWbWLFwUfFNgvEN8aWVErtBL9OeA1oFnzg0Z2pAVZkhA6Ai8jS/
	sQIxAOOW0O+reVlzlF+I6Ppf5+izVmDUgVI87VAyPAj+4wORHJwjHpyLYiLL5pw2x1Kf
	UQ==
	</data>
</dict>
</plist>
