<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fV2RHPsNJvlT/x7u7XeYe5IYM0Q4vkf5mpLdvHtU6ND4cBMpHOMsBItjd3mwjHQK33WC
	AMG7EwtSoyfvfX+ZFIHSwjZQUaeOljJRy/Lt17Js3t90opcfuDl/4P+TqvRAr58CuMIK
	jsTnt5wd8jIg+tkEu037jWRFVuDEbDRrteeL8ajQYzHxNQRjO53Ou/IaFEmXz4kg2pID
	EDWoaHtICBBosKJQ8dApnQr/dx416e/NHEeERkZ9k/8riJwqeE0rYF+MgcZ7+h5V3ZWg
	64vNIS+lvZVi850G4m54T0hQdhTR72kBn6tOvV+kie4NaIFgs7cPi3QQ69WPK8rJl6Is
	7Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDXL0UvXmrgKmTxX9x/3X1SmHfex7Ri6elp7lwMrw1MtbCNhgqEiCqL+6dpS45g
	LQ4CMDiLjfdN0idRSFqGJoF75KHOZV+z3UFeioS84tjZznDD3mHe7cEKN5m6xOBCAqlr
	Ww==
	</data>
</dict>
</plist>
