<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AQc+fmTh35k1V2edjlptEBza8AUBgY9nhDlnionb8FsXnGv/8sVNLXKCqj+p073GogVp
	dbrEshDHibPKl+AQjfY4bHPkyfPI/e6ce/U8XQKcLu/S0D55bfOXUcDcdiqoC2i8p3vV
	ZcoQebLbYanuaw4vxN1eWBI9X1dWAXFaDhcnQGmRfJgqNJdtTsAzOJvjMH1Ia4Br2f2v
	pB6DMtUAtU+weOn2F/XiJ5rtrjpPYsXY7GhJyLUFGwnNieyyTIRm/IJLfsu7wI25p/uu
	MQmxKRoTfg8YTn2Rc1X/qTVlwDWDXC88e1d8/5dN9CK8njQ4cNeA92Y6meSH5zvuXnb0
	sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDOWWYiiT/fPrAmoOhqLHbDDdm2mMGjRgimwupIoG/mQDgYX1MxUlMh/IitJyBuv
	sgIwYu+DLws3vJkgR8WYGYUno6zEBdBigvEukEUsWrS+kpDUTnMX9KYCjqdux2/5+9pK
	</data>
</dict>
</plist>
