<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ZE3C1IsJFhEwazUPH+G3omsvOnAYEmgNM7SmLv6dXWhoZuWO+N5bqgFOaZRekOLHqTWq
	t72txEKwiyoZkQnyhkFHE+B4F5eQeCZe3Rt3pqZYXFrQ0JV8mDf/Nw7vXcadSsOfH+uu
	gjggltaND5Yq4nu8XqbmfOFYqDGLgqttVssbVpDTJW6gJaBWtsBOVVeA/q+rDjjQSA9y
	zJbb8cRLkJC4T9ukd22a+RfEm3zbwNTx2qAz0nNoVQC7ht2BzJJjqe6CBuxkYxqfY5YM
	YoR3mmvW+74r1mDolYoeyZOtSR0KnWk7vnsRuuEnRrSQyKuCErj/Kl99UCrtjgTR2BLI
	fg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCFPjPiRRM4CsfSzRFrQ557sGfao77MvIWWphLVmhwJRA21FjCwHkufzCFuAkgT
	mK0CMQCa0YEmRNNyLm8j72/a6reuzZQBcfrgaJZwiUI8TjI2fTzpigfMTwGr1YH+A2zb
	81k=
	</data>
</dict>
</plist>
