<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	y6qEHeXejt9oaZho9rK3yHlXvy12yajidcynGBGhXqnQryJ7aOe/In2nHTK5Ve0ltQkD
	cfmovPb1p1SbCbMBh24SfP2C6BzC+hqm+GJUzjudJiebLRI6Jw8Di4F+Gt7z1ZeDxPtq
	Ueq4XILpEsYTsBgBIstUAQtuddC4U37XyTuoYXurB3IdZ8zufTPgLh4Ofpo0vmsP0HgO
	G3ef3K8f/DUnRpFiFdi9pXKD+G/+ljtv4a3X5DqE1l7vBLFquIshqw/pYN7cXWooSjGD
	TafwwzDCehl1D+awQCMC2cKvxiA553+E+8rM1FuycGGsCrKjjSyz+34EaauDrJ/kSYs7
	mA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCwiuD/5EPVh/qx/9vWcxeJZlkg2zehGW7HrKnhvzd4nun5PFpc3qGdFqUufYZT
	9LICMQDjdg+7N0z0nftmlsspRpARGjQQOnhy6jMvx3pHVrIRVOiLGgr75GTtc58Cic9w
	erE=
	</data>
</dict>
</plist>
