<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jbVKyNiEMXV9OC0Xmehr9TVYGQqcq/iC6sCj+nnS/aM+8mdmJiamZOmiJkpBZY1Pkyp9
	qWd3ncje5NA6RpPIRWlWv6JFr1gj2/lLXymHejoXVv3PbUdiDxiOTK4EEjFO03TFP3Kr
	F1YgAVoI6VgRvMU/AdH4JvsxH1GX8iFNfc/AySWKQA2X/uBMr6np547K6TPBU5TpvB/d
	3l3Jx+ZJ8Am7vr5+OY1+n6ugUwP8aX3cDBWDqfUrLr4iBWQ5uw3Gl5sabwxVDJyYeLl+
	Vni8foRCZ9njUEkCM3HEQbI+/T4XEkAF+9hO4h7gUeHB8KwUVA3W8URQksu7FbOOcVQG
	FA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDxTaKdhdOsKIwZ69xvq/nhVLp3Ing7LyV5iM1raaz2JzrteLSFmkdtDOzSDbL6
	RowCMQD+cnL2OklsEFkoTyfbiSywFOw8waecWZzVvb2FMzJaMeY0WPJnPjFbyXroLQpZ
	xOY=
	</data>
</dict>
</plist>
