<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	d25aTWuvu+yNuVSWffAdQZWMl5Jkr+LMbrpZm4fJCqLM6gizaeiCr1R9ybx/OzhbS4ZB
	2214aSc7jQhpnQuvGlqcc2vl/HQCrMD6MC3TbqR+ZHdkcu/28pD8+FeZ6jb2nJK0rK+j
	YqvHgEc2mkkxGA9GG1e7PNjfOyh/dEreRkEtJ3Ynirbg89wnfsBjot4gHZC5ng0CKzXx
	lDt3gZY7g21v1mSlQ7Gj66Lz/2P4Atdd2JRHxqxN4GUd4ny2+nBWsrhoSzhhBKNS3o12
	HfNGLtl1EUQ4I+dsUsBlKA2HbIooKu1jsFBKsNX/G9TK2GYNFf8kcz2kUMkFVaPMsI3o
	3Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCwuD42uQmCcbbRtJ1YP4DcIVKqVv4HKz1N7S58ka4ZXAC6gEjUpRt8MMGlxG07
	aaQCMQC1gD9y5ncHQckjH26SMSvmPT26y3Ukkwc2e4AQpw0VG66igomdKw08BZOxUcN4
	51w=
	</data>
</dict>
</plist>
