<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	K/gbQjk4N+lVVt/CDYVKU9d2V84Z0i+BJIfwOGEJtaR8+zlLh3yB8uR0mr7/ZQJtbLJi
	I8PxDzqimdqOzZCrKXJ33YZZ30PbZ2B3wCV4y9hUUoZ/ISqsk9dcQ/chOfdZKKYR87CX
	eU3jZG2V30Q6RGabpZsS27SnNjiTPa5wTtGDbIX+sC1lafzhmeTdIHyvNk00DMS12Wi+
	ab8v1qE9Ip3WP3m/ipKhb/+A8elmqTjo7JwoRbjHBEkLjGRB059l04owNXGEWPT/GkRv
	tWltntAhyYsPzaAEEikrmUBOeIlmcCKhaWhC6QgFxio/JtIgAus2ZuVwfIaBvwyD1SJO
	pQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMD24qA1ZbbVoHe+xoK9oYCFJunM/mqty7XFCqvZVROgJ/17ulg5UenONkqvrJn9g
	FQIxAKaFQWyzU5Kq3JMQa0va4AyB/t6laE4Lvg8YO3pr+qPukiWh7Ka2Yc+GtA2svhGd
	xQ==
	</data>
</dict>
</plist>
