<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VDGyH88tHZpc+fC9Q+7qscdvwJUSvTQEiwuxKC9EadETLexqvGZX1SetBNj6VOaWk33v
	CwDoDk8A7Je0x9buc3V0V14OCm43GyZ5HEdebishR2tfqWUr9xB1a4mCY/eaMm8TOxZZ
	Z/MiJSGD5cVqbRxC/NuonNRBtH8oGKRqSwX44NqrblgXq1TyKjNRCZs38iEchwD6ny0n
	x1Vtw/t4ePCflpMhssJIrX8NeVezBKdgOYNukKc34EC/+I25voK9H0MEvDqbMG+Y28Hv
	KPRPkan5X++eQdsMgvAcTMjLRZkrLOxG1WyaJhbgtEamjbUbsoMqGu3fdeJ72dwQUT7k
	2A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBBtekfFz9imv5p/393oQnmpVZ+94yoZtl0xmzI/qevonqndB0KnU07acP0Q3Czt
	DQIxALPe1SHae8eZVYSPBP3FvN4OZa0mVNMcgWMXHTXL+GgUQgHtFtPpfOvBtzTdMF39
	eQ==
	</data>
</dict>
</plist>
