<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	D6IGGmj1Z9ltGS0LChW+nKXEd1gK2Ya6bBsVByXl1oVq2TjMVS55Z30M0+5uVH6QuYk9
	yhMX4xRqEhNFe6Uk6CgbW7ehzLfU7d+1RxsFTbAnc3rbNXX56EW55hYskMZXmjoJjNcr
	7TM9/BaC+/Qi3jFh9vGEUl0q8eJ6rCJt0nIgq5sVob4Jup3A9EhoPlnmi9kHYY+tt+DM
	A2dzweTH+t91aOUjmfeJeCRxdCVtBeo3rRRE2sb+vcvYK5jN6Cahn7HLAfBPMUAQxRmz
	KHcfA2Bs3juiKlpQlxGZ88L35UatA1Ar2bmulsoSqhQBGt1jnfgLkbx5Dkl3RJUMrNY+
	/g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDhhVj/YjqwERt9lDWIsjEuHGolsPnx7jXZkYSPEglSP0ulfWb4TDnWS5iBHYarg
	IQIwJv29ieBMGWseTw4EfD0B3n2Z1nfrT2DvdJCm8p4VPZVhX1X7ovF2HI6fMJDLU8rC
	</data>
</dict>
</plist>
