<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	m21BIR7ZeytT28b4TWfacOaCwnwSskEP6O6cn5HlYR/K2ftqTyEGXMByfoSUmwCgTjP/
	7L2fxviXRYVF6kYqoUmh+ebRkVdioXcBQJ4dPM6kmxUgBPsnbq4nLdiFJMGAVjROVfyx
	g/9gfQRzeL3hDe1URm6XSsokPrmT7Z1mahtjE2BDVcdShlsu2CXRAWcXHbDMsptY3BN2
	WAim/K0zAukEv4VldCWz4W3clBjMm7n1Op0B2aAK9e7qhs084OgV3O+DyzTVGuLe2rBr
	Lvslxk2I/iuzx5K9abiquGXS3fx6dW+RaGj40uvcufiu8IxtUUtxl9pjm8vmbOlZ1lqg
	YA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCMWLIcfO/hpft0uWiIgqMAR1Zn6ZcdHnfqdWwHkDDz0/MM+BgZqy1SHaWO/m1b
	OwICMAvKHv1Q3yJ61hh4pGU4S0ZGqal3vSuE3ozglfbU+txA+Alvy+gYpQ+Gu9XWBFEP
	iw==
	</data>
</dict>
</plist>
