<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DerPriFileVersion</key>
	<string>6.0.161</string>
	<key>Show5GSwitch</key>
	<true/>
	<key>_Exclude</key>
	<array>
		<string>EnableLTEAfterUpgrade</string>
	</array>
	<key>ShowHighDataModeSwitch</key>
	<true/>
	<key>IMSConfig</key>
	<dict>
		<key>Satellite</key>
		<dict>
			<key>IMSServiceMask</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SatelliteNoDataSuspendDelayTimeout</key>
	<integer>1</integer>
	<key>DerPriFileName</key>
	<string>overrides_V53_V54_V57.der.pri</string>
	<key>SatelliteSystemName</key>
	<string>Entel SpaceX</string>
	<key>CarrierEntitlements</key>
	<dict>
		<key>ProvisioningRecheckPeriod</key>
		<integer>7</integer>
		<key>SupportedEntitlements</key>
		<integer>533521</integer>
	</dict>
	<key>SatelliteSystemTransitionTimeToAllowed</key>
	<integer>5</integer>
	<key>Show5GWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportsSatellite</key>
	<true/>
	<key>Enable5GAutoByDefault</key>
	<true/>
	<key>SupportsNRNSAInboundRoaming</key>
	<true/>
	<key>ShowSatelliteSwitch</key>
	<true/>
</dict>
</plist>
