<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	iF5BML7Ys7KhXp6kJTmRUtkwAL7nSE3qI5J1Lk8YtHKUo3E7YF8u+siX1grLyulorNxb
	/R9HS3IEibmJR1UqzqNpAmX1bjqql+cfvlYK3pWUKHqaNQqPcuVjcvUSPXjxmPrWHR95
	+MhHPWoBzDCGi6nFYGVZOtXf6jBg6GZ7PDiODTl42JLDrX7XM89TNIaCbQdQ+7DGC74y
	nYfO9R6UDgBLr4qD3IWtXVpZQqeQw0cApzhGeRhkBpQO2LHS5crEeAxGmbfFlTx2xOSz
	WnyS1Io2rqTK5Mk5Gq15m4rAZaPkd3JD3LyujDyW8zmJrDe0sT9Bf3uTwBiWwdknSGes
	5Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGTc9kA5hGxpTS6iIFF40Inf5ggYu2MZ1JOloQNsmBAB3ZUTOgmuJmCwPCrxuf4D
	MAIwejxcFSF4Wa4oUY3/Wj628gyJoY8vENA3ngHXETjoNnJqNX2+lsvQ1xYR5tBqYhKa
	</data>
</dict>
</plist>
