<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>NetworkEncryptionCiphers</key>
	<dict>
		<key>GEA3</key>
		<true/>
		<key>A5/3</key>
		<true/>
	</dict>
	<key>SupportedSIMs</key>
	<array>
		<string>000FAC</string>
	</array>
	<key>SuspendFastDormancyAllowed</key>
	<true/>
	<key>IntlDataRoamingExceptions</key>
	<array>
		<string>10101</string>
	</array>
	<key>CarrierName</key>
	<string>Factory - UMTS only</string>
	<key>SendTextMMSToShortCodeAsSMS</key>
	<true/>
	<key>ShowDialAssist</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>CMW</string>
			<key>type-mask</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VoiceTextMedia</key>
	<dict>
		<key>SupportsTTY</key>
		<true/>
	</dict>
	<key>Show3GSwitchWithVolte</key>
	<true/>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>CMW</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
