<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zHp/4iqcUiQmjPGR17Y81NzAHVG6s3qYvOLA+kdnoDQILCELQdqhJyJkDNfBOfp/sAOt
	v7a2almR7RLGaVkv+hkinrTv9Dc54Rh5sjt5KvEJzXoU02P5KS429aWa3HMdMNIfjpY3
	OOUyPtp+AhH73b6ixJ7zUATvUyRftReUoMsw4NeyYYNKlCZ5x+7kOSF2GAAdenad+M7R
	HYOvaBJLA22ta1vvjKjDZy3//EkNEr1Rmmhn/rX7Ajz0RAUBlDBgc3WsjuvF6yDbMhKk
	K2RQ8SIPDmnmGyFbFgHiYSKOXTymAn8j1i8MA9SKUnsbg7kJXr4CsBvYMqCU+gmGEbR8
	Cw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD4edxfQqcHU5wXhP2pAiPvtYZ0PI0OD3rjJo6KAtyTZh30bAOftOVcmU5nORq5
	CiECMG6NXuTmidi6K2I/cpIwti2ndKIDMSu7HOdEDEjdCJY8WloT0oRIJUU7G5um+Sxk
	Kg==
	</data>
</dict>
</plist>
