<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rTA2e05CKeBMqxQw4+Dlxk0g51+s/s1KniseQXwKCyaOikOKzzFPt/Oev6vlRgFGbu1b
	jSt4tYwenKd3kamjto9etjI0mxGVrBkBUPTxc0xmnuzGPaVxrJk/Gn3jNL+4FCqdx+or
	TJhWIWTwCT1EzYrhlrEOrGSQ8w2h05EHdE5JSRJT6uZwFBNvuOn27nFk7BiFJupH4s9o
	CHVj3r10LIXKMosuyQXEoqanC1WP3mUpz8bmQh3SEpGyg5hXyrP7Kjxh0WHJQWqYy7RM
	EjCIVaS6F8bAIYhp6E1M5ZZ0ntpBSht66N+/Wv2kaIqHFbm9kzdKITjqWoPqn6U1D0Ls
	vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDRLKekWLLf+UwF0lee+Y2rWV24O6foUE4CNpCEWg/7GMCYwm+JcTdwdxKekMcM
	IFMCMD3eDlFb+fZYXp0AjXxASiFMfb+TOXWoF09DavF/PBb/Uyd2oWyE2i27hKTOGDHC
	VQ==
	</data>
</dict>
</plist>
