<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Mo0UFu/vn2+Pi3EdXOYOXXCWha0jCoPkivCQubh7VGEoVHmfYOL5fBBoHlslGYJ6oFpi
	tbL7I+uFly6qyCGRCJgVGhY2emlb2ZzyJfARSdEsDg2/lKaUUPeNo5oneqNnXyimnpzl
	W38GIJ8OEcHMLbrNIrmVbvkmODxq5Ptan20gJXH5ZosafP+z009QGo6teqUnqL5CkYFH
	l0El8cwscA2EAaXF0S6qlur+qPHwV86as/67lQP7OSER7zg7Z+g65jkMEggOZfOy+4O3
	5p92S6tVKrebWs9THDir0ldyC+C1rSBLFs7O+tsfrzanKVlTgOKbfhkvm1rW+QQjxD2P
	fQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMG6hqLfDxjh7P3Lt35MlBKswLNxjumJQrSRFWkp5qFAKSB8NZyeTQBCZdfKhNUWv
	PwIxAM0DgUAKEYm6ZlOWdxnanT30nc9GdSGuTBJfmoLYhEjd3OrPOlPGhB4bF2lweziu
	2Q==
	</data>
</dict>
</plist>
