<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	uSnfrmtpS4j6r1ilxkQiiiqlkjgMaeMs2iptcw9rn9Wp9f98vFWOGavlKEr/t/ymqlAe
	W7oVpMveFgGXA0fkGxbBMYt6TasYAcNmL1SOkSLb15FIG10J1vlF+WH5yEO2RLwnBriC
	NvmfZGWmNTqLcqZdD5S2vF/MWDoKqIGZZk0F2cPTMAE+KwVdy8DgpZfqy6gRCMFUtqjj
	vAHsygdfBigO43Fry6Hogckm8SagNNY6B/8eN/tKlor/c4ng/tRqYrqRelwms0Mm3hPc
	TnwdFK7VQikTYV+ASTs0dcBGJ4R8CuchL6tqvxxq/b9TmJ3hr2koR9S/BirP7RRQqiRS
	oQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCfZw6GOqmhmNJPuKxaoXY7Rb+yS1TGDwGl2d3lpLXI5GIrATaXZebSEI9EZzWt
	XoQCMQD9tTPNeosSHt2kz1XJwtkhBIkRVlh3zGP+/kzesEj+Vw7xZproQ9aLbLf0QKPw
	xE0=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMHimfPdj7XV9L+P/dbC/zNAH8yynJM6xNqH61HTRoJrCQ9YAUsshdQXStZGaj2NP
	hAIxAMNgeHk7ZrNxwS+AeeHCvPiFzBOVOzBIWFQcSY59zxcO7sRitVwsM7CgyaRMygUb
	RA==
	</data>
	<key>CBSignature2</key>
	<data>
	adNHaJqtj2j8jV90l7/OiKu/POabpz9n139cgn1Y915kQe7AqSgPd4OQyfDolVnTJ5TW
	H5Og0o3iq/MxR3GrMSdKNkLXVQOVoAHeKx/35y/PPVSPFfvECkKRbSihsh3eoblt2PjK
	xNtxfN9hxtoP6zctZsqAahiun1gi8zDyc2uEBfgGfaZX+33FrKQyYYbj/TvtdC9BmMPX
	6iKIKhlRikE+3B+nLeluid3Sbe5kdIvwoKDuYNIqmO+f5wBlMZU+BCRPmL2WX0fiUghx
	9aviCXOhujr5egSQuJc8sjheEANPMBEcMPbYx5eClB2+fMhnirFbPDSR1HRYf6z6FhGi
	rw==
	</data>
</dict>
</plist>
