<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	q64YHkPqEJW5WvQlE15z6ILZxbpxgVhxVfnUk8jfZNiB/JIZ3k1rmqj3ivkKVB6/5NyC
	uEN7971PxtnEgkLTTVNYHrMoTXtUsC2P/5tHDKYc9QXqiye8x5kf0OomALrDZG5PhLM9
	mSiiUnMcOti6IKElwvEsGq6eoqn/Qye66hDIbsXo4a1RfHxbonsP+3n6ILd68erajwGQ
	Uekttynu7yOlJirzRF8V4y9bXQpN8us4FUHyPzcMUP6Xmo5e1nT7pSWJCXltOB6sC5tC
	Lk1ev9nPrmBKOXYiBJKbBmZCULxUjNAfKwbRnvenlNMZvU0XP9LJ9tohAGgrxUVlbnfQ
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDPqI8pEPTRewDNJH8HyAKHyHocEpAq2Nc3P/giefsUKg/M3acTJkZE6h7KloOP
	T+8CMQDUShSlxxMrHwBkQKRZawznf2Lv1GVRchOXM4TBkc8+DB33y8R4I/qyMlEU0e18
	xHQ=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMCJWmNjZNxW3WWRC0wjbC200Ulao9wx7AGAz5GQHHBD1xP5bB0AFZElBiumSFqpP
	JgIxAIAc+2NlZF/e+Z+U/yFSxvdgGFCjH0nl7sO/YmqGHRC7zRsv+E60efA+LWyzt2ar
	Uw==
	</data>
	<key>CBSignature2</key>
	<data>
	JNcEInmm23Tor6Y8fQEw1UUzd9+AVbK2ArdD+lYGtXqAX4g6xfhUBEgkj1wZrQ6AqgjH
	x8xyS/po0ecWRkX+EOncnTXsAOHGW//I8tZb3cWM+NcAT0HN9GfCd/tt0TtDoS41DFV7
	mIyJVs1DYFL0Dj9mB4WtmCZqBGBT5tXHz+72TR7Q40jWRI77Tc49VtXI8I1+IZ8Eyf89
	PKPIaTgGkUSYoCzMW1G9WWz7CMNwdQiRtmcPj/J295dH22tCK57lUE9KZlMR3xCI9jpV
	BwSAl1pNeAt7itOR+PI4yYeGaSBbOUBMNvjcCrZg9WrSMdHkZPcqHqc9u37uIL2+du7M
	Aw==
	</data>
</dict>
</plist>
