<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ZZVT44usaBYuzoSJ8siTZy5edKxjVmBsf2Ka1n+nyvIItMYhdECqWw5YpUXxAirDlFgL
	sWOGXzqojN8VUhd+2vSb89sRhCjtrv3DbIjPWgZwBJpK+3ZDJfQMUPbNy2GyJSnpIBkp
	k30LobwTmxwMnLu7Si/wNkSkkPSJnrlGFtExlU7aC8YCQbUqbWcFafawjjU4a4LQI0Bq
	V+5tDj9SI9/i8PCYAhDrg5n6rIixWn7R4OoV0oTEh35fcIVXoDNg3n8Rtt83CEQmz2gc
	QwMeUNHoLzfTGKxnyYVsaebQCw3W2kh98cMGEVw3e83t1VEuRxtRzrM2y/IWqreP/2mw
	FQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCZkSTFazYZQ3FRLvtmVrPhZCHeJZvT6pEJ6mONsfhHZNQEVcgJoo+wZ+C9O5j0
	PcQCMQC96zweZ2O0YzbaAXKJ/5m1SS9BIxOvuZ8V41zNJhRx7xNfTHnCl3vGEoHhUbnG
	Hms=
	</data>
</dict>
</plist>
