<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>107</string>
			<key>ServiceName</key>
			<string>Zain Customer care</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>99117</string>
			<key>ServiceName</key>
			<string>Zain voice Mail</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*123*</string>
			<key>ServiceName</key>
			<string>Zain collect call Service</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>99000</string>
			<key>ServiceName</key>
			<string>Zain Sami3ny</string>
		</dict>
	</array>
	<key>SupportsNITZ</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://kw.zain.com</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>BeaconServiceCenter</key>
		<string>+96596000303</string>
		<key>MaxGreetingDuration</key>
		<integer>120</integer>
		<key>UsesSSL</key>
		<true/>
		<key>GreetingNotification</key>
		<true/>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>UsesMWI</key>
		<true/>
		<key>AuthenticationScheme</key>
		<string>DIGEST-MD5</string>
		<key>ClientManagesTrash</key>
		<false/>
		<key>AllowedIMAPServers</key>
		<dict>
			<key>FQDN</key>
			<array>
				<string>vvm.kw.zain.com</string>
			</array>
		</dict>
		<key>BeaconAddress</key>
		<string>94043</string>
		<key>MaxPINLength</key>
		<integer>4</integer>
	</dict>
	<key>MyAccountURLTitle</key>
	<string>Zain KW (Official Website)</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+96599690969</string>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>zain KW</string>
			<key>StatusBarCarrierName</key>
			<string>Zain KW</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Zain KW</string>
			<key>StatusBarCarrierName</key>
			<string>Zain KW</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>41902</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>IgnoreRegNotificationContactExpires</key>
			<true/>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>DefaultAuthAlgorithm</key>
			<string>AKAv1-MD5</string>
			<key>TriggerCSFBOnSDPError</key>
			<true/>
			<key>ForceTcp</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>UseCIDUrlInPIDF</key>
			<true/>
			<key>UseOutgoingSipUri</key>
			<true/>
			<key>ussdEnabled</key>
			<true/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>LocationForShortCodeCalls</key>
			<string>BOTH</string>
			<key>WaitForRingingTimerMOSeconds</key>
			<integer>21</integer>
			<key>AdditionalHeaders</key>
			<dict>
				<key>INVITE,INVITE:*</key>
				<string>Feature-Caps: *;+g.3gpp.srvcc-alerting</string>
			</dict>
			<key>SendLocalTimeZoneInformation</key>
			<true/>
			<key>AlwaysUnsubscribeFromRegEvents</key>
			<false/>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,5XX,6XX</string>
			<key>DropRegistrationOnSRVCC</key>
			<true/>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>SubscriptionTerminatedMeansRegistrationTerminated</key>
			<true/>
			<key>strictCallFlows</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>130</integer>
			<key>AlwaysAddPrivacyHeader</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>BOTH</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>21</integer>
			<key>Preconditions</key>
			<string>None</string>
			<key>EnableCellularNetworkInfo</key>
			<true/>
			<key>RingingTimerSeconds</key>
			<integer>130</integer>
			<key>UseIPSec</key>
			<true/>
			<key>RegistrationExpirationSeconds</key>
			<integer>7200</integer>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>TreatAllNotificationsAsPartial</key>
			<true/>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:1234@ims.mnc002.mcc419.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<true/>
			</dict>
		</dict>
		<key>Media</key>
		<dict>
			<key>InactivityTimerRTPSeconds</key>
			<integer>15</integer>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
			<key>AudioCodecs</key>
			<dict>
				<key>109</key>
				<dict>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
				</dict>
			</dict>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>NafHost</key>
			<string>xcap.ims.mnc002.mcc419.pub.3gppnetwork.org</string>
			<key>BsfPort</key>
			<integer>80</integer>
			<key>imsFeatureDependency</key>
			<true/>
			<key>DisableCLIRModification</key>
			<false/>
			<key>NafPort</key>
			<integer>80</integer>
			<key>SupportsCLIR</key>
			<true/>
			<key>SupportCFMediaTag</key>
			<true/>
			<key>supported</key>
			<true/>
			<key>ContentType</key>
			<string>application/vnd.etsi.simservs+xml</string>
			<key>DisableOnNetworkError</key>
			<true/>
			<key>ForbiddenHttpErrorCodes</key>
			<string>403</string>
			<key>SupportsCFErasure</key>
			<false/>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>BsfHost</key>
			<string>bsf.ims.mnc002.mcc419.pub.3gppnetwork.org</string>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>OverrideOperatorWiFiName</key>
	<string>Zain VoWiFi</string>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportsOnDevicePhysicalSIMConvert</key>
		<true/>
		<key>SupportSecureIntent</key>
		<true/>
		<key>SupportedEntitlements</key>
		<integer>31745</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ServerAddress</key>
		<string>https://es.kw.zain.com</string>
		<key>SupportPhysicalSIMtoESIMTransfer</key>
		<true/>
		<key>UpdatePeriod</key>
		<integer>24</integer>
		<key>SupportedActions</key>
		<array>
			<string>TransferSIMService</string>
		</array>
	</dict>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>94041</string>
	<key>CarrierName</key>
	<string>Zain KW</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>pps</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>PhoneAccountTransfer</key>
	<dict>
		<key>LocalInstallSMDPURL</key>
		<string></string>
		<key>TransferErrorCodes</key>
		<dict>
			<key>IneligibleAccountErrors</key>
			<array>
				<string>103</string>
			</array>
			<key>CarrierDefaultErrors</key>
			<array>
				<string>102</string>
			</array>
		</dict>
		<key>TransferPageURL</key>
		<string>https://es.kw.zain.com:3161/websheet/esim/transferIosPrimaryEsimAuthenticationFailError</string>
	</dict>
	<key>SupportsImsCapability</key>
	<true/>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>AllowsVoIP</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>99117</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Kuwait</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.zain</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>176.0.0.65:8080</string>
		<key>MaxRecipients</key>
		<integer>25</integer>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
	</dict>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>899659</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>TrialEndPeriod</key>
			<string>2019-09-21T00:00:00Z</string>
			<key>TrialPlanType</key>
			<string>FreeTrial</string>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2019-03-22T00:00:00Z</string>
		</dict>
		<key>ServerURL</key>
		<string>zain.prod.ondemandconnectivity.com</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>1800</integer>
			<integer>3600</integer>
			<integer>5400</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>5.2</string>
		<key>MinCompatibleWatchOSForStandaloneMode</key>
		<string>8.5</string>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_EU</string>
		</array>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>wifi</string>
		</dict>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-128</string>
						</array>
						<key>DHGroup</key>
						<integer>14</integer>
						<key>Lifetime</key>
						<integer>80000</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16384</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
			<dict>
				<key>policy</key>
				<string>true</string>
				<key>serviceMask</key>
				<integer>262144</integer>
			</dict>
		</array>
		<key>IKE</key>
		<dict>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-128</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>80000</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>ValidateRemoteCertificate</key>
			<false/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc002.mcc419.pub.3gppnetwork.org</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
		</dict>
		<key>WiFiCallingControlsAlliWLanServices</key>
		<true/>
		<key>DisconnectPreviousPathWhenHandover</key>
		<true/>
	</dict>
	<key>PushSettings</key>
	<dict>
		<key>MultiSIMTopic</key>
		<string>kw.com.zain.es.multisim</string>
		<key>SAWatchTopic</key>
		<string>kw.com.zain.es.multisim</string>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string>pps</string>
			<key>username</key>
			<string>pps</string>
			<key>apn</key>
			<string>pps</string>
			<key>type-mask</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>password</key>
			<string>pps</string>
			<key>username</key>
			<string>pps</string>
			<key>apn</key>
			<string>pps</string>
			<key>type-mask</key>
			<integer>54</integer>
		</dict>
	</array>
</dict>
</plist>
