<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	q64YHkPqEJW5WvQlE15z6ILZxbpxgVhxVfnUk8jfZNiB/JIZ3k1rmqj3ivkKVB6/5NyC
	uEN7971PxtnEgkLTTVNYHrMoTXtUsC2P/5tHDKYc9QXqiye8x5kf0OomALrDZG5PhLM9
	mSiiUnMcOti6IKElwvEsGq6eoqn/Qye66hDIbsXo4a1RfHxbonsP+3n6ILd68erajwGQ
	Uekttynu7yOlJirzRF8V4y9bXQpN8us4FUHyPzcMUP6Xmo5e1nT7pSWJCXltOB6sC5tC
	Lk1ev9nPrmBKOXYiBJKbBmZCULxUjNAfKwbRnvenlNMZvU0XP9LJ9tohAGgrxUVlbnfQ
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCImToTwOxNqnwoTnCrrmIjLR8TjOkmlpIAKCCTb3aZTZfS6VG6cL2gFxRV3iY3
	yBUCMQC6Qra/Mp9P94lZ3V/XhEguVYTgJnW4AgN8VKeTlXHX+XIpwKiuiMnTFBrc3d3r
	D3g=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMQDeOHwa7eGFid18NqKrRVlW8O0gCxdeB5FK0TsDjPWwMxVaJCu2cCp+AesDGtS2
	/nwCMERmZ/fDKjb1RrUEW678yPX6M2GUIrGVOxhadhLfQeeo5YcpOgLPdLI+wncw4KTj
	3w==
	</data>
	<key>CBSignature2</key>
	<data>
	5Vf+gh40HdqsNv2O1ZlHYzCpr/bZ4a+gHG4z3G6zO0yfPEh/u4FV/eLWM5i3grp+SuZD
	KLu7yvcjSZPpK9gy/8NjCkMVg5ShJAXFcKsHqgln1b5bxSoN3pwoIZsH7nkfjeKNM7kh
	a46FJ8fdl+/CWwmQiKE6HZ9ITBAGMAFJtnihEccKLePpxqtkyfXsNB/I05SP2OdwMQr5
	RmM1r5DwJkCx7hFA17JECcu3bQPc1R/KKP/S+oU84RJ08CdAWai6mXhfvdDGmF1ES16c
	2asAD1DSVzkv4wEny6bVb5x4X9Z+MSuYKQUkVtTQ5I+qo3+/i1VpvZziLhLllzmjQpgi
	SQ==
	</data>
</dict>
</plist>
