<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vdJi/Ejlrn4b+jzUWLxv8NO3rbnbkQ8rKNi8Ew4CBqbv9XKXoUfdr9urzmQ3iZvF5KNF
	V2KLRaeUlFGwNcsVY0EYLqNKE43ennI7l27/okiOjSCxDRgG6E/HbXXLgmFEiCcUsZmm
	EUOQqi6oTj4GEyBBAkiOWlTDGvOq29eL2VczOdauqxGMEXfuyBobk2ShseiKXLFIeJf+
	mwiJLedz3JALtBcpIepOUCUrg7uiH7Kk1wPRwOXh0TX56pJtYRSEZPY75xmAdUv6HaCW
	CL+e9Geb9QoK47mDHeBccmjRL/Mlcow+aIA27FBfrW1hbLLRxSuw68wqfPTcy/0K1P89
	jA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHuopYkObvC9lNc7YusE1+/qnpKzCzBPyWNZ73S/oNxl/QWn/MkWMvkONhGfBqCl
	5AIxAInOGNAFZO4DKfIypPpkrDSowHhn6NBqDx40rjoBEMr/AlgtKC/pa2+mFKMwX2bd
	UQ==
	</data>
</dict>
</plist>
