<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RkPJH0Ro+/ZM8e7i32YW8FkmJgOUl0zlGRoRPOKxbg8U/oARO2iG8gikH6Hn7acdsDiE
	weZqyCgLZC8zL3hUvXnP5+KbCoXlfn0MJLHsV1J44jwEPzQACCTPHRqrY2NbzCBUBO6z
	DfaHCBrCQL9XOBhb2U9VUXJkpyu/btDQxvgReDz+RAfrX4E5BTdYJDaqUEVTwTZ6DrX0
	xjsDsSX2zRXWA9xvOl8pQUDX0/7XUpGieTrldXUWMWujfGfAEUF7ENZBXpcFlTpXUhPL
	VS2x3tI/TI3PflBXRUjT2d3aUqjtpsvzc/gKWBbq8j09gRpzIKUVdzsVvA+glzbtRmBr
	Eg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD8SBLOy/ZZvPUMiK4C/1TQlG6YHZDLi/KodH5cnChjtTTt2pHzdI349ghGPZM/
	vRACMFuSYuo6pt74u916anAvRHyp89JVaQ5iZbjL0Ff1kj8WcEnZ80YAw/4bBnd3JmA2
	1Q==
	</data>
</dict>
</plist>
