<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bPb1vEcKegB2qnj+TvP9Zdgzo5K6S3hzDy9/ImkYwq9CXJtdX6RinzrGUTyQ0RdHQqos
	5SiPLxL81jLqlEY9XlFZrsXm+aYGBnQBdhkaMVAAPpE1EKqdHb87b4QOPJjIjNkKRYKj
	/WFAg6zFVSApZVYJDIb/I0kM0Sj/NQHj1/yRXFhyITnzRSA7tOQhIYW5Mg1bpGVLWFHu
	PKt8LRLvGtovjYL5voe3qSBjMXt8/3SWgdKcWqtXUeCBbWcxLFXDsk8o7sDUJ59Psod5
	z80BMW6daknOe0xVThp5SQ3fSEdOIABbZHz23TlNq18ryNZZdGgNQCFZhQoiUpDWRn4Q
	nw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD35H5WplcxGrt/2DpKfX7feJvZM2rkHzFZ4fVmKoRzOtlJUKp2Rct0zWYkdGej
	X0gCMQD6/5EfOHatKGVpW9ZMBVBB6hFEZcZlh2xbRZX0gUjZTDKZx/a4HSPNCvl+N5fd
	RWM=
	</data>
</dict>
</plist>
