<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WXLHPLJ9AuttSuTHcU+srZjHfz+CJiQ5vtCn8XZRuLVqfTmNIN9NoQ382fVVDs/tcv/Q
	818UJ33MiL2FXh+OB9uBt19q0V+0xuJUj4emrAR9e/gHWvKlLl4Zb7iUzKssTJDgLLKN
	9cwTqIn/HawhgCFR0aRLgH2SC2EUuW4qJp2errpxJ2QVt9DCYn+VSVLlfAn3k7UzBkG4
	Kbtl6XWCwGHCtIEzI4Z/gpUSbXhr5bVuUh8KlylVgEy/JkOFMcHzhuVJACSzaOhrNgoo
	wCEP1wcRvnYGgEICsT++fpcJCm+allzPag5JuiU8fViQRQTYPNzTeLyngYV+2h//6Nfs
	0Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDbdbPVInA/NDIUCL/+RM5J3Hf8Nx62jPF1VTcwhUoMA555y555TiRxCkjrAluon
	ngIwFj7IhV0I77OtUt9gdBWpcw1Vrh5W4j8FJ5POG6WmpIiLcbiRT9uJvWi3fZgiNdMc
	</data>
</dict>
</plist>
