<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	doAG6nM/zFIQ/Wxj+dIe1Qy/W0Jrsg1uBUwjIZOy1YPwILQp3RCk3BHEaDU8nS/EydGf
	OrkW6K0VNu20KfrAi4kiigKF7oSdf5XE8S8aMlB5ni2T5Eb7GXJUSa0J5DHAbcMtXudZ
	/IJJyXwWSIcuoCsscjai5QS01M9nmUXbJif/eXrcqEjosah6XLnWWRE5Sy8/lcOE9Y+g
	+WEUekq/GVQWqTNWCBciG48hju2LZ1Lr3BOjTrDrZi2DZjgkAPNnQD5jGICpqwEmRxiM
	mAfIXfF+lcRkZhP/lKnOIFeQyV6HhdKxvzjbo9zgajOsZDBBXms16r53yZrkWSRyZGyo
	0g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCwHK+jwoY6OGiD8c9soun7JTBibCgBz+dw1TH350sVO1PyeJXOuCeXGKX0rvwj
	MEUCMEj310yrlfVY2YUbly29akg8hdpPgwRwdNJtKIXXr8BM7BprPJNI2YKA18caxmvF
	Pw==
	</data>
</dict>
</plist>
