<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	HSrJ4mqCE+xO4JyMivOrFPCPUGyAwGeqrN6JLOUGRDQzmW5zR1TpY3cGxol9AW6rJyVc
	nvVygzq8vPrCCew+Hbnj8O6KYHxpZN6ld9LJ/Rg1TuazxCWRMp9BbBX1Dp0ixXLojt8L
	KD+U/KdeuaBuGNwzTTA+fH6dGya9JszprSQsJ7ssoKOYCuJi3NIB5WVTDC18klOQOUuA
	FQvuEGOCZ1wYWIds5pyhuNL1RYC0yz6PnMENYeYXyO5OX730BJtWRBv/e1kcrxvCgZvT
	hiZ5DDa1cBky4lfwZmTFgIkmniQdR1aFG5RmOoAhbM028d/hdzSuz9VhR/zpBJLm6MdJ
	Tw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMD7TpxPaLzI3qHk2kr8oFkz79AOEtqnVEO/Cj9NWoX0PcME7mGqPqpDb00rRY50y
	XAIwEUvrX0UClM2DP0lRght+pOR0v+YuJV6DH91OFjeOY7hdkEutRwk7wRZVeDNyElzp
	</data>
</dict>
</plist>
