<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dWC1UUjslSCSBQvpf4hY/l7XEC23BDMO/lKw9aBEIlNxdhrfEdV2Kys40yfA7FCmtxyC
	wTH9GgkYDKy3xCS2P1vds2RYkUF2WydyNyC1gTaMBBPK4GOxlmsI99lo4yGRvrEatVhh
	cmoRBmiS+gPjlJpJIWypScNYldg/X+K7qBnv8Wsj72VHE+T/g3jpep/+4fJ79lWR7w9H
	iXx+sI2J840z8xtq34ZUkLx2W527xV+IShwS61OV4DbwHu3TCzPMN7aXK6zVKigLEjqz
	x4+ISOa8L1ivKxvSjCpolyWre8AwwBGFxdW4Vb3Lq1uU/VGToXaCcWNqRjxZCqLv/ww6
	6A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCmqUmNLjndrrIiGyiwedTnIpX+C+NTqRxbZ1ZM0c2AvZpXEWz224z4+XaB4VGa
	VKwCMQDDpIZJEShK7UxpZCNxv1mR+ToCBEwyQj3nyW4GgPoTasU9t3QFH8eJSXu6zc82
	y+o=
	</data>
</dict>
</plist>
