<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jyy0Bhl+yMZESSzyCOJbaYVhFIp1vbZvZAXnXxoGJUC+CdFPR3jnK9PUVGCxu+f3efnG
	CAeE34qNdYeJGO90l43jCDWuNG407d06EQgADs13zFPubcuGPbgb3KEqKkvDf3w2FJq/
	wmz31ySe8EIYGC3/kB3F5SO6TiuTQOryY8/5OaQbJNPm3Uu12Wyni+EfDOQrhbYkAFkW
	14tSDuyv99nBnlRNxVfEi2FnSp8OMYw417lKn/1FpHBXWSvec2goX4RpGahvANzXpXxv
	+axyR8Trntz3osFfru6Vod+vR/e5hZACrMmLRocHfz6BMhG+7018MvKNP3vNy0R8NZ3c
	XQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCASrbZr47DXGJcMMLl2dRsahdq/my3BFwe9cRQ1F1f9xpECa+a4hDYuXYBMGAA6
	YwIwbK4sufe/xJjxkND1bKTmAOejcED9MJEZD2G+FmD9Ea1IuNbzWbYMIAr2pt/PcNgG
	</data>
</dict>
</plist>
