<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Xk/7Fuf2bazJ0Aek178QgDuZnMpLoJpEr921iUY+CKl5LquYb9iT688MC4jrKyLTEYvf
	/J8sPgyHqkz+X2bALtTJsRpDzOX8MX6j967UwC3epUzw9asV92gNkDTKApGgc/imfIIa
	0pHPVgMjeZDwo9q2bV1Ji2t6l3J3KU1w5FQF2ew39a72A2bIi3N26zhLkWXgvp/jS4NG
	qAhiySpxkto3CWnzi4GbNhNZf3otxNa01KhtmE18K5Pm7syBCpP1AU9w/Q2FfP1l8J0e
	m8D3kDRboEovKhHMnMlnASex2+1mq3wwdWkwbQOCaCUcoO5/avYEyBkUzB1vv1DWns3h
	uQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDqMQh1V4cdz7Vn2NK4NPd1CaHWdN1G2d67rsrzH/rVvUPdRu/sFMuzPAAlmHf1
	ZNMCMEXe/sevpflAEOHTEj8wib5fg5GWTDFoXpgOFiEDSbQ9gr7SFmq+240KAGSYS2Zp
	/w==
	</data>
</dict>
</plist>
