<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DRbqoG7qCR4cDmENAE4DkjlAZiA4oIKxwNkfUkj63DWFDdMsO0QcBa8pJ24jIXeeEOXl
	Oawwm2h+DyKVcZA1DVxnFkmdcXimZjmtYf9bPpZursu29sS7dPWeaDOuhzapXaozXkeR
	aR1PAXuQoVVKOwBezhqhOapHK/otRJDMiQCz1/STr3y1ycNiKDh2fJYu/rsTljwdwac6
	Fpm+bke82/zVw7jftIomVVwZU/GjzDlbBqxJi3HPGIq+SsQCIUMKXiWsFkmfqPIxrjlm
	SRXayuMCjttIyV00xTR/3zxGZVOn6V0epqHD2E03F/nGx0GLf1UpPvgSyMYOgiM4/wE8
	bA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDjOJOXnjSaWdyW2n5K6RM/8ohWopW+7BTaQOh43xJ08JokrumxhPGoWTM0VTNP
	29ICMDR2D5f3Iw1dWMDZSZC7DUqd05wkypodmS5YPaqlQkGn+9cBkMZktH2KnaXxI7Ht
	Bg==
	</data>
</dict>
</plist>
