<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	HTQaqljx+nc78b4vR4kKd0K/3WPHusjA850o8HQhRCep8fB7N97espEeH95VOh8pqSDn
	XdC+eVgzegk5rAhf4Q31lR/avliANOouQ3DCmEEB8H37yl3rokZgVc5+YUsLC2tYprQn
	v62Sfg0Ze4a8zITU1Sd/mysjcfnjYQRse6pps7uJsx65WDiSwUo7vUH6f+Yym6VdCMxC
	2JApV5LaX/ZyEskj3KaTQvXioZOjR7rfGAb2uUkB8pKqiEw9u5Mq5SeUchXmufmTsVm8
	3glw0ir4uHwTk+W681pUP13WLfvdrhb7uqKjN9y5gVrpS7Rq14Kpz//Hktjsab6LXpsu
	7w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGXCIrG4X3TJTmbAHPeWQBQkYdkRT2ulqIlBjzq06mTbFn2UGK2ji1seKgZ/yhcv
	WAIxAOj4gRPyf0EgSm637hSdQt67q5jxYdTPHjrJG18j1pGsfyiqZl78l4hDK5atci2x
	9A==
	</data>
</dict>
</plist>
