<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>1041</integer>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>ServerAddress</key>
		<string>https://aes.mnc001.mcc740.pub.3gppnetwork.org:44307/entitlement/</string>
	</dict>
	<key>Enable4GByDefault</key>
	<true/>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<array>
			<dict>
				<key>password</key>
				<string></string>
				<key>PcscfAddressRequired</key>
				<false/>
				<key>username</key>
				<string></string>
				<key>apn</key>
				<string></string>
				<key>AllowedProtocolMask</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>SupportsUserBusyCauseCode</key>
	<true/>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>symbol</key>
			<string>AMX</string>
		</dict>
	</array>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>SupportsNITZ</key>
	<false/>
	<key>RemoteCardProvisioningSettings</key>
	<dict>
		<key>MatchingICCIDPrefixes</key>
		<array>
			<string>895930</string>
		</array>
		<key>CellularTrialPlan</key>
		<dict>
			<key>TrialEndPeriod</key>
			<string>2021-12-31T23:59:59Z</string>
			<key>TrialPlanType</key>
			<string>FreeTrial</string>
			<key>SupportsTrialPlan</key>
			<true/>
			<key>TrialStartPeriod</key>
			<string>2020-09-21T00:00:00Z</string>
		</dict>
		<key>ServerURL</key>
		<string>pra.prod.ondemandconnectivity.com</string>
		<key>ActivatingStateSubscriptionCheckTimerIntervals</key>
		<array>
			<integer>1800</integer>
			<integer>3600</integer>
			<integer>5400</integer>
		</array>
		<key>MinCompatibleWatchOS</key>
		<string>7.2</string>
		<key>SupportedSKUs</key>
		<array>
			<string>SKU_NA</string>
		</array>
		<key>ProvisioningMethod</key>
		<string>CarrierFlow</string>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>VoicemailPilotNumber</key>
	<string>#99</string>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>ShowDialAssist</key>
	<false/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>MaxGreetingDuration</key>
		<integer>20</integer>
		<key>UsesSSL</key>
		<false/>
		<key>GreetingNotification</key>
		<true/>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>DeliverLegacyNotificationsBeforeSetup</key>
		<true/>
		<key>AuthenticationScheme</key>
		<string>DIGEST-MD5</string>
		<key>ClientManagesTrash</key>
		<true/>
		<key>AllowedIMAPServers</key>
		<dict>
			<key>IPv4</key>
			<array>
				<string>10.57.115.0/24</string>
			</array>
		</dict>
		<key>MaxPINLength</key>
		<integer>4</integer>
		<key>UsesMWI</key>
		<false/>
	</dict>
	<key>OverrideOperatorWiFiName</key>
	<string>Claro VoWiFi</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://iesmms.porta.com.ec</string>
		<key>GroupModeEnabled</key>
		<true/>
		<key>Proxy</key>
		<string>216.250.208.94:8799</string>
		<key>MaxRecipients</key>
		<integer>25</integer>
		<key>MaxMessageSize</key>
		<integer>153600</integer>
	</dict>
	<key>TechSettings</key>
	<dict>
		<key>WifiCallingAllowedInRoaming</key>
		<true/>
		<key>ChildSAs</key>
		<dict>
			<key>FirstChild</key>
			<dict>
				<key>ChildProposals</key>
				<array>
					<dict>
						<key>IntegrityAlgorithm</key>
						<array>
							<string>SHA2-256</string>
						</array>
						<key>EncryptionAlgorithm</key>
						<array>
							<string>AES-256</string>
						</array>
						<key>DHGroup</key>
						<integer>14</integer>
						<key>Lifetime</key>
						<integer>86400</integer>
					</dict>
				</array>
				<key>InstallPolicies</key>
				<true/>
				<key>ReplayWindowSize</key>
				<integer>12</integer>
			</dict>
		</dict>
		<key>iRatPolicies</key>
		<dict>
			<key>PreferredTechnology</key>
			<string>cellular</string>
			<key>PreferredTechnologyRoaming</key>
			<string>wifi</string>
		</dict>
		<key>5wiServiceMask</key>
		<integer>3</integer>
		<key>EPDGResolutionFallbackEnabled</key>
		<true/>
		<key>ExtraConfigurationAttributeRequestv6</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16390</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv6</string>
				<key>Type</key>
				<string>IPv6Address</string>
			</dict>
		</array>
		<key>SupportCallHandover</key>
		<true/>
		<key>TechPolicies</key>
		<array>
			<dict>
				<key>policy</key>
				<string>TRUE</string>
				<key>serviceMask</key>
				<integer>131072</integer>
			</dict>
		</array>
		<key>ExtraConfigurationAttributeRequestv4</key>
		<array>
			<dict>
				<key>Identifier</key>
				<integer>16389</integer>
				<key>Name</key>
				<string>AssignedPCSCFIPv4</string>
				<key>Type</key>
				<string>IPv4Address</string>
			</dict>
		</array>
		<key>WiFiCallingControlsAlliWLanServices</key>
		<true/>
		<key>IKE</key>
		<dict>
			<key>Proposals</key>
			<array>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DHGroup</key>
					<integer>14</integer>
					<key>AuthenticationMethod</key>
					<string>None</string>
					<key>Lifetime</key>
					<integer>86400</integer>
					<key>EAPMethod</key>
					<string>EAP-AKA</string>
					<key>PRFAlgorithm</key>
					<string>SHA2-256</string>
				</dict>
			</array>
			<key>DeadPeerDetectionEnabled</key>
			<false/>
			<key>DeadPeerDetectionMaxRetries</key>
			<integer>4</integer>
			<key>DeadPeerDetectionInterval</key>
			<integer>600</integer>
			<key>LocalIdentifier</key>
			<string>0$imsi@nai.epc.mnc$mnc.mcc$mcc.3gppnetwork.org</string>
			<key>NATTKeepAliveOffload</key>
			<true/>
			<key>RemoteAddress</key>
			<string>epdg.epc.mnc001.mcc740.pub.3gppnetwork.org</string>
			<key>DeadPeerDetectionRetryInterval</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Ecuador</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet.claro.com.ec</string>
			<key>type-mask</key>
			<integer>1081393</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>vvm.porta.com.ec</string>
			<key>type-mask</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>password</key>
			<string>portamms2003</string>
			<key>username</key>
			<string>portamms</string>
			<key>apn</key>
			<string>mms.claro.com.ec</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>131072</integer>
			<key>SupportSwitchOver</key>
			<true/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims</string>
			<key>AllowedProtocolMask</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Signaling</key>
		<dict>
			<key>strictCallFlows</key>
			<true/>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,4XX,5XX,6XX</string>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>45</integer>
			<key>RingingTimerSeconds</key>
			<integer>45</integer>
			<key>ussdEnabled</key>
			<true/>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>CountryOfOriginationFormat</key>
			<string>PANI</string>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>WaitForRingingTimerMTSeconds</key>
			<integer>10</integer>
			<key>UseFakeSAsForDeregistration</key>
			<true/>
			<key>UseIPSec</key>
			<true/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>SendConferenceSubscribeInNewDialog</key>
			<false/>
			<key>SendReferToPeer</key>
			<false/>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:mmtel@conf-factory.ims.mnc001.mcc740.3gppnetwork.org</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>enableInNonVoLTEMode</key>
			<false/>
			<key>SupportedDomains</key>
			<dict>
				<key>LTE</key>
				<false/>
			</dict>
			<key>allowCSFBInVolteMode</key>
			<false/>
		</dict>
		<key>Media</key>
		<dict>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
			<key>UseSDPTemplateForAllInvites</key>
			<true/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>NafHost</key>
			<string>xcap.ims.mnc001.mcc740.pub.3gppnetwork.org</string>
			<key>BsfPort</key>
			<integer>8080</integer>
			<key>imsFeatureDependency</key>
			<true/>
			<key>NafPort</key>
			<integer>8080</integer>
			<key>SupportsCLIR</key>
			<false/>
			<key>supported</key>
			<true/>
			<key>ContentType</key>
			<string>application/vnd.etsi.simservs+xml</string>
			<key>DisableOnNetworkError</key>
			<true/>
			<key>ForbiddenHttpErrorCodes</key>
			<string>404,501,502,503,504</string>
			<key>imsRegistrationDependency</key>
			<true/>
			<key>BsfHost</key>
			<string>bsf.mnc001.mcc740.pub.3gppnetwork.org</string>
			<key>SupportsCW</key>
			<false/>
		</dict>
		<key>EnableWiFiCallingWithoutEntitlement</key>
		<true/>
		<key>Voice</key>
		<dict>
			<key>E911OverITechSupported</key>
			<false/>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>SMSSettings</key>
	<dict>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>VVMIgnoresIntlDataRoaming</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32769</integer>
	<key>PushSettings</key>
	<dict>
		<key>MultiSIMTopic</key>
		<string>com.claroec.ent.multi-sim</string>
	</dict>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>*282</string>
			<key>ServiceName</key>
			<string>Prepago Amigo</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*611</string>
			<key>ServiceName</key>
			<string>Atención Clientes</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*612</string>
			<key>ServiceName</key>
			<string>Saldos Postpago</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*333</string>
			<key>ServiceName</key>
			<string>Asistencia Inmediata</string>
		</dict>
	</array>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>PORTA</string>
			<key>StatusBarCarrierName</key>
			<string>CLARO</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>PORTA GSM</string>
			<key>StatusBarCarrierName</key>
			<string>CLARO</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>CLARO</string>
			<key>StatusBarCarrierName</key>
			<string>CLARO</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>claro</string>
			<key>StatusBarCarrierName</key>
			<string>CLARO</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Claro</string>
			<key>StatusBarCarrierName</key>
			<string>CLARO</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>CLARO</string>
	<key>SupportsImsCapability</key>
	<true/>
	<key>MyAccountURL</key>
	<string>https://www.claro.com.ec/iphone</string>
	<key>MyAccountURLTitle</key>
	<string>CLARO</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>ShowCallerIDSwitch</key>
	<false/>
	<key>ShowWiFiCallingWarningUnsupportedCarrier</key>
	<false/>
	<key>VMSMFilterNumber</key>
	<string>+999</string>
	<key>SupportedSIMs</key>
	<array>
		<string>74001</string>
	</array>
</dict>
</plist>
