<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	J6xI54qyM488t2QIQewh3F+iwVJTmgBHnOeweUlctOLSCwYJ59785+VPwVEcCmrmlrTC
	hvo3OVX0vmzO9hS3Up8emZ1TZs4yE6noORUnFSmgIwnyFXWwd79RB9rIY5a0X6qca8CG
	U9V3Jyb8kIneeIhhsQAx039IJ8leg+170RPXcGexDzTEY09VC83NOWtr4BkB/AK1daDt
	f+xPTFyBTDTzbenqz/d3sv7SW0AXB1wLYgM2Iu5LBkBxA2zB73TkvyCQFtFukAQTCK6j
	AQmEocQVKPDgZUxThU6CnfD1FNJmq+vFB7usGzVSkRNFwDxZPcbO7aaipyAVvBv+8HyJ
	MA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCkL2cC7OjtWba6+Stpygh4FcHozcUVGw2DkRJmcEXDqcqN5/Rg+ixW6OCo7u6Hn
	LAIxAOC343ChM02FsJjTkB/L5pgyDFQJvyRJ9avvIw4uV6827cLs3eQiV9D7t5y0nbcr
	aQ==
	</data>
</dict>
</plist>
