<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	NKmSXqyhFuNX3RMap9rcj9E/qliS6HvcoGA1NhEvWwmGgChvIHePqcT1sdEuFAkh6kXZ
	HaHfgEcURnvmkZ4CiT6AdxlCoCTYiUJ/A+EWLa8YMq1SCx20soafxf9mJQ4oIFyMjQdl
	ZBFPiQ1byCX5GLNnhgjJrH2fCs66rb6Wjd+kCBmWiBJhbXKH7lK68sKXfY6d70+YhZ+2
	sErno/GfBJTltAUWk/+Vgsap/+/uLQTzmfAhls/dkOOALkdJnX2Z9AE8ETzUB+pRbOxm
	6kS7g4LNuudbClZU7bD7lB8RQnFcEzK2gRNwFREucLIpCms90fBL1fMmBPP5mevPvitz
	Ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHxcy6a1LTv5IannYl1Od1OxXr0jTY/3cGMi7ODjH2xhDnZydwJXb9s3FhTHtMUS
	egIwASK1gRDfde7hDnh6lqglvZUD57yQ8ZI45ia+VmsN6FeY/xXKE6vUlZc1IscJt9oy
	</data>
</dict>
</plist>
