<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	J3MVhihT7Q58bY71dsud+6vUkCQdxVGM6w3FmD19rrjUNntRBYzfqAJ8Jyn57nrl/7uZ
	bDv9Q9RAC3fvMwEd4n4k+Wex9pf24pukynEkWdclWi4bst5rorfNFPzhtumPIvp0Ztk2
	PK6pkfzx3CDU2vQ7r6UvoUUX/+oRu7JqwysvMVeX2efMRNxtEQPDjllVn3txWSHEPcVA
	hxTAaVDdQO0mlJYjm0G1RCOm+STHPk6p2HFspFmmPzX5b7hX0lIejCfRLZCTShBtEx86
	i7qxrxW+UYShc1q0sLsBJFowuc+gFGwhhKLPzNk4zie4xsGJl1sHaQJoCOvG1yoJ//vb
	Dg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDzrwWJzYEBNJrxIVUQDsNQwurKlN70hs0ldt3W9HnuOItIRWzpM2wh/d1Wi3if
	b7cCMCEcvyhfO3GLKq8owrKGrQreeLP36D6zYYvZmR2lWc6DDZFpNVfCZNxy1USymIAM
	kg==
	</data>
</dict>
</plist>
