<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<true/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+9613390113</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>alfa</string>
			<key>StatusBarCarrierName</key>
			<string>alfa</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>41501</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447860015060</string>
		<string>+447860015061</string>
		<string>+447860015062</string>
		<string>+447860015063</string>
		<string>+447860015064</string>
		<string>+447860015070</string>
		<string>+447860015071</string>
		<string>+447860015072</string>
		<string>+447860015073</string>
		<string>+447860015074</string>
	</array>
	<key>CarrierName</key>
	<string>alfa</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string>mic1</string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string>mic1</string>
			<key>apn</key>
			<string>internet.mic1.com.lb</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>Show3GSwitchWithVolte</key>
	<true/>
	<key>AllowsVoIP</key>
	<true/>
	<key>VoicemailPilotNumber</key>
	<string>113</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Lebanon</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.mic1.com.lb</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>192.168.23.51:80</string>
		<key>Version</key>
		<string>1.2</string>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>MaxMessageSize</key>
		<integer>102400</integer>
	</dict>
	<key>AllowAttachAPNEditing</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ALFA</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string>mic1</string>
			<key>username</key>
			<string>mic1</string>
			<key>apn</key>
			<string>mms.mic1.com.lb</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ALFA</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
