<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	Xr82fyrflNe5jGJaCoN6GEyN4JjEhVOhiFciTfW6VxHHZn9JlSdBJ7gmL8hEM0Ol+mev
	eamlpIF9+2n+32lBhQyLhjL42HWLUrb85vxaJcyWpfqCFAsmKZ1dcr7IzofjNbbJblPg
	VP49DAbGMFMF50pI1pPV35/OteHm8IVyMeZmHtgSexlHPrKXFnxzfvdPrE0aj43MkAqK
	XPVDw6/G/W2JJKl/m6ysGJLGqd4oS8VGJ8eLenVhQWOMEccv2Bcx7+x3cwnUxJUO2Tnq
	sV3qtXZd0U8OfHojGqzPJEmIXqeaTnv1lYzU9JL2aWtFKOaT6eVHj5cIpe9o38yv053s
	SQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDhDaec00mqgvz9dhF92SIh3F7DIvuEi83n4MTBv1adntm//wReY/bVOBMH4uIT
	3a4CMAhzE2Tu/FvL0spZ2dDJaeNzdP9jqFJNBiRU1P6rB8GlBAWc/sNaGBZElLTkJLVQ
	1A==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMDk5ppcZrudRwn+ZFwc4dg+bglhLMykKsxtHi1kJTxKexhbPVGZg/xXy8MKFqU2O
	QQIwLyCy81aezKhA/xvRIVwywviFHJFR3P09Sn84RpbzdSpWPs05EJcM3DZQIfzffcML
	</data>
	<key>CBSignature2</key>
	<data>
	sACxI1WQNB2tttKYE7XslbAxTsATBwi+RumAFIwGv3Y5xaeP+VqfbFs1GFG2jdlyfjb+
	riL+Y7DO/+sn6bY7NXlFZN7EMV6ojFEdupgkKOri7Fqgpykiznu/2pgHx4XP9t647gMl
	XREGH2RDgvRtYQvGPap+2Voc+qHd4FGTN5nwmYQtjm02yv16yL+WEzvqeIIh7bqkYBZA
	/IPQmJh2Rhou2jSZPJS+USoSyiytIgSGPwbfjVwa15fgzBc7YXzXh1hJKovh+4XBQ3L6
	IBaaiI7YC+WKbm/WUfC9/Cc+trR85x4kKuK0rPmsxdrhyJT+b1FeJTS6ZtIqoY+EtUAH
	kw==
	</data>
</dict>
</plist>
