<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rS0mciRepZi2CVTiZdXX0izxxkDOL+ImhXfIGnQ9gGlyILLNy13x1dg5bwHzL8oSNqpO
	QoFd/82DwvQ+yDyCgmjSywH0fkEuz5TESX5QvaIOqDHU66zf4/bbMMDnjqflXCwnSYvn
	WAQxe7ApLYJiQIlU39qX3G3x90CYlTa/Q4nQbd5NTnR+IfLM5nbkXN6KmmhGza16rbio
	UMiEIt4V27pFg2+H54qJET7QQUiuiBPyCbF8lBxVJW1wd+lP6deDYjwGHO8Se9PDwxD5
	pJjCKgcjpd/FPP/vo6GdoekG/InCci4OUfUz2TUcR7Cy2oob9QKLZApMEnKUMPFydiOX
	6g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDBeHqJoRNrF5ao7/NNmvN5SpI91x+WNe/uotYy1+ox3uMnZwhgtggRtPYj7GBL
	3dMCMQDaBb0ig9L1jOzOCKj0hWZa3tcbMartd5NiRZdAa9JRsSbxRZiu5wd1rfyCqxTo
	r10=
	</data>
</dict>
</plist>
