<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ttJFraHZHem1LddjP+HUHw0A5chAQp5N1m55IetxNrDNB+CSUVXPOHS6kDLyZ+hsgXVA
	v/iGvObGgbLrIhb4DlFrGbWqNMucUeM2040wDdod6XQeJ8eQW9ZWFBYKigVsGQaewpP5
	b2CKL9G7P0t9w+Wq+MRDhrebAuifguB1shjhLmWrSFFpkOlNMSxerWR/05jPDKtEyX9n
	Fq32tSzrOv4mRNlaq0MnkJf7Mg8yM3ljxHxHGKnVpU0CeEyMhabdCqSubE0Ar/0RxT2f
	p5XlZFvMiIznNsqCo27EROZzt1izK9wZ/Vt5JSJmlSwWBYuh3z3xAsYr6IxMYRvx2KCy
	3g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDZ9AG73hSlDODlSXjWxcphW2otIYQ6ydNDO6lujk8KPFTVg93sGpiMweAxv0mv
	wB8CMQDGSRi8WnAVN5A3us7B4fga8IfQhZiUXayri7eh8U1Hw3X04cGTQxaxUPyEzeKD
	HTg=
	</data>
</dict>
</plist>
