<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	mxAyodojVaTrbsIg2F/7S35tIF2aIs6T8foML7F+z8rkUFlZvVzpibAbSqD0puBmDz8I
	W2mEnlrUutF1febp7N4lyb+dGr5XeMEcw7ALviBRlm5yXt3gd52MmO7PHYSEroj/JakI
	qcDz2pd05L7c+1QjLxsHVxoia0QProZOlngbaSvU03ZA3yZ/3ArbmjXGPP7hnkRzzXJN
	lqnj0qi430H1xD5VBYhaZZLZ3LkEUo3SYR/pFhIzhyHmhHKk5UfgnAejqSMu0UzoyOVn
	X5yxWbcM2b6WMmL8q6X9M0ETP5LZx4TEpMIqBeAKrwZmEJIR7KrdPzVzPjsG6wiavF0/
	HQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC3Plz9nadksDcrK7QoOPiqHm5W8T5tIyYIQxjAfvPE7+Q+nZv7Fn7/68d1cBfUU
	zwIwTUs3k61ijT2QdjGbqlO3Bj7c3zq64SrGfD+Ww2N8FXl1dCrG3snjMNHxi247G5GY
	</data>
</dict>
</plist>
