<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	POO3F9B7CScORZkipML8LbIqKoDVTedZialvZVMOoRZmTjnMYCgplJmvgKiPKwiiOYZ9
	fTdl5tJZeTi3GrN6WHzrjGEZidH9KVC+keEnfnOa2ImWOin7XxXzvWwVQiiXLBY24xw0
	Ufo/CYqe14rapBSmLiczX4vIq+gVOyfrO8CPiiEToGetsYLVs6Wty9nmCfXW9la/4UjN
	YVgZ4QpfIitUG1w0sfRDGI/Nn+OYJqrzOHkMSqknGO5sHMnSL5OCDicbL3tKtg+mNCFK
	CxTvnsoIYDMDeKifmyFZQCJw1KzmHVLxkTxR+6fzsV61X4zqM5JEtx4KXXs4rvKoqTqW
	Bg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCJujG0b5iL+l+JRak8qeUdk4BHPGTjDJsD+NWOOqdhHUF1uBEJC3YMyq/ce7SV
	O3wCMQDKa0Qhj0BPch5MnolPN2TleW/IcH5iXrJv8cUhSEhsUgCn2tw3GKuWiydiDt8y
	9+g=
	</data>
</dict>
</plist>
