<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Blgk8S1zo/cOFgyAv99sDgv6zvpnUjVTL1FueisxGQf6auqcnWSVeuY4ooxQMu7lrahj
	eaqIWPRFPnB8cBsXRVkRx+qjEVzTERjlAVaZm4+y2Bb1wQCkxXe8gBPAOUMvcBf3xPQF
	8yPeF3aZ6p3TipJ8R3YM0a0GDiSGhhNHQ/otsS5MZGarKvd+yCBMCfBQOkJXmpQRomL2
	HtZdbjYUqa/9hCFM6paF/BaxyWOHYf2Kz0f+4lWSOBj4ro7P4v6jmbNwy5SL1rWEdnlU
	xepw8x6SyQHOHrm1eixLn/Aj9tzI9x8penmhSyf6LAwmhWREB6igUKpFCkRIGCFOencu
	SQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDwqyYn7AjCmBBJZzIEPKOOP1qJFbZ4+NoB5XQdwnAMjAldfah6qk+I+b4ALAka
	sLkCMQCerwTUdM1WHv0BEeXBzmOQHxuGpdwsuVieOJPtuhpBTILmmDoYTQLmD3BRgk3p
	V2A=
	</data>
</dict>
</plist>
