<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	atba0MlnbErEJBW+zYF8BlXdy0fdypnFdvpw0OIE7FM8MrLPZLYKsc1Wzq7z8w9BM8fN
	TIuH2B/cpnGo9/TLokSN5c5eygZVnSvSYQ1wEFujlAKJdJBu0xGWbpJ8dspg6WbYANVZ
	fqK0hrWIaK3zTocGqclv5zZUdm26ZOEZWo5i5bzmBQWZDf0ZJ235CmFS2GUNEPD54HuR
	Jr/aRE9/k6uy+9H/QZhbEvYRnxAoBu6u47K7ns+dyk9sTM2iJ/7VsWDl6IohBWtmWif8
	EmEfvTPRNEKrOLZ827UKMAGyZrEv72DThKfgObMFkyP3GgW+Tw5qVfO2yxXctLqRiGHe
	Og==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMESxpno91lbTn3r49GoymfQ8Hmn5MoSPyCma6+5+kmwxrgmQzviDP2bloY40EtdX
	WwIwAwWg/k/501jFZmfAyPVKoukJzMWJwmGFQeFpzjDdcuvJdY3HiG8gPJr+O0n+iU42
	</data>
</dict>
</plist>
