<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Vge6VjOMqGOaPC1RNJVm28A1j0LqswO2jiNVH1e/V2PbOQD7sJv0qBbharBatwXc9lkc
	qPH7XfzoVgTEjHhnIevJx3kj/EGeajWGGqNEdfnyJS3jXRg80zqi9b7iJMmKzJAUaUEu
	k3n/IIWk0FB3NWBaJDL3uC0lS/Tz+Xg08d+niGT2fJM/PvLUnV68S6CpQ2Ba7cRYTD2O
	1NJPNuCcUfQ4GEeCT2Pl/Wdke8freBc0N/lx7eEFFFCOQxDw3OrDp78BpN9weEcHsCWt
	4QixbtxNvWA2mrvJa4wGup+vMwM436r0lP9bVMNu2h28Jl91rd3fgBwyauaFaNvKGeAk
	Eg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDYBK7H4FekX1/k0eCe4wZlWxBFljP7OdeGMK7W+VlbrE+xJUeyAf9HqoFHGCYoO
	pQIxANwA7c8zGzsz9wdugyeA7qBdoyovokmLjQaMppgzIOPi3r7PmVmRk+UcL+cs+Lov
	Qg==
	</data>
</dict>
</plist>
