<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>ShowCallerIDSwitch</key>
	<false/>
	<key>SupportsNITZ</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>49</integer>
	<key>SMSSettings</key>
	<dict>
		<key>TransportFallback</key>
		<false/>
	</dict>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>Avantel</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>AR - Movistar</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>MOVISTAR</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>MOVISTARNI</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>movistar</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>COMCEL</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>COMCEL 3GSM</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>COL MOV / TIGO</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>TIGO 3.5G</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>TIGO 4G</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>TIGO</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>Claro</string>
			<key>StatusBarCarrierName</key>
			<string>Avantel</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>732130</string>
		<string>20404_ID-8957732</string>
	</array>
	<key>ShowDialAssist</key>
	<false/>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>RTCPIntervalSeconds</key>
			<integer>5</integer>
			<key>preferWideband</key>
			<true/>
			<key>PreferredAMRNBMode</key>
			<integer>7</integer>
			<key>EnableBandwidthSpecifiers</key>
			<false/>
			<key>PreferredAMRWBMode</key>
			<integer>8</integer>
			<key>ModeChangeCapability</key>
			<integer>2</integer>
			<key>InactivityTimerRTPSeconds</key>
			<integer>25</integer>
			<key>IncludeSDPMaxRed</key>
			<false/>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>ussdEnabled</key>
			<false/>
			<key>DefaultAuthAlgorithm</key>
			<string></string>
			<key>AlwaysAddSipInstance</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<false/>
			<key>TriggerCSFBOnSDPError</key>
			<true/>
			<key>UseCIDUrlInPIDF</key>
			<true/>
			<key>UseFakeSAsForDeregistration</key>
			<false/>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>SipTimers</key>
			<dict>
				<key>InviteResponseTimeout</key>
				<integer>5000</integer>
				<key>T2</key>
				<integer>16000</integer>
				<key>T1</key>
				<integer>2000</integer>
				<key>T4</key>
				<integer>20000</integer>
			</dict>
			<key>strictCallFlows</key>
			<true/>
			<key>WaitForRingingTimerMOSeconds</key>
			<integer>30</integer>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>3XX,4XX,5XX,6XX</string>
			<key>AlwaysSendSessionProgress</key>
			<true/>
			<key>RingbackTimerSeconds</key>
			<integer>40</integer>
			<key>SendPreferredServiceInInvite</key>
			<false/>
			<key>CountryOfOriginationFormat</key>
			<string>PANI</string>
			<key>RequirePreconditionsWhenMandatory</key>
			<false/>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>UseIPSec</key>
			<true/>
			<key>RingingTimerSeconds</key>
			<integer>30</integer>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>ConferenceCalling</key>
		<dict>
			<key>SendConferenceSubscribeInNewDialog</key>
			<true/>
			<key>SendReferToPeer</key>
			<true/>
			<key>AlwaysSubscribeToConferenceEvents</key>
			<true/>
			<key>conferenceServer</key>
			<string>sip:+7979@ims.avt.com</string>
		</dict>
		<key>SMS</key>
		<dict>
			<key>allowCSFBInVolteMode</key>
			<false/>
			<key>SMSBundleToVoice</key>
			<true/>
			<key>SupportedDomains</key>
			<dict>
				<key>GSM</key>
				<true/>
				<key>LTE</key>
				<true/>
				<key>UMTS</key>
				<true/>
			</dict>
		</dict>
		<key>Voice</key>
		<dict>
			<key>DialAsEmergencyOverIMSForUndetectedEmergency</key>
			<false/>
			<key>E911OverCSIfNoIMSReg</key>
			<true/>
			<key>EnableVolteByDefault</key>
			<true/>
			<key>endNonEmergencyCalls</key>
			<true/>
		</dict>
	</dict>
	<key>Show3GSwitchWith4G</key>
	<false/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>5710011083</string>
	<key>CarrierName</key>
	<string>Avantel</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>lte.avantel.com.co</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ShowVolteSwitch</key>
	<true/>
	<key>SupportsImsCapability</key>
	<true/>
	<key>EmergencyCalling</key>
	<dict>
		<key>EmergencyNumbers</key>
		<array>
			<dict>
				<key>Category</key>
				<integer>0</integer>
				<key>PreferredEmergencyNumber</key>
				<true/>
				<key>Number</key>
				<string>123</string>
			</dict>
		</array>
	</dict>
	<key>ShowCallForwardingSwitch</key>
	<false/>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Colombia</string>
	<key>ShowCallBarring</key>
	<false/>
	<key>SupportedPLMNs</key>
	<array>
		<string>732103</string>
		<string>732123</string>
		<string>732101</string>
	</array>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>lte.avantel.com.co</string>
			<key>type-mask</key>
			<integer>1048625</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims.avt.com</string>
			<key>SupportSwitchOver</key>
			<true/>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<false/>
	</dict>
</dict>
</plist>
