<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	br+yfc/Q+KYRmmYpb690o9IpgUAgK/CO/r1516DAJodJ7rht1H+HEXDE0OgpNBavAFle
	Fi90q4F2EwjpMhb1eS2XsLXd+E1CTMtBvO9mqHFYbO2GiGdjkYbKd7kPtFlJukjfAKFA
	TdTommmW9Qv8+dK3a9JC2yzjAPG6jTUEmbeiGzZoeNEMs7Wy1pbF8zvPx0Fvlih+Q85a
	r7vpekBlNOKLXvFjnAqBAV2yOG0jLpaCic6K2jX31uXrlvJHUil5lEzwtTnd6bxk58yK
	yEHFrEq3rznL5DaJuPWUpCwCnwRZixMSzr6mGmPHQSU2k6dYOd7S9+sCQ9Qo8jfVYzoK
	pw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDayZvOpMDrlfDhSxagLQIsd16LP5iC+nbyVgF8IO71n7EYe3OZqUNWqfoHNOcq
	w8ACMQCOGBqcZ6kyn1c9DH8nkdOZbg4mo64wqiPWvbestyguiyQmio9R3lgjqZdiauIo
	M+I=
	</data>
</dict>
</plist>
