<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Ytk5Y4UHc5LCh+sPW1z3SoIjcbu/KDDhvBsT/ySCwhYzNTe6dAw3AO9rW8bQWCUZuhjj
	j7RBvD/Ze+Wf3YSmW+tuQ6t7/ismJhMfqSTtGayedZFHstc97wkCgHuonHYz1yjeHmMm
	YH+c+MWh4+VU64JLhq7t8bYqZL806osvVUgkrhQZVSz+atkmubGRIQaqLxSdyp8UMw5s
	oHBMvjef38BBx+EDyZvVhcecqQTyWve0IKjgF0oAVTprF+urYIYto2l4nUatCFUTrX08
	br1DQVGhBwWg91d5rZXoELjOsN21kXQBhLU8oMwGqwXHA+NLZpLxqeSB7iwEQOtjhoV3
	gw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFcnUKEK+AnaIujYT7Cu/FyE8yT/7b9q/hXY/0Q3uuJmCDdhAJfB6dAM41O8pcky
	ZAIxAMbneCLbfk1MVmyiUXy77umi2evFZJWgjYJAw4r4Uyw6IJUxOQLLkPelLhNdo3h4
	eg==
	</data>
</dict>
</plist>
