<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowHighDataModeSwitch</key>
	<true/>
	<key>MTU</key>
	<array>
		<dict>
			<key>technology-mask</key>
			<integer>25</integer>
			<key>size</key>
			<integer>1460</integer>
		</dict>
	</array>
	<key>_Exclude</key>
	<array>
		<string>EnableLTEAfterUpgrade</string>
	</array>
	<key>Enable5GAutoByDefault</key>
	<true/>
	<key>DerPriFileName</key>
	<string>overrides_V53_V54_V57.der.pri</string>
	<key>DerPriFileVersion</key>
	<string>0.1.161</string>
	<key>Show5GWarningUnsupportedCarrier</key>
	<false/>
	<key>SupportsNRNSAInboundRoaming</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>type-mask</key>
					<integer>32771</integer>
					<key>password</key>
					<string></string>
					<key>AllowedProtocolMaskInDomesticRoaming</key>
					<integer>1</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>1</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>altice</string>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>48</integer>
					<key>password</key>
					<string></string>
					<key>AllowedProtocolMaskInDomesticRoaming</key>
					<integer>1</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>1</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>tethering</string>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>4</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>4</integer>
					<key>AllowedProtocolMaskInDomesticRoaming</key>
					<integer>1</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>1</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>mms</string>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>131072</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>131072</integer>
					<key>AllowedProtocolMaskInDomesticRoaming</key>
					<integer>1</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>1</integer>
					<key>SupportSwitchOver</key>
					<true/>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>ims</string>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>1048576</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>1048576</integer>
					<key>AllowedProtocolMaskInDomesticRoaming</key>
					<integer>1</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>1</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>xcap</string>
					<key>AllowedProtocolMask</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type-mask</key>
					<integer>262144</integer>
					<key>password</key>
					<string></string>
					<key>tech-type-mask</key>
					<integer>262144</integer>
					<key>AllowedProtocolMaskInDomesticRoaming</key>
					<integer>3</integer>
					<key>AllowedProtocolMaskInRoaming</key>
					<integer>3</integer>
					<key>username</key>
					<string></string>
					<key>apn</key>
					<string>sos</string>
					<key>AllowedProtocolMask</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>25</integer>
		</dict>
	</array>
	<key>Show5GSwitch</key>
	<true/>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>EnableRTCPExtendedReports</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>VerstatFeatureCapability</key>
			<string>Enabled</string>
		</dict>
	</dict>
</dict>
</plist>
