<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xDFUuoAfGH4RjzkKVp1KHtFWjY2M4qOBXo3/jXCq5otdOmg0bXm5KWrDNMMTomlHKu3d
	7rb2rOMzz+Nn1LhWL52/1z/tNjxi2pyYRk7AgNmpi27n1N8zFYF5RoLtYx977x9Qp/Nw
	Dpx39i9IPa6KBGalYQc7u9892QMvC8Nw4FZw7ZGShavBjz5o+bAovmP+45AoKmz5FMRD
	0qJ4VIJptD7EclCsBaEWj4bJ8OzWTNvW6J0H53zlkWnUAMDsKL6QO853RgJnzDWLrdWZ
	V0UBkWlSbazkzuL+PhEB8Kwsd71yaQM55VanNve2KU+qj1Sl56ESa72kNi4BxsSDLs3b
	aQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCPwfOTOIIaqo9e4ZmlH2WF/5GHCEqzbkOTg63CeMDpLl29Pmszr7hRdXj+ZRXs
	kPMCMQCofqDtqt0ZHrQmYA3AiWkn5y/xtC/Oovncwg0FJ96ZnzkV+NwXhtR1qk3y4QNL
	qoI=
	</data>
</dict>
</plist>
