<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gWZdoGuzqbM8i4VQUE1itbKIFMvwIPQddq+VrrK5tJ9J8KL7XFBZqeNRFRcbjA1BOLq0
	0Y0viMfHxjRNj8TmsR0qZ3dVkUkHpNQ3TP2Lj+RXihmQVGC21O5+NzM1XRxqD2VxZ0y4
	rqnXoQxhAZqq83S0UEnsYdmfUNfuRWvu39noaZ9Xp/47TEUhC0rss5y6isQ5kCw5CsP8
	kMbLiSqV6fVfTEbE/9ym9ZiP0lF33Kyqxhp7WqTFX//w0bij4Z+C+GhesOyCkbjIfKd8
	ZN5g6YdH/rR9OuYiOPOIGvQRMVYrvhBj+LyysdNRlBYR37BgbGhCpDzvb6adqVggJNW0
	nA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDG1uztj96CW5oV132awVqcRcflxEVjktQgPzIixVgeQ2gD8bDBandr9F8Qh3vbt
	VAIwXI9npKGKSMNExVy39Hi6uVQHN+3DE7hkIreu36kjUGCQfkItnA6Y/pHo13Qg1DkV
	</data>
</dict>
</plist>
