<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	sXkj3EsCBRZ0ESKKxWgSzhnef8H8xbwnksHLSJTlZUcZugI3Wn4CbaxFBr24rc1zmt3X
	XvK3uYi4DlFjLlASD3+v8Ma/riQj6wD6Mi8921iItsridww3JcoN1SVDaqQSm6xHWsop
	/JZL2ncn2ae/Ul5BkS55eAepM8TsVvJZOWp/GpJDb8TaLqEo0BhCGuEz9RSTvk2p42Nz
	D95cKbyeShqKc1NrNgaBVrguvNXdSB74iU3f3b7LFo0E1V0xEzeRG4KbABUrrZhA51Lv
	uV3KhNcrS+bhIh4VdC3SVYN7euxsjnZmOtsad7HQ7AcWAWiS2zXl1HrlLY6NMaR5/VLf
	8Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCFs0MV5SGnUMv7TJP21aG6pJ66m+Y/S/sHXchgQNX9d1wolT8r7aJsBYxtuqno
	bNECMDv2hY2TFzg0LBcrbBvh8M5/PH8L+fDob7WPTaYgdOXj7LuKS5wRm/WJA4EcSXM1
	dQ==
	</data>
</dict>
</plist>
