<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>4440533</string>
			<key>ServiceName</key>
			<string>Müşteri Hizmetleri</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>+905338787111</string>
			<key>ServiceName</key>
			<string>Telesekreter</string>
		</dict>
	</array>
	<key>SupportsNITZ</key>
	<false/>
	<key>MyAccountURL</key>
	<string>https://www.kktcell.com</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>APNEditabilityTypemask</key>
	<integer>5</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>MyAccountURLTitle</key>
	<string>KKTCELL</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+905338787111</string>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>KKTCELL</string>
			<key>StatusBarCarrierName</key>
			<string>KKTCELL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>TR TURKCELL</string>
			<key>StatusBarCarrierName</key>
			<string>KKTCELL</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>TURKCELL</string>
			<key>StatusBarCarrierName</key>
			<string>KKTCELL</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>28601_GID1-4B4B5443454C4C</string>
	</array>
	<key>ShowDialAssist</key>
	<true/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>KKTCELL</string>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>8787</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Turkey</string>
	<key>MMS</key>
	<dict>
		<key>MaxImageDimension</key>
		<integer>1024</integer>
		<key>MMSC</key>
		<string>http://mms.kktcell.com/cmmsc/post</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MaxRecipients</key>
		<integer>49</integer>
		<key>MaxSlidesPerMessage</key>
		<integer>30</integer>
		<key>Proxy</key>
		<string>212.252.169.99:8080</string>
		<key>MaxSMILDuration</key>
		<integer>30</integer>
		<key>MaxMessageSize</key>
		<integer>300000</integer>
		<key>OnWhileRoaming</key>
		<true/>
	</dict>
	<key>SupportedPLMNs</key>
	<array>
		<string>28601</string>
	</array>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>cepten.kktcell</string>
			<key>type-mask</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>mms.kktcell</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet.kktcell</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
</dict>
</plist>
