<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3bkQ/GoQ53QtSvWSPTOXh1g20gDKR3Kf7/dfPW9nobB7t6gACFEnD/oMoseldnLwXYx1
	eAUcl8WR/TZC3aQZNLAmCW4WzTDb7Cuwmgj83pn13SHfPr0x3jIGhBOAHatCo6QTR2EW
	AtqIdSuxbvRaT0H25VFTvaSSaHvCGqQE6FiQAqFsIe5vnHhAHYkZw8cKG6yCBlx1HaCt
	Op7wexRdcr+JkI3jTEjHOWtv8NC4jJUZy8x3XCOoiS+E4wH2Ve0qKIBIunNyRLpQc96y
	/ra9lz2Dof2CuYVAyTNBRRZ9wt6eWU/zy9FVeAjO8AekZqWN25+gIQ5F60TKuzxZ6br2
	ZA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCya36g/3QFhXWKct5cAOFDfhm38TSLnucfcJacLh+q61Qvw5wQBG9FWMddx+aeq
	OAIxAMBCFS/Gcj/sATuDNs5xOBckkGmI49B1sL0xv0IDvoG0HkciQFn3MLxbEP9ZWcHI
	Xw==
	</data>
</dict>
</plist>
