<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XrRGPOP6SWMVbUcQnpVprqaQKsWmFGtdVo8hfggzOkapuU2zwmbWC4EOl4sUBbEb/Hwp
	f0YqeNvI8ofM+tFqdPJZRZk1dEElJO4Oy0Mkd1AuFhDhZfRMubV58vk3TgE1VSEj1C01
	qSBQodWvmcxu0xmT8v9r4rOlFHPDeqTxjL2hOgQE9VlgFIYSKpu3T+cnvBDMo/LP7fmn
	gQZM4XjohLN9AryG/3lCwHk4/TdhQqCYlIEX0NSbd9pvwla2rj5pARCZ2zZgH//Gibe4
	ZMvD3UPkFXv+8SFiziQZIdI2FVam/XD83XdEjWwbuR5fbgNskjY+0lj0rGrtAHiNLWI2
	9g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDpwrVEr5g3GiWdQtH/ByHC+SgiNzmJvfZY94TI8m+bp8zXL8FMgHbi/yMblpF7
	Zd8CMQCw23RzS4AY98USpmd0xQMVLvKBmC35zga3yBv/cB5H7cd4ncVWcgtnn6XszULx
	56w=
	</data>
</dict>
</plist>
