<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MappingTable</key>
	<dict>
		<key>64104</key>
		<string>Configuration_64104</string>
		<key>314720</key>
		<string>Configuration_314720</string>
		<key>23229</key>
		<string>Configuration_23229</string>
		<key>28622</key>
		<string>Configuration_28622</string>
		<key>26220</key>
		<string>Configuration_26220</string>
		<key>27213</key>
		<string>Configuration_27213</string>
		<key>52510</key>
		<string>Configuration_52510</string>
		<key>22872</key>
		<string>Configuration_22872</string>
		<key>311210</key>
		<string>Configuration_311210</string>
		<key>72429</key>
		<string>Configuration_72429</string>
		<key>20839</key>
		<string>Configuration_20839</string>
		<key>334170</key>
		<string>Configuration_334170</string>
		<key>20828</key>
		<string>Configuration_20828</string>
		<key>310340</key>
		<string>Configuration_310340</string>
		<key>20614_GID1-0E</key>
		<string>Configuration_20614_GID1-0E</string>
		<key>313380</key>
		<string>Configuration_313380</string>
		<key>311530</key>
		<string>Configuration_311530</string>
		<key>255702</key>
		<string>Configuration_255702</string>
		<key>312720</key>
		<string>Configuration_312720</string>
		<key>54705</key>
		<string>Configuration_54705</string>
		<key>441216</key>
		<string>Configuration_441216</string>
		<key>314440</key>
		<string>Configuration_314440</string>
		<key>26221</key>
		<string>Configuration_26221</string>
		<key>65102</key>
		<string>Configuration_65102</string>
		<key>26009</key>
		<string>Configuration_26009</string>
		<key>22869</key>
		<string>Configuration_22869</string>
		<key>20613</key>
		<string>Configuration_20613</string>
		<key>22873</key>
		<string>Configuration_22873</string>
		<key>20817</key>
		<string>Configuration_20817</string>
		<key>21402</key>
		<string>Configuration_21402</string>
		<key>334230</key>
		<string>Configuration_334230</string>
		<key>22249</key>
		<string>Configuration_22249</string>
		<key>24215_GID1-0E</key>
		<string>Configuration_24215_GID1-0E</string>
		<key>22253</key>
		<string>Configuration_22253</string>
		<key>346007</key>
		<string>Configuration_346007</string>
		<key>20803_GID1-0001</key>
		<string>Configuration_20803_GID1-0001</string>
		<key>302620</key>
		<string>Configuration_302620</string>
		<key>23427</key>
		<string>Configuration_23427</string>
		<key>42526</key>
		<string>Configuration_42526</string>
		<key>61908</key>
		<string>Configuration_61908</string>
		<key>65538</key>
		<string>Configuration_65538</string>
		<key>20417</key>
		<string>Configuration_20417</string>
		<key>425009</key>
		<string>Configuration_425009</string>
		<key>21414</key>
		<string>Configuration_21414</string>
		<key>24012</key>
		<string>Configuration_24012</string>
		<key>302150</key>
		<string>Configuration_302150</string>
		<key>22858</key>
		<string>Configuration_22858</string>
		<key>311080</key>
		<string>Configuration_311080</string>
		<key>313930</key>
		<string>Configuration_313930</string>
		<key>314330</key>
		<string>Configuration_314330</string>
		<key>65001</key>
		<string>Configuration_65001</string>
		<key>26222</key>
		<string>Configuration_26222</string>
		<key>20822</key>
		<string>Configuration_20822</string>
		<key>310420</key>
		<string>Configuration_310420</string>
		<key>23208</key>
		<string>Configuration_23208</string>
		<key>22874</key>
		<string>Configuration_22874</string>
		<key>208091</key>
		<string>Configuration_208091</string>
		<key>52002_GID1-02</key>
		<string>Configuration_52002_GID1-02</string>
		<key>724040</key>
		<string>Configuration_724040</string>
		<key>22254</key>
		<string>Configuration_22254</string>
		<key>23418_GID1-6764</key>
		<string>Configuration_23418_GID1-6764</string>
		<key>302340</key>
		<string>Configuration_302340</string>
		<key>20834</key>
		<string>Configuration_20834</string>
		<key>28613</key>
		<string>Configuration_28613</string>
		<key>26804</key>
		<string>Configuration_26804</string>
		<key>23405</key>
		<string>Configuration_23405</string>
		<key>302480_GID1-01</key>
		<string>Configuration_302480_GID1-01</string>
		<key>20603</key>
		<string>Configuration_20603</string>
		<key>74002</key>
		<string>Configuration_74002</string>
		<key>45707</key>
		<string>Configuration_45707</string>
		<key>334140</key>
		<string>Configuration_334140</string>
		<key>314970</key>
		<string>Configuration_314970</string>
		<key>37005</key>
		<string>Configuration_37005</string>
		<key>27201_GID1-0A_GID2-FF</key>
		<string>Configuration_27201_GID1-0A_GID2-FF</string>
		<key>502153</key>
		<string>Configuration_502153</string>
		<key>20407</key>
		<string>Configuration_20407</string>
		<key>72451_GID1-65</key>
		<string>Configuration_72451_GID1-65</string>
		<key>55299</key>
		<string>Configuration_55299</string>
		<key>334160</key>
		<string>Configuration_334160</string>
		<key>312180</key>
		<string>Configuration_312180</string>
		<key>311588_GID1-2273</key>
		<string>Configuration_311588_GID1-2273</string>
		<key>42521</key>
		<string>Configuration_42521</string>
		<key>41909</key>
		<string>Configuration_41909</string>
		<key>26224</key>
		<string>Configuration_26224</string>
		<key>60600</key>
		<string>Configuration_60600</string>
		<key>314730</key>
		<string>Configuration_314730</string>
		<key>21405</key>
		<string>Configuration_21405</string>
		<key>22256</key>
		<string>Configuration_22256</string>
		<key>22233</key>
		<string>Configuration_22233</string>
		<key>28022</key>
		<string>Configuration_28022</string>
		<key>24223</key>
		<string>Configuration_24223</string>
		<key>25915</key>
		<string>Configuration_25915</string>
		<key>22865</key>
		<string>Configuration_22865</string>
		<key>311670</key>
		<string>Configuration_311670</string>
		<key>24050_GID1-0E</key>
		<string>Configuration_24050_GID1-0E</string>
		<key>302480_GID1-02</key>
		<string>Configuration_302480_GID1-02</string>
		<key>502150</key>
		<string>Configuration_502150</string>
		<key>313260</key>
		<string>Configuration_313260</string>
		<key>26225</key>
		<string>Configuration_26225</string>
		<key>47004</key>
		<string>Configuration_47004</string>
		<key>20825</key>
		<string>Configuration_20825</string>
		<key>60703</key>
		<string>Configuration_60703</string>
		<key>311240</key>
		<string>Configuration_311240</string>
		<key>23812</key>
		<string>Configuration_23812</string>
		<key>20409</key>
		<string>Configuration_20409</string>
		<key>21410</key>
		<string>Configuration_21410</string>
		<key>72477</key>
		<string>Configuration_72477</string>
		<key>214003</key>
		<string>Configuration_214003</string>
		<key>22854</key>
		<string>Configuration_22854</string>
		<key>63517</key>
		<string>Configuration_63517</string>
		<key>65573</key>
		<string>Configuration_65573</string>
		<key>20837</key>
		<string>Configuration_20837</string>
		<key>24006_GID1-0E</key>
		<string>Configuration_24006_GID1-0E</string>
		<key>21422</key>
		<string>Configuration_21422</string>
		<key>26214</key>
		<string>Configuration_26214</string>
		<key>20221</key>
		<string>Configuration_20221</string>
		<key>311560</key>
		<string>Configuration_311560</string>
		<key>311600</key>
		<string>Configuration_311600</string>
		<key>302330</key>
		<string>Configuration_302330</string>
		<key>310990</key>
		<string>Configuration_310990</string>
		<key>425019</key>
		<string>Configuration_425019</string>
		<key>26226_GID1-53414C412D44453031</key>
		<string>Configuration_26226_GID1-53414C412D44453031</string>
		<key>42833</key>
		<string>Configuration_42833</string>
		<key>314560_GID1-2273</key>
		<string>Configuration_314560_GID1-2273</string>
		<key>50588</key>
		<string>Configuration_50588</string>
		<key>21434</key>
		<string>Configuration_21434</string>
		<key>72451_GID1-42</key>
		<string>Configuration_72451_GID1-42</string>
		<key>310690</key>
		<string>Configuration_310690</string>
		<key>42005</key>
		<string>Configuration_42005</string>
		<key>23220</key>
		<string>Configuration_23220</string>
		<key>24209</key>
		<string>Configuration_24209</string>
		<key>41750</key>
		<string>Configuration_41750</string>
		<key>65574</key>
		<string>Configuration_65574</string>
		<key>65508</key>
		<string>Configuration_65508</string>
		<key>44024_GID1-9424</key>
		<string>Configuration_44024_GID1-9424</string>
		<key>23440</key>
		<string>Configuration_23440</string>
		<key>20838</key>
		<string>Configuration_20838</string>
		<key>22235</key>
		<string>Configuration_22235</string>
		<key>63601</key>
		<string>Configuration_63601</string>
		<key>22871</key>
		<string>Configuration_22871</string>
		<key>23103</key>
		<string>Configuration_23103</string>
		<key>20403</key>
		<string>Configuration_20403</string>
		<key>54715</key>
		<string>Configuration_54715</string>
		<key>314360</key>
		<string>Configuration_314360</string>
		<key>73402</key>
		<string>Configuration_73402</string>
		<key>23487</key>
		<string>Configuration_23487</string>
		<key>42006</key>
		<string>Configuration_42006</string>
		<key>23217</key>
		<string>Configuration_23217</string>
		<key>310320</key>
		<string>Configuration_310320</string>
		<key>20804</key>
		<string>Configuration_20804</string>
		<key>72417</key>
		<string>Configuration_72417</string>
		<key>26243</key>
		<string>Configuration_26243</string>
		<key>41892</key>
		<string>Configuration_41892</string>
		<key>27211_GID1-FFFFFF_GID2-FFFFFF</key>
		<string>Configuration_27211_GID1-FFFFFF_GID2-FFFFFF</string>
	</dict>
	<key>GSMAFile</key>
	<string>gsma_1.plist</string>
</dict>
</plist>
