<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I09Sm8RVz9uzfMKX3LKGHs55x2LPjVM+1rQWkkgNLWuSdpQB9apQI3GQNi+V+/88pduH
	G3eDO/bojjSC67F2bCGkW4cUnzP4my5ZRw/RIpNA47oLFjs1Of5d+Pjk7u3VFgG0/FT/
	YVyCRBnt4L5iz6n5fdQ8mBC8+ukvq4mLZGapoZH5pVuEuKdV6QkkTZGMQz4VK7AwIzlv
	vZy6ziOsTQ8o2FXA8ve7N4B0/fq9cIRbDShtDZ0FwZ1VXKvQZC8CvDrLOLY28+SxL7if
	ExR0A6heMTRSbrccCRwh45Jt7dJmRTnCJzgpA8M92dUUin5axTPNIFVBLrPAefZ7Mq9u
	Ig==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHlddZQYnkFOUNXbleaCs4IMZoyTj9sdQGwnLalXS1bpQ5dSxi6hTTRSaf6Fboy/
	iAIwbMyKT/O1/raHBIDI8dlsf+tiEuJ50WacaklO1cku2ZymWMHplDyNZxR/TUfIojsC
	</data>
</dict>
</plist>
