<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Show3GSwitchWith4G</key>
	<true/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+56963500111</string>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>CHL Movistar</string>
			<key>StatusBarCarrierName</key>
			<string>vtr</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>73008</string>
			<key>StatusBarCarrierName</key>
			<string>vtr</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>movistar</string>
			<key>StatusBarCarrierName</key>
			<string>vtr</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Movistar</string>
			<key>StatusBarCarrierName</key>
			<string>vtr</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>MOVISTAR</string>
			<key>StatusBarCarrierName</key>
			<string>vtr</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>73008</string>
		<string>302370_ID-8956080</string>
		<string>20601_ID-8956080</string>
	</array>
	<key>CarrierName</key>
	<string>vtr</string>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>EmergencyNumberExceptions</key>
	<array>
		<string>*911</string>
	</array>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Chile</string>
	<key>ShowDialAssist</key>
	<false/>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>131</string>
			<key>ServiceName</key>
			<string>Ambulancias</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>132</string>
			<key>ServiceName</key>
			<string>Bomberos</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>133</string>
			<key>ServiceName</key>
			<string>Policia</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>134</string>
			<key>ServiceName</key>
			<string>Policia Civil</string>
		</dict>
	</array>
	<key>SupportsNITZ</key>
	<false/>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string>vtrmovil</string>
			<key>username</key>
			<string>vtrmovil</string>
			<key>apn</key>
			<string>movil.vtr.com</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
	</array>
	<key>Show3GSwitchWithVolte</key>
	<true/>
	<key>SupportedPLMNs</key>
	<array>
		<string>73002</string>
		<string>73003</string>
	</array>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>13133</string>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>password</key>
			<string>vtrmovil</string>
			<key>PcscfAddressRequired</key>
			<false/>
			<key>username</key>
			<string>vtrmovil</string>
			<key>apn</key>
			<string>movil.vtr.com</string>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
