<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xw0YqsI2qq8hDL2aO3DbX9EkdfTCXwaKVNBqyoZ4Imy+yUx4sKkrsm+Z9NukEdQDlRBH
	Y8yznPOJfPtHTjisaFG/+ZEyoRNTbeCaF8x3oCMHM0wcPBw6k0GxMWQ3qTqHrKRnZj9w
	Vk4KJHjYEdLmcJPEePZUtXX8DVC85ZTJDcKWV47aXRaqNDlSYqeV3io9tMxGy4CSC7nK
	FgOBH4dZN0Fr24tXAmF8kRB7f54hy4vdb5w2wX0QivJQzWnYW1+T3ALd5BpcTg9wCio6
	cjkaHMeYYh2hDM49rxSjkZHCJWKoOCENjDC2fva1Nvw947hGRcwmjNvLeJNkmByNWndK
	CA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBSRPZ5MzfBvXNtwEJKR1aXvXeM3sUa1eX/5b2raRcqDsH+OcUWPCAD5R+ruHvmW
	1gIxAOHEBKKqv7BaGGoCgF5GlEZj/BWNDgSrQFuUfrYM62nqPGzXrlIM/33eyxGbJ1p5
	iA==
	</data>
</dict>
</plist>
