<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vBwwylOKYshv/SnA//DbGrZ86Mrb/ovUo372pgW/BI+6bK13ckejoYSORZNw5denS6Gv
	2QeCxn/jOjsaoAdQ+vTeH9BBxyKU8ADqzUR1tf+PIooSuYuW0gZtKIJlT59p9kyD73I2
	BTbY0eLCZuQx4kABUaZnAjW2latxEjz2CW17/QVtRMbc8PY93jq0DHOxTbu/maivTksl
	XzYnG4DSIjEBB+ObTHFx6HD+ACwh938jehhEJJ30NA576UYLvCMSFujT6VUC2YxmLiWi
	0tpvoBZFhiBwKU460yVDBo/3Cvq3mR9tH7TUte0GWkK/10urZKiecWIrHiXhwrQMxhFW
	kA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDKwSK5V4k2VzeKSnHv5XJGQA41AnL7vRra8e0U6VmDFjxreF5cLQgZt8OAWB5/
	iCACMQCdQTzZnfUQTKMMa2eZFGquhqSPMYbRhWheXapOS948wvUsnjHB+16CPsXkAGLy
	8Ec=
	</data>
</dict>
</plist>
