<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	HiPVFGXKnxRs8n4XZ+1LX6zWlS8TF4hX5QEPobIgzEXnHl6szqtrAWeeUdpyQP+AjWCm
	ECRiyz6pHaM0c+tFNt1HHVF2mGDLBuEmjkysaNwpv/3g3ANQ37vzVISy2CM9ABPMqb7R
	9v8A0bF021N34DNMSm1j8pu/+Bw8vAOtyt5LRTRUnfHJy3rzaGaadH0rO6R51bZiKRjd
	zGxLSMsVESAgAupB65Zxj8o15cwHgqD9Th6HYaxNw6weys2dTIUPEszW8DJgbpx4z7Tk
	k09Jn2bzgb29MZI6BXteWY85xWtABrTh2FXyKkl0oU4Fop7GRfqmK+udkBgXfOrdioqd
	Zg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDZBewlg+BoN+D1dj12Dc/pfybNDXo915RjP0edb8HIP5GB1xGUzQIgvwMOWkwW
	LdUCMQDIIqBNtkrwg324kOzMStXyoTk4R2KuctWxlWkT9Br7NPM4pvhAlmdbhw3jaU89
	9GY=
	</data>
</dict>
</plist>
