<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	g4RXFpwaRHEkNiP6+VxTyR0YQbOSH3oNkweEK1RbcUB6TjVNzYbkII5oTwDQqwfVOyFj
	Kya+Paaxpn1vP+WUZDkYE5E5R2RN/MOO1I/mjMU2VAhSiqWJDoYW//Mlz5eh3TmqOIhw
	ZjdsdznGLRiSUhOG4Nwm7YIacfPXlVLTyJyB59BHJow8wtjxpOzPw2/0gYdCuVjblzvq
	zOomzLn62QvJ5DNpB5dD8UvRNVYacipmnj/eu3nbN8/JtHaKEzsJL2gWx8TT3SK0DgXB
	i6q0ft5u5zRCKKda9m1bVAhJmRi835+y5yys/K+Ig+O3lcgwoZH1/Yu1OPESz293jLKE
	cA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC7Y8Arr6/sVyN8jKJGzP8DHNUEpOMII3NyWwCuabTzjdFwuQ5MCGQ+zBm0/cYF
	dgMCMEpyT2zIlKImxIiWekD+wR9h1GJA1QGlGWaNm+A05GRdqJS1/KYAtVs0Ws0qPTB4
	ng==
	</data>
</dict>
</plist>
