<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rxKSr7cSGNZb2RxKpvvgPvBTZnKV7rhIQhn00wB35HO1RG0Tn4hTQOz9FCQDp5iqrdgs
	qd1L9XU21e8UUckZGSVlKQroNxVB/Vwmei53dLi98UrwPgw5Ht/RiBiJlT6owr8VCyst
	Vx0TwNrDoNY8c4tat9C13ltZDO8iHhkzc5S2clJwtxf9VYOh7UFisFMgKzdIkEOLvHv2
	unqflBUnextuPk2thLlbLc36UgQDcA0SsPwPK8LDv1EQKaIT925sAUabTJIguOKky59Y
	PgPS/esCRO5GYggXIUu0qG6V440LB575ckfPAnNnTZscTdmq463tN32RP9TOGzoK0tnP
	FQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCCS9mOgYvCaHj1igroBA9gHde3oaHE/OKftPrNYjWLOb0bM8NqiECMDF+2OErd
	LnsCMCnEBSpUk70YnrCXD0Atdzc4bsLeQknHxDqKVzR2UhOkoEerq/qC4rccR2Cc4oKS
	KQ==
	</data>
</dict>
</plist>
