<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WPPHXHL4bDAp3MdC7rBYNg4/M5SeClc9Qew8A1wGmqhYFSmc3FxJ5m+ZjGnLEdquLUuC
	meYMJ1vSP1C0GlyOR8D41FVPaDfikSI9vwXNiFd4TLqdAG9xC8QdSn61oIjDSj5fNWjf
	pkouViIIyHUI0E8+sBFmlSbH9Sk5q59daqK+eJI92a1KvPDRqzb09Fn5+lueozEVfdXN
	GgTAFChve0yykYv9o4hklnWxkM7xdN8l/oG7zjGeXmYVyMjJCJzZv89ZY7BCfJlsYf+M
	r/eBCkS2GaP/YRo/ViCrsKviNkCTWZgK9PhEFfOByGlar96GhyDjlOo8JCd4XPncZivI
	0w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCB98FyOBdEOaZKlR3c/wHYFC3jtBPneQsAtyIWlzFy0CTiYo7h4MVRisD4LvAKU
	kgIwBJa3maylDIg2AdSQZT04Pk8Jniug7hA8vJhxbWE68SHPUpZjaMDJXBCM+YO8oKkp
	</data>
</dict>
</plist>
