<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	iZ00AJ6p76CPS3xcmxXds7EfajKfps1WGE+DJkId+wjJ5NaPXZHNzBCalAg7bl1774pN
	AgwufmeVeNbmt83rnashQVnNJfzPhGU/MdXmV31zygnIPtzhOUbzKPH4Dxld48npdvrr
	PMzATScOabI6atRO0rvVrZ4sw8CZE2qUdh2XB1qUCBes2nNMtRfQzmUlMSiiTsZSc17V
	NKynRt7D8/gbXxnDgNPA0SDc/aALp6L5vlFDlk//ASgVb+nHVIFO252IPcW5iuk17fsN
	dBoiZU/QLFNNmSUqA41jNJ2An6eACsPZoTu2nDCfJqOk1StVbNC9Q0yOypQH1RE0Q0ok
	Gw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFy3c/uo0qep0qboO9Q56DFLlX/2rXWmVC6p8cQzhcKWtS3DPXWNHkqoK6hCmzcl
	igIxAJj2OwVtQLS/2O/t4unKyBcULbBhe3OeZ3a/oZ6qaSsyT60pODq7hc/lYxbI70Zs
	Xg==
	</data>
</dict>
</plist>
