<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	evlq/eGFU4A5tPSmxjiK+sAvBq6warC0I61VZseudRRwaXfvbwp6W2foQqHWj0khBdfL
	ZdR8SqfibmrA+TmtESwQSyxHCLv7rvvPq4+cdlTo/A6R5wjx73+shMos6v2BMlTF+azs
	DGRKY6mlSlV62kXy5e/vQgmrpGIdwmz82+bCkVvUrN8/wWIzEWeHtpG7qI6gqxQgNDEQ
	eer2W7xIpTzwDh3S8WDPkr2jTrwbIqHN2IeyN89tJEnsqHCUNqttJiSIF/G7Ro5RXarH
	3dy5XMFKXzwa91eXWJxQeqhfE0wgzhTgPyEGOvJwmnsoRwWvFoAERIk7uvUdmzfWDRe5
	ag==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBJeGIlUGi0bwg5Om3PMjD2ZzvNsr6fPyhzpEWPJ8Sw1jrTZbDtH5cxjE3cXP8ZW
	yQIxALrGEFjYk18a83ZftPndXdNcfaZ5+diY9k7ChsfwjkEpFXrHBzoaY7xfAWDXc6Pl
	eQ==
	</data>
</dict>
</plist>
