<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LIh6fmC1tmlMcC0fHlzLDjqUHGDLdqee297aJo5shLHOslcDqArlflRlw80nHIj19GOQ
	N0Hwbx+uR7fK0fR8QK42wGicQZgdi4kp81nWhjMUam9Pdg6vfM3hMMAflYaANXVHIxD7
	qtK5DTntGn+dLsBYovBkWFOLaJ0IDtmSwRPvHrf/M/1cOu5v1gefdA8V9TwNAETXtDjD
	r1StLEpxDPgWx55r5L7LFH2KotSQMdRVp99aLVm6Vuk/7SpMDOXeEhq69nXsPuKk0as1
	b0ay8XKbi3w2kdWcYPRV8GSIumO5i5pftqFWi8YFPjjfG3WrPuU1CGfsPhJwtYrC+p+y
	Qg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD/emyD+4S+O1QhLgwqpxUkJ5v14fq7QmdLEv0rP2zUo6VWTwistDOihe2BDrQf
	MjYCMF0m63u/WsNgUd+lAMufG5MGpt7jitC8Q2br/IJjK3SSyCoVDKF6MsaqvZWuqAHA
	Ag==
	</data>
</dict>
</plist>
