<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RUzawRMnjS9DxVQXFNs2RqwyTNP2HLPtaPiCbWszD/ALSbUc7nO9ItVPU8J7K9mfOExB
	OWOa9XhbBmKHSnhPp+5JO8AhxlKAjHYS7Ljgc0IWNyIRNOO+zqBfq0kvEDNPMEQmQTLp
	WqjAasUPvvUWBj3dEReoWAKtAgowMR369Ji6hbbU0YhqmbPvTuPB8wqyM50Cbb0Koxnk
	q2wbYsL+0AIp5eBdFmkiZCWa22hmWvvHgHtwJz5fgXfWBl8ptH8lQb98nSGWoQYGYcgt
	esimAzuaPWRx8r2tEpe3lTLk/6uN4z8bzohDvaVlmyOV2WCP9q8Et/wdJHfaUulD2a7g
	JQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCwqj7m0hZPu/6KLXkgTgkoDFJnWrWKjrJq+zhVeWEU+fDanLEFWCVPC64cX7vM
	RzkCMQDCXwbyu4hIYuh+B9tP2+Gp5O4gurpC1nLWKrrtNj9KXIZGGDCvAmfvlf5GhEHU
	NEk=
	</data>
</dict>
</plist>
