<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	R8+d19PlYPQXhb2InYzpHxh7waRqoIh89eiuAsHXUxVedBWVNRuM2HBqwCmSeKSt5aBR
	7Zk6IZavGEmLNitDyFc7eICfOEqBHzL+1f6w40BKdK3aY1SgJP5Vul3eBaXAFhIhasIk
	27DpfjLgaxszbHdEbCp6Kayfq9zoSTRDph8FKE8otza0Bwr44a/wPftMzEfXqGSbq3jJ
	gqAj4ITuAuz3rwiTHEqC0u9/DwtAIyEmgRGcJCw5GgevXq8S3/6q5v8qmlG7nW5DcmSz
	WR+mP0XREuLWwYOzmHMR2RpXnsp5qACEUOw8jYjCUPjqbE7Qw5eFzdZW31P9f/h26/zg
	UQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMF2hh18Wgv5/T1cv8UOSFQq8TtwtQzWFB0HnMt3WPnHgfgLuZEOgr4qC64Ptzuh0
	MAIweQmvDUD2KqsU+nPaqp4HYlfNUNXKxdAWTixAJL5HBgbuh4Rq71fFOjzQSYOcDGR8
	</data>
</dict>
</plist>
