<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RG5sQPZyiRcbbOB0gzpH94aILL3odLKOzfjGvtO1JvIhtlIg9Dx8qu0DLovggDmIz9d0
	cxuI2/p+LC+hI0yUi9afwB8qLnRC/7es58/LLcozrh+f0FB9Q4i+xGrxSymdV/raCBgZ
	qEV3mJjYaDWxtoLKBXUcVtnnrA3XQLP1Z+T9eeqm6p4urpXg4GL1C3+pDuqR5cUhAmiY
	EXYBi8OjilGja4Tt7TWaVxm5gyQy18wz38HC5wzf0fIdw6yxyFUKQSP51/jhlSYcTgqu
	s7u8zYfe292OCakfUB5QDpED++KCxmp0fQnIfJZwWn01zY7/iqcJYBEUhSuRSRQDEORp
	Dg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCdjKg7F4ueBLMYelKP6hS0XeGWfps/JHWslKIThYWcjLD4Q9q+V98wzXZCnJiS
	VakCMFTMrE1tgUt4iX/Uy9eAgK7M4N7jZ0C9M7tOJTRW9QtvMRq1LCTmJbhBubYntGhf
	7A==
	</data>
</dict>
</plist>
