<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	sns5F2MUv1uUJWXNszkoYP0kuAMp1/LzGnVEQrFcxSzber6EwvpPRxnHA/aUiQXXSFeC
	Q9HUo+WR6tR32nHOKBceTspUpW4u05rnbvy33lMry2pQdXCLyNmNH/KqCO+xt81RRJYz
	DwfQJmtrC65v8Tnyx5VUXE48bf8trVBBVfaEP/wxma9IZeJ7icgIbN9Ygf5NxjG3VVKq
	Wtq6kgVE2n18ZT2iOaK5UwDeW2rsx0OxdU4dOhah7Pngsih58MQDifGmWkWjj613Txcq
	sj7gaQ4sGjx1LieFqPjnvqrYSxL7zTcQCnHMZ7dhfsAe84fn3tfreHDT0vQeTXl3Y2CE
	jA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAYBYZgZwLh+rRZuaKotQsprb7H1/SH9QTLdxU8U3Z4H52cHqUCWjMpDe9z55pJ9
	8QIxAKS4bmHH8W5KtWAgZ9Nb+sxUbg3Uw5Isx+C6lnPsbjyGkt1c7yWwbL9LetYTHzrZ
	Dg==
	</data>
</dict>
</plist>
