<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3x7pL6dtcMvJHyEocq89rkVmnCqN3eAi0rwdwifK/YDNVV/uHm8D3E60ue+HrIjYFqlT
	KDN/KKcEm+M6dJccxwMIL/vkPWEipYhymuHqM105DjpI18vjlVU9AVUErW7I+4JYOP4i
	WqM9Ks2CtpwaLxUn8tMDAcSmAs8YIlqwPRSTjlUhtOGf6Bssb1wubSCH8DrI93gaVrKj
	hnpy5a8uzfZjm8VxcPiAdJwf7HQjgmvNLhDypRdwQwRjFHkR1+aP7LDj5tZnjBgsKn58
	eTvMaEITaYNtj3e/Ks1eY5OA//PKWEbnuQ5FOznTqblHd1Ch+vALwLcglv+02LySXkdU
	LA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCRjJaqsXmfiTDv3iqM0Ui0vagYJxNyiqn5L3RuzWbyuUd9hQvzVmg62/3FHRKiz
	sgIwF82PNl5xWGcAm3vR44QpfIjmwO271mixP3T71H7kC9TEg+BRoBRDsEmnmN4qLZWY
	</data>
</dict>
</plist>
