<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hq8W0ap+hIK9hS5en6Uh2J0V7sF5zdplTurpCfUTxKymd0bJvX7OKmL46LpX5c3dcozY
	+XBKDCCPZhIPmxCTVVROqNOywS7LvE/g4IytV9PeHzYRCVbfIZRyuGQjJq5pNuDwzPyC
	L+kPbn8RzRgCYTL6goAqKAm4ScSBxJIUZgEg9zjBBZuZTRGK0UFf04VkVBHsaHQG/EK5
	2PjiObKP0WQAbQYawVj9v/LKB28vMS1cjOm9mkoc8l13Am6FDYcXED/BMbtw8674tjhR
	wkRPCzWvvrPzbj9tSwF9K6bM546Y23nrAQNhAb0J41IqD9QFdSacfS9gIRp9tE1gtkKQ
	jw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDOslKYm9LY737hODYDO7GLtrY9KdqYXorFl78NH9/+cddRzTAhVoHX1kVeksG8
	SOYCMQDXCFD0FwemJvEap0SKcKY+Cp/QukvVWpB86RE29Z3TB9FMIrCqWxDsUpqhi/4x
	VEs=
	</data>
</dict>
</plist>
