<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	2tN61v3wSuW2WsGJvjlGNPG9JB3wUOARsclSs48/zp70sVUdTdnIt+yB3SRfQsdFiK6d
	nQ5lhZEmAWH3QYyLjPAkPfb95i2wnuPAHvvqi2E6C3CAjQXkZx1WrpS+TdS0K0i3xYsa
	gVcaLKoJKZglO6bqljKkqSEAO5sZcNJJpP6dtpTmUSWuDinj6KWLAB/E4m9kTGftdAxe
	weXKQ1mfTHVYtXpWp6t5TVwSxPk79xmmlLxLmlZk0uR0MSlegdo002Uefo2jG53QuMfV
	+DRLjBEVwEZpSwFwbsji4SycdFE7iCweXer2moBhH69fZDNZNj5x0qSTNwmZQ0v7OjlI
	xg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC37QdhGhlrek9JA5MOA5bwKm4TNTSg64JbFkAqsqdGJksMeZAt/BdPJO1tX3U3
	K98CMQCNpiSIkjMjRpptmKUqspk5jB1v9EsAM/ArfEA+xouJoGzrla/JxnGSoWB1xomF
	12Y=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMAxyOPaRrGb+EkULADxvIcCGVOCXq5FQaflbsh0NEUynSsE8gCo7GnNmtGrPq/Sc
	BwIwXzLqFBKNQ9l8YBgSGZ/YymvSZXQi5MJWvHbxSAjVQvmfvQEe/9VXhqRT1t2h9Yql
	</data>
	<key>CBSignature2</key>
	<data>
	VPTKG5GobUOYVZD2SJeH9cog8y/kD7oCE9MTVsPSw6ICiyuPRHWHXLh/5HIK1uAMcgWw
	c8XzeHKxP5dOIP0xqW+bMbZ66Ss6s4skiEXKFL/Oxok+Cz7vQMwYGVfBArbU31FU8YV4
	KibYn9TNdly8E/bSsOYvTFKRBcVGJ0sTxmuuNAHOMzha139suFqsiUHBFHKtJOJsHREn
	3gCx7PGv3CJjRuZ87+Xobb9yh8deD37H5iKE6gD0DSawfcBPFwcc5NO88f697JEND5cK
	UG7PiGGjMaOjJBpm5hlbKoG2srFKeJ996zDfBE5zj75NcwBlsW5Qv2omGiIwdjVp56sp
	oA==
	</data>
</dict>
</plist>
