<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ZWWgRZdRUZppZEYX01hiOvEIMjADmsWM0uY6YpZ6NUEnbwWlSKz2UtXJMAl6TZ/ekxOY
	VqEp0koT/iCfQJ/3g5uL0G9LWJUj451D+iBVtqz5/6AjH9L1qyH6fbhv0YSWITjt4FkA
	LTF2m39mgXqybJTF06wHYi/v6SPy//L+kyQTwc2aJwU+betfZoBUcoXxIwhOzVTuMQJ9
	ofdCEWLlFggKJZugtAK71nadvjhBj6EFG78kJABQ3jSrTA06Op2mW61HKcS1WyXFOqFX
	UjVqIGDBLXk/zqb0Cy8W9yBGY1MqZFc2Lm4yvPkyt4FAlFPHFIdQsrrDpEu9ssXiff4a
	UA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBUqS9ifBw6bc4/A9WHNQwB8kf4N2revMy/+H/eiACLKH4lsnQ+Owh1Z+6qC5u+0
	iQIwWZmJojru2c6tMBsfLHF5VsrZiallzsbMXlsLGIZqMHqdQmIBa5ni/iMFt2ijHbww
	</data>
</dict>
</plist>
