<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SupportsNITZ</key>
	<false/>
	<key>MyAccountURL</key>
	<string>https://www.telkom.co.za</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>PhoneSettings</key>
	<dict>
		<key>AutoCallPickupTimer</key>
		<integer>26</integer>
	</dict>
	<key>APNEditabilityTypemask</key>
	<integer>5</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>MyAccountURLTitle</key>
	<string>Telkom</string>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+2781181</string>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>65502</string>
			<key>StatusBarCarrierName</key>
			<string>TelkomSA</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>65502</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>EarlyMediaNeedsHeader</key>
			<false/>
			<key>UseIPSec</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<false/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>CarrierName</key>
	<string>TelkomSA</string>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>181</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.SouthAfrica</string>
	<key>MMS</key>
	<dict>
		<key>MMSC</key>
		<string>http://mms.8ta.com:38090/was</string>
		<key>GroupModeEnabled</key>
		<false/>
		<key>Proxy</key>
		<string>41.151.254.162:8080</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
	</dict>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>mms</string>
			<key>type-mask</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet</string>
			<key>type-mask</key>
			<integer>48</integer>
		</dict>
	</array>
</dict>
</plist>
