<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6Dd5GmhmYvy8f+C26wQ1ZeeZ/9z2PP/juLD27b/NmyH/zwBiNvre19sF8WViMZESsqWV
	h0p6eu7LrFkvTY0nYMySCgkJjuMDl7WJ+9ZkA/XbhthuOI+BHj7e2hMcrYziXNH0tC95
	i1WZM8PwAkVE2FAl+L65Sd3NJBNQfiOBzq2CkHb6tHdKN2UASCiubuvtdGd3Ye8kFYAV
	wQlfClJAJlPf6gsKRabsHF93eraPidKu216UrO+th8fYeqOJ8QoCFhqUgnid+vi/M0rc
	/8R7fuQQnBBSiwARaY+9E2WFRVe1hL+SyaFAsXzeVynYSiXsxet15xaVMQDantkpNt5f
	bA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDBYRzzTaSFf3kFQMVAyimN0H9oQNUYSLfAI/Ie5YyqAgp8nD/lPerq4fM/mA8v
	gCYCMEd+TO7qYu5pk66imd5SJMK0BBhvahrvA+mkgkvCS5WVTyt1jZ1uJa1rJE7CqiWb
	Cw==
	</data>
</dict>
</plist>
