<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	iyHgefuw9xjDDvVrskq7DCOpVjv3Uf5CLjjM96ijR9ItlVr5EZTjNAGyPLqKZ3kNStBL
	jPTNWbhPeyeccdrEamg5OG6+eapnRMuBplNxeNKMEv97mSG0SVo68bYMqH6LDurui0jJ
	5Wm9Gk8qDNFhazt6lJMkyxeLaNbZvIVGyAycNdwScXjWn6iRx6oVUF55ubpLzTLhamA8
	IOanO26oaDBp/x+WpRA+vc2+N+zPtTB8OAXDCbQ9gDLvT4zOgfGHaWDBmt088pi44DjE
	lIcopSWUMgFRJOVtTgxHBPKNgWuSzNWU8ibUKsFyGJozLMOrsbIr6+MYy5JLF64VB0iR
	2w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCS+bKi/UoOEV0tEqkLhOSTu8/oA5a16JFtA2nzLAADEVUcnjOTYXDY6p2ryiAF
	cxQCMHy4VDGerWG6i2c1o9YFpiu559a8EwNq3kaOK46Thzw96xfVj/sbqRxLfBw8H/zX
	TQ==
	</data>
</dict>
</plist>
