<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Ms5tEfZXuCEt+7bIz4UJxYLfT04W7woFs8/YfS22jIeHaA0/IQ/DiR7yvTjfOky6obCZ
	rQTSkNcq6O9f6MooPvcj1ISY3AEd/bs34MGYzp6ZyScUAPjndC0zaluDLtjmV9kaAiDc
	kv9canybjQOJIswH6vZ/B0sk3Hagk2dsCv/DuubvdZWAX1B6jYz4Q8HTANkT5sswmBwk
	1UO+X9VoNxbiB5SCcB5+jrEbK0W17wkORP+fC/IqbDgM1W2H4/Mo7rrKQShFuqR/1IEk
	mUqxRw412wOEUoeMfhS9fDqI6l4gjKdj3txImOVpkgEjpWxR6QPa1hwCOUCXS+B9O8q3
	Kw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC5xMYhP5dWH2R5HoRHtzvUlN+2CS+7CqdY0LhHcNXFBlNa2GPcm+UWfuEHs+h8P
	ZQIwONkFzGFRmkrK9HADSifcKKyeVADyAddKYjV1PinMSgDVUztEjh1ADCC6eVnDLbEn
	</data>
</dict>
</plist>
