<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xtovp1haEwR3kVzovdYYPdcvkJQihNOrXGXqho2Q0S5P0PGrQ+uYMBzBB55RXGtwcH+4
	+zHA1gD77FnnJpipBaWzr/4s4RatXCx4UZfVgvu/jNnoF/rllBtYykGvXrHsjqEnE4IM
	37UDFivZ+W5Z5+ZhOtA7mZGcoaKtrbOIe9quqnKAWaayRgKNaFgXqj/9Pn0agyyjNSNL
	xmuY2rcXTQMNfqjIEkJ5P/SoLDBfcNhxg/g6JZ4QxNqphCpqnc2dSWLMXT+oVEwaAHoh
	WYSC3D8cpbWJJBJDvVbXfB8AaixaOM/HA7mIEEGFbAGUuWJV0qB9b5S8ZnuqQLP9VJ46
	Ow==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCqBVJz9rl70EagbnMul4NL4GfAsdHJg5yB+XSm+jEEDINLeg8gXVbK1tMcPDmB2
	yAIxALTnXUtviL/ND6nAuh/IcqA6xTT+hj3rLkSoaNeVwxbbMlABxxRmBJppOh/PahcX
	BA==
	</data>
</dict>
</plist>
