<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	SqMutwH+s9V4w6ipznFtOXtpJMOiEZSnY7riORADs554u4YrQsWUuOZ3NI/OaAwOdiUH
	Eg+b09qqw/MDe04rKWZuwLHXFSh2DhFHJzJABsQXFGFd9bAlK0Um6amPmB7yauDOWhvg
	+dRzRLCUwzzrCMOVSptrz0aRSMDZFeUM8toQLsttKFZJTyCOYE5UffKjX9XbEI5lH2gm
	1OwJMStWoO9yNh6V2WGdM8fi8zyOYh+kaOlcj92p071zrqqXPECdB756Kt3li/B7AuQA
	RO1RAB9wOFljVtgqoL9HXZvQMnDUeQFwAePOtovWoyiHjdSv4ChspL8uJxQweJYYiplA
	oQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEquxKV+0hp1Xsd+fB/4lK7vrbVt6J/vT7NPO52gNGEzRQf0JevVhtAauL6Ityzb
	DAIxAJ5Da6NoHFEYWncphXDpJKiapgIvJdewLRcpN+YCsiSSXxLQa6o5+HY0zDP8iceA
	BA==
	</data>
</dict>
</plist>
