<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CWzpTVyxw4a6IU5iR8InAXVKP8Z5VO7JZxOhNNwzPmlLOuhAjBw4YZJ752vPURDmskCN
	Lk1+TQ1U4a34396mjmlm+hZ8koLmlS9JQ2uKmzgL3HRCJYPrcXfD90jfwexhz0rHBTST
	bKcOPSHFVudU49tvw6Jvwjge0HppqO28Pfgglm0X+2tPvbCKZV7OEKxjBuw8DECEJ85k
	X89HT9YkDE0dUN4ziO+GAqBNtFc2xsoso60kzJoZQRXaJ+PRdV4VY2d9QSsGTjYeBgit
	m3Bvfn0+UH+8Jq0uQbkSNUHX8quHGt1Wa8OH8KqoYnbSwFiYXle5xfa6XnkjBQI6IuQd
	7Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCS7oIKnLPVkXxElyY80Wj49Q4b4AgASTJ+Y4dbH2DePT2nrYQuAtUBHzVlxEsw
	Dh8CMQDO27Y8YQJ5nL5iBUnVc9q9I4qkol9Quu0BAjgT8nDFj0K6Zjg2jc1e7KlrYDHr
	9lM=
	</data>
</dict>
</plist>
