<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	afRTdTPghLcEey8Qfv6Y7jTeGaE0sc7JIH/b77ePXr8XgdBvXsaps+coRfIc8Q8CQ2br
	Qf/ApmSFsJko2xd5+IJRcSk++yDUOp2+1SjjAqZGk27I9sYEblcvdSng9pamM9oF3j9m
	BDMwl2FiVRbpCASXsXdjDg8us4GHeJ7ceYVcQOLZKVnwOo3K6RGRBXGGpFuounCIDurc
	uhNKdw/IhWUQo2yKDBWuYb/mpVw/ZVou56Tx8FjGjGu9Qv2RK7DsQ8nedDxBSgGlCpxx
	JzxZ8BFyPe9S0n4OY6RQh/jf1PQL69uZ0KK+S3vG3eDzlQfpfyAEF0jnSBgf/SEbh5l2
	FA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCNjCBXJjj2ABx/l8UWqUAm0gH9FRH6Ok8T5AQkO4tgOhra2Fw2rAb//VL2hn9L
	mK8CMAtO1uXacblDNenGILx1wlxE8Dbj61rmQNgTdWDHg8Ind5sSbN3D0wzhxk0ZfMNs
	5g==
	</data>
</dict>
</plist>
