<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	waIALDlQCBpsHz5szOJJg1mjUKJ1Wob8/jgWKrSkx6eniZS8/NIXLslhZ2ZpwsU4+Ha0
	nfPuVa7+PuLntOZPJxRGajrhUJ4nYh9n6v02YIT7ka7mylXpVa/FFfGvdxAZPRp3t4OK
	3rTABnkj8khiZa+ipxRIavnzUgHlenjwaIGjQgOjIrOq2Rg54guMZsPVhxbH7hJtpkx9
	mKXOJJV12YWdv9HifevS7H8Jmvsq6udM4Cr9umjDIvI1GfKtrH63NtCW0jIYL2qT6v/P
	/sDU/0eJMYwJk4xhBQvSh4Gno51xu0+ez0ozmd/lDFY9CAul3L0VB+xwfBTuLTBCe//h
	Mg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCcEUrCdlsETfsGYH96lJ4+d7hgHALHgC5e3VcKTPxgXexsztXQl65dJKPz0vhR
	j58CMHv7MftaIsJCke1ZBebOKWwJRik8CWugV8dKeYFyqARUfF8CWRj38hW4lOLWdl93
	bw==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMBAlqN6EqcvOZKgDDNRC4ebNLqPFYaed04+w+Q6iuyYZVHFz+esIB5mKw5cNahFU
	qQIxAMf/+X4Gb9xf/OMwPj0RsFZrZHWqAdvkmOrA+u9tjrE0NWdyG7Mamrm2SMSMd075
	CA==
	</data>
	<key>CBSignature2</key>
	<data>
	rEQ5F4AVQEAvu9cGqXZ7SESc07jVmlJapONvUulBgrHZcGDM2BD0DCWaUJodAyQXa1s/
	EyD6tCW/CUc5QmsscRD2iiOKfGPsq0rRuHs3R1dUs58WHG2VrpoueodyCEhA86Qim9B7
	UzYWylG7rZLWyRmqiZmQYdpBk00EEsby5E8aZe8sO158yBZyIS9IYkQNuWoTQDM5wHFU
	gYXbXMX1jt6Ff0deWn6GMX7w73u6M9s8y3W/6p5BazzLOSrxV7AX1etUUHjYZsRcrMhq
	t4FIrGgYYeH0vPX9CREdS5mSBgNJT2aR/73nznOd3hkG6IdWsr/mIzKkM1cKLoCPbcX4
	ug==
	</data>
</dict>
</plist>
