<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>MandatoryVerify</key>
	<dict>
		<key>SIMs</key>
		<array/>
	</dict>
	<key>SuppressSimToolkitSendShortMessageNotifications</key>
	<true/>
	<key>EnableLTEAfterUpgrade</key>
	<true/>
	<key>APNEditabilityTypemask</key>
	<integer>0</integer>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>ShowVolteWarningUnsupportedCarrier</key>
	<false/>
	<key>RoamingVoicemailPilotNumber</key>
	<string>+994506060000</string>
	<key>AllowedServicesTypeMaskOnInternet</key>
	<integer>32768</integer>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>AZEAC</string>
			<key>StatusBarCarrierName</key>
			<string>Azercell</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>40001</string>
			<key>StatusBarCarrierName</key>
			<string>Azercell</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>40001</string>
	</array>
	<key>IMSConfig</key>
	<dict>
		<key>Media</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>127</key>
				<dict>
					<key>ch-aw-recv</key>
					<string>3</string>
					<key>br</key>
					<string>5.9-24.4</string>
					<key>SampleRate</key>
					<integer>16000</integer>
					<key>EncodingName</key>
					<string>EVS</string>
					<key>bw</key>
					<string>nb-swb</string>
					<key>cmr</key>
					<string>-1</string>
				</dict>
			</dict>
			<key>EVSHardBwLimit</key>
			<string>nb-swb</string>
			<key>IncludeSDPModeChangeCapability</key>
			<true/>
			<key>EnableBandwidthSpecifiers</key>
			<true/>
		</dict>
		<key>Signaling</key>
		<dict>
			<key>InviteErrorResponsesToTriggerCSFB</key>
			<string>-408, 3XX,4XX,5XX,6XX</string>
			<key>SendResumeInviteAsSendRecv</key>
			<false/>
			<key>RingingTimerSeconds</key>
			<integer>65</integer>
			<key>UseIPSec</key>
			<true/>
			<key>Preconditions</key>
			<string>Supported</string>
			<key>IncomingCallEndReasons</key>
			<dict>
				<key>RequestTimeout</key>
				<dict>
					<key>StatusCode</key>
					<integer>408</integer>
					<key>TerminationEvent</key>
					<string>RemoteHangup</string>
				</dict>
			</dict>
			<key>EarlyMediaNeedsHeader</key>
			<true/>
			<key>SupportPEarlyMediaHeader</key>
			<true/>
			<key>AdditionalContactParams</key>
			<dict>
				<key>REGISTER,INVITE,INVITE:*[primary]</key>
				<string>+g.3gpp.mid-call;+g.3gpp.srvcc-alerting;+g.3gpp.ps2cs-srvcc-orig-pre-alerting</string>
			</dict>
			<key>RingbackTimerSeconds</key>
			<integer>60</integer>
			<key>ValidateSipMessageRecipient</key>
			<false/>
		</dict>
		<key>XCAP</key>
		<dict>
			<key>supported</key>
			<false/>
		</dict>
		<key>Voice</key>
		<dict>
			<key>EnableVolteByDefault</key>
			<true/>
		</dict>
	</dict>
	<key>CarrierEntitlements</key>
	<dict>
		<key>SupportedEntitlements</key>
		<integer>1</integer>
		<key>ProtocolVersion</key>
		<string>2</string>
		<key>ServerAddress</key>
		<string>https://es.azercell.com</string>
		<key>Authentication</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Username</key>
			<string>0$IMSI@nai.epc.mnc$MNC.mcc$MCC.3gppnetwork.org</string>
		</dict>
		<key>UpdatePeriod</key>
		<integer>24</integer>
	</dict>
	<key>ShowDialAssist</key>
	<false/>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447786205094</string>
	</array>
	<key>CarrierName</key>
	<string>Azercell</string>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>6060</string>
	<key>HomeBundleIdentifier</key>
	<string>com.apple.Azerbaijan</string>
	<key>APNEditabilityTypemaskNew</key>
	<integer>53</integer>
	<key>apns</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>internet</string>
			<key>type-mask</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>type-mask</key>
			<integer>131072</integer>
			<key>password</key>
			<string></string>
			<key>tech-type-mask</key>
			<integer>131072</integer>
			<key>SupportSwitchOver</key>
			<true/>
			<key>username</key>
			<string></string>
			<key>apn</key>
			<string>ims</string>
			<key>AllowNoDNS</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
</dict>
</plist>
