<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	5q/Mw1RC2bT/6BcoXf0LOJkWBpTL+KHN+VV6JXvrzZ/s7FcNQOLipu9juD2KoW0ppK1u
	GH5Zt5fO9MJX9VGJH6IWkjHa93GY0e7KNhymtCPsDurcyhM0QNXreqa0TpNFmZQxn9SZ
	OSW/WbtVDOzblZpQJ6HCB6B8qva86Qkur4i/z7EhDKnLo/CuJFoTvHfLM5JG/9eR6tO2
	A2ud0f2qKGTonsfL7mYF68E2q9qG24/RNDXIeKsrBS5uoixVFoGebB6euMLOl8FJMkU+
	OTQ02rrFJqzwi496V12RJQ6FD8EyQHhQJeXNrK6BjnHRsWk+zh8u7x6YGE0iKnDKrXIb
	LA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMB4O2nGLDVYsc2uH5gtPGPriYrt8M9lC2D6ziStkY+byAP6CXid9sEeZYSOKNzka
	RgIwOZ/QC+SzPh/EQZz0cmlkKNNnvyv0NYwiS3/kPn07QfK+T2ep9r1jk4WRFAnbPAlh
	</data>
</dict>
</plist>
