<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fY5LZ/jE8bmgh+5N3XnHtnMmQXNoowuMwyMLy0ExqaYQM7hAVi8JNYoQAd9dyDqhUnEt
	3T7TExGqO//BHrWT1EgdtT9C+iHPNOayYx0vvNq86O7YJ7PAnMv+LLAxs2T3YCIj8t+l
	ODSi31wcLzpH5k+d83dZzQNiUk6V/G62v5C1HAWkZc4JoSn+AnnNbZs16Z9KU6Ainn7/
	49jhRq1fNGuaM6uUici6UX4eLMhS7rbZn0jtFp+wHaTRHRCHb107haSiPiaT2F5hI7RM
	a9pEdIYAvsZMtCcAKZ/gVp7HaN4ZFMDyrVlt4QWcwojbXV6VARk5Eqj/OiO24lEYIXDY
	SQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCg6VS1EJlyHEKX+cHf7IOFJoau9UAqwMphhUwhKoaWCak0mJJvRRDoBILOZVan
	BfwCMGxw+9fcuLZ7NM4MGH0CiBp+KgwWCKGlAhg29r3YZ12AHwe64B5BY6mu9z/FtwDn
	PQ==
	</data>
</dict>
</plist>
