<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	oZplNH6uLhc8t1RfGznZ3FD91Xkfe51QVI8oAmnud4pXXeUzhYzJ2o90xJPYSFK8sunc
	Nc3oGKxKnuC4Ni3SGlaKEuz5jTz2bwhFZi0SHEf6C0nOJCI0b79DOmyipioKedIyaktl
	xRmXhp1UC0I0sxSJzWfeWgLwiu0NFMzxVqPzBTQNtO6mjDE6unAY9lnN2NiJLyapkc5P
	mQ7L2okwv9CdfGbIgy3pL9kwNSbagDlm4RRTLEbTSmrIEagdLY7IpqlJWltttusb2O7A
	4TMqwI3lWnou310Hv9kmP/yM7XGHuMxUjUM0xZ9/vTtAyLU4X5t6mr6t2wBBVmWogToD
	pA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMALayubFlY2W2OV2HxVLEUrFAPjYbCvtF8ASXXbtiwe1/HI9jsmuQPnf3KWCpf2q
	HAIwdgbc1S5OHIgPiVHoBIe7c9rc080XpCnUZab4thIlu0KMklwOmcCRiRQqYLJbESql
	</data>
</dict>
</plist>
