<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	cYBDSfoJqRR91LedzkZtf+cAoHyx5e91XBXqDh8ePV/o+OkoJ/TEZU9EWHBsr8hbXbFC
	SUcOyM0WLOvBCMzkvlTawkBHgVHO7vb+fyhDvqyURQnlwKKJK/EJ2JvRPJ3zFgMU5Bfm
	CAfLqSVMG4DG0SbAYmOgJaftqfFP59Mvy0cFKtNuk/f9NcCKMQIeJUPxo6q2V+8poxph
	g1EzU2UNISyFnMnthP6nVtMzJU2OVQypC38gw7FXbXHpr3xkH3GpsqN6Jk3wFgk7KleS
	5+ZF18g64liRikUyws9oA1ECwXubgSyTp6/OXJhPcWCktqgmFu+vGHbD1tLRNrSSapgG
	Ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMF5/oeu1JyXFk0ZgAiQMfDsHEp9Cr6E9/YKbae72r50KYun5b1s9GjkYe5OCjUs0
	8AIwdBYDH5H7vibt7FjjqliAd98p6bNCrRXHvpFTNnRiTE4C7zo2qFP0aUn7PF18ji+0
	</data>
</dict>
</plist>
