<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xIjTYyl3JxUJ841njrD9t4ir/QAk4+xqFhAIRNNL6bW9VrBqjpAn9lixM3kyYyNDmEmc
	U6ZYf0H+O37v900ItXp10OKv04IbAziKdox06sS7nKFuhE9nYsPZSLVXTAmASTz5F0IV
	fR0oEKl9m/lbzV9iVT39rNT9r6HWoA8ULfLPqw91CRNYXmLR4WzVU0Sw1e/yzguggQA/
	eC5yQrpA29sihzY3s5CoZiXv5yZcATzpgYBVhDikyNFKrUCnYA3YUYRHmYpLiNH6HKIF
	4EZKdiQ8Dp0VDqHmES3x3FI66awRCzZqxSLm2WUzxZpzctmcH7wd5i8v/N0hOFKGF0tD
	1Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD4MJqixvS7f28l3tnKH8MUIfc0MMqid4J1rgyzW2uj5PcD/gNIgq6CJ4LJ1V3C
	dtECMQDCTveSho7uK2M912bOd8ZHE0rcf18OUgBIwJ4a75ii/L7GRQaNmIUAQL1ut9QX
	CjI=
	</data>
</dict>
</plist>
