<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	R+JpF1gmGTuAoo42lIaLit0GxdAKLnTiPSzwT+i92bxORYrT5TJ8PmE47tJhImQyhSXs
	tW0zFRy3BP5BvIckf4KpHNeWRoYyx7v9jMS+gGPsrtocit1atSciif+dlz6kLmChiE7k
	tUsxFIL3Tt9az2c2w1GQ45xo+YTMMT2nCDYAXfXnTgqSeD5B/0LQpAVbyj+EzHQ7/HDw
	pj/o2Xw+7CXnF4jU3T8ExlZ4ODJwXaKMP7l5kVDtHW3SBBeHUcHWvxx1NYAs5Bbxt+4e
	CUVDOs3QZYcPMqDulqODMGKYi46bKwJhHRohY1S5+3e8d5yag3kTe8273tnhLT2qBBiI
	dw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMD3vifir25lHk4RvEVnDd2/Ww4HPYzrLvqyAVyoseuY1Z93DWCSKUOnEJ7LRjUSI
	KAIwD2G8m+nRci2+3s+u9f1K5u/uzRWzRkXvNtoGoHF9f9OltOKpkZTcXAHByNmtYGxz
	</data>
</dict>
</plist>
