<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hN47uLTTk4COHDHJdUh7V+y9CmLhmhh9HfAUvmcbsz5SSfJPn0yM02J3S1XyjOXpFhz6
	+uS8RVHZUS57i12IwRm2bWWb5uE0c+j5MDl8sEzcGf3vKGgysuh53xkag0Zo/cBdB7A5
	Zg2r6oNb4vT1jbbXIIXXbWJYXo4XSXq5qxsOZVSzmbxG39B7SVNrmBnHZl5vpc6ZN5aM
	rIswqL2oCanFg0ZLyuJWixe3PlYKOKrZkins8f2MYSNpgYmRkRbDqfLuDV9P8HJB649e
	3iKIJnOso8Yy+nGkh7nzrggQgGfb+yCQkNubck/vrmf1LmXevNVsclkqazzud+4BjnDj
	Kw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC7YynC23JnosPqkinadLeXKH4n16H9oXVrTEJzAWlAeBNI9BMnFBKUo8mDz6OG
	2vgCMAXU+azJrCjOuxKfKe5if7iON8HbG7oKi6ujfnr3PYdYBOZMRwcR2e1b1UCCjzNG
	Jg==
	</data>
</dict>
</plist>
