<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1alkOjbwdCYhekiuhecAJCCNcMAuLEUqf8Sm3M+FWzs8/+gHPY/E3GIMTl9OLyYXrNMo
	x4WpF4r1EvWoDfGAtBall0yoJRFsHKbDKKLcLVop2JXkoivzpfrD2wEa/9pj334apB96
	wDRkAuP9YBLVO9UlsGMDFJSy1EZ6wQ8Q2MgmHh1TQqVEJgj9mOu8VKjX5KKbxYTr+8Ui
	Nft+u4pJZ9p36IurTUCcbVFBjnXlEWqU9ubvC0Jwz4pB6X05H4gtmO7xpRN1wOCEJgOV
	7qStdf3XaPt4pJVsl3Md33Dk+j0eX+NbM/x9kKFrG3XZCX1UnQ+qf0pDJf16Z0EEJJre
	nw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCtt/Su6hFrJJHi9UP15ZCeC/x0Nz4wHwxeFb3Rwot1fNql2TfdS71D56yQOGW5
	qpYCMFFD85Sip7ixRs52i5GVaBN79KLp6PGcNV3eICNeuqKikOfMJjZEWtbbjKMsXCzK
	+Q==
	</data>
</dict>
</plist>
