<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Dn8DtNXNpvxtF38VKLHH9U7fnLu7D2XmVlixJTJ5MJ8CtyBCF1YPnoPC1A2qE0ktOkHl
	GosbKkz6ftF7ClEs1Zu5wOsa+bH+B4TEJKedB70MMeljaL6ZXh45LFvYin8sSsWMm9iK
	3WhaxONGzig6WhT0Ls25F1Q65ElHx+X1nomcS7DgeXejK23m0cZATkePolimnv9pTAVK
	Sdh8GVJX70vwzkYrAj1CtVUK9p8eDgqn0jPv4vT1LxXyiJzFmO4rsRZ9ku+RIdzZEGUf
	cK3vOiJUvrn4dR9F3ClTd5GHgBhtKch+BmOCJDIMkBgctWLyl8LHZgceiJXZ+M1W92av
	1A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFt3BGQQQM2AtCWYj1yzZaiq8qfDzKXtWvexmCz8CM6ax5sJCyhIBD2sUAv+vfJw
	1AIwYWAadArGteQjhF3e3xM2ww+GjnsvJ7j3TEaNz6y12V5mDzHO7HhWPHPsaFmMRojl
	</data>
</dict>
</plist>
