<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0BkCnW9Uaon/wOI4pZwJRKKe/hp+t0/q9+i3X365TBMM62Hx9wLWnDGKDjVyziQmY01X
	zKUHOmq/ivtGGJMbq87/JkzMA8XoDaQiDh9bbcYWVLPGRXGNoTvsnShmySW+y08XqA4b
	3zivAwSZvmYzrvz4lFqdXenLMze/0FTuWKhuV4pTWF8bNXofuihN/LpO6UoCC5oEnnNj
	V8TVjXYzChEB/dJnhEMFoGHHMg1WH+imQznP/NU7qsrl6Nnzhlf7NWvfKx5t0R3mvEB8
	CM/jKplC1rKpUfZ5oiuXSpjsUJw1hAbpS6Wqo1dh0itT4dMAiAozdRjj3VtNxsSJT8wj
	5w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMH7H18Y7rIx/sV+ZWhgCYfvLN7qcb+PyWK6KeDIpfGhl3XoOSGTaTiwWbRLtTAN6
	eAIxANisx8q5qXcok3bV34Xchko6vaKWNmdkm4VKlaLtB1lRm2Wy5Zbj4V+0ph9ecYqF
	xQ==
	</data>
</dict>
</plist>
