<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	FDSGmkVAxFIhpnXZKciB3d7ueNwu/Rx49SVjbLO6IKVDfT7zD58jTbSOJPC4tnE4Wq07
	W5r/WnaTXfNUYoa03iaVSuoJJ3fw3AEubF99Satuj1ptnLJmzvZlce9MkA75riNo6ARw
	yIySgVJiQqf4vsAQaJPQf/MKabpWKXyhmPBc5/TRfXxaOPS5Q6Qx4pEzcoW+vh7M+bZI
	W7pQwd8zdFcCSYR3Anh8y59c2T3p8yAvZ5OyI8c7DldFe72QP5VuAvj40NLOVFPtEcwQ
	sUzHjrB9a4sqjkhO5vszbmH8Bm8BsIAWocd6AbeaBtno0JaKvPGusB1xHR4DCjDExI4/
	Fg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDSEqV4p8kZvt7LTtimtcWcZK2LHvaCmELIF8LPzjshso1PG7rHijTEJNsKS7DM
	4FMCMCGE8kY/zS+2AQmoH/iOSxm3JevmHoKwFb2tNrLvHHdZYTTbCQiX/6jXxFe+okBf
	Cw==
	</data>
</dict>
</plist>
