<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	A9qyMsghiSh4Q1oEiDvsLpCyqfcs9UHbxfseyAodO3/ooIdRHAz+vYmrJWBV8j/Z8fW2
	uK0e95NbqsWZoAjLmpF3ntk6TE1pnOcXVvaAwqs+MwVipfbLuyej1jM4DiHSRE9bULSx
	O6geS2BF432P37XDTnldsu8l50qfG9J/I6jLUTYLXYzlrook/wpIFF0zJwiXmT+h7e/Z
	bKdoeNXWNnr9eomOHIWgBN/sVyIhkCESO1RiCWoDba6B/sA+1+494y6cyxCgYd0XzCK1
	lxxQRhm5G2A9Sk+gRwEYtp2rPxS0vv3uDR89p8aU8mAqVoUhqWxBZSrYRRbzeTki1kty
	Sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD31rsY2HuNN4UwbCwgHGhc4rEXOj2HyQw4vBN2IpsTxwEhdzihn1kgycXxjGQ5
	9okCMQDqUbI3/RJ77jzGjlk1Dx8LnOTRIOT0uNudBA+qfIEl3det3VigzzRIdamoIDmx
	KJc=
	</data>
</dict>
</plist>
