<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	NcYOEePVzq2JQSy42XpWgogjMfarMQ78XA9VE+Cb5QfHduaMuXsOH2f8xury8vegBuQP
	OfZvka3RjSMptM6Dbnp4sg3EPKhViofGwC79GXTk+YDO6Q90GkM60XurIS9scPCenFLu
	EhnPUFN5Tez9Lwg5ekOsC+IfPzOfjdxZmM99yw5o6FB7YdPcic/fefd0WAg0BpFk8UHG
	D0NVWcG+78AZnMmHXIiDti+X5nRaxt5hwQW3s9BeJQsYFL4BC9jvHNUUtCXM0ZrZNi1K
	pc0uTADOGFcDD+MDD4EOGnI8L2+2dnFAeENGNj7XC9j2r6nPpLATTGn3NS+MCbzqYsr8
	1Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEElGwCjZ/h9AS9gfAkoQeVuycmJklyXbY2DN2WxYFGbgS7LuJnqUN3x9/zPAwxh
	7QIwE7w33HDyA2JDNebgOKaDEyhcMhaYAifKCiHaTb8Auod7dRgkQSyLdxzRLLsAodmT
	</data>
</dict>
</plist>
