<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	EgQFtX3WXcet4yJ0IzhUR5VGZb3f8yJyblsTrJ1A26ICJWJxE1kUkVWcI0aaYs54/Y8m
	hxf/cO6L4byQOYXs+Q1GS+JwNAKQ97cU0ppwAZYDoiCt4qb4b/F+BoGOImlQu9PPQjRB
	BFagzcHK3cWx751Mzop2KikT+QL9UvB69zWa0NB/V7bOqqXPHkaPPGXkLig4AF4eSHdJ
	B+3lyOTOgcKh7jRcDv7IbzMKAbXQnU1IN57iNatYuX9uVt8Blkt//ZzDtRt2CTmFoYR9
	V+1+ZhDcL6v68WN8H5ITAxU9+eCGruOrgU8beHGBsTvoX1iVEopTy2iWX7jdaAfyhobt
	NA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBOO5ZYkV3xXg1KaSmiIL7Z2ENTYTIvcymILr6TG82TFpavjRiB+xRGHBqRY/x8u
	OAIxALl9pOvB3vQeks+LJpUZCNtuoKlaigbyruF6uTcq7RCCTZu9HlWZUqydFF9O2o6d
	SA==
	</data>
</dict>
</plist>
