<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	U2i5BK46wjy/rg/Z1mFdVT5GRalRWxxixQPdMV6mcOi9Cz9d57CxDnH3JkFoDWKARzTD
	M9pe4Pbc1V1XQN6C6/Mh6qFMsBg7Ic+3xAOk8hpx/cbdU093GkxMj+AdOA74bksvBBOu
	lSeqcEBlPq8oA/j7csxTLgPO56XwOBhp+DnDZ1TzXSltJmMxsnGh27ctBOQRYjFAL7Ok
	7Sbp7xz8tVG1M/INHG3/xosbvMDLgW8w969fbNQ91YX2Fw9/s8pfQllml8nvrmNbOM1d
	4H7mmJpKki3woRLunr2VotolQIHYnRBN7Hpo5qpR3XVAqC3pVtLRIVNyE8XjvZJ9i0c+
	eQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBb2n/384cM9Hv6L9QkM/7zaKTRWDWaIDWG1sPN8fxjd0lASLCMWOE3HHhLpAqYe
	PAIwCGV6GP5G05shCfNNVF8Vog9AwdRk8SxOVk+KgjZHPPCfVX192LvQiumYrFr7Sc24
	</data>
</dict>
</plist>
