<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VhbDoiM1VusEDsqWBEo1PxyZWfVmVY6EnfnEC/h7/LLKgwU8w68aPvBqLB5vmTbAptZD
	Xxr6RkEhu/S/jtj9qoFJSf+of+i2WLQfDQ/tW0Jtr0ZFJlRhT8BU3pZc3z+Z/Sxa3tSM
	pAkWYLe1DNC0k5d/rM4aVGLd3QmGrpcc/3J+ONHfGk41XHx0BsTOlCkxoBgbUUuKgqS1
	SvuN2ToRrtX6TLWIRzhWHSC1CFW50P8xoVq7OGVt+NI6dh0m3++SY8kDbA45YiE42xzM
	UI8mY0pOSQHskRfCOTG/tETCJTcKHo+8h6LGZolpXu/Qy5gtJshqOiFB8Cy6+2ajSSqL
	5Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMACubkZe0/xOtznIn/yZly1xD8SlPVxcEqg8R6wqoku1MgCfC14rqiW3LQEM6Gg8
	7QIxAPLASZs+YjpWo4E6PJ3Ni/vT0TuAtw5DbHAc73VxGaoPdI9jTCDPbuNOKsjzMk0E
	Ig==
	</data>
</dict>
</plist>
