<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vvS9/cahIj1GrJ/0kalr7cyD5VrwMmkk4Ke1S9i++6KaCmrNfh8BBpB2B6CUoIexZc4v
	T14usr0fIc+asvRbRh8GlqovbSBucRPMaJZwmhJ7Zoq1AZBMvboRqzRao8Q3qfksHO3Y
	Mx23kYyJO+ggLn0UhYk32PoJu5Z6u9fG6ApbeuWpNEaAOMD83Vuxy/L2KiA6EhkQFlm/
	8OAibOIigupN6mOU4GulaEp5rxjitYbNsr/ztuc8TQK0fhK1Ov0Jvs7ynUgdJR8M+snU
	6lTEf55Jj6dFG4NTfG4131ImR7CyRfa+3jv+fFbjHEQ5eUqKypN3F5Ikzhj9JV4iajVN
	MA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFLiZqf22pxbKV3o7gxKrlbNP+9UnHyC9rNsSpxFT4rsQ60Iswe7GCVXZ0Gdi1IE
	HwIxANjV7lu7Ed4/nHkE1ML/6ibEi2nGy88X1kdaYPUsZtyHjy0xCM/g33MJqv3uigdr
	nA==
	</data>
</dict>
</plist>
