<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	YDDJwIM1weZE1w3jxPalo2ydlrX5v8FFjdiUHNaXxJsntV5R/y1CDrTHkSQAREJViyz/
	gHM7DqDje0hly4EDr1LeMVRZrUxqhE3rlGBkx5Qs7hb4jbcKb/skMQuj9oXM8zeOwO+a
	sLFHZVlgvSRiiInouKhL1dZUZKGazvjU9VwX7Uvug9AdT5M2zrkvEr4Z9EowRZZh/Ef4
	2GyS29/GWHz7gQXSV3rXNZ2AaDz+Nmjh1Wyx6O+ca63NgJXB05ptHqrb4zTSRqsqe1sy
	o6tiWVKe7ix0ymw99IE8av57zotjS/yj9JsBwVZSOrDn5aFHyO/FuA/bLdb12hdPyQ7A
	pw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDz0AvS0X/eozrvbeYW2NDslsEA5vUNy/tPb2vLgSoYLZqvbe55PxkgNNqJtXuZ
	N3ICMEwyK7y3mUxDjUgj81PGHrXhHwqjhx5iuGMd9asQjHalwBfahHSCBxmlXknZe3VO
	6g==
	</data>
</dict>
</plist>
