<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qSY7rojVckYySbyV5bqSJvH0P8G5jb6iRC9p5/S4HgtbAkBY/FMbHXWgT2LO1/xPXJtp
	kJ6sO4U2kJeMdLFPL/c5trTSfDZwcmNLdE9veg8YXPwEsJAUdVbMPe686knkM0ALxvU8
	7jjCrPj6bu6sDi9gws4UwBtr57nTC9W2AQZq6ow5Zk02dhdFtQRnzdPbi/j/H+7uB/VK
	Z9cAAGAeSDLp7tLl9OkizZUblMPiAecyM+ZeJuoryTnj9PTp/IU5BZ30ZiFWAJwXr7EY
	zkimQn0s61ykKs0s8dmxapnXcJTqX7AGJjf91O+CAPBycKSP0Ts2NK//59jgy9E6bNtw
	Gg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDRbjjAomtSf11YwsHEjV42hSExeqr8Qwj6klGlponMI+w4fYONry5Inl2L2Lyet
	cQIwTQw10hTmyoXSER6jExEsCSvGQn/D6j+9PF6j/AYEjfkEAfpiDHY/f86rS5jIy8Oy
	</data>
</dict>
</plist>
