<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0N9mME1448IOJUmA3GY7+HkBhzQlakr6PK63Qs7X7+V40Ra7adQ3yLtPwpyMeUDMaZiR
	RZwBRk+JUBygM8ZWWvBMvfqkA606NXjtOsgZdqpjaLEgBAT8GxJOajgbSbz4SPTMVgNR
	lLFkRFOWL/KgZOCzQo0wlHLEVbF8+DpGYaD8PJT6YRPrDKkLQiRgZg1bUYa4nRBc6IgJ
	1YM2JenZWkQvmlRAzPdKAQJPdMHH2bVAI58CiGzCqfxSUgsHokZ9HoZKLn/zNProGslQ
	XNmrVGQmMK/nnc0nyygkmKUm+ib04JE1ay5tosr5ENpJBX7Lxo/qV54/EOygttbmIw4R
	cQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCKswOTUXPxZYYzz/X7rafEhMllHcP1HqwsjCLXH3IddpyZsJAIBWI+UPwj8iE7T
	0QIxAMOlW4+wf6xuZVMd8pHT5y3DgaL/ErlQFGuY6v2AyiYTYEULl9e5ojaDZM/0wxzJ
	Ag==
	</data>
</dict>
</plist>
