<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TcbIxIjD7rA0ZmLdkS38KTvHxssdKRqeU3301Ac4o0BDCIlldcAYhqoFJt5GSVOdqg8t
	65TUZ2aQuPBFxSXUfU1BEhcGjOsyQsQt2qgMNkzH56D2iGh8L2jr2eoLmjV9+KaBIyZq
	sPItAEF68gorXHk7rigp0YEh77gx1o20tknITudSdu6IJsuex8wYgPkV6acQ9f0UPogZ
	b7GwjfrDajhOV4CZfYBazy7dMSPMrN05Q5ZSbjE3hOwI01Los5DsS40xYzibYSXO2XxB
	7U1qDWxJh/A46dsXogNhekWevq2ZozYewcGifAHU5Jj3dG0r8VsaJpfnDry1QWyNLF1H
	+w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEnHO70FWmsEtsDek1AAUSBBAGXUp7ucMOC4mVCObwPepxDUmMEYNEJk6fMVYuJx
	hwIwYGdw9BPxvsl0YfSkWkJdlIPwWY+cHODULeTGZN/EbkTJq+9oH8tq4h+0d555RqJD
	</data>
</dict>
</plist>
