<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	veNoU+ZW71nkHsoCkyHIMlnv3C/aEVGJuBvwJkF0ChKtFTCCyZ56Ge8JtaLRLDmh6MxS
	zG3XeWRSQoAnuFYE+tY5veDkB9QKEW6p/2DMH7NHGrW5cfo5IW2iU1QivF1hjmVoGFU8
	1Okl4Y/OsoYKXe4rIw6Cpyp4GWyDwfEsIXdXgdFuslrtcldLfYeZ4pkfCgsLPxuBzb1V
	sMjIzA2CRn0BoDCNulpwKR93/KwjV06QXttQPFNnroasqsUUogQWpWaV5ZI46mKAxvgJ
	2AF16e1pvyGLHw+Mn8MTbJZz95QvOczWCkJfptQNWrg503EEb3W7my2CTlV/gboIyYlT
	cQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDxztX/YYbAzqNGb56Z6LDP50UHi+zkC/IeZI2V/egK9U/+dINPgBZ4oT+WTrf4
	OiUCMC8ZU8Nwlef9iMY9p+MG7ODED3qPZyok0QN+8aVwcdr4hP2QIrXcDzG6lT451WWZ
	Fw==
	</data>
</dict>
</plist>
