<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CountryName</key>
	<string>Syria</string>
	<key>ISOAlpha2CountryCode</key>
	<array>
		<string>sy</string>
	</array>
	<key>SupportedCountryIds</key>
	<array>
		<string>417</string>
		<string>com.apple.Syria</string>
	</array>
</dict>
</plist>
