<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	HUmj/+mK46+jUq0KSI9nZRPvkdrA5dtxCVlvVfI3kTCIcIthbSzFzqCOGnGAOU2L+dEx
	k8+QcRiVxBQaveYyoE19GKFEsVDsF/t44dfva3TXJPBmjHcy34C1yNnDQflgoWTqwp1R
	lwBR7k6zB++HDsaDMbf45YBat0F7R1jpstCNwfscptf2qSIj4bAwpjL+UbP5wGUH9OL3
	CGfJxYc70rtL6Ev8CWkRVfCV81iiX68Kt1CgdgzH7eEdFk3r0BPlsJnIirzDMsX4++fl
	8wV6Xj2p57HODSFJHep/HCzSzo/u48/VcBHStJAT7B2nauZn8/fvtwjWOJwT4soyY9zx
	GQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHKv+Qf1FNv2SCXXP2uKkiZP1rEh/bh19xrsa1ymQyJ3gJlt1u40SIKWGv7j4ckn
	/AIwem8pHCofe1mTv+Qi5iZ+VnaHKXkJjwroXpPw7+GN3YVrWD3/nJe5mBGhYxDTPOeb
	</data>
</dict>
</plist>
