<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CaPW3JTQyurVfbkV6WPT083IFVkbjiMCT//i2w0z97ubIcH0Yw49eJtHEoQTgRA9Vl2+
	PZfeQeJnAq1PZJgkFRIvDbOMtsInqvsx1QyTH3NKKikhY1iqVPzcTIvO8bhW18wdzD2l
	T6WsmzRw1YWquw5Byu4CtLfmNmVCKjjIE+uvmXwBbAng8KDUy03Bm7masGmbIws6Ep7A
	tcm83R7/boSkq0JgPiYp07kErqoQ9+ZpZQDz06VroUd/d0YMrDorQoWCuIDPMopMm8Oh
	Dmoz8B0VqbhL/m/g40CoDzTSPFjXTKenDhXCwcNDrAHkEs5OKhb03YlWZxk1z11YiEnU
	hQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCru3uJ2Zljpp4nTSu5Nr8sYq2I9Cj3H7DwqfajiIzDd11t+3a3SZj0N/kRncSe
	++kCMDQ4V/XOny+FFp8sOzd+b8nwgdGX8xA2jQ7Bibap/6oXX1uKpSnvyRdUML81xhwJ
	AA==
	</data>
</dict>
</plist>
