<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	eQnUcnLYdDv6OMmqCq6m0E/4gGQa2o435sdpTpqrvWJNQuLTpant7D2BXppMBuXzuOXy
	exUE1zWB8wo4Ydn4y31k91aL/KdysfjMna+HxRAR+UhQ89Wqv7k9pysToVXJdhCD6Rut
	SMMUjg9cvXdFxXnWzVmCRWRXc/vSJUEyw3X5eFD7UshCCqoHxd67sZs6GVYOSNdj6DzU
	omDeVEDG0wwMY+NwH3Ybl5LuaMUFzvKsjzs8TmqYzeqg98rfEqj4o5Ef4Ax14aqMZTfC
	GAJibzF/D6BJPqVGXnKjMVLEUkgqopbFTL+aB7srjdFpgXj7aTBRVd34btBnrbaJLhrW
	CQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBUXX1EjvFKoxypOMloVf7+saEBC5cr/Wqd8/+ugCjBRpP244NSnryY9OOLRaWNR
	ZAIwa4m0TZKEUhzHLlXbtLHVCHxA1+HEW4J+vJMxTmPYMArK+tqiLFXFtkVr4ZfGoIC6
	</data>
</dict>
</plist>
