<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	OcC10aZkZMLNRq+EMBQwNZ3VV7ajm/t0PUiWNZPdKDeM+VMFpa0LbDZbrXWxrbZqyLDq
	GDBWU4Z3u58gLoGtY0bf0y0XoLgrf65uDR7PItPef6xasnXA5bAWNzz9Nl49yd2qYBEu
	rw0Op8xobdpcRCcUcWR13cayRhba5w7DJWS6aObL3mE0hHCto5VxyE9ceUIVSYX5WAiU
	b5q98q5fcvpiArt2LP175y3FmzRPuq69Kpsoj6eTAsMYI7KejOwF1ljvMYOsalrbCOUB
	WewlxS7bxpd2CrwHte0bbqS0EeWcYclUAfUPgpxNLMdaSvZKjkh9MF58BftsedGRFsk/
	WQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCKS9zdodOxEjPJB9qDsza2WlCj5A91gGtLxtUUSqk6lxs3QbNhQoTvSk0B9Du3
	aegCMQCe6CG67Z+9nEurWd+jOrGFDxOKeIqLIxw8NstQ3Ms0Zj1AI+bm2Q9MDJFxeKrA
	Bs0=
	</data>
</dict>
</plist>
