<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TPncebutZMt9XrGRhQBgKMdFrjh3WJ+bn0vYwsm7EYGe3R8MWLbKWv/pPWDkxhlJlZ0/
	rKUAlPXzl98muOe/DZTgL0Puc+zkfVQkWKTvbCaTXk4CCb32/wS0GqgDrsHjAVs6wSZN
	lJZ+jitSwNL7Wt3b/WUMNBdv+gjzlwtSvC+qLSnWuwiLUkTnqiZU76bPpwv5KuFcpot4
	f8ZQ/yezNEz1yZ6+FEsGZWbsBPq5NszjrBQ5Bz09z9IdBA9thhcY+B8RT+xijblUinLH
	ffELo9eonFZlhDu2hq10fzvJ3xIV7dvgp0rGkc0ucBAI1V80qhzGlSwLPyM13VZ0gRqh
	cA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD8vhbso04rQVujsbdvsoWbnrQ2XIPeq7ccVpwuMnPN4N5mL03kJYMlR7G8K4Sw
	TWgCMGGAcRtkYhQpWsY6LPgxeTrputUP0OvejzYZ/vy3nXXUTs9Gy3m/J52Dr8aaGGzD
	Dg==
	</data>
</dict>
</plist>
