<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	N3sw9mzyIx9o+baLgbhvkvl37aPq+l7xQPv95sthCmx5fyRupeHEvicfhqWvSaBtinX4
	KSUAjLUAKtbhZ0UFhNnV5xN54FdT6wVg1WnzrSMILd6toLqbYRwyxPr/t4uvAy5tiOHt
	10qJsxm/08EaR9z8NhuGXBJxuRMtP+hKUcDg3YumNxGKgFiy1TjjjVcYcARJ1MJqBhFA
	qVrOIUAE+zhAPhgE9DZQqvbazd3A3eylN40+wM3zNefir4H0+53zlEAnGm9DgORqsVHN
	dD4ZXaF/SEmLxpi7aOmftEkomgbsrQDq5XLyMsZO06U4SYRNS2ozjya+R3Pv4UuWPH2Q
	5Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGSaQVqXUQNoMEch7jEFU46In+YXOTfr7oCohvIA0FxVkoO2ZDOyrIn6k3YeIxov
	PgIxAKG8crkz0DzfqFT4u3iOGqBtGD4FhuollI7JNPjTuCqXS648Oyuh352wCdyul+X9
	EA==
	</data>
</dict>
</plist>
