<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	l4T/D0ILGntZNBGTUwUl+wzHJLyQkC1PicI9lMCKK0mJTLAH55LFWtUM6yBguSK3X9eI
	SoIrSokThSLlM2Q+GnofKrhwKzAzRv1sHDN/P9HZrVFpbJVaoHCF/V0fLD4UJMrgmEu0
	aEtoM5AeLWCaqraZPJGA3n6YYt/DntCRdT8sx6vTI7CB9VkcOdOAStHmkY7V4b8IhCOO
	yQ0EeTXoAC7dnXzzML4SbhJjJUAIzOLUOB4ZAR81uLeugNQn+uylJbR7j96PoLkzB+2J
	cc2kMBuguAs+WHD2udtRqmcHs4ydSiH/RuC8cqhQQod/JWJm2jSFf8ufZnFSZVlgt1W9
	1w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMG2IHcRqeHG0VokHativejPPlWaB7sLQpNFkEKZ3S1aZkMnW44ZWS3sy2tL3zJKy
	agIwEGb9dhFT0PLNpHyrWhsbGmUru5Z9nu87kAWBy3mRjSEXXJQJXgUqNphreVfvXo7f
	</data>
</dict>
</plist>
