<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	st4IQ76AHI45hqfMh1jJ6B8QR3KrkmD+U3Fi3Mgq6sOJXWzT/SYhy14mk+2vyZHbZ9+f
	AIZc7uucpgs5aIw8okYLIWLZ9viKvH2aAhE+Seu7FsnPReqapT+3MY8OyzK5tGpCQJn3
	PrAQA7laCN1D2azwfPACJnA4f6nIJ3WRRAFwEsSYO+lP5DE+ffdX50ccTuWCNp1Mh7Vi
	L2tM4dn82qkYUk7BoQrdlGbWoP7N9cjeYMhI31dxqngqlUqv4ucydRehAlFAsv+Mj/u7
	qtl+Q3JBBEavvEtUNuemR93BU0bvxCUZiDoZAPD8S6gHaf/M0xkFyrJO5rpnaV0pEF2I
	7Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDF95VQkYF2f5guAwj4zSDj0jCUuOX/jD1JQmiN8N3DVxw8fsCL34vYrlnm5BPE
	vJICMQCkliF771wrOgDtNiVYL73KoNjPetLyNhC7hlJtjayqA2gE+BDL4eItZ8lQ+QA3
	tP4=
	</data>
</dict>
</plist>
