<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ClazD6oG2Mxd9OzMS0AbCE08ctt7szLJh9l5g3iTQZulI5Hw5AY7EciiYGcajoLr19rD
	fZAs4pNwcq1zxDp5DhiXPqXDSZizE4u5/Bc3z+/jNj5GsE9ZEFMoUMZmKciRWVBvtPyX
	OJV2cSlniSMFkBN359Qk1+LmL5N/NHeSWAkCH+s4yJ3F8w2jOKBMHiDsnVfmbE/+PoVy
	WYQDiB4hv8+79XuhBk/ER5HbGQZZHzNhjLRw3zM4mnvdD4fvg3HYzLeh+vzjcfM6Bxdq
	Hd2wd5mi3QciHmKWKMGmCGZ+lEqFspUEJdTAzEnNSTPPxTyCV69J+0Bm9dyH4FyFdvch
	Hw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCmJw7FO3KFydSOSrFQSF1ZAWmRFfINIj9oL0ihttjCxTX8aC+ueDBm4EEF+8s/o
	UAIxAPtuwxk6t/uwgJwJTYm92qFjG/W4rbD9M2mOvgJWva8Dq6Oezfg1gigldF9ALj/M
	cA==
	</data>
</dict>
</plist>
