<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I73qCza2P9TXOHsGIlT6xQHgPX9Na4Xyv5ZYtQZRd86o9TMDsAxe5FGxmi1XqSB0d/ih
	ogHCFAfouZMyadpchAvDhOBpHrbZ/xprenMuL06zu3G1WAjMgdK1ZdmgsioKjLXK+tqY
	HT+M2sEqC2A6c/xKnBQW8gibg/9yzcfmutzlhX0HtkTb6HCtXI2SoNaDOZTo5prw6bA9
	pe8rensFkDlpq5RaCXmVoe9xiAFQ34kEr8vbCaaB8zog4gNi/TX/PGFNSLcY/A44SqBg
	jEFHD9YIilIzqIZJ5G/uyUvaAwnE58kzyqlJcBNApWZJZGQjpsj49yD37hz9+wV3xM25
	rg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDwoH62Yjqdp1uvZs6MjmuYDfiNArUKIaBUaQKANYRed/xGej7dwciuIeJYbeiw
	EM8CMDs6tNe+SoA+GJFwY2TQTA9cHzqKScLDsXsnX+qQ+Kkt1pxEwEL2f4CteRcJwTNL
	bA==
	</data>
</dict>
</plist>
