<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Z1NtBQ9pup43OCSZlYWbNZJofMTbgm5EDsEJ2qyXrv8auFlowemBCf/p3qZtoK3XIIx8
	WjnzH/U4htnW5MXtbpnU6xWwJZvTlEyJw4TiJ13CKvajXBpQM8leyZXVzMFitLyc0Svp
	ywDnudjhyLFvDq2u7D7juhL45BfL+wdOiu5RvWBsuwE41LUkzTUHdj8JWoX7/gEBBXyY
	ivmbsXLuUp8GkSEW0e0GqquUEp7bkuBa/5NVHYMDac5qDDkgA+VMiby/8aOGfoPAVN5i
	3Vjr+8GJwa0DxjiHSYeFi0s710ekg1dPzNzqFO2QNV/lLd8DbPaQyMuFhdfASRR6YdBh
	lQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEtpR/B93HQUGRKTiUNzYL0pmtcCFZBs1wgsWMM0ORFKU5WDgMdoUPh+7roIQFDq
	WQIxAMAmrIMgjrFvvkUtbxFCcfkfGcX9YnTY2Xe8MMIcuAii32vKphtj92pX0RmD1FwS
	XQ==
	</data>
</dict>
</plist>
